﻿@model Traderdock.Entity.ViewModel.CMSModel
@{
    ViewBag.Title = "CMS List";
    ViewBag.SubMenu = "cms";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string PageLimit = Session["PageSize"].ToString();
}
<head>
    @*<link href="~/Content/dist/css/custom.css" rel="stylesheet" />*@
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    @*<title>KendoGrid</title>*@
</head>
<section class="content-header">
    <h1>
        CMS
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">CMS</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <div>
            <section>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">CMS List</h2>
                        <div class="box-tools">
                            <div id="changelist-filter" class="pull-left margin-r-10 dropdown filter-bottom-margin">
                                @*@Html.LabelFor(m => m.page_id)*@
                                @Html.DropDownListFor(model => model.page_id, Model.PageList, "Select page", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.page_id, "", new { @style = "color:red" })
                            </div>
                            <div id="changelist-filter" class="pull-left margin-r-10 dropdown filter-bottom-margin">
                                @*@Html.LabelFor(m => m.page_section_id)*@
                                @Html.DropDownListFor(model => model.page_section_id, new SelectList(Model.PageSectionList, "Value", "Text"), "Select page section", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.page_section_id, "", new { @style = "color:red" })
                            </div>
                            <div class="pull-right filter-bottom-margin">
                                <form id="changelist-search">
                                    <div class="input-group" style="width: 250px;">
                                        <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by page name" autofocus />
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form>
                            <div class="clearfix"></div>
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script type="text/javascript">
    var pageLimit = '@PageLimit';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "Subscription", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }

                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //for CheckedAll
    function SelectAll() {
        //alert(1);
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    }

    //Checked Record Deleted
    //bind click event to the checkbox
    function RemoveAllSelectedRows(id) {
        AsyncConfirmForDeleteSelected(
            "Delete confirmation.",
            "Are you sure you want to Delete this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function AsyncConfirmForDeleteSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteChecked", "Subscription", new { area = "admin" })',
                data: {
                    sID: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    }

    function AppendCheckLists() {
        var notChecked = [], checked = [];
        $(":checkbox").map(function () {
            this.checked ? checked.push(this.id) : notChecked.push(this.id);
        });
        $("#checkedData").val(checked);
        if (checked.length == 0 || checked.length == "") {
            toastr.warning('please select at least one record');
            return false;
        }
        else {
            if ($("#dropDownId option:selected").val() == "delete_selected") {
                var b = RemoveAllSelectedRows($("#checkedData").val());
            }
            else if ($("#dropDownId option:selected").val() == "active_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "Subscription", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(), // < note use of 'this' here
                        bIsActiveRequest: true
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });

            }
            else if ($("#dropDownId option:selected").val() == "inactive_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "Subscription", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(),// < note use of 'this' here
                        bIsActiveRequest: false
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }
            else {
                $('#dropDownId').css('border-bottom', 'solid 1px red');
                return false;
            }
        }
    };

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id
         );
    }

    function InActiveChecked(value) {
         
        $.ajax({
            type: "GET",
            url: "@StrPath/admin/Subscription/InActiveChecked/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function ActiveChecked(value) {
         
        $.ajax({
            type: "GET",
            url: "@StrPath/admin/Subscription/ActiveChecked/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function refreshGrid() {
         
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/Subscription/Subscription_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });

        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        GridLoad();
        function GridLoad() {
            var modelData = @Html.Raw(Json.Encode(Model))
            //Bind with initial data
                $('#grid').kendoGrid({
                    scrollable: true,
                    sortable: true,
                    pageable: true,
                    // selectable: "row",//""multiple row"",
                    filterable: true,
                    //, dataSource: { data: modelData, pageSize: 10 }
                    dataSource: {
                        type: "json",
                        transport: {
                            read: {
                                url: "@Html.Raw(Url.Action("CMS_Read", "CMS"))",
                                type: "POST",
                                dataType: "json",
                                data: additionalData
                            }
                        },
                        schema: {
                            data: "Data",
                            total: "Total"
                        },
                        pageSize: pageLimit,
                        serverPaging: true,
                        serverFiltering: true,
                        //Filterable:true,
                    },
                    columns:
                     [
                     { field: "cms_id", title: "Actions", width: 100, template: '# if(cms_id) {# <a href="@StrPath/admin/cms/savecms/#=cms_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a> #} else {# <a onclick="changeStatus(#=cms_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center; font-size:14px;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;" }, filterable: false },
                     { field: "cms_title", title: "CMS Page Name", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px; font-weight: bold;" }, attributes: { style: "font-size:14px; " } }

                     @*{ field: "cms_id", title: "Actions", width: 100, template: '# if(cms_id) {# <a href="@StrPath/admin/cms/savecms/#=cms_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="RemoveSelectedRow(#=cms_id#)" class="btn btn-default btn-sm btn-icon-only fa fa-trash"></a> #} else {# <a onclick="changeStatus(#=cms_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center; font-size:14px;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;" }, filterable: false }*@
                     ]
                });
        }

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                PageKey: $('#page_id').val(),
                PageSectionKey: $('#page_section_id').val(),
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
        $('#page_id').on('change', function (evt, data) {

            var options = '<option value="">Select page section</option>';
            $.ajax({
                type: "POST",
                url: '@Url.Action("PageSubSection", "CMS")',
                data: {
                    Key: this.value,
                },
                dataType: "json",
                success: function (result) {


                    if (result.length > 0) {

                        for (var i = 0; i < result.length; i++) {
                            //alert(result[i].page_value);
                            options += '<option value="' + result[i].page_name + '">' + result[i].page_value + '</option>';
                        }
                        $("#page_section_id").html(options);
                        options = '';
                    }
                    else {

                        $("#page_section_id").html('<option value="">Select page section</option>');
                    }
                    GridLoad();
                }
            });
        });

        $('#page_section_id').on('change', function (evt, data) {
            GridLoad();
        });

    });
</script>
@*<section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">CMS List</h2>
                <div class="box-tools">
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form>
                    <div class="clearfix"></div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped" id="example1">
                            <thead>
                                <tr>
                                    <th style="text-align:left; font-size:14px;  font-weight: bold;">CMS Type</th>
                                    <th style="text-align:left; font-size:14px;  font-weight: bold;" class="table-field-actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td style="font-size:14px;">@Model[i].cms_title</td>
                                        <td class="table-field-actions">
                                            <div class="buttons-set">
                                                <a href="~/admin/cms/savecms?cmsId=@Model[i].cms_id" class="fa fa-pencil btn btn-default btn-sm btn-icon-only">
                                                </a>
                                                <a href="~/admin/cms/viewcms?cmsId=@Model[i].cms_id" class="btn btn-default btn-sm btn-icon-only  fa fa-info">
                                                    <i class=""></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>*@
