﻿@model Traderdock.Entity.ViewModel.CMSModel
@{
    ViewBag.Title = "Save CMS";
    ViewBag.SubMenu = "cms";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var s = "";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SitePath"];
}
@Scripts.Render("~/bundles/jquery")

<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet" />
@*<script src="~/Content/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/plugins/ckeditor/adapters/jquery.js"></script>*@
<script type="text/javascript">

    $('#infoHTML').show();
    $(function () {
        $('#HTMLInfo').ckeditor();
    });
    $(document).ready(function () {
        $('#page_id').on('change', function (evt, data) {
            var options = '<option value="">Select page section</option>';
            $.ajax({
                type: "POST",
                url: '@Url.Action("PageSubSection", "CMS")',
                data: {
                    Key: this.value,
                },
                dataType: "json",
                success: function (result) {
                    if (result.length > 0) {

                        for (var i = 0; i < result.length; i++) {
                            //alert(result[i].page_value);
                            options += '<option value="' + result[i].page_name + '">' + result[i].page_value + '</option>';
                        }
                        $("#page_section_id").html(options);
                        options = '';
                    }
                    else {
                        $("#page_section_id").html('');
                    }
                }
            });
        });
    });
</script>
<section class="content-header">
    <h1>
        CMS
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">CMS</li>
    </ol>
</section>
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.cms_title</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @*@using (Html.BeginForm("SaveUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))*@
            @using (Html.BeginForm("SaveCMS", "cms", FormMethod.Post, new { role = "form", id = "saveForm", @class = "form" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cms_title)
                                        @Html.TextBoxFor(m => m.cms_title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.cms_title, "", new { @style = "color:red" })
                                        @Html.HiddenFor(m => m.cms_id)
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.page_id)
                                        @if (!string.IsNullOrEmpty(s))
                                        {
                                            @Html.DropDownListFor(model => model.page_id, Model.PageList, "Select page", new { @class = "form-control", @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.page_id, Model.PageList, "Select page", new { @class = "form-control", })
                                        }

                                        @Html.ValidationMessageFor(m => m.page_id, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.page_section_id)
                                        @if (!string.IsNullOrEmpty(s))
                                        {
                                            @Html.DropDownListFor(model => model.page_section_id, new SelectList(Model.PageSectionList, "Value", "Text"), "Select page section", new { @class = "form-control", @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.DropDownListFor(model => model.page_section_id, new SelectList(Model.PageSectionList, "Value", "Text"), "Select page section", new { @class = "form-control" })
                                        }
                                        @Html.ValidationMessageFor(m => m.page_section_id, "", new { @style = "color:red" })
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.cms_content)
                                        @Html.ValidationMessageFor(m => m.cms_content)
                                        @Html.TextAreaFor(m => m.cms_content, new { @id = "HTMLInfo", @class = "form-control ckeditor" })
                                        @Html.ValidationMessageFor(m => m.cms_content)
                                    </div>
                                </div>
                            </div>
                            @*@Html.HiddenFor(model => model.cms_id)*@
                            @*<div class="box-body">
                                <h6 style="color:red;display:none;" id="errormsg"> </h6>*@
                            @*<div class="form-group">
                                    @Html.LabelFor(m => m.notes, new { @class = "col-sm-2 control-label align-left", @style = "text-align:left" })
                                </div>*@
                            @*<div class="form-group">
                                    <div class="col-sm-12">
                                        @Html.ValidationMessageFor(m => m.notes)
                                        @Html.TextAreaFor(m => m.notes, new { @id = "HTMLInfo", @class = "form-control ckeditor" })
                                        @Html.ValidationMessageFor(m => m.notes)
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>

                @*</div>*@
                            <!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    @*<button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>*@
                                    @*<button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>*@
                                    <button type="submit" class="btn btn-primary margin-left">Save</button>
                                    <a href="~/admin/cms/index" class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
</section>
<script type="text/javascript">
    if ($("#Message").val() != '') {
        toastr.success($("#Message").val());
    }

    CKEDITOR.replace('HTMLInfo',
    {
        filebrowserImageBrowseUrl: '@StrPath/admin/CMS/uploadPartial',
        filebrowserImageUploadUrl: '@StrPath/admin/CMS/uploadnow'
    }
    );

    function updateValue1(id, value) {
        // this gets called from the popup window and updates the field with a new value 
        document.getElementById(id).value = value;
    }

    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value 
        var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
        jqueryObjectByClass.value = value;
    }

</script>

