﻿@model Traderdock.Entity.ViewModel.CMSModel
@{
    ViewBag.Title = "ViewCMS";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.cms_title</h3>
                <a href="~/admin/cms/index" class="btn btn-primary load-button button-right" style="float: right" ;>Back</a>
            </div>
            <div class="box-body">
                <h6 style="color:red;display:none;" id="errormsg"> </h6>
                <div class="form-group">
                    @Html.Raw(@Model.cms_content)
                </div>
            </div>
        </div>
    </div>
</section>

