﻿@model List<Traderdock.Entity.ViewModel.NotificationMasterModel>

    @{
    ViewBag.Title = "Notification List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "notification";
    string PageLimit = "10";
    }

    <head>
        <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
        <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
        <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
        <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
    </head>
    <section class="content-header">
        <h1>
            Notification
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Notification</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div>
            <div>
                <section>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2 class="box-title">Notification List</h2>
                            <div class="box-tools">
                                <a href="~/admin/notification/sendnotification" class="addlink btn btn-primary pull-right margin-r-5">
                                    <i class="btn-icon fa fa-plus"></i> Add Notification
                                </a>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form>
                                <div id="grid" class="display table table-bordered table-striped k-content">
                                </div>
                                @Html.Hidden("statusFilter")
                                @Html.Hidden("checkedData")
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </section>
            </div>
        </div>
        <!-- /.Model Dailog Box Yes No -->
        <div id="modalConfirmYesNo" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button"
                                class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p id="lblMsgConfirmYesNo"></p>
                    </div>
                    <div class="modal-footer">
                        <button id="btnYesConfirmYesNo"
                                type="button" class="btn btn-primary">
                            Yes
                        </button>
                        <button id="btnNoConfirmYesNo"
                                type="button" class="btn btn-default">
                            No
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="SelectAlert">
        </div>
        @Html.Hidden("mm", @TempData["Msg"])
    </section>
    <script type="text/javascript">
        var pageLimit = '@PageLimit';

        $(document).ready(function () {
            var modelData = @Html.Raw(Json.Encode(Model))
            //Bind with initial data
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                // selectable: "row",//""multiple row"",
                filterable: true,
                //, dataSource: { data: modelData, pageSize: 10 }
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("Notification_Read", "Notification"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
                columns:
            [
            { field: "notification_message", title: "Notification Message", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
            { field: "notification_id", title: "Receiver", format: "All User", width: 100, filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
            { field: "sent_date_string", title: "Sent Date", width: 150, filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } }
            ]
        });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
        });
    </script>
