﻿@model Traderdock.Entity.ViewModel.NotificationMasterModel

@{
    ViewBag.Title = "SendNotification";
    ViewBag.SubMenu = "notification";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}
<section class="content-header">
    <h1>
        Notification
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Notification</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Send Notification</h3>
            </div>
            <!-- form start -->

            @using (Html.BeginForm("SendNotification", "Notification", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @*@Html.LabelFor(m => m.notification_message, new { @class = "col-sm-2 control-label" })*@
                            @Html.LabelFor(m => m.notification_message)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextAreaFor(m => m.notification_message, new { @class = "form-control", @placeholder = "" , @rows="7" })
                            @Html.ValidationMessageFor(model => model.notification_message, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.notification_id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Receiver", new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.Label("All Users", new { @class = "control-label" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Send</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="box-footer">
                        <div class="row">
                            <div class="col-md-8 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                        <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    function fnCancel() {
        window.location.href = '@Url.Action("index", "notification")';
    };
</script>

