﻿@model Traderdock.Entity.Model.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        Profile
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Profile</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.content -->
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Change Password</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("ChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@

                @Html.AntiForgeryToken()

                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    @if (TempData["CngPwdEMsg"] != null)
                    {
                    <span class="field-validation-error" style="color:red"> @TempData["CngPwdEMsg"] </span>
                    }
                    <div class="form-group">
                        @Html.LabelFor(m => m.old_password, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.old_password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.old_password, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.new_password, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.new_password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.new_password, "", new { @style = "color:red" })
                        </div>
                    </div><div class="form-group">
                        @Html.LabelFor(m => m.confirm_password, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.confirm_password, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>


                @*}*@

                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Change password</button>
                                    <a href="~/admin/dashboard/dashboard" class="btn btn-default">Cancel</a>
                                    @*<button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>



