﻿@model Traderdock.Entity.ViewModel.UserMasterModel
@{
    ViewBag.Title = "SaveUser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

<section class="content-header">
    <h1>
        Profile
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Profile</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.content -->
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                @if (Model.user_id > 0)
                {
                    if (Model.call_for.ToLower() == "p")
                    {
                        <h3 class="box-title">Edit Profile</h3>
                    }
                    else
                    {
                        <h3 class="box-title">Update User</h3>
                    }
                }
                else
                {
                    <h3 class="box-title">Add User</h3>
                }
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            @using (Html.BeginForm("SaveUser", "Profile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="form-group">
                        @Html.LabelFor(m => m.first_name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.first_name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.first_name, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.user_id)
                            @Html.HiddenFor(m => m.user_type_id)
                            @Html.HiddenFor(m => m.country_id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.last_name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.last_name, new { @class = "form-control", @placeholder = "" })
                            @Html.ValidationMessageFor(model => model.last_name, "", new { @style = "color:red" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.user_name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.user_name, new { @class = "form-control", onchange = "return ChangeUserName();" })
                                @Html.ValidationMessageFor(model => model.user_name, "", new { @style = "color:red" })
                            </div>
                        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.user_email, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.user_email, new { @class = "form-control", @readonly = true })
                            @Html.ValidationMessageFor(model => model.user_email, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.mobile_number, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.mobile_number, "", new { @class = "form-control", @placeholder = "Phone Number", @minLength = "9", @maxlength = "15", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            @Html.ValidationMessageFor(model => model.mobile_number, "", new { @style = "color:red" })
                        </div>
                    </div>
                    @if ((Model.user_id < 0))
                {
                        <div class="form-group">
                            @Html.LabelFor(m => m.password, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.password, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.confirm_password, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(model => model.confirm_password, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(model => model.confirm_password, "", new { @style = "color:red" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(m => m.birth_date, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4 ">
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.birth_date, "{0:dd/MM/yyyy}", new { @class = "form-control datepicker" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.birth_date, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.gender, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="radio iradio radio-inline" style="padding-left: 0px;">
                                <label class="">
                                    <div class="iradio_minimal-blue " aria-checked="false" aria-disabled="false" style="position: relative;">
                                        @Html.RadioButtonFor(x => x.gender, true, new { @class = "minimal", id = "Gender", name = "gender", @style = "position: absolute; opacity: 0;" })<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                    Male
                                </label>
                            </div>
                            <div class="radio iradio radio-inline">
                                <label class="">
                                    <div class="iradio_minimal-blue" aria-checked="false" aria-disabled="false" style="position: relative;">
                                        @Html.RadioButtonFor(x => x.gender, false, new { @class = "minimal", id = "Gender", name = "gender", @style = "position: absolute; opacity: 0;" })<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                    Female
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.address, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.address, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.address, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.postal_code, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.postal_code, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.postal_code, "", new { @style = "color:red" })
                        </div>
                    </div>
                    @if (Model.call_for.ToLower() == "p")
                {
                }
                else
                {
                        <div class="form-group">
                            @Html.LabelFor(m => m.profile_image_url, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-8">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <div>
                                        @if (!string.IsNullOrEmpty(@Model.profile_image_url))
                                        {
                                            <div class="col-md-12">
                                                <img height="120" width="120" id="profileimage" class="fileinput-preview " style="width: 200px; height: 150px; line-height: 150px;border: 1px solid #ddd;border-radius: 4px;margin-left: -17px;" />
                                                <label id="filenm">@Model.FileName</label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-md-7 margin-top-12">
                                                <img height="120" width="120" id="profileimage" class="fileinput-preview " style="width: 200px; height: 150px; line-height: 150px;border: 1px solid #ddd;border-radius: 4px;margin-left: -17px;" />
                                                <label id="filenm"></label>
                                            </div>
                                        }
                                        @Html.HiddenFor(model => model.FileName)
                                        @Html.HiddenFor(model => model.profile_image_url)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-2">
                                <span class="btn bg-black btn-file">
                                    <span class="fileinput-new"><i class="btn-icon fa fa-paperclip"></i>Change </span>
                                    <input type="file" name="file1" id="file1" />
                                </span>
                                <a href="javascript:;" id="btmremove" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="btn-icon fa fa-times"></i>Remove </a>
                            </div>
                        </div>
                    }

                </div>
                @*</div>*@
            <!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    function isNumberKey(evt) {
         
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    //iCheck for checkbox and radio inputs
    $("document").ready(function () {
        $("#Phone").keyup(function () {
            var $this = $(this);
            $this.val($this.val().replace(/[^\d+-.]/g, ''));
        });
        $("#filenm").hide();
        if ('@Model.FileName' == null || '@Model.FileName' == "") {
            // $("#profileimage").css("display", "none");
        }
        else {
            if ('@Model.ImageNotExist' == 'False') {
                $("#btmremove").show();
                $("#profileimage").attr("src", '@Model.FileName');
            }
            else {
                $("#btmremove").show();
                $("#profileimage").attr("src", "/" + "No_image_found.png");
            }
        }
        @*var DatFm = '@Session["DateFormat"].ToString()';*@
        var DatFm = 'dd-mm-yyyy';
        //DatFm = DatFm.toLowerCase();
        $(".datepicker").datepicker({
            format: DatFm,
            endDate: new Date(),
            autoclose: true,
            todayBtn: 'linked'
        });
        if ($("#Message").val() != '') {
            toastr.success($("#Message").val());
        }
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        $("#file1").change(function (e) {
            var files = e.target.files;
            //alert();
            if (files.length > 0) {
                var uploadedfile = document.getElementById('file1');
                var ext = uploadedfile.files[0].type.split("/")[1];
                var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
                if (fileExtension.indexOf(ext) == -1) {
                    document.getElementById('file1').value = "";
                    alert("Only jpeg, jpg, gif, png can be uploaded.");
                }
                else {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        var url = window.location.href.toString();
                        var index = url.toUpperCase().indexOf('ADMIN');
                        var siteurl = url.substring(0, index) + 'Admin/User/UploadUserProfileImage';
                        //alert(siteurl);

                        $.ajax({
                            type: "POST",
                            url: siteurl,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#filenm").text(result.Data);
                                $("#FileName").val(result.Data);
                                if (result.Data != null || result.Data != "") {
                                    // $("#profileimage").show();
                                    $("#ImagePath").attr("src", result.Data);
                                    $("#btmremove").show();
                                }
                                else {
                                    //$("#profileimage").hide();
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                alert("error");
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
        });

        if ($.trim($("#profileimage").attr("src")) != "")// check image has src
        {
            $("#btmremove").show();
        }
        else {
            $("#btmremove").hide();
        }
        $("#btmremove").on("click", function () {
            $("#profileimage").attr("src", "");
            $("#filenm").val('');
            $("#FileName").val('');
            $("#filenm").hide();
            $("#btmremove").hide();
        });
    });
    function fnCancel() {
        window.location.href = '@Url.Action("Dashboard", "Dashboard")';
    }
    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }

    function ChangeUserName() {
        var url = window.location.href.toString();
        var index = url.toUpperCase().indexOf('ADMIN');
        var siteurl = url.substring(0, index) + 'admin/User/CheckUserExists';
        $.ajax({
            type: "POST",
            url: siteurl,
            data: { Name: $("#user_email").val(), Type: "u" },
            success: function (result) {
                if (result) {
                    $("#errormsg").text("UserName is already in use.please choose another.");
                    $("#errormsg").css("display", "block");
                    $("#btnSave").attr("disabled", true);
                }
                else {
                    $("#errormsg").css("display", "none");
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    }

    function ChangeUserEmail() {
        var url = window.location.href.toString();
        var index = url.toUpperCase().indexOf('ADMIN');
        var siteurl = url.substring(0, index) + 'admin/User/CheckUserExists';
        $.ajax({
            type: "POST",
            url: siteurl,
            data: { Name: $("#user_email").val(), Type: "e" },
            success: function (result) {
                if (result) {
                    $("#errormsg").text("Email is already in use.please choose another.");
                    $("#errormsg").css("display", "block");
                    $("#btnSave").attr("disabled", true);
                }
                else {
                    $("#errormsg").css("display", "none");
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    }

</script>
