﻿@model Traderdock.Entity.ViewModel.UserMasterModel

@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
<!-- daterange picker -->
<link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
<!-- bootstrap datepicker -->
<link rel="stylesheet" href="~/Content/plugins/datepicker/datepicker3.css">
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href="~/Content/plugins/timepicker/bootstrap-timepicker.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">*@
<!-- Theme style -->
<link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
<!-- Theme custom style -->
<link href="~/Content/dist/css/custom.css" rel="stylesheet" />
<!-- iCheck -->
<link rel="stylesheet" href="~/Content/plugins/iCheck/square/blue.css">
<section class="content-header">
    <h1>
        Profile
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Profile</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.content -->
    <div>
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">View Profile</h3>
                    <a href="~/Admin/Profile/SaveUser?userId=@Session["UserID"]&&callFor=p" class="btn btn-primary load-button button-right" style="float: right" ;>Edit Profile</a>
                </div>
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="form-group">
                        @Html.LabelFor(m => m.first_name, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.first_name, new { @class = "col-sm-4 control-label" })
                        @*<label class="col-sm-4 control-label">@Model.first_name</label>*@
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.last_name, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.last_name, new { @class = "col-sm-4 control-label" })
                        @*<label class="col-sm-4 control-label">@Model.last_name</label>*@
                    </div>
                    @*<div class="form-group">
                        @Html.LabelFor(m => m.user_name, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.user_name, new { @class = "col-sm-4 control-label" })
                        label class="col-sm-4 control-label">@Model.user_name</label>
                    </div>*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.user_email, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.user_email, new { @class = "col-sm-4 control-label" })
                        @*<label class="col-sm-4 control-label">@Model.user_email</label>*@
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.mobile_number, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.mobile_number, new { @class = "col-sm-4 control-label" })
                        @*<label class="col-sm-4 control-label">@Model.mobile_number</label>*@
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.dob, new { @class = "col-sm-4 control-label" })
                        @*<label class="col-sm-4 control-label">@Model.birth_date</label>*@
                        @Html.DisplayFor(m => m.birth_date_string, new { @class = "col-sm-4 control-label" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.gender, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.gender_String, new { @class = "col-sm-4 control-label" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.address, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.address, new { @class = "col-sm-4 control-label" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.postal_code, new { @class = "col-sm-4 control-label" })
                        @Html.DisplayFor(m => m.postal_code, new { @class = "col-sm-4 control-label" })
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    @*<a href="~/Admin/User/SaveUser?userId=@Session["UserID"]&&callFor=p" class="btn btn-primary load-button">Edit Profile</a>*@
                                    @*<button type="button" id="btnSave" class=" " onclick="">Edit Profile</button>*@
                                    @*<button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-footer -->
                @Html.Hidden("Message", @TempData["Msg"])
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Profile Image</h3>
                </div>
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@Model.FileName" alt="User profile picture" id="profileimage">
                    <h3 class="profile-username text-center">@Model.first_name  @Model.last_name</h3>
                    <a href="#" class="btn btn-primary btn-block" onclick="document.getElementById('file1').click(); return false;">Change Image</a>
                    <input type="file" class="btn btn-primary btn-block" name="file1" id="file1" vale="" style="visibility: hidden;">
                    <button type="submit" id="btnSaveImage" class="btn btn-default btn-block btn-sm-max-width" onclick="ChangeUserImage(); return false;">Save Image</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("document").ready(function () {
        document.getElementById("btnSaveImage").disabled = true;
    });
    $("#file1").on('change', function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            var uploadedfile = document.getElementById('file1');
            var ext = uploadedfile.files[0].type.split("/")[1];
            var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
            if (fileExtension.indexOf(ext) == -1) {
                document.getElementById('file1').value = "";
                alert("Only jpeg, jpg, gif, png can be uploaded.");
            }
            else {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    var url = window.location.href.toString();
                    var index = url.toUpperCase().indexOf('ADMIN');
                    var siteurl = url.substring(0, index) + 'Admin/Profile/UploadProfileImage';
                    $.ajax({
                        type: "POST",
                        url: siteurl,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            $("#profileimage").text(result.Data);
                            $("#profile_name").val(result.Data);
                            if (result.Data != null || result.Data != "") {
                                $("#profileimage").show();
                                $("#profileimage").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                $("#store_image_url").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                document.getElementById("btnSaveImage").disabled = false;
                            }
                            else {
                                $("#profileimage").hide();
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            alert("error");
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        }
    });

    function ChangeUserImage() {
        var url = window.location.href.toString();
        var index = url.toUpperCase().indexOf('ADMIN');
        var siteurl = url.substring(0, index) + 'Admin/Profile/SaveImage';
        $.ajax({
            type: "POST",
            url: siteurl,
            data: { FileName: $("#profileimage").attr("src") },
            success: function (result) {
                if (result) {
                    location.reload();
                }
                else {
                    $("#errormsg").css("display", "none");
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    }
</script>
