﻿@model Traderdock.Entity.ViewModel.UserMasterModel
@{
    ViewBag.Title = "AddEditUser";
    ViewBag.SubMenu = "Erroruser";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SitePath"];
    string GooglePlaceAPIKey = System.Web.Configuration.WebConfigurationManager.AppSettings["GooglePlaceAPIKey"];
    @Html.Hidden("GooglePlaceAPIKey", GooglePlaceAPIKey);
}
<section class="content-header">
    <h1>
        User
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> User Information</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("AddEditErrorUser", "User", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.first_name)<em> *</em>
                                        @Html.TextBoxFor(m => m.first_name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.first_name, "", new { @style = "color:red" })
                                        @Html.HiddenFor(m => m.user_id)
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.last_name)<em> *</em>
                                        @Html.TextBoxFor(m => m.last_name, new { @class = "form-control", @placeholder = "" })
                                        @Html.ValidationMessageFor(model => model.last_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                
                                @*<div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.gender)
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="radio iradio">
                                                    <label>
                                                        @Html.RadioButtonFor(x => x.gender, true, new { @class = "minimal", id = "Gender", name = "gender", @style = "position: absolute; opacity: 0;" })<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                        Male
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="radio iradio">
                                                    <label>
                                                        @Html.RadioButtonFor(x => x.gender, false, new { @class = "minimal", id = "Gender", name = "gender", @style = "position: absolute; opacity: 0;" })<ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                        Female
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.user_email)<em> *</em>
                                        @Html.TextBoxFor(model => model.user_email, new { @class = "form-control", @onblur = "return ChangeUserEmail();" })
                                        @Html.ValidationMessageFor(model => model.user_email, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.address)<em> *</em>
                                        @Html.TextBoxFor(model => model.address, new { @class = "form-control", @id = "autocomplete", @placeholder = "Street Address",onkeypress="return event.keyCode != 13;" @*onchange = "return OnaddressChange();"*@ })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                @*<div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.birth_date)<em> *</em>
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.birth_date, new { @class = "form-control datepicker", autocomplete = "off" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.birth_date, "", new { @style = "color:red" })
                                    </div>
                                </div>*@
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.postal_code)<em> *</em>
                                        @Html.TextBoxFor(model => model.postal_code, new { @class = "form-control", @id = "postal_code" })
                                        @Html.ValidationMessageFor(model => model.postal_code, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.mobile_number)<em> *</em>
                                        @Html.TextBoxFor(model => model.mobile_number, new { @class = "form-control", @type = "text", @maxlength = "15", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                                        @Html.ValidationMessageFor(model => model.mobile_number, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.country_id)<em> *</em>
                                        @Html.DropDownListFor(model => model.country_id, Model.CountryList, "Select Country", new { @class = "form-control", @id = "country" })
                                        @Html.ValidationMessageFor(model => model.country_id, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.state_name)
                                        @Html.TextBoxFor(model => model.state_name, new { @class = "form-control", @id = "administrative_area_level_1" })
                                        @Html.ValidationMessageFor(model => model.state_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.city_name)
                                        @Html.TextBoxFor(model => model.city_name, new { @class = "form-control", @id = "locality" })
                                        @Html.ValidationMessageFor(model => model.city_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-sm-6 ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.profile_image_url)
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="col-md-7 margin-top-12">
                                                <img id="profileimage" onclick="document.getElementById('file1').click(); return false;" class="fileinput-preview thumbnail" style="width: 200px; height: 150px; line-height: 150px;border: 1px solid #ddd;border-radius: 4px;margin-left: -17px;" />
                                                <span class="btn bg-black btn-file">
                                                    <input type="file" class="btn btn-primary btn-block" name="file1" id="file1" vale="" style="visibility: hidden;">
                                                    <span class="fileinput-new" onclick="document.getElementById('file1').click(); return false;"><i class="btn-icon fa fa-paperclip"></i>Change Image</span>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.FileName)
                                            @Html.HiddenFor(model => model.profile_image_url)
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-sm-6">
                                    @*<div class="form-group">
                                            @Html.LabelFor(m => m.birth_date)
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.birth_date, new { @class = "form-control datepicker", autocomplete = "off" })
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.birth_date, "", new { @style = "color:red" })
                                        </div>*@
                                    @if (Model.user_id <= 1)
                                    {
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.password)<em> *</em>
                                            @Html.TextBoxFor(model => model.password, new { @class = "form-control", @type = "password" })
                                            @Html.ValidationMessageFor(model => model.password, "", new { @style = "color:red" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.confirm_password)<em> *</em>
                                            @Html.TextBoxFor(model => model.confirm_password, new { @class = "form-control", @type = "password" })
                                            @Html.ValidationMessageFor(model => model.confirm_password, "", new { @style = "color:red" })
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            @*<div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="col-sm-6 col-sm-offset-2">
                                                <span class="btn bg-black btn-file">
                                                    <span class="fileinput-new"><i class="btn-icon fa fa-paperclip"></i>Change </span>
                                                    <input type="file" name="file1" id="file1" />
                                                </span>
                                                <a href="javascript:;" id="btmremove" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="btn-icon fa fa-times"></i>Remove </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
                @*</div>*@
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Save & Upload</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    //iCheck for checkbox and radio inputs
    $("document").ready(function () {
        //$("#user_email").onb(function () {
        //    alert("Email Check");
        //    ChangeUserEmail();
        //});
        //$("#user_name").keyup(function () {
        //    alert("User Name Check");
        //    ChangeUserName();
        //});
        $('.datepicker').on('click', function (e) {
            e.preventDefault();
            autoclose: true,
            $(this).attr("autocomplete", "off");
        });
        //$(".datepicker").attr("autocomplete", "off");
        //$(".datepicker").datepicker({
        //    format: DateFormat.toLowerCase(),
        //    autoclose: true,
        //    todayBtn: 'linked'
        //});
        $("#Phone").keyup(function () {
            var $this = $(this);
            $this.val($this.val().replace(/[^\d+-.]/g, ''));
        });
        $("#filenm").hide();
        if ('@Model.FileName' == null || '@Model.FileName' == "") {
             
            // $("#profileimage").css("display", "none");
            $("#profileimage").attr("src", '@Model.FileName');
        }
        else {
             
            if ('@Model.ImageNotExist' == 'False') {
                //$("#btmremove").show();
                $("#profileimage").attr("src", '@Model.FileName');
            }
            else {
                //$("#btmremove").show();
                $("#profileimage").attr("src", '@Model.FileName');
            }
        }

        //Date picker initialization
        @*var DatFm = '@Session["DateFormat"].ToString()';*@
        var DatFm = 'dd-mm-yyyy';
        //DatFm = DatFm.toLowerCase();
        $(".datepicker").datepicker({
            format: DatFm,
            endDate: new Date(),
            autoclose: true,
            todayBtn: 'linked'
        });


        if ($("#Message").val() != '') {
            toastr.success($("#Message").val());
        }
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        $("#file1").on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                var uploadedfile = document.getElementById('file1');
                var ext = uploadedfile.files[0].type.split("/")[1];
                var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
                if (fileExtension.indexOf(ext) == -1) {
                    document.getElementById('file1').value = "";
                    alert("Only jpeg, jpg, gif, png can be uploaded.");
                }
                else {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        var url = window.location.href.toString();
                        var index = url.toUpperCase().indexOf('ADMIN');
                        var siteurl = url.substring(0, index) + 'Admin/User/UploadProfileImage';
                        $.ajax({
                            type: "POST",
                            url: siteurl,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#profileimage").text(result.Data);
                                $("#profile_name").val(result.Data);
                                if (result.Data != null || result.Data != "") {
                                    $("#profileimage").show();
                                    $("#profileimage").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                    $("#profile_image_url").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                    document.getElementById("btnSaveImage").disabled = false;
                                }
                                else {
                                    $("#profileimage").hide();
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                alert("error");
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
        });
    

        if ($.trim($("#profileimage").attr("src")) != "")// check image has src
        {
            $("#btmremove").show();
        }
        else {
            $("#btmremove").hide();
        }
        $("#btmremove").on("click", function () {
            $("#profileimage").attr("src", "");
            $("#filenm").val('');
            $("#FileName").val('');
            $("#filenm").hide();
            $("#btmremove").hide();
        });
    });
    function fnCancel() {
        window.location.href = '@Url.Action("errorregisteredusers", "user")';
    }
    function onlyAlphabets(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }


    function ChangeUserEmail() {
        var url = window.location.href.toString();
        var index = url.toUpperCase().indexOf('ADMIN');
        var siteurl = url.substring(0, index) + 'admin/User/CheckUserEmailExists';
        $.ajax({
            type: "POST",
            url: siteurl,
            data: { email: $("#user_email").val() },
            success: function (result) {
                if (result) {
                    $("#errormsg").text("Email id already exist.");
                    $("#errormsg").css("display", "block");
                    $("#btnSave").attr("disabled", true);
                }
                else {
                    $("#errormsg").css("display", "none");
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    }
</script>

@*Country drop down change*@
<script>
    $(document).ready(function () {
        $("#country_id").change(function () {
            if (parseInt($("#country_id").val()) > 0) {
                $("#state_id").empty();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                dataType: 'json',
                data: { id: parseInt($("#country_id").val()) },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#state_id").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
                //,error: function (ex) {
                //    alert('Failed to retrieve states.' + ex);
                //}
            });
            return false;
        })
    });
</script>
<!-- Replace the value of the key parameter with your own API key. -->
<script>
    var GooglePlaceAPIKey = $('#GooglePlaceAPIKey').val();
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?key=" + GooglePlaceAPIKey + "&libraries=places&callback=initAutocomplete";
    document.getElementsByTagName('script')[0].parentNode.appendChild(script);
</script>
<script>
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'

    };

    function initAutocomplete() {
         
        autocomplete = new google.maps.places.Autocomplete(
           (document.getElementById('autocomplete')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
         
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //for (var component in componentForm) {
        //    if (!postal_code || !country) {
        //        document.getElementById(component).value = '';
        //        document.getElementById(component).disabled = false;
        //    }
        //}
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
             
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                 
                document.getElementById(addressType).value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
            }
        }
        $("#country").click();
        return false;
    }
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
    function OnaddressChange() {
        alert("called");
        //$("input[type='text']:not('.native')").wijtextbox();
        $("input[type='text']").not(".native").wijtextbox();
    }
</script>