﻿@model Traderdock.Model.TTModel.TTFileModel
@using System.Data;
@{
    @Html.Hidden("RecordJSON")
    @Html.Hidden("fstartdate");
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    @Html.Hidden("fenddate");
    string PageSize = Session["PageSize"].ToString();
}
<section class="content-header">
    <h1>
        Review CSV file
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">API Log Report</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary" style="overflow-x:auto">
        <div class="box-header with-border">
            <h3 class="box-title"> Please select date and user for delete operation</h3>
        </div>
        <div class="box-body">
            <h6 style="color:red;display:none;" id="errormsg"></h6>
            <div class="row">
                <div class="col-md-10">
                    <div class="row col-md-5">
                        <div class="input-group" style="width: 330px;">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="sub_date" placeholder="Search by subscription date">
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-4">
                        <div class="input-group" style="width: 250px; padding-left: 10px">
                            @Html.DropDownListFor(m => m.account, new SelectList(Model.lstaccount, "Value", "Text"), "Select All Account", new { @class = "form-control", @id = "ddlaccount", @selected = "true" })
                        </div>
                    </div>
                    <div class="row  col-md-3">
                        <div class="input-group" style="width: 300px; ">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="btn_sub_Search" value="Search"><i class="fa fa-search" style="height:20px;"></i> Search In Database </button>
                            </div>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="btn_sub_apicall" value="Search"><i class="fa fa-search" style="height:20px;"></i> Search Through API </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions pull-left filter-bottom-margin">
            <div class="form-inline">
                <div class="input-group " style="padding-left: 30px">
                    <select class="form-control" id="dropDownId" name="action" required>
                        <option value="not_selected" selected="selected">--Select Any Action--</option>
                        <option value="processed_selected">Processed selected users</option>
                        <option value="delete_selected">Delete selected users</option>
                    </select>
                    <input class="select-across form-control" name="select_across" type="hidden" value="0" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" title="Run the selected action" onclick="AppendCheckLists()">Go</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="grid">
        </div>
        @Html.Hidden("Message", @TempData["Msg"])
        @Html.Hidden("checkedData")
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
@*Save to Database*@
<script>
    $('#UploadData').click(function () {
        if (window.FormData !== undefined) {
            var MultiFormData = new FormData();
            MultiFormData.append('RecordJSON', $("#RecordJSON").val());
            $.ajax({
                url: '/TT/SaveProcessing',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: MultiFormData,
                success: function (result) {
                    if (result.success == true) {
                        location.reload(true);
                    }
                    else {
                        alert('Please try again!');
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("Form Data is not supported.");
        }
    });
</script>
@*Select All checkbox*@
<script>
    function SelectAll() {
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    }
</script>
@*Fill Read*@
<script>
    function additionalData() {
        var data = {
            sAccount: $('#ddlaccount :selected').val(),
            sFromDate: $('#sub_date').val().split(' - ')[0],
            sToDate: $('#sub_date').val().split(' - ')[1]
        };
        return data;
    }
    var pageLimit = '@PageSize';
    $(document).ready(function () {
        //Bind with initial data
        var grid = $('#grid').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("APILogReport_Read", "user"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                pageSize: 100000,
                serverPaging: true,
                serverFiltering: true,
                schema: {
                    data: "Data",
                    total: "Total"
                },
            },
            columns:
            [
                { title: "<input type='checkbox' id='chkSelectAll' onclick='SelectAll();'/>", width: 30, template: "<input type='checkbox' class='checkbox'   id='#=getfill_id#' ", attributes: { style: "font-size:14px;width:2%; " } },
                { field: "datetimeStamp_str", title: "Date", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:07%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:7%; " } },
                { field: "accountId", title: "Account Id", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:15%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:15%; " } },
                { field: "Contract", title: "Contract", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:8%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:8%;" } },
                { field: "BuySell", title: "Buy/Sell", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:8%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:8%;" } },
                { field: "cumQty", title: "FillQty", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:10%;" } },
                { field: "price", title: "Price", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
            ]
        }).data("kendoGrid");
        $('#btn_sub_Search').on("click", function (e) {
            $(".full-loarder").css("display", "block");
            var grid_sub_history = $('#grid').data('kendoGrid');
            grid_sub_history.dataSource.page(1);
            $(".full-loarder").css("display", "none");
            return false;
        });

        $('#btn_sub_apicall').on("click", function (e) {
           $(".full-loarder").css("display", "block");
           $.ajax({
                type: "GET",
                url: '@Url.Action("ProcessedAPIFILL", "TT", new { area = "admin" })',
                data: additionalData(),
                success: function (result) {
                    if (result.success == true) {
                        $(".full-loarder").css("display", "none");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $(".full-loarder").css("display", "none");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    $(".full-loarder").css("display", "none");
                }
            });
        });
    });
</script>
@*Delete Checked record*@
<script>
    function AppendCheckLists() {
        var notChecked = [], checked = [];
        $(":checkbox").map(function () {
            this.checked ? checked.push(this.id) : notChecked.push(this.id);
        });
        $("#checkedData").val(checked);
        if (checked.length == 0 || checked.length == "") {
            toastr.warning('please select at least one record');
            return false;
        }
        else {
            if ($("#dropDownId option:selected").val() == "delete_selected") {
                var b = RemoveAllSelectedRows($("#checkedData").val());
            }
            if ($("#dropDownId option:selected").val() == "processed_selected") {
                var b = ProcessedAllSelectedRows($("#checkedData").val());
            }
            else {
                $('#dropDownId').css('border-bottom', 'solid 1px red');
                return false;
            }
        }
    };

    function ProcessedAllSelectedRows(id) {
        AsyncConfirmForProcessedSelected(
            "Processed confirmation.",
            "Are you sure you want to Processed this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function RemoveAllSelectedRows(id) {
        AsyncConfirmForDeleteSelected(
            "Delete confirmation",
            "Are you sure you want to Delete this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    function AsyncConfirmForProcessedSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $(".full-loarder").css("display", "block");
            $.ajax({
                type: "POST",
                url: '@Url.Action("ProcessedCheckedAPIFill", "user", new { area = "admin" })',
                data: {
                    id: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    if (result.success == true) {
                        $(".full-loarder").css("display", "none");
                        window.location.href = '@Url.Action("ProcessedSelectedRecordAPI", "user")';
                    }
                    else {
                        $(".full-loarder").css("display", "none");
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                    }
                },
                error: function (result) {
                    $(".full-loarder").css("display", "none");
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $(".full-loarder").css("display", "none");
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    };

    function AsyncConfirmForDeleteSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $(".full-loarder").css("display", "block");
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteCheckedAPIFill", "user", new { area = "admin" })',
                data: {
                    sID: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    $(".full-loarder").css("display", "none");
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    };
</script>
@*Set Requested Account*@
<script>
    $("#ddlaccount option:contains(@Model.account)").attr('selected', 'selected');
</script>
@*Select 2 JS*@
<script>
    $(document).ready(function () {
        $('#ddlaccount').select2();
    });
</script>
@*Date Range and time Picker*@
<script>
    $(function () {
        var d = new Date();
        var month = d.getMonth();
        var day = d.getDate();
        var year = d.getFullYear();
        $('#sub_date').daterangepicker({
            defaultTime: '10:45 PM',
            timePicker: true,
            startDate: new Date(year, month, day, 07, 00),
            endDate: new Date(year, month, day, 21, 00),
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        });
    });
</script>