﻿@model List<Traderdock.Entity.ViewModel.UserMasterModel>

@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "Erroruser";
    string PageSize = Session["PageSize"].ToString();
}

<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        User List (Failed Registrations)
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <div>
            <section>
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="pull-right filter-bottom-margin">
                            <form id="changelist-search">
                                <div class="input-group" style="width: 250px;">
                                    <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by first name" autofocus />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form>
                            <div id="changelist-filter" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                                <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Filters <b class="caret margin-l-5"></b>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                                    <li class="dropdown-header"> Status </li>
                                    <li><a onclick="OnFilter('All');">All</a></li>
                                    <li><a onclick="OnFilter('Yes');">Active</a></li>
                                    <li><a onclick="OnFilter('No');">Inactive</a></li>
                                </ul>
                            </div>
                            @*<div class="actions pull-left filter-bottom-margin">
                                <div class="form-inline">
                                    <label class="margin-r-5">Actions</label>
                                    <div class="input-group margin-r-5">
                                        <select class="form-control" id="dropDownId" name="action" required>
                                            <option value="not_selected" selected="selected">--Select Any Action--</option>
                                            <option value="delete_selected">Delete selected users</option>
                                            <option value="active_selected">Active selected users</option>
                                            <option value="inactive_selected">Inactive selected users</option>
                                        </select>
                                        <input class="select-across form-control" name="select_across" type="hidden" value="0" />
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" title="Run the selected action" onclick="AppendCheckLists()">Go</button>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            <div class="clearfix"></div>
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div id="CustomLoder" class="overlay" style="display:none">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script src="~/Content/plugins/Kendo/jszip.min.js"></script>
<script src="~/Content/plugins/Kendo/kendo.all.min.js"></script>
<style>
    .page-template {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            text-align: center;
            font-size: 18px;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
        }

    .k-grid {
        font-family: "DejaVu Sans", "Arial", sans-serif;
    }

    /* Hide the Grid header and pager during export */
    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }
</style>
<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            @*<div style="float: right">Page #: pageNum # of #: totalPages #</div>*@
            Traderdock Error Registered User's List
        </div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>
<script type="text/javascript">
    var pageLimit = '@PageSize';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "user", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //for CheckedAll
    function SelectAll() {
        //alert(1);
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    }

    //Checked Record Deleted
    //bind click event to the checkbox
    function RemoveAllSelectedRows(id) {
        AsyncConfirmForDeleteSelected(
            "Delete confirmation.",
            "Are you sure you want to Delete this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function AsyncConfirmForDeleteSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteChecked", "User", new { area = "admin" })',
                data: {
                    sID: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    }

    function AppendCheckLists() {
        var notChecked = [], checked = [];
        $(":checkbox").map(function () {
            this.checked ? checked.push(this.id) : notChecked.push(this.id);
        });
        $("#checkedData").val(checked);
        if (checked.length == 0 || checked.length == "") {
            toastr.warning('please select at least one record');
            return false;
        }
        else {
            if ($("#dropDownId option:selected").val() == "delete_selected") {
                var b = RemoveAllSelectedRows($("#checkedData").val());
            }
            else if ($("#dropDownId option:selected").val() == "active_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "User", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(), // < note use of 'this' here
                        bIsActiveRequest: true
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });

            }
            else if ($("#dropDownId option:selected").val() == "inactive_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "User", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(),// < note use of 'this' here
                        bIsActiveRequest: false
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }
            else {
                $('#dropDownId').css('border-bottom', 'solid 1px red');
                return false;
            }
        }
    };

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id
         );
    }

    function InActiveChecked(value) {
         
        $.ajax({
            type: "GET",
            url: "@StrPath/admin/user/InActiveChecked/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function UploadData(value) {
         
        $.ajax({
            type: "GET",
            url: "@StrPath/admin/user/uploadcsvdata/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.MsgUpload);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.MsgUpload);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function refreshGrid() {
         
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/user/User_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('success');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });

        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model));
        //Bind with initial data
        var grid =  $('#grid').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ErrorRegisteredUser_Read", "user"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
             [
             //{ title: "<input type='checkbox' id='chkSelectAll' onclick='SelectAll();'/>", width: 30, template: "<input type='checkbox' class='checkbox'   id='#=user_id#' ", attributes: { style: "font-size:14px;width:2%; " } },
             { field: "user_email", title: "Email", width: 190, filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
             { field: "first_name", title: "First Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:12%; " } },
             { field: "last_name", title: "Last Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
             { field: "address", title: "Address", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:16%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:16%;" } },
             { field: "city_name", title: "City", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
             { field: "country_name", title: "Country", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:10%;" } },
             { field: "state_name", title: "State", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
             { field: "postal_code", title: "Postal", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:10%;" } },
             { field: "mobile_number", title: "Mobile", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:14%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:14%;" } },
             //{ field: "SubscriptionModeString", title: "Subscription Mode", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
             //{ field: "join_date", title: "Join Date", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
             //{ field: "Gender", title: "Gender", width: 100, template: '# if(Gender) {# <p>Female</a> #} else {# <p>Male</p> #} #', headerAttributes: { style: "text-align:left" }, attributes: { style: "text-align:left" }, filterable: false },
             @*{ field: "UserStatus", title: "Status", width: 100, template: '# if(UserStatus) {# <a onclick="changeStatus(#=user_id#)" class="label label-success">Active</a> #} else {# <a onclick="changeStatus(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center" }, attributes: { style: "text-align:center" }, filterable: false },
                 { field: "user_id", title: "Actions", width: 100, template: '# if(user_id) {# <a href="@StrPath/admin/user/addedituser/#=user_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="RemoveSelectedRow(#=user_id#)" class="btn btn-default btn-sm btn-icon-only fa fa-trash"></a> #} else {# <a onclick="changeStatus(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center" }, attributes: { style: "text-align:center" }, filterable: false }*@
             //{ field: "UserStatus", title: "Status", width: 100, template: '# if(UserStatus) {# <a onclick="InActiveChecked(#=user_id#)" class="label label-success">Active</a> #} else {# <a onclick="ActiveChecked(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;width:12%;" }, filterable: false },
             { field: "user_id", title: "Actions", width: 100, template: '# if(user_id) {# <a href="@StrPath/admin/user/addediterroruser/#=user_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="UploadData(#=user_id#)"  class="btn btn-default btn-sm btn-icon-only fa fa-cloud-upload"></a> #} else {# <a onclick="changeStatus(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center;font-size:14px;width:12%;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;width:12%;" }, filterable: false }
             ],
            pdfExport: function (e) {
                var grid = $("#grid").data("kendoGrid");
                grid.hideColumn(0);
                grid.hideColumn(7);
                e.promise
                      .done(function() {
                          grid.showColumn(0);
                          grid.showColumn(7);
                      });
            }
        }).data("kendoGrid");

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>
