﻿@model List<Traderdock.Entity.ViewModel.UserMasterModel>

@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "user";
    string PageSize = Session["PageSize"].ToString();
}
<section class="content-header">
    <h1>
        User
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">User</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <section>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">User List</h2>
                <div class="box-tools">
                    <button onclick="MapAccountIDtoTT();" class="addlink btn btn-primary pull-right margin-r-5">
                        <i class="btn-icon fa fa-server"></i> Map TT Account ID
                    </button>
                    <a href="~/admin/user/addedituser" class="addlink btn btn-primary pull-right margin-r-5">
                        <i class="btn-icon fa fa-plus"></i> Add User
                    </a>
                    <button type="button" id="btnCSV_Get_details" onclick="CSV_Get_details();" class="addlink btn btn-primary pull-right margin-r-5"><i class="btn-icon fa fa-cloud-download"></i> Direct Add From Rithemic</button>
                    <a href="~/admin/user/readcsv" class="addlink btn btn-primary pull-right margin-r-5">
                        <i class="btn-icon fa fa-plus"></i> Upload from csv
                    </a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="pull-right filter-bottom-margin">
                    <form id="changelist-search">
                        <div class="input-group" style="width: 250px;">
                            <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by name/mobile/email" autofocus />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <form>
                    <div id="RptDropDown" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                        <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Export <b class="caret margin-l-5"></b>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                            <li>
                                <a href="@StrPath/admin/user/ExportToPDF">PDF</a>
                            </li>
                            <li>
                                <a href="@StrPath/admin/user/ExportToExcel">Excel</a>
                            </li>
                        </ul>
                    </div>
                    <div id="changelist-filter" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                        <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Filters <b class="caret margin-l-5"></b>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                            <li class="dropdown-header"> Status </li>
                            <li><a onclick="OnFilter('All');">All</a></li>
                            <li><a onclick="OnFilter('Yes');">Active</a></li>
                            <li><a onclick="OnFilter('No');">Inactive</a></li>
                        </ul>
                    </div>
                    <div class="actions pull-left filter-bottom-margin">
                        <div class="form-inline">
                            <label class="margin-r-5">Actions</label>
                            <div class="input-group margin-r-5">
                                <select class="form-control" id="dropDownId" name="action" required>
                                    <option value="not_selected" selected="selected">--Select Any Action--</option>
                                    <option value="delete_selected">Delete selected users</option>
                                    <option value="active_selected">Active selected users</option>
                                    <option value="inactive_selected">Inactive selected users</option>
                                </select>
                                <input class="select-across form-control" name="select_across" type="hidden" value="0" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="Run the selected action" onclick="AppendCheckLists()">Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn btn-sm no-padding pull-left">
                        <div role="presentation" class="dropdown">
                            <button class="dropdown-toggle btn btn-default" id="drop5" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Select Filter <span class="caret"></span> </button>
                            <div class="dropdown-menu dropdown300 onClickCloseFalse dropdown-menu-left" id="menu2" aria-labelledby="drop5">
                                <div style="padding: 15px;">
                                    <b>Choose filters</b>
                                    <form style="padding: 0px 15px;">
                                        <div class="form-group">
                                            <select class="form-control  select2 " id="ddlAccountType" style="width: 100%;">
                                                <option value="All">Select Trial/Challenge</option>
                                                <option value="All">All</option>
                                                <option value="Yes">Trial</option>
                                                <option value="No">Challenge</option>
                                            </select>
                                        </div>
                                        <div class="form-group clearfix">
                                            <a class="btn btn-link pull-left btn-sm" onclick="OnClear();" style="cursor:pointer;"><i class="icon la la-times text-muted font-15 mr-0"></i>&nbsp;Clear Filter</a>
                                            <button type="button" class="btn btn-primary pull-right btn-sm" onclick="OnFilter();">Apply</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div id="grid" class="display table table-bordered table-striped k-content">
                    </div>
                    @Html.Hidden("statusFilter")
                    @Html.Hidden("checkedData")
                </form>
            </div>
            <!-- /.box-body -->
            <div id="CustomLoder" class="overlay" style="display:none">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>

<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            Traderdock User's List
        </div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>
<script type="text/javascript">
    var pageLimit = '@PageSize';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "user", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //for CheckedAll
    function SelectAll() {
        //alert(1);
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    }

    //Checked Record Deleted
    //bind click event to the checkbox
    function RemoveAllSelectedRows(id) {
        AsyncConfirmForDeleteSelected(
            "Delete confirmation.",
            "Are you sure you want to Delete this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function AsyncConfirmForDeleteSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteChecked", "User", new { area = "admin" })',
                data: {
                    sID: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    }

    function AppendCheckLists() {
        var notChecked = [], checked = [];
        $(":checkbox").map(function () {
            this.checked ? checked.push(this.id) : notChecked.push(this.id);
        });
        $("#checkedData").val(checked);
        if (checked.length == 0 || checked.length == "") {
            toastr.warning('please select at least one record');
            return false;
        }
        else {
            if ($("#dropDownId option:selected").val() == "delete_selected") {
                var b = RemoveAllSelectedRows($("#checkedData").val());
            }
            else if ($("#dropDownId option:selected").val() == "active_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "User", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(), // < note use of 'this' here
                        bIsActiveRequest: true
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });

            }
            else if ($("#dropDownId option:selected").val() == "inactive_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "User", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(),// < note use of 'this' here
                        bIsActiveRequest: false
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }
            else {
                $('#dropDownId').css('border-bottom', 'solid 1px red');
                return false;
            }
        }
    };

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id
         );
    }

    function InActiveChecked(value) {

        $.ajax({
            type: "GET",
            url: "@StrPath/admin/user/InActiveChecked/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function ActiveChecked(value) {
            $.ajax({
                type: "GET",
                url: "@StrPath/admin/user/ActiveChecked/",
                data: {
                    ID: value // < note use of 'this' here
                },
                success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function refreshGrid() {
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/user/User_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('success');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });
        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model));
        //Bind with initial data
        var grid =  $('#grid').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            pdf: {
                allPages: true,
                avoidLinks: true,
                paperSize: "A4",
                margin: { top: "3cm", right: "1cm", bottom: "1cm", left: "1cm" },
                landscape: true,
                repeatHeaders: true,
                template: $("#page-template").html()
            },
            excel: {
                fileName: "User.xlsx",
                filterable: true
            },
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("User_Read", "user"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
             [
             { title: "<input type='checkbox' id='chkSelectAll' onclick='SelectAll();'/>", width: 30, template: "<input type='checkbox' class='checkbox'   id='#=user_id#' ", attributes: { style: "font-size:12px;width:2%; " } },
             { field: "first_name", title: "First Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:12px;width:10%; " } },
             { field: "last_name", title: "Last Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:12px; width:10%;" } },
             { field: "user_email", title: "Email", width: 190, filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:12px; width:12%;" } },
             { field: "user_plan_string", title: "Trial/Challenge", filterable: false , headerAttributes: { style: "text-align:left;font-size:12px; width:5%; font-weight: bold;" }, attributes: { style: "font-size:12px; width:5%;" } },
             { field: "account_number", title: "Account Number", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:14%; font-weight: bold;" }, attributes: { style: "font-size:12px; width:14%;" } },
             { field: "join_date", title: "Join Date", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:9%; font-weight: bold;" }, attributes: { style: "font-size:12px; width:9%;" } },
             { field: "next_payment_date_str", title: "Next Payment Date", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:9%; font-weight: bold;" }, attributes: { style: "font-size:12px; width:9%;" } },
             { field: "discounted_balance", title: "Discount", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:9%; font-weight: bold;" }, attributes: { style: "font-size:12px; width:9%;" } },
             { field: "net_pnl_without_commision", title: "Net P&L", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:50px; font-weight: bold;" }, attributes: { style: "font-size:12px; width:50px;" } },
             { field: "cumalative_balance", title: "C. Balance", filterable: false, headerAttributes: { style: "text-align:left;font-size:12px; width:50px; font-weight: bold;" }, attributes: { style: "font-size:12px; width:50px;" } },
             { field: "UserStatus", title: "Status", width: 60, template: '# if(UserStatus) {# <a onclick="InActiveChecked(#=user_id#)" class="label label-success">Active</a> #} else {# <a onclick="ActiveChecked(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center;font-size:12px; width:8%; font-weight: bold;" }, attributes: { style: "text-align:center;font-size:12px;width:8%;" }, filterable: false },
             { field: "user_id", title: "Actions", width: 100, template: '# if(user_id) {# <a href="@StrPath/admin/user/addedituser/#=user_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="RemoveSelectedRow(#=user_id#)" class="btn btn-default btn-sm btn-icon-only fa fa-trash"></a>&nbsp;<a href="@StrPath/admin/user/viewuser/#=user_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-info"></a> #} else {# <a onclick="changeStatus(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center;font-size:12px;width:16%;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:12px;width:16%;" }, filterable: false }
             ],
            pdfExport: function (e) {
                var grid = $("#grid").data("kendoGrid");
                grid.hideColumn(0);
                grid.hideColumn(7);
                e.promise.done(function() {
                    grid.showColumn(0);
                    grid.showColumn(7);
                });
            }
        }).data("kendoGrid");
        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
    function CSV_Get_details() {
        $("#btnCSV_Get_details").attr("disabled", true);
        $("#CustomLoder").show();
        //return false;
        $.ajax({
            type: "GET",
            url: '@Url.Action("Get_csv", "user", new { area = "admin" })',
            success: function (result) {
                if (result.success == "true" || result.success == true || result.success == "True") {
                    toastr.success("Data successfully updated to database.");
                    $("#btnCSV_Get_details").attr("disabled", false);
                    $("#CustomLoder").hide();
                }
                else {
                    $("#btnCSV_Get_details").attr("disabled", false);
                    alert('Oops. Something Went Wrong! Please Try After 24 Hrs.');
                    $("#CustomLoder").hide();
                }
            },
            error: function (result) {
                $("#btnCSV_Get_details").attr("disabled", false);
                alert('Oops. Something Went Wrong! Please Try After 24 Hrs.');
                $("#CustomLoder").hide();
            }
        });
        return true;
    };
</script>

@*MapAccountIDtoTT*@
<script>
    function MapAccountIDtoTT() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("TTAccountMapping", "TT", new { area = "admin" })',
            success: function (result) {
                if (result.result == true) {
                    toastr.success("Data successfully updated to database.");
                    $("#btnCSV_Get_details").attr("disabled", false);
                    $("#CustomLoder").hide();
                }
                else {
                    $("#btnCSV_Get_details").attr("disabled", false);
                    toastr.warning("Oops. Something Went Wrong!");
                    $("#CustomLoder").hide();
                }
            },
            //error: function (XMLHttpRequest, textStatus, errorThrown)
            error: function (result) {
                $("#btnCSV_Get_details").attr("disabled", false);
                toastr.warning("Oops. Something Went Wrong!");
                $("#CustomLoder").hide();
            }
        });
        return true;
    }
</script>
<script>
    $('.onClickCloseFalse').click(function (event) {
        event.stopPropagation();
    });
    $(".select2").select2();
</script>