﻿@{
    @Html.Hidden("RecordJSON")
    string PageSize = Session["PageSize"].ToString();
}
<section class="content-header">
    <h1>
        Review API Processed Fills
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"> Review API Processed Fills</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary" style="overflow-x:auto">
        <div class="box-header with-border">
            <h3 class="box-title"> Review API Processed Fills from TT</h3>
        </div>
        <div class="box-body">
            <h6 style="color:red;display:none;" id="errormsg"></h6>
        </div>
        <div id="grid" style="width:5000px;"></div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div class="row">
                        <div class="col-sm-8">
                            <input type="button" id="UploadData" value="Upload" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Hidden("Message", @TempData["Msg"])
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
@*Save to Database*@
<script>
    $('#UploadData').click(function () {
        $(".full-loarder").css("display", "block");
        if (window.FormData !== undefined) {
            var MultiFormData = new FormData();
            MultiFormData.append('RecordJSON', $("#RecordJSON").val());
            $.ajax({
                url: '/TT/SaveProcessingAPI',
                type: "POST",
                contentType: false, 
                processData: false, // Not to process data
                data: MultiFormData,
                success: function (result) {
                    $(".full-loarder").css("display", "none");
                    if (result.success == true) {
                        if (result.withError != 0) {
                            if (result.strAccountList != "") {
                                toastr.warning("Following account subscription does not match " + result.strAccountList);
                            }
                            if (result.strUserList != "") {
                                toastr.warning("Following account user does not match " + result.strUserList);
                            }
                            DisplayGrid();
                            toastr.success('Fill record has been partially uploaded');
                        }
                        else {
                            $("#grid").data('kendoGrid').dataSource.data([]);
                            toastr.success('Fill record has been uploaded');
                        }
                    }
                    else {
                        if (result.resultcode == -1) {
                            toastr.warning('user does not exist in database for ' + result.lsterrorstr);
                        }
                        else if (result.resultcode == -2) {
                            toastr.warning('subscription does not exist in database for ' + result.lsterrorstr);
                        }
                        else {
                            toastr.warning('please try again!');
                        }
                    }
                },
                error: function (err) {
                    $(".full-loarder").css("display", "none");
                    alert(err.statusText);
                }
            });
        } else {
            alert("Form Data is not supported.");
        }
    });
</script>
@*Processing*@
<script>
    $(document).ready(function () {
        $(".full-loarder").css("display", "block");
        $.ajax({
            url: '/user/ProcessedSelectedRecordAPI_Read',
            type: "GET",
            contentType: false, // Not to set any content header
            processData: false, // Not to process data
            success: function (result) {
                if (result.success == true) {
                    $(".full-loarder").css("display", "none");
                    var JsonData = result.data;
                    $("#RecordJSON").val(JSON.stringify(result.data));
                    var dataSource = new kendo.data.DataSource({
                        data: result.data,
                        group: [
                            { field: "AccountCombinedName" },
                            { field: "Date_str" },
                            { field: "Contract" },
                        ],
                    });
                    $("#grid").kendoGrid({
                        toolbar: ["excel"],
                        columns: [
                            "Date_str",
                            "Time_str",
                            "Contract",
                            "BS",
                            "BuySell",
                            "FillQty",
                            "NetPosition",
                            "Price",
                            "BuyPrice",
                            "SellPrice",
                            "TradeEntry",
                            "TradeExit",
                            "TradeNumber",
                            "AverageBuyPrice",
                            "AverageSellPrice",
                            "realised_pnl_tick",
                            "realised_pnl_usd_without_commision",
                            "commission",
                            "total_traded_qty_trade",
                            "realised_pnl_usd_with_commision",
                            "unrealised_pnl_tick",
                            "high_pnl",
                            "low_pnl",
                            "cumulative_pnl",
                            "current_balance",
                            "PF",
                            "TTOrderID",
                            "current_balance",
                            "threshold_value",
                            "w_trades",
                            "l_trades",
                            "s_trades",
                        ],
                        excel: {
                            fileName: "Fills Export",
                            filterable: true
                        },
                        excelExport: function (e) {
                            e.workbook.fileName = "TradeStats_" + kendo.toString(new Date, "dd/MM/yyyy HH:mm") + ".xlsx";
                        },
                        dataSource: dataSource
                    });
                }
                else if (result.success = false) {
                    $(".full-loarder").css("display", "none");
                    toastr.warning(result.msg);
                }
                else {
                    $(".full-loarder").css("display", "none");
                    toastr.warning('Please try again!');
                }
            },
            error: function (err) {
                $(".full-loarder").css("display", "none");
                alert(err.statusText);
            }
        });
    });
</script>