﻿@model System.Data.DataTable
@using System.Data;
<section class="content-header">
    <h1>
        Upload CSV file
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Upload CSV file</li>
    </ol>
</section>
<section class="content">
    <div>
        <div class="box box-primary" style="overflow-x:auto">
            <div class="box-header with-border">
                <h3 class="box-title"> User Information</h3>
            </div>
            @using (Html.BeginForm("readcsv", "User", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                if (Model != null)
                {
                    <table id="Dt" class="table table-bordered table-striped" cellspacing="0">
                        <thead>
                            <tr>
                                @foreach (DataColumn col in Model.Columns)
                                {
                                    <th>@col.ColumnName</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow row in Model.Rows)
                            {
                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {
                                        <td>@row[col.ColumnName]</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="file" id="dataFile" name="upload" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                </div>
                            </div>
                            <div class="row">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    <input type="submit" value="Upload" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("Message", @TempData["Msg"])
            }
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>