﻿@using System.Web.Configuration
@model List<Traderdock.Entity.ViewModel.UserMasterModel>
@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var StrPath = WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "user";
    string PageSize = Session["PageSize"].ToString();
}
<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        User Report
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">User Report</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <section>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">User Report List</h2>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="pull-right filter-bottom-margin">
                    <form id="changelist-search">
                        <div class="input-group" style="width: 250px;">
                            <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by name/account" autofocus />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="btnSearch" value="Search">
                                    <i class="fa fa-search" style="height: 20px;"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <form>
                    <div id="changelist-filter" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                        <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Status Filters <b class="caret margin-l-5"></b>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                            <li class="dropdown-header"> Status </li>
                            <li><a onclick="OnStatusFilter('All');">All</a></li>
                            <li><a onclick="OnStatusFilter('Yes');">Active</a></li>
                            <li><a onclick="OnStatusFilter('No');">Inactive</a></li>
                        </ul>
                    </div>
                    <div id="changelist-filter" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                        <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            User Filters <b class="caret margin-l-5"></b>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                            <li class="dropdown-header"> Status </li>
                            <li><a onclick="OnUserStatusFilter('All');">All</a></li>
                            <li><a onclick="OnUserStatusFilter('Yes');">Demo</a></li>
                            <li><a onclick="OnUserStatusFilter('No');">Challenge</a></li>
                        </ul>
                    </div>

                    <div id="RptDropDown" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                        <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Export <b class="caret margin-l-5"></b>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                            <li>
                                <a href="@StrPath/admin/user/ReportTransactionExportToPDF">PDF</a>
                            </li>
                            <li>
                                <a href="@StrPath/admin/user/ReportTransactionExportToExcel">Excel</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div id="grid" class="display table table-bordered table-striped k-content">
                    </div>
                    @Html.Hidden("OnUserStatusFilter")
                    @Html.Hidden("OnStatusFilter")
                    @Html.Hidden("checkedData")
                </form>
            </div>
            <!-- /.box-body -->
            <div id="CustomLoder" class="overlay" style="display: none">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
        <!-- /.box -->
    </section>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", TempData["Msg"])
</section>
<script src="~/Content/plugins/Kendo/jszip.min.js"></script>
<script src="~/Content/plugins/Kendo/kendo.all.min.js"></script>
<style>
    .page-template {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

        .page-template .header {
            border-bottom: 1px solid #888;
            font-size: 18px;
            left: 30px;
            position: absolute;
            right: 30px;
            text-align: center;
            top: 30px;
        }

        .page-template .footer {
            bottom: 30px;
            left: 30px;
            position: absolute;
            right: 30px;
        }

    .k-grid {
        font-family: "DejaVu Sans", "Arial", sans-serif;
    }

    /* Hide the Grid header and pager during export */

    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }
</style>
<script>
    function OnUserStatusFilter(values) {
        $("#OnUserStatusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }
    function OnStatusFilter(values) {
        $("#OnStatusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }
</script>
<script type="text/javascript">
    var pageLimit = '@PageSize';

    function refreshGrid() {
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/user/Report_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function(result) {
                alert('success');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function(result) {
                alert('error');
            }
        });
        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }
    function additionalData() {
        var data = {
            SearchFirstName: $('#category').val(),
            StatusFilter: $('#OnStatusFilter').val(),
            UserStatusFilter: $('#OnUserStatusFilter').val()
        };
        return data;
    }
    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model));
        //Bind with initial data
        var grid = $('#grid').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Report_Read", "user"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
            [
                {
                    field: "FirstName",
                    title: "First Name",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px;width:80px; " }
                },
                {
                    field: "LastName",
                    title: "Last Name",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:80px;" }
                },
                {
                    field: "account_number",
                    title: "Account ID",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:150px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:150px;" }
                },
                {
                    field: "strFreeTrial",
                    title: "Mode",
                    width: 190,
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:70px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:70px;" }
                },

                {
                    field: "isActive",
                    title: "Active",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:50px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:50px;" }
                },
                {
                    field: "TransactionDateString",
                    title: "Date",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:50px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:50px;" }
                },
                {
                    field: "TotalContracts",
                    title: "Fills",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:50px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:50px;" }
                },
                {
                    field: "TotalTrades",
                    title: "Trades",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:50px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:50px;" }
                },
                {
                    field: "GrossProfitLoss",
                    title: "Gross P&L",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:80px;" }
                },
                {
                    field: "TotalCommisions",
                    title: "Commisions",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:80px;" }
                },
                {
                    field: "NetProfitLoss",
                    title: "Net P&L",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:80px;" }
                },
                {
                    field: "CurrentBalance",
                    title: "C.Balance",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:80px;" }
                },
                {
                    field: "HighProfitLoss",
                    title: "High P&L",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:80px;" }
                },
                {
                    field: "LowProfitLoss",
                    title: "Low P&L",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:80px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:80px;" }
                },
                {
                    field: "AvgWinningTrade",
                    title: "AvgWinningTrade",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:110px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:110px;" }
                },
                {
                    field: "AvgLosingTrade",
                    title: "AvgLosingTrade",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:110px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:110px;" }
                },
                {
                    field: "WinningTradePer",
                    title: "WinningTradePer",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:110px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:110px;" }
                },
                {
                    field: "MaxConsLoss",
                    title: "MaxConsLoss",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:110px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:110px;" }
                },
                {
                    field: "AvgWinningDayOld",
                    title: "AvgWinningDay",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:110px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:110px;" }
                },
                {
                    field: "AvgLosingDayOld",
                    title: "AvgLosingDay",
                    filterable: false,
                    headerAttributes: { style: "text-align:left;font-size:14px; width:110px; font-weight: bold;" },
                    attributes: { style: "font-size:14px; width:110px;" }
                },
            ]
        }).data("kendoGrid");

        $('#btnSearch').on("click",
            function(e) {
                var grid = $('#grid').data('kendoGrid');
                grid.dataSource.page(1); //new search. Set page size to 1
                return false;
        });
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>
