﻿@model Traderdock.Entity.MemberModel.WEBDashboardModel

@{
    ViewBag.Title = "View USer";
    ViewBag.SubMenu = "user";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string PageLimit = "10";
    string TextNegative = "text-red";
    string TDNegative = "color:red;";
}
<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        View User
    </h1>
</section>
<!-- Main content -->
<section class="content">
    @*<h2 class="page-header">AdminLTE Custom Tabs</h2>*@
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#fa-icons" data-toggle="tab">User's Details</a></li>
                    <div style="padding-top:5px;">
                        <a href="~/admin/dashboard/dashboard" class="addlink btn btn-primary pull-right margin-r-10 margin-top-10">Back</a>
                    </div>
                </ul>
                <div class="tab-content">
                    <!-- Font Awesome Icons -->
                    <div class="tab-pane active" id="fa-icons">
                        <section id="new">
                            <div class="row fontawesome-icon-list">
                                <div class="col-md-3 col-sm-4">
                                    <div class="box-body box-profile">
                                        @*<img class="profile-user-img img-responsive img-circle" src="http://localhost:50428/Images/636361708598910247.jpg" alt="User profile picture" id="profileimage">*@
                                        @if (!string.IsNullOrEmpty(@Model.objUserMasterModel.profile_image_url))
                                        {
                                            <img class="profile-user-img img-responsive img-circle" src="@Model.objUserMasterModel.profile_image_url" alt="User profile picture" id="profileimage">
                                        }
                                        else
                                        {
                                            <img class="profile-user-img img-responsive img-circle" src="@Model.objUserMasterModel.profile_image_url" alt="User profile picture" id="profileimage">
                                        }
                                    </div>
                                    <div align="center">
                                        <h4>@Model.objUserMasterModel.first_name &nbsp; @Model.objUserMasterModel.last_name</h4>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(@Model.objUserMasterModel.user_email))
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-envelope-o"></i> @Model.objUserMasterModel.user_email </div> @*user@gmail.com*@
                                }
                                else
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-envelope-o"></i> Not available </div> @*user@gmail.com*@
                                }
                                @if (!string.IsNullOrEmpty(@Model.objUserMasterModel.mobile_number))
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-phone"></i> @Model.objUserMasterModel.mobile_number </div> @*787-842-9595*@
                                }
                                else
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-phone"></i> Not available </div> @*787-842-9595*@
                                }
                                @if (!string.IsNullOrEmpty(@Model.objUserMasterModel.birth_date))
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-birthday-cake"></i> @Model.objUserMasterModel.birth_date </div> @*13-10-1992*@
                                }
                                else
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-birthday-cake"></i> Not available </div> @*13-10-1992*@
                                }
                                <br />
                                <br />
                                @if (!string.IsNullOrEmpty(@Model.objUserMasterModel.join_date))
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-calendar"></i> @Model.objUserMasterModel.join_date </div> @*20-07-2017*@
                                }
                                else
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-calendar"></i> Not available </div> @*20-07-2017*@
                                }
                                @if (!string.IsNullOrEmpty(@Model.objUserMasterModel.gender_String))
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-male"></i> @Model.objUserMasterModel.gender_String </div> @*Male*@
                                }
                                else
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-male"></i> Not available </div> @*Male*@
                                }
                                @if (!string.IsNullOrEmpty(@Model.objUserMasterModel.address))
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-map-marker"></i> @Model.objUserMasterModel.address </div>  @*B/701, Siddhi Vinayak Towers, Off S.G.Road, Makarba, Ahmedabad, Gujarat 380051*@
                                }
                                else
                                {
                                    <div class="col-md-3 col-sm-4"><i class="fa fa-fw fa-map-marker"></i> Not available </div>  @*B/701, Siddhi Vinayak Towers, Off S.G.Road, Makarba, Ahmedabad, Gujarat 380051*@
                                }
                            </div>
                        </section>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="box nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Dashboard</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Subscription</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Payment History</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        <div class="dash-box">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">
                                                    Account Number : @Model.objAccountInfoModel.account_number
                                                </h3>
                                            </div>
                                            <div class="box-header">
                                                <h5 class="box-title" style="font-size: 18px;">
                                                    <i class="fa fa-circle text-green"></i> <span>$</span>@Model.ObjHomeModel.CurrentBalance<br>
                                                </h5>
                                                <div class="pull-right">
                                                    @if (Model.objAccountInfoModel.is_expired == false && Model.objAccountInfoModel.is_current == true)
                                                    {
                                                        <label class="label label-success">@Model.objAccountInfoModel.status</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="label label-danger">@Model.objAccountInfoModel.status</label>
                                                    }
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th>Start Date</th>
                                                            <td>@Model.objAccountInfoModel.substartdate</td>
                                                        </tr>
                                                        <tr>
                                                            <th>End Date</th>
                                                            <td>@Model.objAccountInfoModel.subenddate</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Days Complete</th>
                                                            <td>@Model.objAccountInfoModel.completeddays</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Wining Day %</th>
                                                            <td>@Model.objAccountInfoModel.WinnigDayPer</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-8">
                                        <div class="box">
                                            <div class="box-header">
                                                <h3 class="box-title">Trader Reports</h3>
                                            </div>
                                            <div class="box-header">
                                                <h4 style="margin:0;">Account Balance</h4>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <th>High</th>
                                                                <td style="@(Model.ObjHomeModel.HighBalanceOld < 0 ? TDNegative : "")"><span></span>@Model.ObjHomeModel.HighBalance</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Current</th>
                                                                <td style="@(Model.ObjHomeModel.CurrentBalanceOld < 0 ? TDNegative : "")"><span></span>@Model.ObjHomeModel.CurrentBalance</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Low</th>
                                                                <td style="@(Model.ObjHomeModel.LowBalanceOld < 0 ? TDNegative : "")"><span></span>@Model.ObjHomeModel.LowBalance</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <th>Avg Winning Day</th>
                                                                <td style="@(Model.ObjHomeModel.AvgWinningDayOld < 0 ? TDNegative : "")"><span></span>@Model.ObjHomeModel.AvgWinningDay</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Avg Losing Day</th>
                                                                <td style="@(Model.ObjHomeModel.AvgLosingDayOld < 0 ? TDNegative : "")"><span></span>@Model.ObjHomeModel.AvgLosingDay</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Best Day</th>
                                                                <td style="@(Model.ObjHomeModel.BestDayOld < 0 ? TDNegative : "")"><span></span>@Model.ObjHomeModel.BestDay</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Worst Day</th>
                                                                <td style="@(Model.ObjHomeModel.WorstDayOld < 0 ? TDNegative : "")"><span></span>@Model.ObjHomeModel.WorstDay</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <!-- /.box -->
                                    </div>
                                    <!-- /.col -->
                                </div>
                            </div>
                        </div>
                        <div class="dash-box">
                            <div class="section-title">
                                <h4 class="no-margin-top font-medium">Current Balance</h4>
                            </div>
                            <div class="filter clearfix">
                                <form class="pull-right">
                                    <select class="form-control input-sm pull-left" style="width: 100px;margin-right: 10px;margin-bottom: 10px;" id="year">
                                        <option value="0">-- Year --</option>
                                        <option value="2017">2017</option>
                                        <option value="2016">2016</option>
                                    </select>
                                    <select class="form-control input-sm pull-left" style="width: 120px;margin-right: 10px;margin-bottom: 10px;" id="month">
                                        <option value="0">-- Month --</option>
                                        <option value="January">January</option>
                                        <option value="February">February</option>
                                        <option value="March">March</option>
                                        <option value="April">April</option>
                                        <option value="May">May</option>
                                        <option value="June">June</option>
                                        <option value="July">July</option>
                                        <option value="August">August</option>
                                        <option value="September">September</option>
                                        <option value="October">October</option>
                                        <option value="November">November</option>
                                        <option value="December">December</option>
                                    </select>
                                    @*<select class="form-control input-sm pull-left" style="width: 120px;margin-bottom: 10px;" id="week">
                                            <option value="0">-- Week --</option>
                                            <option value="First">Week 1</option>
                                            <option value="Second">Week 2</option>
                                            <option value="Third">Week 3</option>
                                            <option value="Fourth">Week 4</option>
                                            <option value="Fifth">Week 5</option>
                                            <option value="Last">Week 6</option>
                                        </select>*@
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header with-border">
                                            <h3 class="box-title"></h3>
                                        </div>
                                        <div class="box-body chart-responsive">
                                            <div class="chart" id="line-chart-payment" style="height: 300px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-box">
                            <div class="section-title">
                                <h4 class="no-margin-top font-medium">Your Trade Reports</h4>
                            </div>
                            @*<div class="form-group">
                                    @Html.DropDownList("SelectedItem", (IEnumerable<SelectListItem>)ViewBag.ddlExchange, "All Markets", new { @class = "form-control input-sm", style = "max-width: 200px;" })
                                </div>*@
                            <div class="form-group" id="divUserTransaction" style="display: none;text-align: center;">
                                <div class="three-bounce">
                                    <div class="one"></div>
                                    <div class="two"></div>
                                    <div class="three"></div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;width: 10%;">Date</th>
                                            <th style="text-align: center;width: 8%;">Net P&amp;L</th>
                                            <th style="text-align: center;width: 8%;">P&amp;L High</th>
                                            <th style="text-align: center;width: 8%;">P&amp;L Low</th>
                                            <th style="text-align: center;width: 8%;">Total<br>Contracts</th>
                                            <th style="text-align: center;width: 8%;">Total Fees<br>+Comm.</th>
                                            <th style="text-align: center;width: 8%;">Total<br>Trades</th>
                                            <th style="text-align: center;width: 8%;">Avg. Winning<br>Trade</th>
                                            <th style="text-align: center;width: 8%;">Avg. Losing<br>Trade</th>
                                            <th style="text-align: center;width: 8%;">Winning<br>Trade%</th>
                                            <th style="text-align: center;width: 8%;">Max. Consec.<br>W/L Traders</th>
                                            <th style="text-align: center;width: 8%;">Avg. W/L<br>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody id="usertrasaction"></tbody>
                                </table>
                            </div>
                            @*<p class="text-center no-margin">Trade reports will be posted by 4 PM CT.</p>*@
                            <p class="text-center no-margin">Trade reports will be posted 1 hour after US market close.</p>
                        </div>
                        <div id="divCurrentBalance" class="overlay" style="display:none">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_2">
                        <div class="dash-box">
                            <div class="box-header with-border">
                                @if (!String.IsNullOrEmpty(Model.objPlanMemModel.subscription_name))
                                {
                                    <h3 class="box-title"><b>Subscription: @Model.objPlanMemModel.subscription_name</b></h3>
                                }
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="box">
                                            @*<div class="box-header">
                                                    <h3 class="box-title">Trader Reports</h3>
                                                </div>
                                                <div class="box-header">
                                                    <h4 style="margin:0;">Account Balance</h4>
                                                </div>*@
                                            <!-- /.box-header -->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <th></th>
                                                                <th style="width: 150px">Criteria</th>
                                                                <th style="width: 150px">Actual</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Starting Balance</th>
                                                                <td>@Model.objPlanMemModel.starting_balance_string K</td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th>Max Position Size</th>
                                                                <td>@Model.objPlanMemModel.max_position_size lot</td>
                                                                <td>@Model.objPlanMemModel.max_position_size lot</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Daily Loss Limit</th>
                                                                <td><span>$ </span>@Model.objPlanMemModel.daily_loss_limit</td>
                                                                <td><span>$ </span>@Model.objPlanMemModel.daily_loss_limit</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Max Drawdown</th>
                                                                <td><span>$ </span>@Model.objPlanMemModel.max_drawdown</td>
                                                                <td><span>$ </span>@Model.objPlanMemModel.max_drawdown</td>
                                                            </tr>
                                                            <tr>
                                                                <th>Profit Target</th>
                                                                <td><span>$ </span>@Model.objPlanMemModel.profite_target</td>
                                                                <td><span>$ </span>@Model.objPlanMemModel.profite_target</td>
                                                            </tr>

                                                            <tr>
                                                                <th>Price Per Month</th>
                                                                <td><span>$ </span>@Model.objPlanMemModel.price_per_month</td>
                                                                <td><span>$ </span>@Model.objPlanMemModel.price_per_month</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                        <div class="box box-solid">
                                            <!-- /.box-body -->
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div class="box">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">
                                                    Account Number : @Model.objAccountInfoModel.account_number
                                                </h3>
                                            </div>
                                            <div class="box-header">
                                                <h5 class="box-title" style="font-size: 18px;">
                                                    <i class="fa fa-circle text-green"></i> <span>$</span>@Model.ObjHomeModel.CurrentBalance<br>
                                                </h5>
                                                <div class="pull-right">
                                                    @if (Model.objAccountInfoModel.is_expired == false && Model.objAccountInfoModel.is_current == true)
                                                    {
                                                        <label class="label label-success">@Model.objAccountInfoModel.status</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="label label-danger">@Model.objAccountInfoModel.status</label>
                                                    }
                                                </div>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th>Start Date</th>
                                                            <td>@Model.objAccountInfoModel.substartdate</td>
                                                        </tr>
                                                        <tr>
                                                            <th>End Date</th>
                                                            <td>@Model.objAccountInfoModel.subenddate</td>
                                                        </tr>

                                                        <tr>
                                                            <th>Days Complete</th>
                                                            <td>@Model.objAccountInfoModel.completeddays</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Wining Day %</th>
                                                            <td>@Model.objAccountInfoModel.WinnigDayPer</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dash-box">
                            <div class="section-title">
                                <h4 class="no-margin-top font-medium">Subscription History</h4>
                                <button type="button" class="btn btn-danger bottom-right" id="btn_sub_clear">Clear Search</button>
                                <button type="button" class="btn btn-success bottom-right" id="btn_sub_add" data-toggle="modal" data-target="#modal-add-sub">Add Subscription</button>
                            </div>
                            <div class="pull-right filter-bottom-margin">
                                <form id="changelist-search">
                                    <div class="input-group" style="width: 300px;">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="sub_date" placeholder="Search by subscription date">
                                        </div>
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit" id="btn_sub_Search" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div id="grid_sub_history" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                            <p class="text-center no-margin">Trade reports will be posted 1 hour after US market close.</p>
                            @*<p class="text-center no-margin">Trade reports will be posted by 4 PM CT.</p>*@
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3">
                        <div class="dash-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="section-title">
                                        <button type="button" class="btn btn-danger bottom-right" id="btn_pay_clear">Clear Search</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pull-right filter-bottom-margin">
                                        <form id="changelist-search">
                                            <div class="input-group" style="width: 300px;">
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input type="text" class="form-control pull-right" id="pay_date" placeholder="Search by subscription date">
                                                </div>
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default" type="submit" id="btn_pay_Search" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div id="grid_pay_history" class="display table table-bordered table-striped k-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*Add Subscription Modal*@
<div class="modal fade" id="modal-add-sub">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Add Subscription for user with following details</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="form-group row">
                        <div class="col-sm-6 control-label">
                            <label for="subscription_number">Subscription Type</label><em> *</em>
                        </div>
                        <div class="col-sm-6" id="divChallengeAddSub">
                            <select class="form-control input-sm pull-left" id="divChallengeAddSub" style="width: 100px;margin-right: 10px;margin-bottom: 10px;" id="year">
                                <option value="C">Challenge</option>
                                <option value="D">Demo</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 control-label">
                            <label for="subscription_number">Subscription Start Date</label><em> *</em>
                        </div>
                        <div class="col-sm-6">
                            @Html.DisplayTextFor(m => m.objAccountInfoModel.subscription_start_date.Date)
                        </div>
                    </div>
                    <div class="form-group row" id="divDemoAddChl">
                        <div class="col-sm-6 control-label">
                            <label for="subscription_number">Subscription End Date</label><em> *</em>
                        </div>
                        <div class="col-sm-6">
                            @Html.DisplayTextFor(m => m.objAccountInfoModel.subscription_end_date.Date)
                        </div>
                    </div>
                    <div class="form-group row" id="divDemoAddSub" style="display:none">
                        <div class="col-sm-6 control-label">
                            <label for="subscription_number">Subscription End Date</label><em> *</em>
                        </div>
                        <div class="col-sm-6">
                            @Html.DisplayTextFor(m => m.objAccountInfoModel.subscription_trial_date.Date)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="btnAddSubscription" class="btn btn-primary">Add Subscription</button>
            </div>
        </div>
    </div>
</div>
<!-- Morris Chart -->
@*<link href="~/Content/plugins/morris/morris.css" rel="stylesheet" />
    <script src="~/Content/plugins/morris/morris.min.js"></script>*@
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<!-- Float Chart -->
<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.pie.js"></script>
<!-- jQuery 2.2.3 -->
<script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>

<script>
    $('#sub_date').daterangepicker({ format: 'DD/mm/YYYY' });
    $('#pay_date').daterangepicker({ format: 'DD/mm/YYYY' });
</script>
<script>
    jQuery.noConflict();
    $(function () {
        var current = new Date();
        var monthNames = ["January", "February", "March", "April", "May", "June",
                             "July", "August", "September", "October", "November", "December"];
        var month = monthNames[current.getMonth()];
        var weekNames = ["First", "Second", "Third", "Fourth", "Fifth", "Last"];
        var week = weekNames[Math.ceil(current.getDate() / 7) - 1];
        var year = current.getFullYear();
        $('#year option[value="' + year + '"]').prop('selected', true);
        $('#month option[value="' + month + '"]').prop('selected', true);
        CurrentBal(); //this calls it on load
        usertransaction();//this calls it on load
        $('#year').on('change', function () {
            $('#month option[value="0"]').prop('selected', true);
            $('#week option[value="0"]').prop('selected', true);
            CurrentBal();
        })
        $('#month').on('change', function () {
            $('#week option[value="0"]').prop('selected', true);
            CurrentBal();
        })
        $("#week").change(CurrentBal);
        $("#SelectedItem").change(usertransaction);
    });

    function usertransaction() {
        $("#divUserTransaction").css("display", "block");
        $.ajax({
            type: "POST",
            url: '@Url.Action("UserTransaction", "User")',
            data: {
                Exchange: $("#SelectedItem option:selected").val(),
                user_id: @Model.objUserMasterModel.user_id,
            },
            dataType: "json",
            success: function (result) {
                $("#divUserTransaction").css("display", "none");
                if (result.List.length > 0) {

                    var Htmlstr = '';
                    var strNegativeClass='';
                    var negValue = 'color:red;';
                    for (var i = 0; i < result.List.length; i++) {

                        Htmlstr += '<tr>';
                        Htmlstr += '<td style="text-align: center;width: 10%;">' + result.List[i].TransactionDateString + '</td>'

                        strNegativeClass = (result.List[i].NetProfitLossOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'"><span></span>' + result.List[i].NetProfitLoss + '</td>'

                        strNegativeClass = (result.List[i].HighProfitLossOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'"><span></span>' + result.List[i].HighProfitLoss + '</td>'

                        strNegativeClass = (result.List[i].LowProfitLossOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'"><span></span>' + result.List[i].LowProfitLoss + '</td>'

                        strNegativeClass = (result.List[i].TotalContractsOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'">' + result.List[i].TotalContracts + '</td>'

                        strNegativeClass = (result.List[i].TotalCommisionsOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'"><span></span>' + result.List[i].TotalCommisions + '</td>'

                        strNegativeClass = (result.List[i].TotalTrades < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'">' + result.List[i].TotalTrades + '</td>'

                        strNegativeClass = (result.List[i].AvgWinningTradeOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'"><span></span>' + result.List[i].AvgWinningTrade + '</td>'

                        strNegativeClass = (result.List[i].AvgLosingTradeOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'"><span></span>' + result.List[i].AvgLosingTrade + '</td>'

                        strNegativeClass = (result.List[i].WinningTradePerOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 8%;'+strNegativeClass+'">' + result.List[i].WinningTradePer + '</td>'
                        Htmlstr += '<td style="text-align: center;width: 8%;">' + result.List[i].MaxConsWin + "/" + result.List[i].MaxConsLoss + '</td>'
                        Htmlstr += '<td style="text-align: center;width: 8%;"> - </td>'

                        //Added by Bharat
                        //Htmlstr += '<td style="text-align: center;width: 8%;border-bottom: 0px solid #e3eaf4;"class="label-full">'
                        //if (result.List[i].AvgWinningDay > result.List[i].AvgLosingDay) {
                        //    Htmlstr += '<div class="label label-success">'
                        //}
                        //else if (result.List[i].AvgWinningDay <= result.List[i].AvgLosingDay) {
                        //    Htmlstr += '<div class="label label-danger">'
                        //}
                        //else {
                        //    Htmlstr += '<div class="">'
                        //}
                        //Htmlstr += result.List[i].AvgWinningDay_str + '<br>' + result.List[i].AvgLosingDay_str + '</div></td>'
                        Htmlstr += '</tr>'
                    }

                    $("#usertrasaction").html(Htmlstr);
                    var Htmlstr = '';
                    return false;
                }
                else {
                    var Htmlstr = '';
                    Htmlstr += '<tr>'
                    Htmlstr += '<td rowspan="1" colspan="4"> No items to display.</td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '</tr>'
                    $("#usertrasaction").html(Htmlstr);
                }
            },
            //error: function (result) {
            //    //alert('error');
            //}
        });
    }

    function CurrentBal() {
        $("#divCurrentBalance").show();
        $("#line-chart-payment").empty();
        var MonthList = new Array(12);
        MonthList[0] = "Jan";
        MonthList[1] = "Feb";
        MonthList[2] = "Mar";
        MonthList[3] = "Apr";
        MonthList[4] = "May";
        MonthList[5] = "Jun";
        MonthList[6] = "Jul";
        MonthList[7] = "Aug";
        MonthList[8] = "Sep";
        MonthList[9] = "Oct";
        MonthList[10] = "Nov";
        MonthList[11] = "Dec";
        $.ajax({
            type: "POST",
            url: '@Url.Action("UserTransaction", "Home")',
            data: {
                Year: $('#year').val(),
                Month: $('#month').val(),
                Week: $('#week').val(),
                user_id: @Model.objUserMasterModel.user_id,
            },
            dataType: "json",
            success: function (data) {
                $("#divCurrentBalance").hide();
                var temp = [];
                var chartType = null;
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        var model = {};
                        if (data[i].chartType == "Week") {
                            var chartType = "Week";
                            var date = data[i].x;
                            var d = new Date(date.split("/").reverse().join("-"));
                            var dd = d.getDate();
                            var mm = d.getMonth() + 1;
                            var yy = d.getFullYear();
                            var newdate = yy + "-" + mm + "-" + dd;
                            model = { period: newdate, park1: data[i].y }
                            temp.push(model);
                        }
                        else if (data[i].chartType == "Month") {
                            var chartType = "Month";
                            var date = data[i].x;
                            var d = new Date(date.split("/").reverse().join("-"));
                            var dd = d.getDate();
                            var mm = d.getMonth() + 1;
                            var yy = d.getFullYear();
                            var newdate = yy + "-" + mm + "-" + dd;
                            model = { period: newdate, park1: data[i].y }
                            temp.push(model);
                        }
                        else if (data[i].chartType == "Year") {

                            var chartType = "Year";
                            var date = data[i].x;
                            var d = new Date(date.split("/").reverse().join("-"));
                            var dd = d.getDate();
                            var mm = d.getMonth() + 1;
                            var yy = d.getFullYear();
                            var newdate = yy + "-" + mm;
                            model = { period: newdate, park1: data[i].y }
                            temp.push(model);
                        }
                    }
                    if (chartType == "Week") {
                        var line = new Morris.Line({
                            element: 'line-chart-payment',
                            resize: true,
                            data: temp,
                            xkey: 'period',
                            ykeys: ['park1'],
                            labels: ['Value'],
                            lineColors: ['#3c8dbc'],
                            hideHover: 'auto',
                            xLabels: 'day',
                            xLabelAngle: 45,
                            xLabelFormat: function (d) {
                                return d.getDate() + ' ' +
              (MonthList[d.getMonth()]);
                            },
                        });
                    }
                    else if (chartType == "Month") {
                        var line = new Morris.Line({
                            element: 'line-chart-payment',
                            resize: true,
                            data: temp,
                            xkey: 'period',
                            ykeys: ['park1'],
                            labels: ['Value'],
                            lineColors: ['#3c8dbc'],
                            hideHover: 'auto',
                            xLabels: 'day',
                            xLabelAngle: 45,
                            xLabelFormat: function (d) {
                                return d.getDate() + ' ' +
                                       (MonthList[d.getMonth()]);
                            },
                        });
                    }
                    else if (chartType == "Year") {
                        var Line = Morris.Line({
                            element: 'line-chart-payment',
                            data: temp,
                            xkey: 'period',
                            ykeys: ['park1'],
                            labels: ['Value'],
                            xLabelAngle: 45,
                            xLabelFormat: function (x) { // <--- x.getMonth() returns valid index
                                var month = MonthList[x.getMonth()];
                                return month;
                            },
                            dateFormat: function (x) {
                                var month = MonthList[new Date(x).getMonth()];
                                return month;
                            },
                        });
                    }
                }
                else {
                    var model = {};
                    model = { period: new Date().toJSON().slice(0, 10).replace(/-/g, '/'), park1: 0 }
                    temp.push(model);
                    var line = new Morris.Line({
                        element: 'line-chart-payment',
                        resize: true,
                        data: temp,
                        xkey: 'period',
                        ykeys: ['park1'],
                        labels: ['Value'],
                        lineColors: ['#3c8dbc'],
                        hideHover: 'always'
                    });
                }
            },
            error: function (result) {
                $("#divCurrentBalance").hide();
            }
        });
    }
</script>

<script type="text/javascript">
    var pageLimit = '@PageLimit';

    $(document).ready(function () {
        $('#sub_date').val('');
        $('#pay_date').val('');

        var modelData = @Html.Raw(Json.Encode(Model))
        //Bind with initial data
        $('#grid_sub_history').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            // selectable: "row",//""multiple row"",
            filterable: true,
            //, dataSource: { data: modelData, pageSize: 10 }
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Subscription_Read", "User"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
        [
        //{ title: "<input type='checkbox' id='chkSelectAll' onclick='SelectAll();'/>", width: 30, template: "<input type='checkbox' class='checkbox'   id='#=subscription_id#' ", attributes: { style: "font-size:14px; " } },
        { field: "user_subscription_id", title: "Subscription Id",template: '# if(user_subscription_id) {#  USER_SUB_#=user_subscription_id# #} else {# - #} #', filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
        { field: "transection_id", title: "Transaction Id", template: '# if(transection_id) {# #=transection_id# #} else {# - #} #',filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
        { field: "transection_date_string", title: "Subscription Date", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
        { field: "price_per_month", title: "Subscription Fee(PM)", format: "{0:c}", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
        { field: "start_date_string", title: "Start Date", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
        { field: "end_date_string", title: "End Date", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } }
        ]
        });

        $('#btn_sub_Search').on("click", function (e) {
            var grid_sub_history = $('#grid_sub_history').data('kendoGrid');
            grid_sub_history.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                start_date:  $('#sub_date').val(),
                //start_date: $('#start_date').val(),
                end_date: $('#end_date').val(),
                user_id: @Model.objUserMasterModel.user_id,
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        $('#btn_sub_clear').click(function() {
            $('#sub_date').val('');
            var grid_sub_history = $('#grid_sub_history').data('kendoGrid');
            grid_sub_history.dataSource.page(1); //new search. Set page size to 1
            return false;
        });


        $('#grid_pay_history').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            // selectable: "row",//""multiple row"",
            filterable: true,
            //, dataSource: { data: modelData, pageSize: 10 }
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Subscription_Read", "User"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData1
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
            [
                { field: "transection_id", title: "Transaction Id", template: '# if(transection_id) {# #=transection_id# #} else {# - #} #',filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                { field: "transection_date_string", title: "Transaction Date", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                { field: "price_per_month", title: "Transaction Amount", format: "{0:c}", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                { field: "subscription_id", title: "Transaction For",template: '# if(subscription_id) {#  SUB_#=subscription_id# #} else {# - #} #', filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                { field: "Status_string", title: "Status", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                { field: "promo_code", title: "Promo Code(Amount)", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } }
            ]
        });

        $('#btn_pay_Search').on("click", function (e) {
            var grid_pay_history = $('#grid_pay_history').data('kendoGrid');
            grid_pay_history.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData1() {

            var data = {
                start_date:  $('#pay_date').val(),
                end_date: $('#pay_end_date').val(),
                user_id: @Model.objUserMasterModel.user_id,
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }

        $('#btn_pay_clear').click(function() {
            $('#pay_date').val('');
            var grid_pay_history = $('#grid_pay_history').data('kendoGrid');
            grid_pay_history.dataSource.page(1); //new search. Set page size to 1
            return false;
        });

        if ($('#mm').val() != null) {
            toastr.success($('#mm').val());
        }
    });
</script>
@*Subscription date change*@
<script>
    $("#divChallengeAddSub").change(function () {
        if ($("#divChallengeAddSub option:selected").val() == "C") {
            $("#divDemoAddSub").hide();
            $("#divDemoAddChl").show();
        }
        else if ($("#divChallengeAddSub option:selected").val() == "D") {
            $("#divDemoAddSub").show();
            $("#divDemoAddChl").hide();
        }
    });
</script>
@*Add Subscription*@
<script>
    var PaypalModel = {
        subscription_mode: $("#divChallengeAddSub option:selected").val(),
        user_id: @Model.objUserMasterModel.user_id,
        subscription_start_date: '@Model.objAccountInfoModel.subscription_start_date',
        subscription_end_date: '@Model.objAccountInfoModel.subscription_end_date',
    };
    $("#btnAddSubscription").click(function () {
         $.ajax({
                type: "POST",
                url: '@Url.Action("AddSubscriptionAdminPanel", "Common", new { area = "admin" })',
                data: {
                    objPaypalModel: PaypalModel
                },
                success: function (result) {
                    if (result.success == true) {
                        $("#modal-add-sub").modal('hide');
                        toastr.success('Subscription has been added');
                        $("#grid_sub_history").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $("#modal-add-sub").modal('hide');
                        toastr.warning('Something went wrong');
                        $("#grid_sub_history").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
    });
</script>