.wizard > .steps li a:before {
    content: "";
    width: 100%;
    /*height: 5px;
    background: #e9e9e9;*/
    position: absolute;
    left: -50%;
    top: 30px;
    border: 2px dashed #e9e9e9;
}
.wizard > .steps li a:after {
    content: "";
    width: 0;
    /*height: 5px;
    background: #0033a1;*/
    position: absolute;
    left: -50%;
    top: 30px;
    border: 2px solid #0033a1;
    transition: all 0.6s ease;
    margin-left: -10px;
}
.wizard > .steps li.first a {
    background: transparent;
}
.wizard > .steps li.checked a {
    background: transparent;
}
.wizard > .steps li.checked a:after {
    width: 100%;
}
.wizard > .steps li:last-child a {
    margin-right: 0;
}
.wizard > .steps li:first-child a:before {
    display: none;
}
.wizard > .steps li:first-child a:after {
    display: none;
}
.wizard,
.tabcontrol {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 50px auto 0;
}
    .wizard a,
    .tabcontrol a {
        outline: 0;
    }

    .wizard ul,
    .tabcontrol ul {
        list-style: none !important;
        padding: 0;
        margin: 0;
    }

        .wizard ul > li,
        .tabcontrol ul > li {
            display: block;
            padding: 0;
        }
    /* Accessibility */
    .wizard > .steps .current-info,
    .tabcontrol > .steps .current-info {
        position: absolute;
        left: -999em;
    }

    .wizard > .content > .title,
    .tabcontrol > .content > .title {
        position: absolute;
        left: -999em;
    }
    .wizard > .steps {
        position: relative;
        display: block;
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .wizard.vertical > .steps {
        display: inline;
        float: left;
        width: 30%;
    }

    .wizard > .steps .number {
        background: #e9e9e9;
        width: 75px;
        line-height: 60px;
        display: block;
        color: rgb(51, 51, 51);
        border-radius: 13px;
        margin: 0 auto;
        position: relative;
        z-index: 9;
        font-size: 35px;
    }

    .wizard > .steps .checked .number,
    .wizard > .steps .current .number {
        background: #0033a1;
        color: #fff;
    }

    .wizard > .steps > ul > li {
        width: 32%;
    }

    .wizard > .steps > ul > li,
    .wizard > .actions > ul > li {
        float: left;
    }

    .wizard > .actions > ul > li {
        float: right !important;
    }

    .wizard > .actions > ul > li:first-child {
        float: left !important;
    }

    .wizard > .actions > ul > li:last-child {
        visibility: hidden !important;
    }

    .wizard.vertical > .steps > ul > li {
        float: none;
        width: 100%;
    }

    .wizard > .steps a,
    .wizard > .steps a:hover,
    .wizard > .steps a:active {
        display: block;
        width: auto;
        margin: 0 auto;
        text-decoration: none;
        border-radius: 13px;
        position: relative;
        text-align: center;
        font-size: 25px;
        color: rgb(51, 51, 51);
    }

    .wizard > .steps .disabled a,
    .wizard > .steps .disabled a:hover,
    .wizard > .steps .disabled a:active {
        background: #eee;
        color: #aaa;
        cursor: default;
    }

    .wizard > .steps .current a,
    .wizard > .steps .current a:hover,
    .wizard > .steps .current a:active {
        background: transparent;
        color: #fff;
        cursor: default;
        color: rgb(51, 51, 51);
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
    }

    .wizard > .steps .done a,
    .wizard > .steps .done a:hover,
    .wizard > .steps .done a:active {
        background: transparent;
        color: rgb(51, 51, 51);
    }

    .wizard > .steps .error a,
    .wizard > .steps .error a:hover,
    .wizard > .steps .error a:active {
        background: #ff3111;
        color: #fff;
    }

    .wizard > .content {
        background: #e9e9e9;
        border: 0 none;
        border-radius: 3px;
        box-shadow: 0 17px 41px -21px rgb(0, 0, 0);
        padding: 20px 30px;
        border-top: 9px solid #0033A1;
        box-sizing: border-box;
        /* width: 80%; */
        margin: 0 10% 35px;
        position: relative;
    }

    .wizard.vertical > .content {
        display: inline;
        float: left;
        margin: 0 2.5% 0.5em 2.5%;
        width: 65%;
    }

    .wizard > .content > .body {
        float: left;
        /*position: absolute;*/
        width: 100%;
        /*height: 95%;*/
        padding: 0 2.5% 2.5% 2.5%;
    }

    .wizard > .content > .body ul {
        list-style: disc !important;
    }

    .wizard > .content > .body ul > li {
        display: list-item;
    }

    .wizard > .content > .body > iframe {
        border: 0 none;
        width: 100%;
        height: 100%;
    }

    .wizard > .content > .body input {
        display: block;
        border: 1px solid #ccc;
    }

    .wizard > .content > .body input[type="checkbox"] {
        display: inline-block;
    }

    .wizard > .content > .body input.error {
        background: rgb(251, 227, 228);
        border: 1px solid #fbc2c4;
        color: #8a1f11;
    }

    .wizard > .content > .body label {
        display: inline-block;
        margin-bottom: 0.5em;
    }

    .wizard > .content > .body label.error {
        color: #8a1f11;
        display: inline-block;
        margin-left: 1.5em;
    }

    /*.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: auto;
    margin: 0 10%;
    background-color: #e9e9e9;
    box-shadow: 0 17px 41px -21px rgb(0, 0, 0);
    margin-bottom: 35px;
    padding: 0 30px 20px;
        }*/
    .wizard > .actions {
        position: relative;
        /*display: block;
    text-align: right;*/
        width: auto;
        margin: 0 10%;
        /*background-color: #e9e9e9;*/
        box-shadow: 0px 19px 41px -21px rgb(0, 0, 0);
        margin-bottom: 0px;
        padding: 0 30px 0px;
        /*margin-top: 0px;
    float: left;
    width: 100%;*/
        top: -122px;
        /*z-index: -1;*/
        height: 0px;
    }



    .wizard.vertical > .actions {
        display: inline;
        float: right;
        margin: 0 2.5%;
        width: 95%;
    }

    .wizard > .actions > ul > li.disabled {
        display: none;
    }

    .wizard > .actions > ul {
        display: block;
    }

        .wizard > .actions > ul > li {
            margin: 0 0.5em;
        }

    .wizard.vertical > .actions > ul > li {
        margin: 0 0 0 1em;
    }

    .wizard > .actions a,
    .wizard > .actions a:hover,
    .wizard > .actions a:active {
        background: #0033A1;
        color: #fff;
        display: block;
        padding: 10px 5px;
        text-decoration: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 3px;
        width: 100px;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
    }

    .wizard > .actions .disabled a,
    .wizard > .actions .disabled a:hover,
    .wizard > .actions .disabled a:active {
        background: #0033A1;
        color: #fff;
    }

.custom-wizard-new .custom-width {
    width: 400px;
}

    .custom-wizard-new .custom-width.custom-width-last-box {
        width: 600px;
    }

.custom-wizard-new table tbody tr td {
    padding: 8px 0px;
}

.custom-wizard-new .custom-width .first-padding {
    padding-top: 20px;
    padding-bottom: 6px !important;
}

.custom-wizard-new .custom-width .last-padding {
    padding-bottom: 22px;
}


.wizard > .loading {
}

    .wizard > .loading .spinner {
    }

.wizard > .steps > ul > li {
    border: 3px solid #0033a1;
    border-radius: 15px;
    height: 150px;
}

.wizard > .steps .number {
    margin-top: 30px !important;
}

.wizard > .steps > ul > li:nth-child(1) {
    border-right: none !important;
    border-radius: 15px 0 0 15px !important;
}

.wizard > .steps > ul > li:nth-child(2) {
    border-left: none !important;
    border-radius: 0 15px 15px 0px !important;
}

.wizard > .steps > ul > li:last-child {
    margin-left: 30px;
    border: 3px solid #6cbc35 !important;
}

.wizard-sub-title {
    top: -233px;
    z-index: 10;
    position: relative;
    background: #fff;
    display: inline-block;
    right: -126px;
    padding: 0px 20px;
    color: #0033a1;
    font-size: 23px;
}

.wizard-sub-title-last {
    top: -233px;
    z-index: 10;
    position: relative;
    background: #fff;
    display: inline-block;
    right: -371px;
    padding: 0px 20px;
    color: #6cbc35;
    font-size: 23px;
}


@media (max-width: 1200px) {

    .wizard > .content {
        margin: 0 0%;
    }

    .wizard > .actions {
        margin: 0 0%;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 20px !important;
    }

    .wizard-sub-title {
        right: -150px;
    }

    .wizard-sub-title-last {
        right: -372px;
    }
}

@media (max-width: 992px) {


    .wizard > .steps > ul > li:last-child {
        margin-left: 20px !important;
    }

    .wizard-sub-title {
        right: -76px;
    }

    .wizard-sub-title-last {
        right: -210px;
    }
}

@media (max-width: 767px) {
    .wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
        font-size: 15px;
    }

    .wizard > .steps .number {
        width: 50px;
        line-height: 48px;
        font-size: 26px;
    }

    .wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
        font-size: 15px;
    }

    .wizard > .steps li a:before {
        top: 23px;
    }

    .wizard > .steps li a:after {
        top: 23px;
    }

    .wizard > .content {
        margin: 0 0% !important;
    }

    /*.wizard > .actions {
        margin: 0 0% 35px !important;
    }*/
    .wizard > .actions {
        margin: 0 5% 35px;
        height: auto;
        top: 0;
        background-color: #e9e9e9;
        box-shadow: 0px 19px 41px -21px rgb(0, 0, 0);
        padding: 0 30px 30px;
    }

    .custom-wizard-new .custom-width.custom-width-last-box {
        width: 100% !important;
    }

    .wizard > .steps > ul > li {
        height: 115px;
    }

    .wizard-sub-title {
        top: -196px;
        right: -95px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -280px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard > .steps .number {
        margin-top: 20px !important;
    }
}

@media (max-width: 700px) {

    .wizard-sub-title {
        top: -196px;
        right: -60px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -223px;
        font-size: 16px;
        padding: 0px 10px;
    }
}

@media (max-width: 600px) {
    .custom-wizard-new .custom-width {
        width: 100% !important;
    }

    .wizard-sub-title {
        top: -196px;
        right: -60px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -198px;
        font-size: 16px;
        padding: 0px 10px;
    }
}

@media (max-width: 580px) {
    .custom-wizard-new .custom-width {
        width: 100% !important;
    }

    .wizard-sub-title {
        top: -196px;
        right: -60px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -178px;
        font-size: 16px;
        padding: 0px 10px;
    }
}

@media (max-width: 560px) {
    .custom-wizard-new .custom-width {
        width: 100% !important;
    }

    .wizard-sub-title {
        top: -196px;
        right: -60px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -178px;
        font-size: 16px;
        padding: 0px 10px;
    }
}

@media (max-width: 540px) {
    .custom-wizard-new .custom-width {
        width: 100% !important;
    }

    .wizard-sub-title {
        top: -196px;
        right: -60px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -140px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 10px !important;
    }
}

@media (max-width: 520px) {
    .custom-wizard-new .custom-width {
        width: 100% !important;
    }

    .wizard-sub-title {
        top: -196px;
        right: -60px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -126px;
        font-size: 16px;
        padding: 0px 10px !important;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .custom-wizard-new table tbody tr td {
        font-size: 13px !important;
        padding: 8px 3px !important;
        /* border: 1px solid #ddd; */
        white-space: nowrap;
    }

    .wizard-sub-title {
        top: -196px;
        right: -10px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -73px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 10px !important;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 10px !important;
    }
}



@media (max-width: 420px) {

    .wizard > .steps > ul > li {
        height: 115px;
    }

    .wizard-sub-title {
        top: -194px;
        right: -10px;
        font-size: 16px;
        padding: 0px 10px;
    }



    .wizard > .steps .number {
        margin-top: 20px !important;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 10px !important;
    }

    .wizard-sub-title-last {
        top: -194px;
        right: -46px;
        font-size: 16px;
        padding: 0px 7px;
    }
}

@media (max-width: 380px) {

    .wizard > .steps > ul > li {
        height: 115px;
    }

    .wizard-sub-title {
        top: -194px;
        right: -5px;
        font-size: 14px;
        padding: 0px 5px;
    }

    .wizard-sub-title-last {
        top: -194px;
        right: -32px;
        font-size: 14px;
        padding: 0px 5px;
    }

    .wizard > .steps .number {
        margin-top: 20px !important;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 10px !important;
    }

    .custom-wizard-new .custom-width {
        width: 100% !important;
    }

    .wizard > .actions a {
        width: 100% !important;
        margin-bottom: 8px;
    }

    .wizard > .actions > ul > li:first-child {
        float: none !important;
    }

    .wizard > .actions > ul > li {
        float: none !important;
    }

    .wizard > .content {
        margin: 0 2%;
        padding: 20px 15px;
    }

    .wizard > .actions {
        margin: 0 2%;
    }

        .wizard > .actions .wizard > .content {
            margin: 0 2%;
            padding: 0 15px 20px;
        }

    .wizard > .steps a {
        font-size: 13px !important;
    }
}

@media (max-width: 320px) {

    .wizard > .steps > ul > li {
        height: 115px;
    }

    .wizard-sub-title {
        top: -196px;
        right: -5px;
        font-size: 14px;
        padding: 0px 3px;
    }

    .wizard-sub-title-last {
        top: -196px;
        right: -35px;
        font-size: 14px;
        padding: 0px 3px;
    }

    .wizard > .steps .number {
        margin-top: 20px !important;
    }

    .wizard > .steps > ul > li:last-child {
        margin-left: 10px !important;
    }
}
