﻿@model Traderdock.Entity.ViewModel.PromoCodeModel

@{
    ViewBag.Title = "AddEditPromoCode";
    ViewBag.SubMenu = "promocode";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}

<section class="content-header">
    <h1>
        PromoCode
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">PromoCode</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                @if (Model.promo_code_id > 0)
                {
                    <h3 class="box-title">Edit Promo Code</h3>
                }
                else
                {
                    <h3 class="box-title">Add Promo Code</h3>
                }
            </div>
            <!-- form start -->

            @using (Html.BeginForm("AddEditPromoCode", "PromoCode", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>

                    <!-- Date: 30-June-2017, Description: Added new field for subscription name -->
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @*@Html.LabelFor(m => m.subscription_name, new { @class = "col-sm-2 control-label" })<em> *</em>*@
                            @Html.LabelFor(m => m.promo_code)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                @Html.TextBoxFor(m => m.promo_code, new { @class = "form-control", @placeholder = "", onpaste = "return false;"  ,@onblur = "return ChangePromocode();" })
                                @Html.ValidationMessageFor(model => model.promo_code, "", new { @style = "color:red" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @Html.LabelFor(m => m.promo_code_desc)<em> </em>
                        </div>
                        <div class="col-sm-4">
                            <div>
                                @Html.TextAreaFor(m => m.promo_code_desc, new { @class = "form-control", @placeholder = "", onpaste = "return false;" })
                                @Html.ValidationMessageFor(model => model.promo_code_desc, "", new { @style = "color:red" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @*                            @Html.LabelFor(m => m.starting_balance, new { @class = "col-sm-2 control-label" })<em> *</em>*@
                            @Html.LabelFor(m => m.promo_code_from_date)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.promo_code_from_date, new { @class = "form-control datepicker", autocomplete = "off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.promo_code_from_date, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.promo_code_id)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @*@Html.LabelFor(m => m.max_position_size, new { @class = "col-sm-2 control-label" })<em> *</em>*@
                            @Html.LabelFor(m => m.promo_code_to_date)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                @Html.TextBoxFor(model => model.promo_code_to_date, new { @class = "form-control datepicker", autocomplete = "off" })
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.promo_code_to_date, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">
                            @*@Html.LabelFor(m => m.daily_loss_limit, new { @class = "col-sm-2 control-label" })<em> *</em>*@
                            @Html.LabelFor(m => m.reward_amount)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.reward_amount, new { @class = "form-control number", @placeholder = "",  onpaste = "return false;" })
                            @Html.ValidationMessageFor(model => model.reward_amount, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
   
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type="text/javascript">
    function fnCancel() {
        window.location.href = '@Url.Action("index", "promocode")';
    }

    function isNumberKey(evt) {
        alert();
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (!(charCode >= 48 && charCode <= 57) && (charCode != 46)) {
            return false;
        }

        //if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
        //    return false;
        return true;
        //var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
        //    return false;
        //return true;
    }
    function ChangePromocode() {
        var url = window.location.href.toString();
        var index = url.toUpperCase().indexOf('ADMIN');
        var siteurl = url.substring(0, index) + 'admin/promocode/CheckUserEmailExists';
        $.ajax({
            type: "POST",
            url: siteurl,
            data: { promocode: $("#promo_code").val(), id: $("#promo_code_id").val() },
            success: function (result) {
                if (result) {
                    $("#errormsg").text("Promo Code already exist.");
                    $("#errormsg").css("display", "block");
                    $("#btnSave").attr("disabled", true);
                }
                else {
                    $("#errormsg").css("display", "none");
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    }

    $("document").ready(function () {
        //$("#user_email").onb(function () {
        //    alert("Email Check");
        //    ChangeUserEmail();
        //});
        //$("#user_name").keyup(function () {
        //    alert("User Name Check");
        //    ChangeUserName();
        //});
        $('.number').keypress(function (event) {
        
            if (event.which != 46 && (event.which < 47 || event.which > 59)) {
                event.preventDefault();
                if ((event.which == 46) && ($(this).indexOf('.') != -1)) {
                    event.preventDefault();
                }
            }
        });
        var DatFm = 'dd-mm-yyyy';
        $(".datepicker").datepicker({
            format: DatFm,
            autoclose: true,
            todayBtn: 'linked'
        });

        $('#btnSave').on("click", function (e) {
            var frm = $('#promo_code_from_date').val();
            var to = $('#promo_code_to_date').val();
            var fromdate = frm.split('-');
            var todate = to.split('-');
            var StartDate = fromdate[1] + "-" + fromdate[0] + "-" + fromdate[2];
            var EndDate = todate[1] + "-" + todate[0] + "-" + todate[2];
            var eDate = new Date(EndDate);
            var sDate = new Date(StartDate);

             if (StartDate != '' && StartDate != '' && sDate > eDate) {
                toastr.warning('Please ensure that the End Date is greater than or equal to the From Date');
                return false;
            }            
           // return false;
        });
    });
</script>