<title></title>
<style type="text/css">@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic&subset=latin,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic");
</style>
<div style="background-color: #f2f4f4;display: block;padding: 30px;">
<div class="wrapper" style="width:600px;margin:0px auto;background-color: #FFF;font-family: 'Open Sans', sans-serif;color: #393e4a;font-size: 14px;font-weight: 400;line-height: 1.82857143;-webkit-font-smoothing: antialiased;">
<div class="header" style="padding:26px 20px;text-align:center;border-bottom: 1px solid #e4e6ea;"><a href="http://traderdock.com"><img alt="logo" download="false" src="http://traderdock.com/Content/front/dist/img/traderdock-logo-green.png" style="vertical-align: middle;" /></a></div>

<div class="content" style="padding: 25px 20px;">
<div>
<p style="font-weight: 600;font-size: 18px;margin-bottom: 0px;margin-top: 0px;color: #071113;">Hi <strong>Admin</strong>,</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Following payment received through IPN system.</p>

<p style="margin-top: 10px;margin-bottom: 0px;"><strong>User Name:</strong>&nbsp;&nbsp;<strong>%%FULLNAME%%</strong></p>
&nbsp;

<p style="margin-top: 10px;margin-bottom: 0px;"><strong>User Email:</strong>&nbsp;&nbsp;<strong>%%EMAIL%%</strong></p>
&nbsp;

<p style="margin-top: 10px;margin-bottom: 0px;"><strong>Amount:</strong>&nbsp;&nbsp;<strong>%%AMOUNT%%</strong></p>
&nbsp;

<p style="margin-top: 10px;margin-bottom: 0px;">Thank you for registering with us.</p>

<p>Trade well,</p>

<p>Traderdock Team&nbsp;</p>

<p><sub>Note: This is a system generated </sub><sub>email</sub><sub>. Please do not reply.</sub></p>
</div>
</div>

<div class="footer" style="padding:11px 20px;text-align:center;background:#111a21;">
<p style="color:#bfbfbf;margin:0px;margin-top:0px;">&copy; COPYRIGHT TRADERDOCK 2017&nbsp;ALL RIGHTS RESERVED</p>
</div>
</div>
</div>
