<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<style type="text/css">@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic&subset=latin,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic");
</style>
<div style="background-color: #f2f4f4;display: block;padding: 30px;">
<div class="wrapper" style="width:600px;margin:0px auto;background-color: #FFF;font-family: 'Open Sans', sans-serif;color: #393e4a;font-size: 14px;font-weight: 400;line-height: 1.82857143;-webkit-font-smoothing: antialiased;">
<div class="header" style="padding:26px 20px;text-align:center;border-bottom: 1px solid #e4e6ea;"><img alt="" src="http://traderdock.com/faqmedia/TraderDock_logo.jpg" style="width: 300px; height: 24px;" /></div>

<div>
<p>Hi %%FULLNAME%%,</p>

<p><a href="%%LINK%%?e=%%EMAIL%%&amp;&amp;k=%%KEY%%" target="blank">Click Here To Generate New Password</a>.</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Trade well,</p>

<p>The Traderdock Team&nbsp;</p>

<p><sub>Note: This is a system generated </sub><sub>email</sub><sub>. Please do not reply.</sub></p>
</div>

<div class="footer" style="padding:11px 20px;text-align:center;background:#033698;">
<p style="color:#bfbfbf;margin:0px;margin-top:0px;">&copy; COPYRIGHT TRADERDOCK 2016 ALL RIGHTS RESERVED</p>
</div>
</div>
</div>
