<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<style type="text/css">@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic&subset=latin,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic");
</style>
<div style="background-color: #f2f4f4;display: block;padding: 30px;">
<div class="wrapper" style="width:600px;margin:0px auto;background-color: #FFF;font-family: 'Open Sans', sans-serif;color: #393e4a;font-size: 14px;font-weight: 400;line-height: 1.82857143;-webkit-font-smoothing: antialiased;">
<div class="header" style="padding:26px 20px;text-align:center;border-bottom: 1px solid #e4e6ea;"><img alt="" src="http://traderdock.com/faqmedia/TraderDock_logo.jpg" style="width: 300px; height: 24px;" /></div>

<div class="content" style="padding: 25px 20px;">
<p style="font-weight: 600;font-size: 18px;margin-bottom: 0px;margin-top: 0px;color: #071113;">Hi <strong>%%FULLNAME%%</strong>,</p>

<p style="margin-top: 10px;margin-bottom: 0px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Your Traderdock account has been reset&nbsp;successfully. This means that you are starting as if it is a new subscription. Your account balance, your P&amp;L Highs and Lows and all of the other trading statistics have been archived and you are now starting again with a clean slate, fully eligible to achieve a financially backed trading account from our partners.&nbsp;</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Hit your profit target, avoid loss limits and earn your fully backed trading account.</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Note: To view your archived trading statistics, just click on the &quot;Previous&quot; button above the Net P&amp;L graph on the TraderDock Dashboard.&nbsp;</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Happy Trading,</p>

<p>The Traderdock Team&nbsp;</p>

<p><sub>Note: This is a system generated </sub><sub>email</sub><sub>. Please do not reply.</sub></p>
</div>

<div class="footer" style="padding:11px 20px;text-align:center;background:#033698;">
<p style="color:#bfbfbf;margin:0px;margin-top:0px;">&copy; COPYRIGHT TRADERDOCK 2017&nbsp;ALL RIGHTS RESERVED</p>
</div>
</div>
</div>
