<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<style type="text/css">@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic&subset=latin,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic");
</style>
<div style="background-color: #f2f4f4;display: block;padding: 30px;">
<div class="wrapper" style="width:600px;margin:0px auto;background-color: #FFF;font-family: 'Open Sans', sans-serif;color: #393e4a;font-size: 14px;font-weight: 400;line-height: 1.82857143;-webkit-font-smoothing: antialiased;">
<div class="header" style="padding:26px 20px;text-align:center;border-bottom: 1px solid #e4e6ea;"><img alt="" src="http://traderdock.com/faqmedia/TraderDock_logo.jpg" style="width: 300px; height: 24px;" /></div>

<div class="content" style="padding: 25px 20px;">
<p style="font-weight: 600;font-size: 18px;margin-bottom: 0px;margin-top: 0px;color: #071113;">Hi <strong>%%FULLNAME%%</strong>,</p>

<p style="margin-top: 10px;margin-bottom: 0px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Your have requested an account reset. Our support team will carry out that request for you and will be in touch again once it is ready to trade.&nbsp;</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Please note that since you have broken a trading risk rule, we recommend that you stop trading for this session, review your trades and re-engineer your trading plan to avoid making the same mistake again. It is well-known that if you journal your actions as well as your feelings during the trading session that led to the risk rule break, it is far less likely to happen again.&nbsp;</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Let us know if we can be of any assistance.</p>

<p style="margin-top: 10px;margin-bottom: 0px;">&nbsp;</p>

<p style="margin-top: 10px;margin-bottom: 0px;"><strong>Reset for Profile username:</strong>&nbsp;&nbsp;<strong>%%EMAIL%%</strong></p>
<br />
Happy Trading
<p>Traderdock Team&nbsp;</p>

<p>&nbsp;</p>
</div>

<div class="footer" style="padding:11px 20px;text-align:center;background:#033698;">
<p style="color:#bfbfbf;margin:0px;margin-top:0px;">&copy; COPYRIGHT TRADERDOCK 2018&nbsp;ALL RIGHTS RESERVED</p>
</div>
</div>
</div>
