<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<style type="text/css">@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic&subset=latin,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic");
</style>
<div style="background-color: #f2f4f4;display: block;padding: 30px;">
<div class="wrapper" style="width: 600px; margin: 0px auto; background-color: rgb(255, 255, 255); font-family: &quot;Open Sans&quot;, sans-serif; color: rgb(57, 62, 74); font-size: 14px; line-height: 1.82857; -webkit-font-smoothing: antialiased;">
<div class="header" style="font-weight: 400; padding: 26px 20px; text-align: center; border-bottom: 1px solid rgb(228, 230, 234);"><img alt="" src="http://traderdock.com/faqmedia/TraderDock_logo.jpg" style="width: 300px; height: 24px;" /></div>

<div class="content" style="padding: 25px 20px;">
<div style="">
<p style="font-size: 18px; margin-bottom: 0px; margin-top: 0px; color: rgb(7, 17, 19);"><span style="font-weight: 600;">Hi </span><b>Support Team,</b></p>

<p style="font-weight: 400; margin-top: 10px; margin-bottom: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please Reset the account information for the following subscription:</p>

<p style="font-weight: 400; margin-top: 10px; margin-bottom: 0px;"><strong>Profile Email:</strong>&nbsp;&nbsp;<strong>%%EMAIL%%</strong></p>

<p style="font-weight: 400; margin-top: 10px; margin-bottom: 0px;"><strong>Full Name:</strong>&nbsp;&nbsp;<strong>%%FULLNAME%%</strong></p>

<p style="font-weight: 400; margin-top: 10px; margin-bottom: 0px;"><strong>Account Number:</strong>&nbsp;&nbsp;<strong>%%ACCOUNTNUMBER%%</strong></p>
&nbsp;

<p style="font-weight: 400; margin-top: 10px; margin-bottom: 0px;">Thank you!</p>

<p style="font-weight: 400;">The Traderdock Team&nbsp;</p>

<p style="font-weight: 400;"><sub>Note: This is a system generated </sub><sub>email</sub><sub>. Please do not reply.</sub></p>
</div>
</div>

<div class="footer" style="font-weight: 400; padding: 11px 20px; text-align: center; background:#033698;">
<p style="color:#bfbfbf;margin:0px;margin-top:0px;">&copy; COPYRIGHT TRADERDOCK 2017&nbsp;ALL RIGHTS RESERVED</p>
</div>
</div>
</div>
