<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<style type="text/css">@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic&subset=latin,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic");
</style>
<div style="background-color: #f2f4f4;display: block;padding: 30px;">
<div class="wrapper" style="width:600px;margin:0px auto;background-color: #FFF;font-family: 'Open Sans', sans-serif;color: #393e4a;font-size: 14px;font-weight: 400;line-height: 1.82857143;-webkit-font-smoothing: antialiased;">
<div class="header" style="padding:26px 20px;text-align:center;border-bottom: 1px solid #e4e6ea;"><img alt="" src="http://traderdock.com/faqmedia/TraderDock_logo.jpg" style="width: 300px; height: 24px;" /></div>

<div class="content" style="padding: 25px 20px;">
<p style="font-weight: 600;font-size: 18px;margin-bottom: 0px;margin-top: 0px;color: #071113;">Hi %%FULLNAME%%,</p>

<p style="margin-top: 10px;margin-bottom: 0px;">Your TraderDock&nbsp;account&nbsp;is now ready to trade.</p>

<h4>The Login Credentials for RTrader Pro are:</h4>

<h4><strong>username:</strong>&nbsp;&nbsp;<strong>%%EMAIL%%</strong></h4>

<p style="margin-top: 10px;margin-bottom: 0px;"><strong>password:</strong>&nbsp;&nbsp;<strong>%%PASSWORD%%</strong></p>

<p style="margin-top: 10px;margin-bottom: 0px;">&nbsp;</p>

<p style="margin-top: 10px;margin-bottom: 0px;">These same login credentials will allow you to&nbsp;review your trading performance statistics in the TraderDock Dashboard&nbsp;at the end of each trading day. If you have chosen the TraderDock Trial, you can trial the platform for up to 14 days but when you feel you are ready, hit&nbsp;the Start Trading Challenge button on your TraderDock Dashboard. From that point forward our team will monitor your trading performance to see if you have the skills to become a consistently profiatble trader.</p>

<h4>If you haven&#39;t already done so, please download and log into RTrader Pro now using the above credentials.</h4>

<p>Need the Rithmic download link? You&#39;ll find it on your <a href="http://traderdock.com/account/login">TraderDock Dashboard</a> or use the link below:</p>

<p><a href="https://rithmic.com/rtraderpro.msi">RTrader Pro Download Link</a></p>

<p>Need help connecting?</p>

<p>Visit our <a href="http://traderdock.com/faq/view/14">FAQ Page</a> and follow the instructions in the Getting Started section.</p>

<p>Trade well,</p>

<p>The Traderdock Team&nbsp;</p>
</div>

<div class="footer" style="padding:11px 20px;text-align:center;background:#033698;">
<p style="color:#bfbfbf;margin:0px;margin-top:0px;">&copy; COPYRIGHT TRADERDOCK 2018&nbsp;ALL RIGHTS RESERVED</p>
</div>
</div>
</div>
