<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<style type="text/css">@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300,300italic&subset=latin,greek,vietnamese,cyrillic-ext,latin-ext,cyrillic");
</style>
<div style="background-color: #f2f4f4;display: block;padding: 30px;">
<div class="wrapper" style="width:600px;margin:0px auto;background-color: #FFF;font-family: 'Open Sans', sans-serif;color: #393e4a;font-size: 14px;font-weight: 400;line-height: 1.82857143;-webkit-font-smoothing: antialiased;">
<div class="header" style="padding:26px 20px;text-align:center;border-bottom: 1px solid #e4e6ea;"><a href="http://traderdock.com"><img alt="logo" download="false" src="http://traderdock.com/Content/front/dist/img/logo.png" style="vertical-align: middle;" /></a></div>

<div class="content" style="padding: 25px 20px;">
<div>
<p style="font-weight: 600;font-size: 18px;margin-bottom: 0px;margin-top: 0px;color: #071113;">&nbsp;</p>

<p style="font-weight: 600;font-size: 18px;margin-bottom: 0px;margin-top: 0px;color: #071113;"><span style="font-size:14px;">Hi %%FULLNAME%%,</span></p>
&nbsp;

<p style="margin-top: 10px;margin-bottom: 0px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to Traderdock! Your Traderdock profile gives you access to your dashboard, where you can sign up for a TraderDock Challenge, review your performance and assess how close you are to receiving a Live TraderDock Pro account.</p>

<p style="margin-top: 10px;margin-bottom: 0px;">&nbsp;</p>

<p style="margin-top: 10px;margin-bottom: 0px;">You will shortly receive another email confirming your RTrader Pro login credentials which will be identical to those used to log in to the TraderDock website. Once you receive this confirmation, you can begin to trade. Until then, please head over to our FAQ section where you can learn more about how to get started and what to expect fromt the TraderDock Challenge.&nbsp;</p>
&nbsp;

<p style="margin-top: 10px;margin-bottom: 0px;">Thank you for register with TraderDock.</p>
&nbsp;

<p style="margin-top: 10px;margin-bottom: 0px; text-align:center"><a href="%%ADMINLINK%%">Please Click Here to Activate</a>.</p>

<p>Trade well,</p>

<p>Traderdock Team&nbsp;</p>

<p><sub>Note: This is a system generated </sub><sub>email</sub><sub>. Please do not reply.</sub></p>
</div>
</div>

<div class="footer" style="padding:11px 20px;text-align:center;background:#111a21;">
<p style="color:#bfbfbf;margin:0px;margin-top:0px;">&copy; COPYRIGHT TRADERDOCK 2016 ALL RIGHTS RESERVED</p>
</div>
</div>
</div>
