<!--[if gte mso 9]><xml>
     <o:OfficeDocumentSettings>
      <o:AllowPNG/>
      <o:PixelsPerInch>96</o:PixelsPerInch>
     </o:OfficeDocumentSettings>
    </xml><![endif]--><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content="width=device-width" /><!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge" /><!--<![endif]-->
<title></title>
<!--[if !mso]><!-- -->
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" /><!--<![endif]-->
<style id="media-query" type="text/css">body {
  margin: 0;
  padding: 0; }

table, tr, td {
  vertical-align: top;
  border-collapse: collapse; }

.ie-browser table, .mso-container table {
  table-layout: fixed; }

* {
  line-height: inherit; }

a[x-apple-data-detectors=true] {
  color: inherit !important;
  text-decoration: none !important; }

[owa] .img-container div, [owa] .img-container button {
  display: block !important; }

[owa] .fullwidth button {
  width: 100% !important; }

[owa] .block-grid .col {
  display: table-cell;
  float: none !important;
  vertical-align: top; }

.ie-browser .num12, .ie-browser .block-grid, [owa] .num12, [owa] .block-grid {
  width: 600px !important; }

.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
  line-height: 100%; }

.ie-browser .mixed-two-up .num4, [owa] .mixed-two-up .num4 {
  width: 200px !important; }

.ie-browser .mixed-two-up .num8, [owa] .mixed-two-up .num8 {
  width: 400px !important; }

.ie-browser .block-grid.two-up .col, [owa] .block-grid.two-up .col {
  width: 300px !important; }

.ie-browser .block-grid.three-up .col, [owa] .block-grid.three-up .col {
  width: 200px !important; }

.ie-browser .block-grid.four-up .col, [owa] .block-grid.four-up .col {
  width: 150px !important; }

.ie-browser .block-grid.five-up .col, [owa] .block-grid.five-up .col {
  width: 120px !important; }

.ie-browser .block-grid.six-up .col, [owa] .block-grid.six-up .col {
  width: 100px !important; }

.ie-browser .block-grid.seven-up .col, [owa] .block-grid.seven-up .col {
  width: 85px !important; }

.ie-browser .block-grid.eight-up .col, [owa] .block-grid.eight-up .col {
  width: 75px !important; }

.ie-browser .block-grid.nine-up .col, [owa] .block-grid.nine-up .col {
  width: 66px !important; }

.ie-browser .block-grid.ten-up .col, [owa] .block-grid.ten-up .col {
  width: 60px !important; }

.ie-browser .block-grid.eleven-up .col, [owa] .block-grid.eleven-up .col {
  width: 54px !important; }

.ie-browser .block-grid.twelve-up .col, [owa] .block-grid.twelve-up .col {
  width: 50px !important; }

@media only screen and (min-width: 620px) {
  .block-grid {
    width: 600px !important; }
  .block-grid .col {
    vertical-align: top; }
    .block-grid .col.num12 {
      width: 600px !important; }
  .block-grid.mixed-two-up .col.num4 {
    width: 200px !important; }
  .block-grid.mixed-two-up .col.num8 {
    width: 400px !important; }
  .block-grid.two-up .col {
    width: 300px !important; }
  .block-grid.three-up .col {
    width: 200px !important; }
  .block-grid.four-up .col {
    width: 150px !important; }
  .block-grid.five-up .col {
    width: 120px !important; }
  .block-grid.six-up .col {
    width: 100px !important; }
  .block-grid.seven-up .col {
    width: 85px !important; }
  .block-grid.eight-up .col {
    width: 75px !important; }
  .block-grid.nine-up .col {
    width: 66px !important; }
  .block-grid.ten-up .col {
    width: 60px !important; }
  .block-grid.eleven-up .col {
    width: 54px !important; }
  .block-grid.twelve-up .col {
    width: 50px !important; } }

@media (max-width: 620px) {
  .block-grid, .col {
    min-width: 320px !important;
    max-width: 100% !important;
    display: block !important; }
  .block-grid {
    width: calc(100% - 40px) !important; }
  .col {
    width: 100% !important; }
    .col > div {
      margin: 0 auto; }
  img.fullwidth, img.fullwidthOnMobile {
    max-width: 100% !important; }
  .no-stack .col {
    min-width: 0 !important;
    display: table-cell !important; }
  .no-stack.two-up .col {
    width: 50% !important; }
  .no-stack.mixed-two-up .col.num4 {
    width: 33% !important; }
  .no-stack.mixed-two-up .col.num8 {
    width: 66% !important; }
  .no-stack.three-up .col.num4 {
    width: 33% !important; }
  .no-stack.four-up .col.num3 {
    width: 25% !important; }
  .mobile_hide {
    min-height: 0px;
    max-height: 0px;
    max-width: 0px;
    display: none;
    overflow: hidden;
    font-size: 0px; } }
</style>
<style id="media-query-bodytag" type="text/css">@media (max-width: 520px) {
      .block-grid {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

      .col {
        min-width: 320px!important;
        max-width: 100%!important;
        width: 100%!important;
        display: block!important;
      }

        .col > div {
          margin: 0 auto;
        }

      img.fullwidth {
        max-width: 100%!important;
      }
			img.fullwidthOnMobile {
        max-width: 100%!important;
      }
      .no-stack .col {
				min-width: 0!important;
				display: table-cell!important;
			}
			.no-stack.two-up .col {
				width: 50%!important;
			}
			.no-stack.mixed-two-up .col.num4 {
				width: 33%!important;
			}
			.no-stack.mixed-two-up .col.num8 {
				width: 66%!important;
			}
			.no-stack.three-up .col.num4 {
				width: 33%!important;
			}
			.no-stack.four-up .col.num3 {
				width: 25%!important;
			}
      .mobile_hide {
        min-height: 0px!important;
        max-height: 0px!important;
        max-width: 0px!important;
        display: none!important;
        overflow: hidden!important;
        font-size: 0px!important;
      }
    }
</style>
<!--[if IE]><div class="ie-browser"><![endif]--><!--[if mso]><div class="mso-container"><![endif]-->
<table cellpadding="0" cellspacing="0" class="nl-container" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #FFFFFF;width: 100%">
	<tbody>
		<tr style="vertical-align: top">
			<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td align="center" style="background-color: #FFFFFF;"><![endif]-->
			<div style="background-color:transparent;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<table border="0" cellpadding="0" cellspacing="0" class="divider" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
				<tbody>
					<tr style="vertical-align: top">
						<td class="divider_inner" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" height="0px" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
							<tbody>
								<tr style="vertical-align: top">
									<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"><span>&nbsp;</span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:transparent;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div align="center" class="img-container center fullwidthOnMobile fixedwidth " style="padding-right: 0px;  padding-left: 0px;"><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr style="line-height:0px;line-height:0px;"><td style="padding-right: 0px; padding-left: 0px;" align="center"><![endif]--><a href="https://traderdock.com/home" target="_blank"><img align="center" alt="TraderDock Logo" class="center fullwidthOnMobile fixedwidth" src="https://www.traderdock.com/faqmedia/TraderDock_logo.jpg" style="outline: none; text-decoration: none; clear: both; border: 0px solid; width: 450px; max-width: 510px; display: block !important;" title="TraderDock Logo" /> </a> <!--[if mso]></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:transparent;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:15px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:15px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<table border="0" cellpadding="0" cellspacing="0" class="divider" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
				<tbody>
					<tr style="vertical-align: top">
						<td class="divider_inner" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
							<tbody>
								<tr style="vertical-align: top">
									<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>

			<div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 30px; padding-bottom: 10px;"><![endif]-->
			<div style="color:#555555;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 30px; padding-bottom: 10px;">
			<div style="font-size:12px;line-height:14px;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><strong><span style="font-size: 30px; line-height: 36px;">WELCOME TO TRADERDOCK</span></strong></p>
			</div>
			</div>
			<!--[if mso]></td></tr></table><![endif]--></div>

			<div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 25px; padding-left: 25px; padding-top: 30px; padding-bottom: 20px;"><![endif]-->
			<div style="color:#555555;line-height:180%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 25px; padding-left: 25px; padding-top: 30px; padding-bottom: 20px;">
			<div style="line-height:22px;font-size:12px;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
			<p style="margin: 0;line-height: 22px;font-size: 12px;text-align: center"><span style="font-size: 16px; line-height: 28px;">Your 14-Day Demo Account allows you to explore TraderDock.</span></p>

			<p style="margin: 0;line-height: 22px;font-size: 12px;text-align: center"><span style="font-size: 16px; line-height: 28px;">Trial the trading experience and get used to the TT platform before subscribing to&nbsp;The TraderDock Challenge.</span></p>
			</div>
			</div>
			<!--[if mso]></td></tr></table><![endif]--></div>

			<table border="0" cellpadding="0" cellspacing="0" class="divider" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
				<tbody>
					<tr style="vertical-align: top">
						<td class="divider_inner" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
							<tbody>
								<tr style="vertical-align: top">
									<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:transparent;">
			<div class="block-grid two-up " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="300" style=" width:300px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num6" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div align="center" class="button-container center " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;"><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://www.traderdock.com/faq/category" style="height:39pt; v-text-anchor:middle; width:159pt;" arcsize="8%" strokecolor="#6cbc35" fillcolor="#6cbc35"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:16px;"><![endif]--><a href="https://traderdock.com/faq/view/14" style="display: block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #ffffff; background-color: #6cbc35; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 212px; width: 172px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 10px; padding-right: 20px; padding-bottom: 10px; padding-left: 20px; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;mso-border-alt: none" target="_blank"><span style="font-size:12px;line-height:24px;"><strong><span data-mce-style="font-size: 16px; line-height: 32px;" style="font-size: 16px; line-height: 32px;">Getting Started Guide</span></strong></span> </a> <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td><td align="center" width="300" style=" width:300px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->

			<div class="col num6" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"><![endif]-->
			<div style="color:#555555;line-height:120%;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif; padding-right: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;">
			<div style="font-size:12px;line-height:14px;color:#555555;font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;text-align:left;">
			<p style="margin: 0;font-size: 14px;line-height: 17px"><span style="font-size: 14px; line-height: 16px;"><strong>Trader Login Credentials:</strong></span></p>

<p style="margin: 0;font-size: 14px;line-height: 17px">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px"><span style="font-size: 14px; line-height: 16px;"><strong>Link:&nbsp;</strong><span style="font-size: 12px; line-height: 14px;"><a href=%%LINK%%>Please click here</a></span></span></p>

			<p style="margin: 0;font-size: 14px;line-height: 17px">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px"><span style="font-size: 14px; line-height: 16px;"><strong>Username:&nbsp;</strong><span style="font-size: 12px; line-height: 14px;">%%EMAIL%%</span></span></p>

			<p style="margin: 0;font-size: 14px;line-height: 17px">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px"><span style="font-size: 14px; line-height: 16px;"><strong>Password:&nbsp;</strong><span style="font-size: 12px; line-height: 14px;">%%PASSWORD%%</span></span></p>
			</div>
			</div>
			<!--[if mso]></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:transparent;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
			<div style="color:#555555;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
			<div style="font-size:12px;line-height:14px;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
			<p style="margin: 0px; font-size: 12px; line-height: 17px; text-align: justify;"><span style="font-size: 12px; line-height: 13px;"><strong>Note:</strong> </span>Your TT account can take up to<strong> one hour</strong> to be registered and activated.&nbsp;If you do not receive an invitation from TT to log in and begin traing within 2 hours of sign-up please contact <a href="mailto:support@traderdock.com?subject=TT%20Registration%20Delay&amp;body=Hi%20Support%2C%20%0A%0APlease%20assist%20in%20expediting%20the%20registration%20of%20my%20TT%20account.%20It%20has%20now%20been%20over%20an%20hour%20since%20I%20registered%20on%20the%20TraderDock%20website.%0A%0AMany%20thanks">support@traderdock.com</a></p>
			</div>
			</div>
			<!--[if mso]></td></tr></table><![endif]--></div>

			<table border="0" cellpadding="0" cellspacing="0" class="divider" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
				<tbody>
					<tr style="vertical-align: top">
						<td class="divider_inner" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 10px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #BBBBBB;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
							<tbody>
								<tr style="vertical-align: top">
									<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:transparent;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
			<div style="color:#555555;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
			<div style="font-size:12px;line-height:14px;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><strong><span style="font-size: 24px; line-height: 28px;">Recommended Trading Platform</span></strong></p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><img alt="" src="https://www.traderdock.com/faqmedia/download.png" style="width: 350px;" /></p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><iframe frameborder="0" height="315" src="https://www.youtube-nocookie.com/embed/CMvQfz6O8Oo?end=230&amp;vq=hd1080&amp;autoplay=1&amp;loop=1&amp;modestbranding=1&amp;showinfo=0&amp;rel=0&amp;cc_load_policy=1&amp;iv_load_policy=3&amp;theme=light&amp;color=white" width="560"></iframe></p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">&nbsp;</p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center">&nbsp;</p>

			<hr />
			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="color: rgb(0, 0, 0); font-size: 14px; line-height: 21px;"><strong><span style="font-size: 28px; line-height: 42px;">TraderDock Dashboard</span></strong></span></p>

			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="font-size: 18px; line-height: 27px; color: rgb(0, 0, 0);"><em><span style="line-height: 27px; font-size: 18px;">Daily Recap of your Trading Stats</span></em></span></p>
			</div>
			</div>
			<!--[if mso]></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:transparent;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!--><!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:#FFFFFF;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#FFFFFF;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:0px; padding-bottom:20px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:0px; padding-bottom:20px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 0px; padding-left: 0px; padding-top: 10px; padding-bottom: 0px;"><![endif]--><!--[if mso]></td></tr></table><![endif]--></div>

			<p align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px; padding-left: 0px;"><span style="font-size: 16px; background-color: transparent;">Your TraderDock Dashboard will be updated daily after the close of the US market (approx 9PM GMT). You can log in to monitor your trade statistics, keep track of your progress and use the analytics as a guide to refine your trading strategies and improve your&nbsp;performance.</span></p>

			<p align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px; padding-left: 0px;">&nbsp;</p>

			<p align="center" class="img-container center  autowidth  fullwidth " style="padding-right: 0px; padding-left: 0px;"><a href="https://www.traderdock.com/home/learnhow" target="_blank"><img alt="TraderDock Challenge rules parameters and targets for live account" src="https://www.traderdock.com/faqmedia/TrinityDCUFlyer2.jpg" style="width: 600px;" /></a></p>
			</div>
			</div>
			<!--[if mso]></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]-->

			<div style="background-color:transparent;">
			<div class="block-grid three-up " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:transparent;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="200" style=" width:200px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num4" style="max-width: 320px;min-width: 200px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div align="center" class="button-container center " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;"><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://traderdock.com/home/privacypolicy" style="height:31pt; v-text-anchor:middle; width:129pt;" arcsize="10%" strokecolor="#A8A7AB" fillcolor="#A8A7AB"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; font-size:16px;"><![endif]--><a href="https://traderdock.com/home/privacypolicy" style="display: block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #ffffff; background-color: #A8A7AB; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 173px; width: 133px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif;mso-border-alt: none" target="_blank"><span style="font-size:16px;line-height:32px;">Privacy &amp; Cookies</span> </a> <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td><td align="center" width="200" style=" width:200px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->

			<div class="col num4" style="max-width: 320px;min-width: 200px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div align="center" class="button-container center " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;"><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://traderdock.com/account/login" style="height:31pt; v-text-anchor:middle; width:123pt;" arcsize="10%" strokecolor="#6cbc35" fillcolor="#6cbc35"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; font-size:16px;"><![endif]--><a href="https://traderdock.com/account/login" style="display: block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #ffffff; background-color: #6cbc35; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 165px; width: 125px;width: auto; border-top: 0px solid transparent; border-right: 0px solid transparent; border-bottom: 0px solid transparent; border-left: 0px solid transparent; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif;mso-border-alt: none" target="_blank"><span style="font-size:16px;line-height:32px;">Dashboard Login</span> </a> <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td><td align="center" width="200" style=" width:200px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->

			<div class="col num4" style="max-width: 320px;min-width: 200px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<div align="center" class="button-container center " style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;"><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top:10px; padding-bottom:10px;" align="center"><v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://traderdock.com/home/terms" style="height:31pt; v-text-anchor:middle; width:131pt;" arcsize="10%" strokecolor="#A8A7AB" fillcolor="#A8A7AB"><w:anchorlock/><v:textbox inset="0,0,0,0"><center style="color:#ffffff; font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; font-size:16px;"><![endif]--><a href="https://traderdock.com/home/terms" style="display: block;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #ffffff; background-color: #A8A7AB; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; max-width: 175px; width: 135px;width: auto; border-top: 0px solid #A8A7AB; border-right: 0px solid #A8A7AB; border-bottom: 0px solid #A8A7AB; border-left: 0px solid #A8A7AB; padding-top: 5px; padding-right: 20px; padding-bottom: 5px; padding-left: 20px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif;mso-border-alt: none" target="_blank"><span style="font-size:16px;line-height:32px;">Term &amp; Conditions</span> </a> <!--[if mso]></center></v:textbox></v:roundrect></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>

			<div style="background-color:#FFFFFF;">
			<div class="block-grid " style="Margin: 0 auto;min-width: 320px;max-width: 600px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #FFFFFF;">
			<div style="border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;"><!--[if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="background-color:#FFFFFF;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width: 600px;"><tr class="layout-full-width" style="background-color:#FFFFFF;"><![endif]--><!--[if (mso)|(IE)]><td align="center" width="600" style=" width:600px; padding-right: 0px; padding-left: 0px; padding-top:5px; padding-bottom:5px; border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent;" valign="top"><![endif]-->
			<div class="col num12" style="min-width: 320px;max-width: 600px;display: table-cell;vertical-align: top;">
			<div style="background-color: transparent; width: 100% !important;"><!--[if (!mso)&(!IE)]><!-->
			<div style="border-top: 0px solid transparent; border-left: 0px solid transparent; border-bottom: 0px solid transparent; border-right: 0px solid transparent; padding-top:5px; padding-bottom:5px; padding-right: 0px; padding-left: 0px;"><!--<![endif]-->
			<table border="0" cellpadding="0" cellspacing="0" class="divider" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 100%;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
				<tbody>
					<tr style="vertical-align: top">
						<td class="divider_inner" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 15px;min-width: 100%;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="divider_content" height="0px" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 1px solid #EEEDED;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%" width="100%">
							<tbody>
								<tr style="vertical-align: top">
									<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%"><span>&nbsp;</span></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>

			<div><!--[if mso]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;"><![endif]-->
			<div style="color:#555555;line-height:120%;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif; padding-right: 10px; padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
			<div style="font-size:12px;line-height:14px;color:#555555;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;text-align:left;">
			<p style="margin: 0;font-size: 14px;line-height: 17px;text-align: center"><span style="color: rgb(0,0,0); font-size: 14px; line-height: 16px;"><strong>&copy; 2018 TraderDock Ltd.</strong> All rights reserved</span></p>
			</div>
			</div>
			<!--[if mso]></td></tr></table><![endif]--></div>
			<!--[if (!mso)&(!IE)]><!--></div>
			<!--<![endif]--></div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table></td></tr></table><![endif]--></div>
			</div>
			</div>
			<!--[if (mso)|(IE)]></td></tr></table><![endif]--></td>
		</tr>
		<tr>
			<td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">&nbsp;</td>
		</tr>
	</tbody>
</table>
<!--[if (mso)|(IE)]></div><![endif]-->