﻿@model Traderdock.Entity.ViewModel.MainSubFAQModel
@{
    ViewBag.Title = "FAQCategory";
    ViewBag.SubMenu = "faqs";
    var StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}
<div class="white-bg">
    <div class="page-section-padding-lg">
        <div class="container">
            <div class="title-and-text text-center">
                <ul class="title-sab-text text-light-blue breadcrumb">
                    <li><a href="@StrPath/faq/category"> Traderdock </a></li>
                    <li><a href="~/faq/category?catid=@Model.faqCategoryModel.faq_category_id">@Model.faqCategoryModel.category_title</a></li>
                </ul>
                @*<div class="inner-sm-container">
                    <div class="has-feedback new-has-feedback">
                        <div class="easy-autocomplete eac-square eac-description" style="width: 580px;"><input type="text" id="example-search" class="form-control input-lg" placeholder="FIND ANSWERS" autocomplete="off"><div class="easy-autocomplete-container" id="eac-container-example-search"><ul></ul></div></div>
                        <span class="form-control-feedback material-icons">search</span>
                    </div>
                </div>*@
            </div>
        </div>
        <div class="layers-bg">
            <img src="~/content/front/dist/img/faq-bg.png">
        </div>
    </div>
</div>
<div class="main-container">
    <div class="page-section page-section-padding-lg-top-none">
        <div class="container">
            <div class="faq-page">
                <div class="card-deck">
                    @for ( int i = 0; i < Model.objFaqCategoryModel.Count; i++)
                    {
                        <div class="card faq-banner faq-sub-box" id="@Model.objFaqCategoryModel[i].faq_sub_category_id">
                            <h4 class="heading font-medium no-margin-top"><a href="~/faq/view?subcatid=@Model.objFaqCategoryModel[i].faq_sub_category_id&&catid=@Model.objFaqCategoryModel[i].faq_category_id">@Model.objFaqCategoryModel[i].sub_category_title</a></h4>
                            <p class="text-muted">@Model.objFaqCategoryModel[i].sub_category_description</p>
                            <div class="faq-link-box clearfix">
                                @foreach (var subItem in Model.objFaqCategoryModel[i].FaqMasterList.Take(3))
                                {
                                    <a href="~/faq/view?subcatid=@subItem.faq_sub_category_id&&catid=@subItem.faq_category_id&&faqid=@subItem.faq_id">@subItem.question</a>
                                }
                            </div>
                            <a class="btn btn-success btn-block btn-sm btn-raund max-160" href="~/faq/view?subcatid=@Model.objFaqCategoryModel[i].faq_sub_category_id&&catid=@Model.objFaqCategoryModel[i].faq_category_id">View All</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@*Get div class active*@
@Scripts.Render("~/bundles/jquery")
<script>
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    };
    ////Default first should active
    //$(document).ready(function () {
    //    var varFAQ = $("#ulFAQ").children();
    //    var id = varFAQ[0].id;
    //    $("#" + id).addClass('active');
    //    id = id.replace('FAQLI', 'FAQ');
    //    $("#" + id).addClass('active');
    //});
    //from url should active
    $(document).ready(function () {
    var tech = GetURLParameter('subcatid');
    $("#" + tech).addClass('active-box');
    });
</script>
