﻿@model Traderdock.Entity.ViewModel.GlobalTeamModel
@{
    ViewBag.Title = "AddEditGlobalTeam";
    ViewBag.SubMenu = "globalteam";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SitePath"];
}
<section class="content-header">
    <h1>
        Global Teams
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Global Teams</li>
    </ol>
</section>
<section class="content">
    <div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Global Teams</h3>
            </div>
            @using (Html.BeginForm("AddEditGlobalTeam", "GlobalTeam", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.user_name)<em> *</em>
                                        @Html.TextBoxFor(m => m.user_name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.user_name, "", new { @style = "color:red" })
                                        @Html.HiddenFor(m => m.global_team_id)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.designation)<em> *</em>
                                        @Html.TextBoxFor(m => m.designation, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.designation, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.description)<em> *</em>
                                        @Html.TextAreaFor(m => m.description, new { @class = "form-control", @placeholder = "" })
                                        @Html.ValidationMessageFor(model => model.description, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.user_image_url_sm)
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="col-md-7 margin-top-12">
                                                <img id="profileimage_sm" onclick="document.getElementById('file1').click(); return false;" class="fileinput-preview thumbnail" style="width: 200px; height: 150px; line-height: 150px;border: 1px solid #ddd;border-radius: 4px;margin-left: -17px;" />
                                                <span class="btn bg-black btn-file">
                                                    <input type="file" class="btn btn-primary btn-block" name="file1" id="file1" vale="" style="visibility: hidden;">
                                                    <span class="fileinput-new" onclick="document.getElementById('file1').click(); return false;"><i class="btn-icon fa fa-paperclip"></i>Change Image</span>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.FileName_sm)
                                            @Html.HiddenFor(model => model.user_image_url_sm)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 ">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.user_image_url_lg)
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <div class="col-md-7 margin-top-12">
                                                <img id="profileimage_lg" onclick="document.getElementById('file2').click(); return false;" class="fileinput-preview thumbnail" style="width: 200px; height: 150px; line-height: 150px;border: 1px solid #ddd;border-radius: 4px;margin-left: -17px;" />
                                                <span class="btn bg-black btn-file">
                                                    <input type="file" class="btn btn-primary btn-block" name="file2" id="file2" vale="" style="visibility: hidden;">
                                                    <span class="fileinput-new" onclick="document.getElementById('file2').click(); return false;"><i class="btn-icon fa fa-paperclip"></i>Change Image</span>
                                                </span>
                                            </div>
                                            @Html.HiddenFor(model => model.FileName_lg)
                                            @Html.HiddenFor(model => model.user_image_url_lg)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $("document").ready(function () {
        $("#filenm_sm").hide();
        if ('@Model.FileName_sm' == null || '@Model.FileName_sm' == "") {
             
            $("#profileimage_sm").attr("src", '@Model.FileName_sm');
        }
        else {
             
            if ('@Model.ImageNotExist_sm' == 'False') {
                $("#profileimage_sm").attr("src", '@Model.FileName_sm');
            }
            else {
                $("#profileimage_sm").attr("src", '@Model.FileName_sm');
            }
        }

        $("#filenm_lg").hide();
        if ('@Model.FileName_lg' == null || '@Model.FileName_lg' == "") {
             
            $("#profileimage_lg").attr("src", '@Model.FileName_lg');
        }
        else {
             
            if ('@Model.ImageNotExist_lg' == 'False') {
                $("#profileimage_lg").attr("src", '@Model.FileName_lg');
            }
            else {
                $("#profileimage_lg").attr("src", '@Model.FileName_lg');
            }
        }

        if ($("#Message").val() != '') {
            toastr.success($("#Message").val());
        }
        $("#file1").on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                var uploadedfile = document.getElementById('file1');
                var ext = uploadedfile.files[0].type.split("/")[1];
                var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
                if (fileExtension.indexOf(ext) == -1) {
                    document.getElementById('file1').value = "";
                    alert("Only jpeg, jpg, gif, png can be uploaded.");
                }
                else {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        var url = window.location.href.toString();
                        var index = url.toUpperCase().indexOf('ADMIN');
                        var siteurl = url.substring(0, index) + 'Admin/GlobalTeam/UploadGlobalImage';
                        $.ajax({
                            type: "POST",
                            url: siteurl,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#profileimage_sm").text(result.Data);
                                $("#profile_name_sm").val(result.Data);
                                if (result.Data != null || result.Data != "") {
                                    $("#profileimage_sm").show();
                                    $("#profileimage_sm").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                    $("#user_image_url_sm").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                    document.getElementById("btnSaveImage_sm").disabled = false;
                                }
                                else {
                                    $("#profileimage_sm").hide();
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                alert("error");
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
        });

        $("#file2").on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                var uploadedfile = document.getElementById('file2');
                var ext = uploadedfile.files[0].type.split("/")[1];
                var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
                if (fileExtension.indexOf(ext) == -1) {
                    document.getElementById('file2').value = "";
                    alert("Only jpeg, jpg, gif, png can be uploaded.");
                }
                else {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }
                        var url = window.location.href.toString();
                        var index = url.toUpperCase().indexOf('ADMIN');
                        var siteurl = url.substring(0, index) + 'Admin/GlobalTeam/UploadGlobalImage';
                        $.ajax({
                            type: "POST",
                            url: siteurl,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#profileimage_lg").text(result.Data);
                                $("#profile_name_lg").val(result.Data);
                                if (result.Data != null || result.Data != "") {
                                    $("#profileimage_lg").show();
                                    $("#profileimage_lg").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                    $("#user_image_url_lg").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                    document.getElementById("btnSaveImage_lg").disabled = false;
                                }
                                else {
                                    $("#profileimage_lg").hide();
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                alert("error");
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
        });

        if ($.trim($("#profileimage_sm").attr("src")) != "")// check image has src
        {
            $("#btmremove_sm").show();
        }
        else {
            $("#btmremove_sm").hide();
        }
        $("#btmremove_sm").on("click", function () {
            $("#profileimage_sm").attr("src", "");
            $("#filenm_sm").val('');
            $("#FileName_sm").val('');
            $("#filenm_sm").hide();
            $("#btmremove_sm").hide();
        });

        if ($.trim($("#profileimage_lg").attr("src")) != "")// check image has src
        {
            $("#btmremove_lg").show();
        }
        else {
            $("#btmremove_lg").hide();
        }
        $("#btmremove_lg").on("click", function () {
            $("#profileimage_lg").attr("src", "");
            $("#filenm_lg").val('');
            $("#FileName_lg").val('');
            $("#filenm_lg").hide();
            $("#btmremove_lg").hide();
        });
    });
    function fnCancel() {
        window.location.href = '@Url.Action("index", "globalteam")';
    }

</script>
