﻿@model List<Traderdock.Entity.ViewModel.GlobalTeamModel>
@{
    ViewBag.Title = "GlobalTeam List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string ImgPath = System.Web.Configuration.WebConfigurationManager.AppSettings["ImageBaseURL"];
    ViewBag.SubMenu = "globalteam";
    string PageLimit = Session["PageSize"].ToString();
}
<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        Global Teams
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Global Team</li>
    </ol>
</section>
<section class="content">

    <section>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title">Global Team List</h2>
                <div class="box-tools">
                    <a href="~/admin/globalteam/addeditglobalteam" class="addlink btn btn-primary pull-right margin-r-5">
                        <i class="btn-icon fa fa-plus"></i> Add Global Team
                    </a>
                </div>
            </div>
            <div class="box-body">
                <div class="pull-right filter-bottom-margin">
                    <form id="changelist-search">
                        <div class="input-group" style="width: 250px;">
                            <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by name" autofocus />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <form>
                    <div id="grid" class="display table table-bordered table-striped k-content">
                    </div>
                    @Html.Hidden("statusFilter")
                    @Html.Hidden("checkedData")
                </form>
            </div>
        </div>
    </section>
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script type="text/javascript">
    var pageLimit = '@PageLimit';
    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model))
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                filterable: true,
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("GlobalTeam_Read", "globalteam"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    pageSize: pageLimit,
                    serverPaging: true,
                    serverFiltering: true,
                },
                columns:
                [
             {
                 field: "user_name",
                 title: "User Name",
                 filterable: false,
                 headerAttributes: { style: "text-align:left;width:13%" },
                 attributes: { style: "text-align:left;width:13%" },
             },
             {
                 field: "designation",
                 title: "Designation",
                 filterable: false,
                 headerAttributes: { style: "text-align:left;width:13%" },
                 attributes: { style: "text-align:left;width:13%" },
             },
             {
                 field: "user_image_url_sm",
                 title: "Picture",
                 template: '<img src="@ImgPath/#=user_image_url_sm#" alt="image" width=40 />',
                 filterable: false,
                 headerAttributes: { style: "text-align:left;width:10%;" },
                 attributes: { style: "text-align:left;width:10%;" },
             },
              {
                  field: "description",
                  title: "Text",
                  filterable: false,
                  headerAttributes: { style: "text-align:left;width:17%;" },
                  attributes: { style: "text-align:left;width:17%;" },
              },
             {
                 field: "global_team_id",
                 title: "Actions",
                 template: '# if(global_team_id) {# <a href="@StrPath/admin/globalteam/addeditglobalteam/#=global_team_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="RemoveSelectedRow(#=global_team_id#)" class="btn btn-default btn-sm btn-icon-only fa fa-trash"></a> #} else {# <a onclick="changeStatus(#=global_team_id#)" class="label label-danger">Inactive</a> #} #',
                 headerAttributes: { style: "text-align:center;font-size:14px;width:12%;  font-weight: bold;" },
                 attributes: { style: "text-align:center;font-size:14px;width:12%;" },
                 filterable: false
             }
                ]
            });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>
<script type="text/javascript">
    var pageLimit = '@PageLimit';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "GlobalTeam", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id
         );
    }
    function refreshGrid() {

        $.ajax({
            type: "Post",
            url: '@StrPath/admin/globalteam/globalteam_read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });
        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }
    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }
</script>
