﻿@model Traderdock.Entity.Model.LoginModel

@{
    ViewBag.Title = "Admin Login";
    Layout = "";
}
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Traderdock | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Content/plugins/iCheck/all.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    @*<link rel="stylesheet" href="~/Content/CSS/AdminLTE.min.css">*@
    <link rel="stylesheet" href="~/Content/dist/css/AdminLTE.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    html, body {
        overflow: hidden;
    }
</style>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            @*<a href="../../index2.html"><b>Trader</b>dock</a>*@
            <a href="#"><img src="~/Content/front/dist/img/traderdock-logo-green.png" style="width:160px;height:auto;" /></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @if (!string.IsNullOrEmpty(Convert.ToString(TempData["SuccessMsg"])))
            {
                <div class="alert alert-success fade in">
                    <strong>@TempData["SuccessMsg"]</strong>
                </div>
            }
            @using (Html.BeginForm("Login", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                if (TempData["CngPwdSMsg"] != null)
                {
                    <span class="field-validation-error" style="color:green"> @TempData["CngPwdSMsg"] </span>
                }
                <div class="form-group has-feedback">
                    
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @if (TempData["ErrorUserMsg"] != null)
                    {
                        <span class="field-validation-error text-danger"> @TempData["ErrorUserMsg"] </span>
                    }
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @value = Model.Password })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @if (TempData["ErrorPasswordMsg"] != null)
                    {
                        <span class="field-validation-error text-danger"> @TempData["ErrorPasswordMsg"] </span>
                    }
                    @if (TempData["CngPwdEMsg"] != null)
                    {
                        <span class="field-validation-error" style="color:red"> @TempData["CngPwdEMsg"] </span>
                    }
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <span class="pull-left">
                            <a data-toggle="modal" id="a_Forgot" href="#ForgetPasswordModal">I forgot my password</a>
                        </span>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                </div>
            }
            @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
            {
                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="ForgetPasswordModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Forgot Password </h4>
                            </div>
                            <div class="modal-body">
                                <p>Enter your e-mail address below to reset your password.</p>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            @if (TempData["ErrorMsg"] != null)
                            {
                                <h5 class="margin-left-15 color-red"> @TempData["ErrorMsg"] </h5>
                            }
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                                <button class="btn btn-default" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- /.social-auth-links -->
            @*<div class="social-auth-links text-center">
                    <p>- OR -</p>

                    <div class="col-md-12">
                        <section id="socialLoginForm">
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                        </section>
                    </div>
                </div>*@
            @*<a href="#">I forgot my password</a><br>
                <span class="pull-right">*@
            @*<a data-toggle="modal" id="a_Forgot" href="#ForgetPasswordModal">I forgot my password</a>*@
            @*</span>*@
            @*@Html.ActionLink("Register as a new user", "Register", "", new { @class = "text-center" })*@
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/icheck.min.js"></script>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>



