﻿@model Traderdock.Entity.ViewModel.RuleModel
@{
    ViewBag.Title = "AddEditRule";
    ViewBag.SubMenu = "rule";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}

<section class="content-header">
    <h1>
        Rule
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Rule</li>
    </ol>
</section>

<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                @if (Model.rule_id > 0)
                {
                    <h3 class="box-title">Edit Rule</h3>
                }
                else
                {
                    <h3 class="box-title">Add Rule</h3>
                }
            </div>
            <!-- form start -->
            @using (Html.BeginForm("AddEditRule", "Rule", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelFor(m => m.profit_target)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.profit_target, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.profit_target, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.rule_id)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelFor(m => m.daily_loss_limit)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.daily_loss_limit, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.daily_loss_limit, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelFor(m => m.max_drowdown)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.max_drowdown, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.max_drowdown, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelFor(m => m.maintain_acacount_balance)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.maintain_acacount_balance, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.maintain_acacount_balance, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3 control-label">
                            @Html.LabelFor(m => m.trade_required_no_of_days)<em> *</em>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.trade_required_no_of_days, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.trade_required_no_of_days, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type="text/javascript">
    function fnCancel() {
        window.location.href = '@Url.Action("Dashboard", "Dashboard")';
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
        
    }
</script>
