﻿@model List<Traderdock.Entity.ViewModel.UserSubscriptionModel>

@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "Revenue";
    string PageSize = Session["PageSize"].ToString();
}
<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        Revenue
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Revenue</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <div>
            <section>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Manage Revenue</h2>
                        <div class="box-tools">
                            <h4>
                                <b>
                                    $ @ViewData["TotalReveue"] Total Revenue
                                </b>
                            </h4>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="pull-right filter-bottom-margin">
                            <form id="changelist-search">
                                <div class="input-group" style="width: 250px;">
                                    <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by name" autofocus />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form>
                            <div id="RptDropDown" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                                <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Export <b class="caret margin-l-5"></b>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                                    <li>
                                        <a href="@StrPath/admin/revenue/ExportToPDF">PDF</a>
                                    </li>
                                    <li>
                                        <a href="@StrPath/admin/revenue/ExportToExcel">Excel</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="actions pull-left filter-bottom-margin">
                                <div class="form-inline">
                                    <label class="margin-r-5">Actions</label>
                                    <div class="input-group" style="width: 300px;">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" id="pay_date" placeholder="Search by subscription date">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" title="Run the selected action" id="btnDateSearch">Go</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
    <!-- /.Model Dailog Box Yes No -->
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script src="~/Content/plugins/Kendo/jszip.min.js"></script>
<script src="~/Content/plugins/Kendo/kendo.all.min.js"></script>
<script src="~/Content/plugins/daterangepicker/moment.js"></script>
<script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
<script>
    $('#pay_date').daterangepicker({ format: 'DD/MM/YYYY' ,defaultDate: null});
    //$('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' });

</script>
<style>
    .page-template {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            text-align: center;
            font-size: 18px;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
        }

    .k-grid {
        font-family: "DejaVu Sans", "Arial", sans-serif;
    }

    /* Hide the Grid header and pager during export */
    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }
</style>

<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            @*<div style="float: right">Page #: pageNum # of #: totalPages #</div>*@
            Traderdock User's List
        </div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>
<script type="text/javascript">
    var pageLimit = '@PageSize';
    function refreshGrid() {

        $.ajax({
            type: "Post",
            url: '@StrPath/admin/Revenue/Revenue_Read/',
            data: additionalData,
            success: function (result) {
                alert('success');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });

        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        $('#pay_date').val('');
        var modelData = @Html.Raw(Json.Encode(Model));
        //Bind with initial data
        var grid =  $('#grid').kendoGrid({
            scrollable: true,
            sortable: false,
            pageable: true,
            filterable: true,
            //toolbar: ["excel", "pdf"],
            pdf: {
                paperSize: "A4",
                margin: { top: "3cm", right: "1cm", bottom: "1cm", left: "1cm" },
                landscape: true,
                repeatHeaders: true,
                template: $("#page-template").html()
            },
            excel: {
                fileName: "User.xlsx",
                filterable: true
            },                //, dataSource: { data: modelData, pageSize: 10 }
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Revenue_Read", "Revenue"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
             [
             { field: "transection_id", title: "Transaction Id", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:15%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:15%; " } },
             { field: "transection_date_string", title: "Transaction Date", width: 190, filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:15%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:15%;" } },
             { format:"{0:c2}",field: "price_per_month", title: "Amount", width: 100, filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:7%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:7%;" } },
             //{ field: "user_id", title: "User Id", width: 100, filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:7%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:7%;" } },
             { field: "full_name", title: "Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:15%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:15%; " } },
             { field: "subscription_name", title: "Plan", filterable: false , headerAttributes: { style: "text-align:left;font-size:14px; width:15%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:15%;" } },
             { field: "payment_method", title: "Method", filterable: false , headerAttributes: { style: "text-align:left;font-size:14px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:10%;" } },
             { field: "payment_status", title: "Status", width: 100,  headerAttributes: { style: "text-align:center;font-size:14px; width:10%; font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;width:10%;" }, filterable: false }
             ],
            pdfExport: function (e) {
                var grid = $("#grid").data("kendoGrid");
                grid.hideColumn(0);
                grid.hideColumn(7);
                e.promise
                      .done(function() {
                          grid.showColumn(0);
                          grid.showColumn(7);
                      });
            }
        }).data("kendoGrid");

        $('#btnDateSearch').on("click", function (e) {

            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
            return false;
        });
        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1);
            return false;
        });

        function additionalData() {

            var data = {
                start_date:  $('#pay_date').val(),
                SearchName:$('#category').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });

</script>
