﻿@model Traderdock.Entity.ViewModel.FAQCategoryModel
@{
    ViewBag.Title = "FAQ Category";
    ViewBag.SubMenu = "faqcategory";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}

<section class="content-header">
    <h1>
        FAQ Category
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FAQ Category</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Edit FAQ Category</h3>
            </div>
            @using (Html.BeginForm("AddEditFAQCategory", "FAQCategory", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="form-group">
                        @Html.LabelFor(m => m.category_title, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.category_title, new { @class = "form-control", @placeholder = "", @row = "7" })
                            @Html.ValidationMessageFor(model => model.category_title, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.faq_category_id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.category_description, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextAreaFor(m => m.category_description, new { @class = "form-control", @placeholder = "", @rows = "5" })
                            @Html.ValidationMessageFor(model => model.category_description, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.category_image, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @*<img class="profile-user-img img-responsive img-circle" src="@Model.FileName" alt="User profile picture" id="profileimage">
                                <img height="120" width="120" id="profileimage" class="fileinput-preview " style="width: 200px; height: 150px; line-height: 150px;border: 1px solid #ddd;border-radius: 4px;margin-left: -17px;" />
                                <a href="#" class="btn btn-primary btn-block" onclick="document.getElementById('file1').click(); return false;">Change Image</a>
                                <input type="file" class="btn btn-primary btn-block" name="file1" id="file1" vale="" style="visibility: hidden;">*@

                            <div class="fileinput fileinput-new">
                                <div class="fileinput-preview ">
                                    @if (!string.IsNullOrEmpty(@Model.category_image))
                                    {
                                        <img height="120" src="@Model.category_image" onclick="document.getElementById('file1').click(); return false;" width="120" id="profileimage" class="fileinput-preview " style="width: 200px; height: 150px; line-height: 150px;" />
                                    }
                                    else
                                    {
                                        <img height="120" onclick="document.getElementById('file1').click(); return false;" width="120" id="profileimage" class="fileinput-preview " style="width: 200px; height: 150px; line-height: 150px;" />
                                    }
                                    <br />
                                    &nbsp;
                                    <br />
                                    <span class="btn bg-black btn-file">
                                        <input type="file" class="btn btn-primary btn-block" name="file1" id="file1" vale="" style=" height:250px; width:250px;">
                                        <span class="fileinput-new" onclick="document.getElementById('file1').click(); return false;"><i class="btn-icon fa fa-paperclip"></i>Change Image</span>
                                    </span>
                                    <span class="btn bg-black btn-file">
                                        <span class="fileinput-new" onclick="btnCancel(); return false;"><i class="btn-icon fa fa-times"></i>Cancel</span>
                                    </span>
                                </div>

                                @Html.HiddenFor(model => model.FileName)
                                @Html.HiddenFor(model => model.category_image)
                            </div>
                            @Html.ValidationMessageFor(model => model.category_image, "", new { @style = "color:red" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.faq_description, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextAreaFor(m => m.faq_description, new { @id = "HTMLInfo", @class = "form-control ckeditor" })
                                @Html.ValidationMessageFor(model => model.faq_description, "", new { @style = "color:red" })
                            </div>
                        </div>*@

                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Save</button>
                                    <a onclick="fnCancel();" class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type="text/javascript">
    function btnCancel() {
        $("#profileimage").attr("src", "");
        $("#filenm").val('');
        $("#FileName").val('');
        $("#category_image").val('');
        $("#filenm").hide();
        $("#btmremove").hide();
    };
    function fnCancel() {
        window.location.href = '@Url.Action("index", "faqcategory")';
    };
    //iCheck for checkbox and radio inputs
    $("document").ready(function () {
        $("#filenm").hide();
        if ('@Model.FileName' == null || '@Model.FileName' == "") {
            $("#profileimage").attr("src", '@Model.FileName');
        }
        $("#file1").on('change', function (e) {
            var files = e.target.files;
            if (files.length > 0) {
                var uploadedfile = document.getElementById('file1');
                var ext = uploadedfile.files[0].type.split("/")[1];
                var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
                if (fileExtension.indexOf(ext) == -1) {
                    document.getElementById('file1').value = "";
                    alert("Only jpeg, jpg, gif, png can be uploaded.");
                }
                else {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                         
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        var url = window.location.href.toString();
                        var index = url.toUpperCase().indexOf('ADMIN');
                        var siteurl = url.substring(0, index) + 'Admin/FAQCategory/UploadFAQCategoryImage';

                        $.ajax({
                            type: "POST",
                            url: siteurl,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#profileimage").text(result.Data);
                                $("#profile_name").val(result.Data);
                                if (result.Data != null || result.Data != "") {
                                    $("#profileimage").show();
                                    $("#profileimage").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                    $("#profile_image_url").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                }
                                else {
                                    $("#profileimage").hide();
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                alert("error");
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
        });
        if ($.trim($("#profileimage").attr("src")) != "")// check image has src
        {
            $("#btmremove").show();
        }
        else {
            $("#btmremove").hide();
        }
    });
    function SumbitData() {
        var data = new FormData();
        data.append('file', this.files[0]);
        data.append('CustomerId', 2);
        var files = e.target.files;
        if (files.length > 0) {
            var uploadedfile = document.getElementById('file1');
            var ext = uploadedfile.files[0].type.split("/")[1];
            var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
            if (fileExtension.indexOf(ext) == -1) {
                document.getElementById('file1').value = "";
                alert("Only jpeg, jpg, gif, png can be uploaded.");
            }
            else {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    var url = window.location.href.toString();
                    var index = url.toUpperCase().indexOf('ADMIN');
                    var siteurl = url.substring(0, index) + 'Admin/FAQCategory/UploadFAQCategoryImage';
                    $.ajax({
                        type: "POST",
                        url: siteurl,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (result) {
                            $("#profileimage").text(result.Data);
                            $("#profile_name").val(result.Data);
                            if (result.Data != null || result.Data != "") {
                                $("#profileimage").show();
                                $("#profileimage").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                $("#profile_image_url").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                //document.getElementById("btnSaveImage").disabled = false;
                            }
                            else {
                                $("#profileimage").hide();
                            }
                        },
                        error: function (xhr, status, p3, p4) {
                            alert("error");
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        }
    }
</script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    $('#infoHTML').show();
    $(function () {
        $('#HTMLInfo').ckeditor();
    });
</script>
