﻿@model List<Traderdock.Entity.ViewModel.FAQCategoryModel>
@{
    ViewBag.Title = "FAQ Category List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "faqcategory";
    string PageLimit = Session["PageSize"].ToString();
}
<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        FAQ Category
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FAQ Category</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title"></h2>
            @*<div class="box-tools">
                        <a href="~/admin/faqcategory/addeditfaqcategory" class="addlink btn btn-primary pull-right margin-r-5">
                            <i class="btn-icon fa fa-plus"></i> Add New Category
                        </a>
                </div>*@
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <form>
                <div id="grid" class="display table table-bordered table-striped k-content">
                </div>
                @Html.Hidden("statusFilter")
                @Html.Hidden("checkedData")
            </form>
        </div>
    </div>
    <!-- /.box -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script type="text/javascript">
    var pageLimit = '@PageLimit';
    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }
    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model))
        //Bind with initial data
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                filterable: true,
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("FAQCategory_Read", "FAQCategory"))",
                            type: "POST",
                            dataType: "json"
                        },
                        update: {
                             url: '@Url.Action("UpdateOrderSequence", "FAQCategory", new { area = "admin" })',
                            data: {
                               
                             },
                            complete: function (jqXhr, textStatus) {
                                if (textStatus == 'success') {
                                    var result = jQuery.parseJSON(jqXhr.responseText);
                                    if (result.success)
                                        toastr.success(result.Msgnew);
                                    else
                                        toastr.warning(result.Msgnew)
                                }
                            },
                            dataType: "json",
                            type: "GET"
                        },
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        model: {
                            id: "faq_category_id",
                            fields: {
                                category_title: { editable: false },
                                category_description: { editable: false },
                                faq_category_id: { editable: false }
                            }
                        }
                    },
                    pageSize: pageLimit,
                    serverPaging: true,
                    serverFiltering: true,
                    //Filterable:true,
                },
                editable: "inline",
                columns:
                [
                    {
                        field: "category_title",
                        title: "FAQ Category Name",
                        filterable: false,
                        headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold; width:20%;" },
                        attributes: { style: "font-size:14px;width:20%; " }
                    },
                    {
                        field: "category_description",
                        title: "Content",
                        filterable: false,
                        headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold; " },
                        attributes: { style: "font-size:14px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3; /* number of lines to show */-webkit-box-orient: vertical;" }
                    },
                    {
                        field: "faq_category_id",
                        title: "Update Order Number",
                        command: ["edit"],
                        template: '# if(faq_category_id) {# <a href="@StrPath/admin/faqcategory/addeditfaqcategory/#=faq_category_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a> #} #',
                        headerAttributes: { style: "text-align:center;font-size:14px; width:15%; font-weight: bold;" },
                        attributes: { style: "font-size:14px;width:15%; text-align:center;" },
                        filterable: false
                    },
                     {
                        field: "faq_category_id",
                        title: "Actions",
                        template: '# if(faq_category_id) {# <a href="@StrPath/admin/faqcategory/addeditfaqcategory/#=faq_category_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a> #} else {#  #} #',
                        headerAttributes: { style: "text-align:center;font-size:14px; width:10%; font-weight: bold;" },
                        attributes: { style: "font-size:14px;width:10%; text-align:center;" },
                        filterable: false
                    }
                 ]
            });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>
<script type="text/javascript">
    var pageLimit = '@PageLimit';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "faqcategory", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id
     );
    }

    function refreshGrid() {
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/FAQCategory/FAQCategory_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });
        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }
</script>
