﻿@model Traderdock.Entity.ViewModel.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    ViewBag.SubMenu = "dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string PageLimit = Session["PageSize"].ToString();

}
@*@Scripts.Render("~/bundles/jquery")*@
@if (TempData["MessageSuccess"] != null)
{
    <div class="alert-box success message-box" style="position:absolute;width:25%;display: block;right: 30px;z-index: 1002;"><i class="fa fa-check-circle"></i> @TempData["MessageSuccess"]</div>
}

<link href="~/Content/dist/css/custom.css" rel="stylesheet" />
<link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
<script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        @*<small>Control panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.content -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@Html.DisplayTextFor(model => model.TotalUser)</h3>
                    <p>Total User</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="~/admin/user/index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@Html.DisplayTextFor(model => model.TotalFreeTrialUser)</h3>
                    <p>Total Free Trial User</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="~/admin/user/index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>@Html.DisplayTextFor(model => model.TotalSubscribedUser)</h3>
                    <p>Total Subscribed User</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="~/admin/user/index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red" >
                <div class="inner">
                    <h3><i class="fa fa-usd" aria-hidden="true"></i> @Html.DisplayTextFor(model => model.TodaysRevenue)</h3>
                    <p>Today's Revenue</p>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-purple-gradient">
                <div class="inner">
                    <h3><i class="fa fa-usd" aria-hidden="true"></i> @Html.DisplayTextFor(model => model.TotalRevenue)</h3>
                    <p>Total Revenue</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div>
        <div>
            <section>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">User List</h2>
                        @*<div class="box-tools">
                                <a href="~/admin/user/addedituser" class="addlink btn btn-primary pull-right margin-r-5">
                                    <i class="btn-icon fa fa-plus"></i> Add User
                                </a>
                            </div>*@
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form>
                            <div class="clearfix"></div>
                            @*<button class="k-button k-primary" id="btnExcelExport">Export to Excel</button>
                                <button class="k-button k-primary" id="btnPdfExport">Export to PDF</button>*@
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            <br>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script>
    $(document).ready(function () {
        $("div.success").fadeIn(300).delay(1500).fadeOut(400);
    });
    //$.widget.bridge('uibutton', $.ui.button);
</script>
@*<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.rtl.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css" />*@

@*<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>*@
<script src="~/Content/plugins/Kendo/jszip.min.js"></script>
<script src="~/Content/plugins/Kendo/kendo.all.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>*@
<style>
    .page-template {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            text-align: center;
            font-size: 18px;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
        }

    .k-grid {
        font-family: "DejaVu Sans", "Arial", sans-serif;
    }

    /* Hide the Grid header and pager during export */
    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }
</style>
<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="header">
            @*<div style="float: right">Page #: pageNum # of #: totalPages #</div>*@
            Traderdock User's List
        </div>
        <div class="footer">
            Page #: pageNum # of #: totalPages #
        </div>
    </div>
</script>
<script type="text/javascript">
    //$("#btnPdfExport").kendoButton({
    //    click:function(){
    //        var grid =  $("#grid").data("kendoGrid").saveAsPDF();
    //    }
    //});
    //$("#btnExcelExport").kendoButton({
    //    click:function(){
    //        $("#grid").getKendoGrid().saveAsExcel();
    //    }
    //});


    var pageLimit = '@PageLimit';
    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model));
        //Bind with initial data
        var grid =  $('#grid').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            pdf: {
                paperSize: "A4",
                margin: { top: "3cm", right: "1cm", bottom: "1cm", left: "1cm" },
                landscape: true,
                repeatHeaders: true,
                template: $("#page-template").html()
            },
            excel: {
                fileName: "User.xlsx",
                filterable: true
            },
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("User_Read", "Dashboard"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
             [
             { title: "<input type='checkbox' id='chkSelectAll' onclick='SelectAll();'/>",width: 30, template: "<input type='checkbox' class='checkbox'   id='#=user_id#' " },
             { field: "first_name", title: "First Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
             { field: "last_name", title: "Last Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
             { field: "join_date", title: "Join Date", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
             { field: "SubscriptionModeString", title: "Subscription Mode", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
             { field: "Subscription_count", title: "No of Subscription", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
             //{ field: "Total_Revenue", title: "Total Revenue", format: "{0:c}", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
             //{ field: "Gender", title: "Gender", width: 100, template: '# if(Gender) {# <p>Female</a> #} else {# <p>Male</p> #} #', headerAttributes: { style: "text-align:left" }, attributes: { style: "text-align:left" }, filterable: false },
             @*{ field: "UserStatus", title: "Status", width: 100, template: '# if(UserStatus) {# <a onclick="changeStatus(#=user_id#)" class="label label-success">Active</a> #} else {# <a onclick="changeStatus(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center" }, attributes: { style: "text-align:center" }, filterable: false },
                 { field: "user_id", title: "Actions", width: 100, template: '# if(user_id) {# <a href="@StrPath/admin/user/addedituser/#=user_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="RemoveSelectedRow(#=user_id#)" class="btn btn-default btn-sm btn-icon-only fa fa-trash"></a> #} else {# <a onclick="changeStatus(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center" }, attributes: { style: "text-align:center" }, filterable: false }*@
             @*{ field: "UserStatus", title: "Status", width: 100, template: '# if(UserStatus) {# <a onclick="InActiveChecked(#=user_id#)" class="label label-success">Active</a> #} else {# <a onclick="ActiveChecked(#=user_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center" }, attributes: { style: "text-align:center" }, filterable: false },*@
             {
                 field: "user_id", title: "Actions", width: 100,
                 template: '# if(user_id) {# <a href="@StrPath/admin/user/viewuser/#=user_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-info"></a>#} else {#  #} #', headerAttributes: { style: "text-align:center; font-size:14px;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;" }, filterable: false
             }
             ],
            pdfExport: function (e) {
                var grid = $("#grid").data("kendoGrid");
                grid.hideColumn(0);
                grid.hideColumn(7);
                e.promise
                      .done(function() {
                          grid.showColumn(0);
                          grid.showColumn(7);
                      });
            }
        }).data("kendoGrid");
        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        $(window).load(function () {
             
            $('.k-current-page').hide();
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        };
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });

    function SelectAll() {
        //alert(1);
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    };
</script>