﻿@model Traderdock.Entity.Model.SettingModel

@{
    ViewBag.Title = "Edit FAQ Master";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SitePath"];
    ViewBag.SubMenu = "settings";
}


<link href="~/Content/dist/css/custom.css" rel="stylesheet" />
<link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
<script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>

<section class="content-header">
    <h1>
        Settings
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Settings</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Settings</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            @using (Html.BeginForm("AddEditSettings", "Settings", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-sm-6">
                                    @Html.HiddenFor(m=>m.setting_id)
                                    @Html.HiddenFor(m=>m.setting_name)
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.default_label)
                                        @Html.TextBoxFor(model => model.default_label, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.default_label, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.setting_value)
                                        @Html.TextAreaFor(m => m.setting_value, new { @class = "form-control", @placeholder = "" })
                                        @Html.ValidationMessageFor(model => model.setting_value, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-8 col-lg-6">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                        <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $("document").ready(function () {
        if ($("#Message").val() != '') {
            toastr.success($("#Message").val());
        }
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
    });

    function fnCancel() {
        window.location.href = '@Url.Action("index", "settings")';
    }
</script>
