﻿@model Traderdock.Entity.ViewModel.FAQSubCategoryModel
@{
    ViewBag.Title = "Add Edit FAQ Sub Category";
    ViewBag.SubMenu = "faq";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SitePath"];
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>

<section class="content-header">
    <h1>
        FAQ
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FAQ SubCategory</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> FAQ</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("AddEditFAQSubCategory", "FAQSubCategory", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                @Html.HiddenFor(m => m.faq_sub_category_id)
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.faq_category_id)<em> *</em>
                                        @Html.DropDownListFor(model => model.faq_category_id, Model.FAQCategoryList, "Select FAQ Category", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.faq_category_id, "", new { @style = "color:red" })
                                        @Html.HiddenFor(m => m.faq_category_id)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.sub_category_title)<em> *</em>
                                        @Html.TextBoxFor(model => model.sub_category_title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.sub_category_title, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.sub_category_description)
                                        @Html.TextAreaFor(m => m.sub_category_description, new { @id = "HTMLInfo", @class = "form-control ckeditor" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    CKEDITOR.replace('HTMLInfo',
        {
            filebrowserImageBrowseUrl: '@StrPath/admin/FAQMaster/uploadPartial',
            filebrowserImageUploadUrl: '@StrPath/admin/FAQMaster/uploadnow'
        }
        );

    function updateValue1(id, value) {
        // this gets called from the popup window and updates the field with a new value
        document.getElementById(id).value = value;
    }

    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value
        var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
        jqueryObjectByClass.value = value;
    }

</script>
<script type="text/javascript">


    $("document").ready(function () {
        if ($("#Message").val() != '') {
            toastr.success($("#Message").val());
        }
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
    });
    function fnCancel() {
        window.location.href = '@Url.Action("index", "faqMaster")';
    }

</script>
<script type="text/javascript">
    //Images

    @*var imageuploader = '@StrPath/Scripts/imageuploader/imgbrowser.php';*@

    //var editor1 = CKEDITOR.replace('#HTMLInfo', {
    //    extraPlugins: 'imageuploader'

    @*height: 150,
        filebrowserBrowseUrl:roxyFileman,
        filebrowserImageBrowseUrl: roxyFileman + '?type=image',
        @*filebrowserUploadUrl: '@StrPath/Images',
        filebrowserImageUploadUrl: '@StrPath/Images',*@
    //removeDialogTabs: 'link:upload;image:upload'

    //});

    //CKEDITOR.on('dialogDefinition', function (ev) {
    //    //dialogDefinition is a ckeditor event it's fired when ckeditor dialog instance is called
    //    var dialogName = ev.data.name;
    //    var dialogDefinition = ev.data.definition;
    //    if (dialogName == 'image') { //dialogName is name of dialog and identify which dialog is fired.
    //        var infoTab = dialogDefinition.getContents('info'); // get tab of the dialog
    //        var browse = infoTab.get('browse'); //get browse server button
    //        browse.onClick = function () {
    //            //here we can invoke our custom fileuploader or server files popup
    //            alert('open your file uploader or server files popup');
    //        };
    //    }
    //});


    //set image path to dialog

    //var dialog = CKEDITOR.dialog.getCurrent();

    //dialog.selectPage('info');

    //var tUrl = dialog.getContentElement('info', 'txtUrl');

    //tUrl.setValue("put value of image path");

</script>