﻿@model List<Traderdock.Entity.ViewModel.FAQSubCategoryModel>
@{
    ViewBag.Title = "User List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "faq";
    string PageLimit = Session["PageSize"].ToString();
}

<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        FAQ Sub Category
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FAQ Sub Category</li>
    </ol>
</section>
<section class="content">

    <section>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h2 class="box-title"></h2>
                <div class="box-tools">
                    <a href="~/admin/faqsubcategory/addeditfaqsubcategory" class="addlink btn btn-primary pull-right margin-r-5">
                        <i class="btn-icon fa fa-plus"></i> Add FAQ Sub Category
                    </a>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="pull-right filter-bottom-margin">
                    <form id="changelist-search">
                        <div class="input-group" style="width: 250px;">
                            <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by category name" autofocus />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <form>
                    <div id="changelist-filter" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                        <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Filters <b class="caret margin-l-5"></b>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                            <li class="dropdown-header"> Status </li>
                            <li><a onclick="OnFilter('All');">All</a></li>
                            <li><a onclick="OnFilter('Yes');">Active</a></li>
                            <li><a onclick="OnFilter('No');">Inactive</a></li>
                        </ul>
                    </div>
                    <div class="actions pull-left filter-bottom-margin">
                        <div class="form-inline">
                            <label class="margin-r-5">Actions</label>
                            <div class="input-group margin-r-5">
                                <select class="form-control" id="dropDownId" name="action" required>
                                    <option value="not_selected" selected="selected">--Select Any Action--</option>
                                    @*<option value="delete_selected">Delete selected FAQ Subcategory</option>*@
                                    <option value="active_selected">Active selected FAQ Subcategory</option>
                                    <option value="inactive_selected">Inactive selected FAQ Subcategory</option>
                                </select>
                                <input class="select-across form-control" name="select_across" type="hidden" value="0" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" title="Run the selected action" onclick="AppendCheckLists()">Go</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="grid" class="display table table-bordered table-striped k-content">
                    </div>
                    @Html.Hidden("statusFilter")
                    @Html.Hidden("checkedData")
                </form>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </section>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script type="text/javascript">
    var pageLimit = '@PageLimit';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "FAQSubCategory", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    toastr.warning("Error");
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //for CheckedAll
    function SelectAll() {
        //alert(1);
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    }

    //Checked Record Deleted
    //bind click event to the checkbox
    function RemoveAllSelectedRows(id) {
        AsyncConfirmForDeleteSelected(
            "Delete confirmation.",
            "Are you sure you want to Delete this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function AsyncConfirmForDeleteSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteChecked", "FAQSubCategory", new { area = "admin" })',
                data: {
                    sID: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    }

    function AppendCheckLists() {
        var notChecked = [], checked = [];
        $(":checkbox").map(function () {
            this.checked ? checked.push(this.id) : notChecked.push(this.id);
        });
        $("#checkedData").val(checked);
        if (checked.length == 0 || checked.length == "") {
            toastr.warning('please select at least one record');
            return false;
        }
        else {
            if ($("#dropDownId option:selected").val() == "delete_selected") {
                var b = RemoveAllSelectedRows($("#checkedData").val());
            }
            else if ($("#dropDownId option:selected").val() == "active_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "FAQSubCategory", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(), // < note use of 'this' here
                        bIsActiveRequest: true
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });

            }
            else if ($("#dropDownId option:selected").val() == "inactive_selected") {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("ActiveInactiveChecked", "FAQSubCategory", new { area = "admin" })',
                    data: {
                        sID: $("#checkedData").val(),// < note use of 'this' here
                        bIsActiveRequest: false
                    },
                    success: function (result) {
                        if (result.success == true) {
                            toastr.success(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        else {
                            toastr.warning(result.Msgnew);
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }
            else {
                $('#dropDownId').css('border-bottom', 'solid 1px red');
                return false;
            }
        }
    };

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id
         );
    }

    function InActiveChecked(value) {

        $.ajax({
            type: "GET",
            url: "@StrPath/admin/faqsubcategory/InActiveChecked/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function ActiveChecked(value) {

        $.ajax({
            type: "GET",
            url: "@StrPath/admin/FAQSubCategory/ActiveChecked/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function refreshGrid() {

        $.ajax({
            type: "Post",
            url: '@StrPath/admin/FAQSubCategory/FAQSubCategory_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });

        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model))
        //Bind with initial data
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                // selectable: "row",//""multiple row"",
                filterable: true,
                //, dataSource: { data: modelData, pageSize: 10 }
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("FAQSubCategory_Read", "FAQSubCategory"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    pageSize: pageLimit,
                    serverPaging: true,
                    serverFiltering: true,
                    //Filterable:true,
                },
                columns:
                 [
                    { title: "<input type='checkbox' id='chkSelectAll' onclick='SelectAll();'/>", width: 30, template: "<input type='checkbox' class='checkbox'   id='#=faq_sub_category_id#' ", attributes: { style: "font-size:14px;" } },
                 { field: "faq_category_title", title: "FAQ Category", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;width:12%;  font-weight: bold;" }, attributes: { style: "font-size:14px;width:12%; " } },
                 { field: "sub_category_title", title: "Question", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;width:12%;  font-weight: bold;" }, attributes: { style: "font-size:14px;width:12%; " } },
                 { field: "sub_category_description", title: "Answer", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3; /* number of lines to show */-webkit-box-orient: vertical; " } },
                 { field: "is_active", title: "Status", template: '# if(is_active) {# <a onclick="InActiveChecked(#=faq_sub_category_id#)" class="label label-success">Active</a> #} else {# <a onclick="ActiveChecked(#=faq_sub_category_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center;font-size:14px; width:8%; font-weight: bold;" }, attributes: { style: "font-size:14px;text-align:center; width:8%;" }, filterable: false },
                 { field: "faq_sub_category_id", title: "Actions", template: '# if(faq_sub_category_id) {# <a href="@StrPath/admin/faqsubcategory/addeditfaqsubcategory/#=faq_sub_category_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="RemoveSelectedRow(#=faq_sub_category_id#)" class="btn btn-default btn-sm btn-icon-only fa fa-trash"></a> #}  #', headerAttributes: { style: "text-align:center;font-size:14px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:10%; text-align:center;" }, filterable: false }
                 ]
            });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {

            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>
