﻿@model Traderdock.Entity.Model.ChangePasswordModel
<div class="main-container" style="min-height: 203px;">
    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="inner-xs-container log-process-form">
                <div class="section-title">
                    <h3 class="heading">Change Password</h3>
                </div>
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                {
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons">vpn_key</span>
                        @Html.PasswordFor(m => m.old_password, new { @class = "form-control", @placeholder = "Old Password" })
                        @Html.ValidationMessageFor(m => m.old_password, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons">vpn_key</span>
                        @Html.PasswordFor(m => m.new_password, new { @class = "form-control", @placeholder = "New Password" })
                        @Html.ValidationMessageFor(m => m.new_password, "", new { @style = "color:red" })
                    </div>
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons">vpn_key</span>
                        @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control", @placeholder = "Retype Password" })
                        @Html.ValidationMessageFor(m => m.confirm_password, "", new { @style = "color:red" })
                    </div>
                    if (TempData["ErrorUserMsg"] != null)
                    {
                        <span class="field-validation-error" style="color:red"> @TempData["ErrorUserMsg"] </span>
                    }
                    if (TempData["SuccessMsg"] != null)
                    {
                        <span class="field-validation-error" style="color:green"> @TempData["SuccessMsg"] </span>
                    }
                    <div class="form-action">
                    <input type="submit" value="Change Password" class="btn btn-success btn-raund btn-block" />
                </div>
                }
            </div>
        </div>
    </div> <!-- End Page Section -->
    </div>