﻿@model Traderdock.Entity.MemberModel.MemberModel
@{
    ViewBag.Title = "Complete Profile";
}

<div class="main-container" style="min-height: 227px;">

    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="col-sm-6 col-lg-5">
                <div class="section-title">
                    <h3 class="heading">Complete Profile</h3>
                </div>
                <p>Details required before you continue using your free trial account</p>
                @using (Html.BeginForm("CompleteProfile", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group has-feedback left-feed">
                        @*<span class="form-control-feedback material-icons">location_on</span>
                            <input type="text" class="form-control" placeholder="Address">*@
                        <span class="form-control-feedback material-icons">place</span>
                        <div id="locationField">
                            @Html.TextBoxFor(m => m.address, "", new { @class = "form-control", @id = "autocomplete", @placeholder = "Street Address",onkeypress="return event.keyCode != 13;" @*onchange = "return OnaddressChange();"*@ })
                            @Html.ValidationMessageFor(m => m.address, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.user_id)
                        </div>
                        <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    </div>
                        <div class="row small-row-gapping">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback left-feed">
                                    <span class="form-control-feedback material-icons">public</span>
                                    @Html.DropDownListFor(model => model.country_id, Model.CountryList, "Select Country", new { @class = "form-control", @id = "country" })
                                    @Html.ValidationMessageFor(model => model.country_id, "", new { @style = "color:red" })
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback left-feed">
                                    <span class="form-control-feedback material-icons">location_city</span>
                                    @Html.TextBoxFor(model => model.state_name, new { @class = "form-control", @id = "administrative_area_level_1", @placeholder = "State" })
                                    @Html.ValidationMessageFor(model => model.state_name, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                        <div class="row small-row-gapping">
                            <div class="col-sm-6">
                                <div class="form-group has-feedback left-feed">
                                    <span class="form-control-feedback material-icons">location_city</span>
                                    @Html.TextBoxFor(m => m.city_name, new { @class = "form-control", @id = "locality", @placeholder = "City" })
                                    @Html.ValidationMessageFor(m => m.city_name, "", new { @style = "color:red" })
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group has-feedback left-feed">
                                    <span class="form-control-feedback material-icons">looks_one</span>
                                    @Html.TextBoxFor(m => m.postal_code, new { @class = "form-control", @id = "postal_code", @placeholder = "Postal Code" })
                                    @Html.ValidationMessageFor(m => m.postal_code, "", new { @style = "color:red" })
                                </div>
                            </div>
                        </div>
                        <div class="row small-row-gapping">
                            @*<div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">public</span>
                                        <select class="form-control">
                                            <option>Select Country</option>
                                            <option value="1">India</option>
                                            <option value="1">Pakistan</option>
                                        </select>
                                    </div>
                                </div>*@
                            @*<div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">location_city</span>
                                        <input type="text" class="form-control" placeholder="State">
                                    </div>
                                </div>*@
                            @*<div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">location_city</span>
                                        <input type="text" class="form-control" placeholder="City">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">looks_one</span>
                                        <input type="text" class="form-control" placeholder="Pincode">
                                    </div>
                                </div>*@
                        </div>
                        <div class="form-group">
                            <div class="form-meta">
                                <label class="checkbox-set">
                                    @Html.CheckBoxFor(m => m.chkSubscriptionAgreement, new { @name = "Remember" })I accept the Market Data Subscription Agreement
                                    <span></span>
                                </label>
                                <br />
                                @Html.ValidationMessageFor(m => m.chkSubscriptionAgreement, "", new { @style = "color:red" })
                            </div>
                            <div class="text-content-box">
                                @Html.Raw(Model.SubscriptionAgreement)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-meta">
                                <label class="checkbox-set">
                                    @Html.CheckBoxFor(m => m.chkSelfCertification, new { @name = "Remember1" })I accept the Market Data Self - Certification
                                    <span></span>
                                </label>
                                <br />
                                @Html.ValidationMessageFor(m => m.chkSelfCertification, "", new { @style = "color:red" })
                                <span class="field-validation-error" style="color:red" id="spanSelfCertification"></span>
                            </div>
                            <div class="text-content-box">
                                @Html.Raw(Model.SelfCertification)
                            </div>
                        </div>
                        <div class="form-action">
                            @*<input type="submit" id="btnSave" onclick="reviewSubscription();" value="Submit" class="btn btn-primary btn-block" />*@
                            <input type="submit" id="btnSave" value="Submit" class="btn btn-success btn-raund btn-block" />
                        </div>
                }

            </div>
            <div class="col-sm-6 col-lg-offset-1 pull-sm-right">
                <div class="">
                    <div class="section-title">
                        <h3 class="heading">Steps to Connect your Account</h3>
                    </div>
                    <h4 class="heading font-medium">1. Download and Install the Trading PLatform.</h4>
                    <div class="form-action clearfix">
                        <div class="row">
                            <div class="col-sm-6">                                
                                <a href="https://rithmic.com/rtraderpro.msi" class="btn btn-success btn-raund btn-signup btn-block">Download RTrader</a>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-success btn-raund btn-signup btn-block" type="button">Download Ninja-Trader</button>
                            </div>
                        </div>
                    </div>
                    <h4 class="heading font-medium box-top-margin">2.  Connect your account</h4>
                    <p>Details required before you continue using your account</p>
                    <p>When the installation of any Trading Platform is compete, you have to LOGIN using the credentials emailed to your registered Email Id.</p>
                    <p>If you didn’t receive the Email from TraderDock for the login credentials please <a class="text-underline" href="javascript:;">contact our Support Team</a></p>
                </div>
            </div>
        </div>
    </div> <!-- End Page Section -->

</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>


@*Country drop down change*@
<script>
    var userid = '@Session["MemberID"]';
    $("#user_id").val(userid);
    $(document).ready(function () {
        $("#country_id").change(function () {
            if (parseInt($("#country_id").val()) > 0) {
                $("#state_id").empty();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                dataType: 'json',
                data: { id: parseInt($("#country_id").val()) },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#state_id").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
                //,error: function (ex) {
                //    alert('Failed to retrieve states.' + ex);
                //}
            });
            return false;
        })
    });
</script>
<!-- Replace the value of the key parameter with your own API key. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBh7FZPFKEA60Iv4OfWCbfpivuPYPsXrRM&libraries=places&callback=initAutocomplete"
        async defer></script>
<script>
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'

    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
           (document.getElementById('autocomplete')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //for (var component in componentForm) {
        //    if (!postal_code || !country) {
        //        document.getElementById(component).value = '';
        //        document.getElementById(component).disabled = false;
        //    }
        //}
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
             
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                 
                document.getElementById(addressType).value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
            }
        }
        $("#country").click();
    }
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
    function OnaddressChange() {
        $("input[type='text']:not('.native')").wijtextbox();
    }
</script>
<script>
    // extend jquery range validator to work for required checkboxes
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }
</script>
<script type="text/javascript">
    function reviewSubscription(e) {
         
        //var vsubscriptionid = $("#subscription_id").val();
        //var bsubscriptionid = false;
        var vcountryid = $("#country_id").val();
        var bcountryid = false;
        var vstatename = $("#administrative_area_level_1").val();
        var bstatename = false;
        var vcityname = $("#locality").val();
        var bcityname = false;
        var vaddress = $("#Address").val();
        var baddress = false;
        var vpostcode = $("#PostCode").val();
        var bpostcode = false;
        var vSubscriptionAgreement = $("#chkSubscriptionAgreement").val();
        var bSubscriptionAgreement = false;
        var vSelfCertification = $("#chkSelfCertification").val();
        var bSelfCertification = false;

        if (jQuery.trim(vaddress) == "") {
            $('#spanAddress').text("Please enter address");
            baddress = false;
        }
        else {
            $('#spanAddress').text('');
            baddress = true;
        }
        if (jQuery.trim(vcountryid) == "") {
            $('#spanCountry').text("Please select country.");
            bcountryid = false;
        }
        else {
            $('#spanCountry').text('');
            bcountryid = true;
        }
        if (jQuery.trim(vstatename) == "") {
            $('#spanadministrative_area_level_1').text("Please enter state.");
            bstatename = false;
        }
        else {
            $('#spanadministrative_area_level_1').text('');
            bstatename = true;
        }
        if (jQuery.trim(vcityname) == "") {
            $('#spanlocality').text("Please enter city.");
            bcityname = false;
        }
        else {
            $('#spanlocality').text('');
            bcityname = true;
        }
        if (jQuery.trim(vpostcode) == "") {
            $('#spanPostCode').text("Please enter postal code.");
            bpostcode = false;
        }
        else {
            $('#spanPostCode').text('');
            bpostcode = true;
        }
        if ($('#chkSubscriptionAgreement').is(":checked") != true) {
            $('#spanSubscriptionAgreement').text("Please select subscription agreement.");
            bSubscriptionAgreement = false;
        }
        else {
            $('#spanSubscriptionAgreement').text('');
            bSubscriptionAgreement = true;
        }
        if ($('#chkSelfCertification').is(":checked") != true) {
            $('#spanSelfCertification').text("Please select self certification.");
            bSelfCertification = false;
        }
        else {
            $('#spanSelfCertification').text('');
            bSelfCertification = true;
        }
         
        if (bcountryid && bstatename && bcityname && baddress && bpostcode && bSubscriptionAgreement && bSelfCertification) {
            var model = {
                address: vaddress,
                country_id: vcountryid,
                state_name: vstatename,
                city_name: vcityname,
                postal_code: vpostcode
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("EditProfileAddress", "Account")',
                data: JSON.stringify(model),
                success: function (result) {
                    if (result) {
                        $("#reviewSubscriptionModal").modal('hide');
                        $("#addPaymentModal").modal();
                        $("#DateYear").datepicker({
                            format: "mm/yyyy",
                            viewMode: "months",
                            minViewMode: "months"
                        });
                        $("#DateYear").val("");
                        $("#CVV").val("");
                    }
                    else {
                        
                    }
                },
                error: function (result) {
                    
                }
            });
        }

        return false;
    };
</script>
