﻿@model Traderdock.Entity.Model.LoginModel
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "user";
}
<div class="main-container">
    <!-- Page Section -->
    <div class="page-section page-section-padding-sm-bottom-none">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-offset-1 pull-sm-right">
                    <div class="log-process-form box-top-margin">
                        <div class="section-title">
                            <h3 class="heading">Welcome back</h3>
                        </div>
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            if (TempData["SuccessMsg"] != null)
                            {
                                <span class="" style="color:green"> @TempData["SuccessMsg"] </span>
                            }
                            if (TempData["ForgetPasswordCSuccessMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:green"> @TempData["ForgetPasswordCSuccessMsg"] </span>
                            }
                            if (TempData["CngPwdSMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:green"> @TempData["CngPwdSMsg"] </span>
                            }
                            if (TempData["PasswordResetMessage"] != null)
                            {
                                <span class="field-validation-error" style="color:green"> @TempData["PasswordResetMessage"] </span>
                            }
                            <div class="form-group has-feedback left-feed">
                                <span class="form-control-feedback material-icons">email</span>
                                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group has-feedback left-feed">
                                <span class="form-control-feedback material-icons">vpn_key</span>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @value = Model.Password })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group form-meta">
                                <label class="checkbox-set">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @name = "Remember" })
                                    Stay Logged in?
                                    <span></span>
                                    @Html.HiddenFor(m => m.RememberMe)
                                </label>
                                <a href="#forgotPasswordModal" class="text-underline pull-right" data-toggle="modal" data-dismiss="modal" data-backdrop="static" data-keyboard="false">Forgot Password?</a>
                            </div>

                            if (TempData["NoAccountExist"] != null)
                            {
                                <span class="field-validation-error" style="color:red"> @TempData["NoAccountExist"] </span>
                            }
                            if (TempData["ErrorUserMsg"] != null)
                            {
                                <div id="divErrorUserMsg">
                                    <span class="field-validation-error" style="color:red"> @TempData["ErrorUserMsg"] </span> <a onclick="ResendVerificationMail()" class="text-underline" style="cursor:pointer">Resend Verification Email</a>
                                </div>
                            }
                            if (TempData["EMailLimitExhaust"] != null)
                            {
                                <span class="field-validation-error" style="color:red"> @TempData["EMailLimitExhaust"] </span>
                            }
                            if (TempData["ForgetPasswordCErrorMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:red"> @TempData["ForgetPasswordCErrorMsg"] </span>
                            }
                            if (TempData["CngPwdEMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:red"> @TempData["CngPwdEMsg"] </span>
                            }
                            <div class="form-action">
                                <input type="submit" value="Login" class="btn btn-success btn-raund btn-block" />
                            </div>
                            <p class="text-center">Don’t have an account? <a href="~/account/register" class="text-underline">Sign Up!</a></p>
                        }
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-6 col-lg-5">
                    <div class="log-process box-top-margin">
                        @Html.Raw(Model.LoginCMS)
                        @*<div class="section-title">
                                <h3 class="heading">Become Our Member!</h3>
                            </div>
                            <ul class="list-unstyled list-icon list-gapping">
                                <li><span class="icon material-icons text-green">check</span>Quick Setup - Start Trading Today</li>
                                <li><span class="icon material-icons text-green">check</span>Don't risk your own capital on a spreadbet/broker's account - use ours</li>
                                <li><span class="icon material-icons text-green">check</span>Incredible Profit Potential - Take home 80% of your trading profits</li>
                                <li><span class="icon material-icons text-green">check</span>Support Multiple Trading platform</li>
                                <li><span class="icon material-icons text-green">check</span>Analytics and feedback to help you pass the TraderDock Challenge</li>
                            </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Section -->
    <!-- Forget Password-->
    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordModalLabel">
        <div class="modal-dialog" role="document">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "modal-content" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-header section-title">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="forgotPasswordModalLabel">Forgot Password</h3>
                </div>
                <div class="modal-body">
                    <p>Please enter the e-mail address you used to register. We will e-mail you a link that will allow you to enter a new password.</p>
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons">email</span>
                        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
                    </div>
                    <div class="form-action">
                        <input type="submit" value="Submit" class="btn btn-success btn-raund btn-block" />
                    </div>
                    <p class="text-center">Remember Password? <a href="javascript;;" data-dismiss="modal" class="text-underline">Login</a></p>
                </div>
            }
        </div>
    </div>
    <!-- End Forget Password-->
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function ResendVerificationMail() {
        $(".full-loarder").css("display", "block");
        $.ajax({
            type: "GET",
            url: '@StrPath/Account/ResendMail',
            data: { strEmail: $("#Email").val() },
            success: function (result) {
                debugger;
                location.reload();
                $("#divErrorUserMsg").text('')
                $(".full-loarder").css("display", "none");
            },
            error: function (xhr, status, p3, p4) {
                $(".full-loarder").css("display", "none");
            }
        });
    }
</script>