﻿@model Traderdock.Entity.MemberModel.MemberModel
@{
    ViewBag.Title = "Edit Profile";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string GooglePlaceAPIKey = System.Web.Configuration.WebConfigurationManager.AppSettings["GooglePlaceAPIKey"];
    @Html.Hidden("GooglePlaceAPIKey", GooglePlaceAPIKey);
}
<script src="~/Scripts/jquery-1.12.4.js"></script>
<div class="main-container" style="min-height: 37px;">
    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#PersonalInfo" aria-controls="PersonalInfo" role="tab" data-toggle="tab" aria-expanded="false">Personal Info</a></li>
                <li role="presentation" class=""><a href="#Subscription" aria-controls="Subscription" role="tab" data-toggle="tab" aria-expanded="false">Subscription</a></li>
                <li role="presentation" class=""><a href="#PaymentHistory" aria-controls="PaymentHistory" role="tab" data-toggle="tab" aria-expanded="true">Payment History</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="PersonalInfo">
                    <div class="row">
                        <div class="col-sm-6">
                            @using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                if (TempData["ErrorUserMsg"] != null)
                                {
                                    <span class="field-validation-error" style="color:red"> @TempData["ErrorUserMsg"] </span>
                                }
                                if (TempData["SuccessMsg"] != null)
                                {
                                    <span class="field-validation-error" style="color:green"> @TempData["SuccessMsg"] </span>
                                }

                                <div class="form-group">
                                    <div class="fileinput clearfix fileinput-new">
                                        <div class="fileinput-preview thumbnail" style="width: 90px; height: 90px;">
                                            <img id="profileimage" src="http://localhost:50428/Img/Default_profile.png" onclick="document.getElementById('file1').click(); return false;" />
                                        </div>
                                        <p>* Max Size 300x300 px</p>
                                        <div class="upload-photo-btn">
                                            <span class="btn btn-default btn-file fileinput-new">
                                                <span class="fileinput-new">Upload photo</span>
                                                <input type="file" class="btn btn-primary btn-block" name="file1" id="file1" vale="">
                                                @*<span class="fileinput-new" onclick="document.getElementById('file1').click(); return false;"><i class="btn-icon fa fa-paperclip"></i>Change Image</span>*@
                                            </span>
                                            <a onclick="document.getElementById('file1').click(); return false;" class="btn btn-link fileinput-exists btn-sm"><i class="fa fa-trash text-muted"></i>&nbsp;&nbsp;Remove Image</a>
                                        </div>
                                        @Html.HiddenFor(model => model.FileName)@Html.HiddenFor(model => model.profile_image_url)
                                    </div>
                                    @Html.ValidationMessageFor(m => m.profile_image_url, "", new { @style = "color:red" })
                                </div>
                                <div class="row small-row-gapping">
                                    @Html.HiddenFor(m => m.user_id)
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons" style="text-indent:13px;">persone</span>
                                            @Html.TextBoxFor(m => m.first_name, "", new { @class = "form-control", @placeholder = "First Name" })
                                            @Html.ValidationMessageFor(m => m.first_name, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                                            @Html.TextBoxFor(m => m.last_name, "", new { @class = "form-control", @placeholder = "Last Name" })
                                            @Html.ValidationMessageFor(m => m.last_name, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row small-row-gapping">
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">email</span>
                                            @Html.TextBoxFor(m => m.user_email, "", new { @class = "form-control", @placeholder = "Email", @readonly = true })
                                            @Html.ValidationMessageFor(m => m.user_email, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">phone_android</span>
                                            @Html.TextBoxFor(m => m.contact_number, "", new { @class = "form-control", @placeholder = "Phone Number", @maxlength = "15", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                                            @Html.ValidationMessageFor(m => m.contact_number, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row small-row-gapping">
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">date_range</span>
                                            @*datepickershow*@
                                            @Html.TextBoxFor(m => m.birth_date, "", new { @class = "form-control", @placeholder = "Birth Date", @readonly = "readonly" })
                                            @Html.ValidationMessageFor(m => m.birth_date, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback fa fa-male"></span>
                                            @Html.DropDownListFor(model => model.gender, new SelectList(Model.GenderList, "Value", "Text"), "Select Gender", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.gender, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row small-row-gapping">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">location_on</span>
                                        @Html.TextBoxFor(m => m.address, "", new
                                   {
                                       @class = "form-control",
                                       @id = "autocomplete",
                                       @placeholder = "Street Address",
                                       onkeypress = "return event.keyCode != 13;" @*onchange = "return OnaddressChange();"*@ })
                                        @Html.ValidationMessageFor(m => m.address, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="row small-row-gapping">
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">public</span>
                                            @Html.DropDownListFor(m => m.country_id, new SelectList(Model.CountryList, "Value", "Text"), "Select Country", new { @class = "form-control", @id = "country" })
                                            @Html.ValidationMessageFor(m => m.country_id, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">location_city</span>
                                            @Html.TextBoxFor(m => m.state_name, "", new { @class = "form-control", @id = "administrative_area_level_1", @placeholder = "State" })
                                            @Html.ValidationMessageFor(m => m.state_name, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row small-row-gapping">
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">location_city</span>
                                            @Html.TextBoxFor(m => m.city_name, "", new { @class = "form-control", @id = "locality", @placeholder = "City" })
                                            @Html.ValidationMessageFor(m => m.city_name, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">looks_one</span>
                                            @Html.TextBoxFor(m => m.postal_code, "", new { @class = "form-control", @id = "postal_code", @placeholder = "Postal Code" })
                                            @Html.ValidationMessageFor(m => m.postal_code, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row small-row-gapping">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback fa fa-skype"></span>
                                        @Html.TextBoxFor(m => m.SkypeName, "", new { @class = "form-control", @placeholder = "Skype Name" })
                                    </div>
                                </div>
                                <div class="form-action">
                                    @*<input type="submit" value="Save" class="btn btn-primary btn-block" />*@
                                    <input type="submit" id="btnSave" value="Save" class="btn btn-success btn-raund btn-block" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Subscription">
                    <!-- if -->
                    <div class="subscription">
                        @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>*@
                        <div class="row">
                            <div class="col-sm-6">
                                @*<div class="table-responsive box-top-margin table-bg">*@
                                <div class="table-responsive table-bg" style="margin-top:0 !important;">
                                    <table class="table table-striped box-top-margin">
                                        <thead>
                                            <tr>
                                                <th>Starting Balance</th>
                                                <th class="text-right"><span>$</span>@Model.objSubsciptionModel.starting_balance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Max Position Size</td>
                                                <td align="right">@Model.objSubsciptionModel.max_position_size<span> lot</span></td>
                                            </tr>
                                            <tr>
                                                <td>Daily Loss Limit</td>
                                                <td align="right"><span>$</span>@Model.objSubsciptionModel.daily_loss_limit</td>
                                            </tr>
                                            <tr>
                                                <td>Max Drawndown</td>
                                                <td align="right"><span>$</span>@Model.objSubsciptionModel.max_drawdown</td>
                                            </tr>
                                            <tr>
                                                <td>Profit Target</td>
                                                <td align="right"><span>$</span>@Model.objSubsciptionModel.profit_target</td>
                                            </tr>
                                            <tr>
                                                <td>Price Per Month</td>
                                                <td align="right"><span>$</span>@Model.objSubsciptionModel.price_per_month</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- else  -->
                    <div class="empty hide">
                        There is no active subscription listed for this user.
                    </div>
                    <!-- <\php> -->
                </div>
                <div role="tabpanel" class="tab-pane " id="PaymentHistory">
                    @*<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>*@
                    <div class="clearfix"></div>
                    @*<div class="table-responsive box-top-margin table-bg">*@
                    <div class="table-responsive table-bg" style="margin-top:0 !important;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tran. ID</th>
                                    <th>Date</th>
                                    <th>Transacted for</th>
                                    <th class="text-right">Amount</th>
                                    <th class="text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.lstPaymentHistory)
                                {
                                    <tr>
                                        <td>@item.transaction_id</td>
                                        <td>@item.purchase_date</td>
                                        <td>@item.subscription_name</td>
                                        <td align="right">$@item.order_amount</td>
                                        <td align="center">
                                            @if (item.payment_status == 1)
                                            {
                                                <label class="label label-success">Paid</label>
                                            }
                                            else
                                            {
                                                <label class="label label-success">Un-Paid</label>
                                            }
                                        </td>
                                    </tr>
                                }
                                @if (Model.lstPaymentHistory.Count == 0)
                                {
                                    <tr>
                                        <td rowspan="1" colspan="5"> No items to display.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page Section -->
</div>
<script type="text/javascript">
    $("document").ready(function () {
        $('#birth_date').datepicker({
            format: 'dd/mm/yyyy',
            endDate: '+0d',
            autoclose: true
        });

        $("#Phone").keyup(function () {
            var $this = $(this);
            $this.val($this.val().replace(/[^\d+-.]/g, ''));
        });
        $("#filenm").hide();
        if ('@Model.FileName' == null || '@Model.FileName' == "") {
             
            $("#profileimage").attr("src", '../Img/Default_profile.png');
        }
        else {
             
            $("#profileimage").attr("src", '@Model.FileName');
        }
        $("#file1").on('change', function (e) {
             
            var files = e.target.files;
            if (files.length > 0) {
                var uploadedfile = document.getElementById('file1');
                var ext = uploadedfile.files[0].type.split("/")[1];
                var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
                if (fileExtension.indexOf(ext) == -1) {
                    document.getElementById('file1').value = "";
                    //alertify.alert("Only jpeg, jpg, gif, png can be uploaded");
                    alert("Only jpeg, jpg, gif, png can be uploaded.");
                }
                else {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                         
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        var url = window.location.href.toString();
                        var index = url.toUpperCase().indexOf('ADMIN');
                        var siteurl = url.substring(0, index) + 'Account/UploadImage';

                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("UploadImage", "Account")',
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                 
                                $("#profileimage").text(result.Data);
                                $("#profile_name").val(result.Data);
                                if (result.Data != null || result.Data != "") {
                                     
                                    $("#profileimage").show();
                                    $("#profileimage").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                    $("#profile_image_url").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                    document.getElementById("btnSaveImage").disabled = false;
                                }
                                else {
                                     
                                    $("#profileimage").hide();
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                
                            }
                        });
                    } else {
                        //alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
            if ($.trim($("#profileimage").attr("src")) != "")// check image has src
            {
                $("#btmremove").show();
            }
            else {
                $("#btmremove").hide();
            }
        });
    });
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }


</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>


@*Country drop down change*@
<script>

    var userid = '@Session["MemberID"]';
    $("#user_id").val(userid);

    $(document).ready(function () {

        $("#country_id").change(function () {
            if (parseInt($("#country_id").val()) > 0) {
                $("#state_id").empty();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                dataType: 'json',
                data: { id: parseInt($("#country_id").val()) },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#state_id").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
                //,error: function (ex) {
                //    alert('Failed to retrieve states.' + ex);
                //}
            });
            return false;
        })
    });
</script>
<!-- Replace the value of the key parameter with your own API key. -->
<script>
    var GooglePlaceAPIKey = $('#GooglePlaceAPIKey').val();
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?key=" + GooglePlaceAPIKey + "&libraries=places&callback=initAutocomplete";
    document.getElementsByTagName('script')[0].parentNode.appendChild(script);
</script>
<script>
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'

    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
           (document.getElementById('autocomplete')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //for (var component in componentForm) {
        //    if (!postal_code || !country) {
        //        document.getElementById(component).value = '';
        //        document.getElementById(component).disabled = false;
        //    }
        //}
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
             
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
                else {
                    document.getElementById(addressType).value = val;
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
                else {
                    document.getElementById(addressType).value = val;
                }
            }
        }
        $("#country").click();
    }
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
    function OnaddressChange() {
        $("input[type='text']:not('.native')").wijtextbox();
    }
</script>
