﻿@model Traderdock.Entity.MemberModel.MemberModel
@{
    ViewBag.Title = "Log in";
    string GooglePlaceAPIKey = System.Web.Configuration.WebConfigurationManager.AppSettings["GooglePlaceAPIKey"];
    @Html.Hidden("GooglePlaceAPIKey", GooglePlaceAPIKey);
}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="main-container" style="min-height: 203px;">
    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="row">
            </div>
            <div class="row" id="address">
                <div class="col-sm-6 col-lg-offset-1 pull-sm-right">
                    <div class="log-process-form  box-top-margin">
                        <div class="section-title">
                            <h3 class="heading">Sign Up for free</h3>
                        </div>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                                        @Html.TextBoxFor(m => m.first_name, "", new { @class = "form-control", @placeholder = "First Name" })
                                        @Html.ValidationMessageFor(m => m.first_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                                        @Html.TextBoxFor(m => m.last_name, "", new { @class = "form-control", @placeholder = "Last Name" })
                                        @Html.ValidationMessageFor(m => m.last_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">email</span>
                                        @Html.TextBoxFor(m => m.user_email, "", new { @class = "form-control", @placeholder = "Email", onchange = "return ChangeUserEmail();", maxlength = "100" })
                                        @Html.ValidationMessageFor(m => m.user_email, "", new { @style = "color:red" })
                                        <h6 style="color:red;display:none;" id="emailerrormsg"> </h6>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">phone_android</span>
                                        @Html.TextBoxFor(model => model.contact_number, new { @class = "form-control", @placeholder = "Phone Number", onkeypress = "return isNumberKey(event)", @maxlength = "15", onpaste = "return false;" })
                                        @Html.ValidationMessageFor(model => model.contact_number, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <!-- Client Feedback - 14Sep2017 (By Shoaib - To remove popup in case Free Trial)-->
                            <div class="form-group has-feedback left-feed">
                                <span class="form-control-feedback material-icons">place</span>
                                <div id="locationField">
                                    @Html.TextBoxFor(m => m.address, "", new
                                       {
                                           @class = "form-control",
                                           @id = "autocomplete",
                                           @placeholder = "Street Address",
                                           onkeypress = "return event.keyCode != 13;" @*onchange = "return OnaddressChange();"*@
                                       })
                                    @Html.ValidationMessageFor(m => m.address, "", new { @style = "color:red" })
                                    @Html.HiddenFor(m => m.user_id)
                                </div>
                                <h6 style="color:red;display:none;" id="errormsg"> </h6>
                            </div>
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">public</span>
                                        @Html.DropDownListFor(model => model.country_id, Model.CountryList, "Select Country", new { @class = "form-control", @id = "country" })
                                        @Html.ValidationMessageFor(model => model.country_id, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">location_city</span>
                                        @Html.TextBoxFor(model => model.state_name, new { @class = "form-control", @id = "administrative_area_level_1", @placeholder = "State" })
                                        @Html.ValidationMessageFor(model => model.state_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">location_city</span>
                                        @Html.TextBoxFor(m => m.city_name, new { @class = "form-control", @id = "locality", @placeholder = "City" })
                                        @Html.ValidationMessageFor(m => m.city_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">looks_one</span>
                                        @Html.TextBoxFor(m => m.postal_code, new { @class = "form-control", @id = "postal_code", @maxlength=8, @placeholder = "Postal Code" })
                                        @Html.ValidationMessageFor(m => m.postal_code, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">vpn_key</span>
                                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.password, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">vpn_key</span>
                                        @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control", @placeholder = "Confirm Password" })
                                        @Html.ValidationMessageFor(m => m.confirm_password, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row small-row-gapping">
                            </div>
                            <div class="form-group">
                                <div class="form-meta">
                                    <label class="checkbox-set">
                                        @Html.CheckBoxFor(m => m.chkSubscriptionAgreement, new { @name = "Remember" })I accept the Market Data Subscription Agreement
                                        <span></span>
                                    </label>
                                    <br />
                                    @Html.ValidationMessageFor(m => m.chkSubscriptionAgreement, "", new { @style = "color:red" })
                                </div>
                                <div class="text-content-box">
                                    @Html.Raw(Model.SubscriptionAgreement)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-meta">
                                    <label class="checkbox-set">
                                        @Html.CheckBoxFor(m => m.chkSelfCertification, new { @name = "Remember1" })I accept the Market Data Self - Certification
                                        <span></span>
                                    </label>
                                    <br />
                                    @Html.ValidationMessageFor(m => m.chkSelfCertification, "", new { @style = "color:red" })
                                    <span class="field-validation-error" style="color:red" id="spanSelfCertification"></span>
                                </div>
                                <div class="text-content-box">
                                    @Html.Raw(Model.SelfCertification)
                                    <input id="IsTrial" type="hidden" name="IsTrial" value="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    @*<div class="col-md-6">
                                            <div class="form-meta">
                                                <label class="checkbox-set">
                                                    @Html.RadioButtonFor(m => m.rbPlatform, "1", new { @id = "rbPlatform" })<img style="width: 203px;" src="../content/front/dist/img/trader-logo.png">
                                                    <span></span>
                                                </label>
                                            </div>
                                    </div>*@
                                    <div class="col-md-6">
                                        <div class="form-meta">
                                            <label class="checkbox-set">
                                                @Html.RadioButtonFor(m => m.rbPlatform, "2", new { @id = "rbPlatform" })<img src="../content/front/dist/img/ttlogo1.png">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                   
                                </div>
                                @Html.ValidationMessageFor(x => x.rbPlatform, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LfH2pgUAAAAAOsH1P449EjMILhY-qqDGwjn_K6C"></div>
                                <span class="field-validation-error" id="spanReCaptcha" data-valmsg-replace="true" style="color:red"></span>
                            </div>
                            <!-- Client Feedback - 14Sep2017 (By Shoaib - To remove popup in case Free Trial)-->
                            if (TempData["ErrorUserMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:red"> @TempData["ErrorUserMsg"] </span>
                            }
                            if (TempData["SuccessMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:green"> @TempData["SuccessMsg"] </span>
                            }
                            <div class="form-action">
                                <input type="submit" onclick="sendAjaxRequest()" id="btnSave" value="Join TraderDock" class="btn btn-success btn-raund btn-block" />
                            </div>
                            <p class="text-center">Already have an account? <a href="~/account/login" class="text-underline">Trader Login</a></p>
                        }
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-6 col-lg-5">
                    <div class="log-process  box-top-margin">
                        @Html.Raw(@Model.SignUpCMS)
                        <img src="~/Content/front/dist/img/ttlogo.png"  style="width: 50%;" alt="Signup Logo">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page Section -->
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    // extend jquery range validator to work for required checkboxes
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }
</script>

@*Country drop down change*@
<script>
    $(document).ready(function () {
        $("#country_id").change(function () {
            if (parseInt($("#country_id").val()) > 0) {
                $("#state_id").empty();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                dataType: 'json',
                data: { id: parseInt($("#country_id").val()) },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#state_id").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
            });
            return false;
        })
    });
</script>
<!-- Replace the value of the key parameter with your own API key. -->
<script>
    var GooglePlaceAPIKey = $('#GooglePlaceAPIKey').val();
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?key=" + GooglePlaceAPIKey + "&libraries=places&callback=initAutocomplete";
    document.getElementsByTagName('script')[0].parentNode.appendChild(script);
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'

    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        var place = autocomplete.getPlace();
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            //
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                //
                document.getElementById(addressType).value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
            }
        }
        $("#country").click();
    }
</script>
@*Google Recaptcha*@
<script type="text/javascript">
    var onloadCallback = function () { };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script>
    function sendAjaxRequest() {
        debugger;
        if (grecaptcha === undefined) {
            return;
        }
        var response = grecaptcha.getResponse();
        if (!response) {
            $("#spanReCaptcha").text('Please resolve captcha');
            return;
        }
        else {
            $("#spanReCaptcha").text('');
        }
    }
</script>