﻿@model Traderdock.Entity.MemberModel.MemberModel
@{
    ViewBag.Title = "Log in";
    string GooglePlaceAPIKey = System.Web.Configuration.WebConfigurationManager.AppSettings["GooglePlaceAPIKey"];
    @Html.Hidden("GooglePlaceAPIKey", GooglePlaceAPIKey);
}
<div class="main-container" style="min-height: 203px;">
    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="row">
            </div>
            <div class="row" id="address">
                <div class="col-sm-6 col-lg-offset-1 pull-sm-right">
                    <div class="log-process-form  box-top-margin">
                        <div class="section-title">
                            <h3 class="heading">Sign Up for free</h3>
                        </div>
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                                        @Html.TextBoxFor(m => m.first_name, "", new { @class = "form-control", @placeholder = "First Name" })
                                        @Html.ValidationMessageFor(m => m.first_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                                        @Html.TextBoxFor(m => m.last_name, "", new { @class = "form-control", @placeholder = "Last Name" })
                                        @Html.ValidationMessageFor(m => m.last_name, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">email</span>
                                        @Html.TextBoxFor(m => m.user_email, "", new { @class = "form-control", @placeholder = "Email", onchange = "return ChangeUserEmail();", maxlength = "100" })
                                        @Html.ValidationMessageFor(m => m.user_email, "", new { @style = "color:red" })
                                        <h6 style="color:red;display:none;" id="errormsg"> </h6>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">phone_android</span>
                                        @Html.TextBoxFor(model => model.contact_number, new { @class = "form-control", @placeholder = "Phone Number", onkeypress = "return isNumberKey(event)", @maxlength = "15", onpaste = "return false;" })
                                        @Html.ValidationMessageFor(model => model.contact_number, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group has-feedback left-feed">
                                    <span class="form-control-feedback material-icons">email</span>
                                    @Html.TextBoxFor(m => m.user_email, "", new { @class = "form-control", @placeholder = "Email", onchange = "return ChangeUserEmail();", maxlength = "100" })
                                    @Html.ValidationMessageFor(m => m.user_email, "", new { @style = "color:red" })
                                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                                </div>*@
                            @*<div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">place</span>
                                        <div id="locationField">
                                            @Html.TextBoxFor(m => m.address, "", new { @class = "form-control", @id = "autocomplete", @placeholder = "Street Address" })
                                            @Html.ValidationMessageFor(m => m.address, "", new { @style = "color:red" })
                                        </div>
                                        <h6 style="color:red;display:none;" id="errormsg"> </h6>
                                    </div>
                                    <div class="row small-row-gapping">
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback left-feed">
                                                <span class="form-control-feedback material-icons">location_city</span>
                                                @Html.TextBoxFor(m => m.city_name, new { @class = "form-control", @id = "locality", @placeholder = "City" })
                                                @Html.ValidationMessageFor(m => m.city_name, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback left-feed">
                                                <span class="form-control-feedback material-icons">local_post_office</span>
                                                @Html.TextBoxFor(m => m.postal_code, new { @class = "form-control", @id = "postal_code", @placeholder = "Postal Code" })
                                                @Html.ValidationMessageFor(m => m.postal_code, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row small-row-gapping">
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback left-feed">
                                                @Html.DropDownListFor(model => model.country_id, Model.CountryList, "Select Country", new { @class = "form-control", @id = "country" })
                                                @Html.ValidationMessageFor(model => model.country_id, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group has-feedback left-feed">
                                                <span class="form-control-feedback material-icons">place</span>
                                                @Html.TextBoxFor(model => model.state_name, new { @class = "form-control", @id = "administrative_area_level_1", @placeholder = "State" })
                                                @Html.ValidationMessageFor(model => model.state_name, "", new { @style = "color:red" })
                                            </div>
                                        </div>
                                    </div>
                                <div class="row small-row-gapping">
                                    <div class="col-sm-6">
                                        <div class="form-group has-feedback left-feed">
                                            <span class="form-control-feedback material-icons">contact_phone</span>
                                            @Html.TextBoxFor(model => model.contact_number, new { @class = "form-control", @placeholder = "Phone Number" })
                                            @Html.ValidationMessageFor(model => model.contact_number, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row small-row-gapping">
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">vpn_key</span>
                                        @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.password, "", new { @style = "color:red" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group has-feedback left-feed">
                                        <span class="form-control-feedback material-icons">vpn_key</span>
                                        @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control", @placeholder = "Confirm Password" })
                                        @Html.ValidationMessageFor(m => m.confirm_password, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-meta">
                                <label class="checkbox-set">
                                    @Html.CheckBoxFor(m => m.AcceptsTerms, new { @text = "adsadad" })
                                    Please accept&nbsp;<a href="~/home/terms" target="_blank" class="pull-right text-underline">Terms &amp; Conditions</a>
                                    <span></span>
                                </label>
                                <div>
                                    @Html.ValidationMessageFor(m => m.AcceptsTerms, "", new { @style = "color:red" })
                                </div>
                            </div>
                            if (TempData["ErrorUserMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:red"> @TempData["ErrorUserMsg"] </span>
                            }
                            if (TempData["SuccessMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:green"> @TempData["SuccessMsg"] </span>
                            }
                            <div class="form-action">
                                <input type="submit" id="btnSave" value="Join TraderDock" class="btn btn-primary btn-block" />
                            </div>
                            <p class="text-center">Already have an account? <a href="~/Account/Login" class="text-underline">Login</a></p>
                        }
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
                <div class="col-sm-6 col-lg-5">
                    <div class="log-process  box-top-margin">
                        <div class="section-title">
                            <h3 class="heading">Useful details</h3>
                        </div>
                        <p>
                            @Html.Raw(@Model.SignUpCMS)
                        </p>
                        <br>
                        <img src="~/Content/front/dist/img/trader-logo.png" alt="Signup Logo">
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Page Section -->
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
<script src="//ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.js"></script>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    // extend jquery range validator to work for required checkboxes
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }
</script>
<script type="text/javascript">
    function ChangeUserEmail() {
         
        //var url = window.location.href.toString();
        //var siteurl = url.replace('Register', 'CheckUserEmailExists');
        var strURL = '@Url.Action("CheckUserEmailExists", "Account")';
        $.ajax({
            type: "POST",
            url: strURL,
            data: { email: $("#user_email").val() },
            success: function (result) {
                //if (result) {
                if (result.success == true) {
                    $("#errormsg").text("Email id already exist.");
                    $("#errormsg").css("display", "block");
                    $("#btnSave").attr("disabled", true);
                }
                else {
                    $("#errormsg").css("display", "none");
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    }


</script>
@*Country drop down change*@
<script>
    $(document).ready(function () {
        $("#country_id").change(function () {
            if (parseInt($("#country_id").val()) > 0) {
                $("#state_id").empty();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                dataType: 'json',
                data: { id: parseInt($("#country_id").val()) },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#state_id").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                }
                //,error: function (ex) {
                //    alert('Failed to retrieve states.' + ex);
                //}
            });
            return false;
        })
    });
</script>
<!-- Replace the value of the key parameter with your own API key. -->
<script>
    var GooglePlaceAPIKey = $('#GooglePlaceAPIKey').val();
    var script = document.createElement('script');
    script.src = "https://maps.googleapis.com/maps/api/js?key=" + GooglePlaceAPIKey + "&libraries=places&callback=initAutocomplete";
    document.getElementsByTagName('script')[0].parentNode.appendChild(script);
</script>
<script>
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name',
        postal_code: 'short_name'

    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
           (document.getElementById('autocomplete')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //for (var component in componentForm) {
        //    if (!postal_code || !country) {
        //        document.getElementById(component).value = '';
        //        document.getElementById(component).disabled = false;
        //    }
        //}
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
             
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                 
                document.getElementById(addressType).value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
            }
        }
        $("#country").click();
    }
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>