﻿@model Traderdock.Entity.Model.LoginModel
@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "user";
}
<div class="main-container" style="min-height: 203px;">

    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="heading-large">Terms and Conditions</h1>
            </div>
            <div class="static-content">
                <p class="no-margin"><strong>Here in “HR” shall be referred as “Indiref HR Services Pvt Limited“</strong></p>
                <br>
                <h3 class="no-top-margin"><strong>For Candidates</strong></h3>
                <p><strong>You agree the following terms</strong></p>
                <ul class="list-gapping">
                    <li>Candidates himself by his own discretion using the Indiref HR Platform Updates his /her resume at free of Cost or at the charges levied by the Indiref HR Services Private Limited.</li>
                    <li>INDIREF HR may call for Candidates information who are seeking a fresh job / Need to change their job, being Candidates registered on the website of Indiref HR.</li>
                    <li>Candidates are required to fill their correct the information online using any medium of communication of Indiref HR i.e. using Web APP or Android App.</li>
                    <li>Indiref HR offers neither guaranties nor warranties that there would be a satisfactory response or Job or any response at all once the resume/insertion or information/data is fed by the user.</li>
                    <li>Indiref HR would not be held liable for loss of any data technical or otherwise, or of the resume/ insertion or information/data or particulars supplied by user due to acts of god as well as reasons beyond its control like corruption of data or delay or failure to performas a result of any cause(s) or conditions that are beyond Indiref HR's reasonable control including but not limited to strikes, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, distributed denial of service attacks, virus attacks, war and natural calamities.</li>
                    <li>It shall be sole prerogative and responsibility of the user to check the authenticity of all or any response received pursuant to the resume/ insertion or information/data being fed into the network system of Indiref HR by the user, for going out of station or in station for any job or interview. </li>
                    <li>Indiref HR assumes no responsibility in respect thereof and expressly disclaims any liability for any act, deed or thing which the user may so do, pursuant to the receipt of the response, if any, to the resume/ insertion or information/ date being fed into the network system of Indiref HR.</li>
                    <li>Uploading of multiple resumes beyond a reasonable limit by the same individual, using the same or different accounts shall entitle Indiref HR to remove the Resumes without notice to the subscriber. </li>
                    <li>This service is only meant for candidates looking for suitable jobs. Any usage with commercial intent is prohibited.</li>
                    <li>Indiref HR reserves its right to reject and delete any resume/ insertion or information/data fed in by the user without assigning any reason.</li>
                    <li>This free service entitles the user alone i.e. the same person, to add modify or change the data/information fed in by him but does not entitle him to use the free service to feed fresh insertion or information/data /resume of another person in place of the insertion or information/data already fed in by such user.</li>
                    <li>Indiref HR has the right to make all such modifications/editing of resume in order to fit resume in its database.</li>
                    <li>Indiref HR neither guarantees nor offers any warranty about the bonafide credentials, status or otherwise of the prospective employer/organization which downloads the resume / insertion or information/data and uses it to contact the user.</li>
                    <li>The subscriber shall be assigned a password(s) by Indiref HR to enable the subscriber to access all the information received through Indiref HR platforms, but the sole responsibility of the safe custody of the password shall be that of the subscriber and Indiref HR shall not be responsible for data loss/theft of data/corruption of data or the wrong usage/misuse of the password and any damage or leak of information and its consequential usage by a third party. Indiref HR undertakes to take all reasonable precautions at its end to ensure that there is no leakage/misuse of the password granted to the subscriber.</li>
                    <li>It shall be the sole responsibility of the user to ensure that it uses the privacy setting options as it deems fit to debar / refuse access any of the data fed by it, to such corporate entities individuals or consultants. Indiref HR shall not be responsible for such insertions / data being accessed by its subscribers or users whose access has not been specifically blocked /debarred by the user while using the privacy settings.</li>
                    <li>A View of your profile maybe made visible to the recruiter by Indiref HR using its suitable platforms so as to facilitate candidates.</li>
                    <li>The Candidates represents that he/she is not a minor and is not under any legal or other disability which limits his/her ability to comply with these Terms or to install and use the services subscribed and purchased with minimal risk of harm to you or others. </li>
                    <li>All changes / modifications made by the user to the data / information shall be effected and will come into operation maximum only after a Suitable period of such changes / modifications being made.</li>
                    <li>On registration you agree to: a) Making your resume searchable to paying clients i.e employers registered with Indiref HR Platform You may be contacted by subscribers of Indiref HR’s Employers Platform or any other Indiref Platform(s) Indiref HR will not be held responsible for contacts/mails received by you. b) Receive job alerts (mails detailing jobs that match your profile as entered on Indiref HR Platform) via email or text messages. c) Receive promotional mailers/ special offers.</li>
                    <li>The user agreement between a user/subscriber/Candidates and Indiref HR will be treated as having been terminated in the following events: (i) In case the user/subscriber violates any of the conditions of this agreement or any other agreement entered into by him with Indiref HR, however, such termination will be at the option and discretion of Indiref HR; Or (iii) on writing and on such terms as agreed to by the parties mutually.</li>
                    <li>The User of these services does not claim any copyright or other Intellectual Property Right over the data uploaded by him/her on the website</li>
                    <li>Jurisdiction for any disputes arising from and related to this contest shall be Ahmedabad, India to the exclusion of all other courts.</li>
                    <li>Disputes shall be resolved in accordance with the laws of India as applicable.</li>
                </ul>
                <br>
                <h3><strong>For Employers</strong></h3>
                <p><strong>This Agreement is entered between Indiref HR and Recruiter Company on following Terms: </strong></p>
                <ul class="list-gapping">
                    <li>Indiref HR shall place the information relating to vacancies in the Sections Pages of Indiref HR on its Platform i.e. website and/or Application.</li>
                    <li>Indiref HR or such other mirror or parallel site(s) or in allied publications as Indiref HR may deem fit and proper but such additional web hosting shall be without any extra cost to the subscriber / user.</li>
                    <li>This agreement is agreed upon between Recruiters and the company on the Consideration shown/ Discussed/ agreed with Indiref HR Private Limited</li>
                    <li>The Vacancies so displayed in the section of Indiref HR Platform shall be for a fixed period as agreed / Subscribed by the recruiters, which is subject to change without notice.</li>
                    <li>Every instance of refreshing and existing listing entitles you to and additional fixed period starting from the date on which the listing is refreshed and shall be counted as fresh posting except for some subscription being subscribed by the recruiters for fixed period agreed between Indiref HR and Recruiters in writing.</li>
                    <li>Indiref HR reserves its right to reject any insertion or information/data provided by the subscriber without assigning any reason either before uploading or after uploading the vacancy details, but in such an eventuality, any amount so paid for, may be refunded to the subscriber on a prorate basis at the sole discretion of Indiref HR.</li>
                    <li>By posting/uploading a job posting on the website you confirm that you have obtained all licenses/permits as are necessary for recruitment and to indemnify Indiref HR against all claims, damages arising out of actions/claims that may be made in relation to the same.</li>
                    <li>Indiref HR has the right to make all such modifications/editing of the vacancy details in order to fit its database or shall give an option to subscriber to enter the vacancy details on the Indiref HR Platform.</li>
                    <li>The Subscriber/Recruiter will have to go through entire recruitment process on the provided platform i.e. Web or Android Application and No Candidates can be reached by employers the contact information given by the subscriber for all listing should be the same and the subscriber cannot give multiple contact information/data for the purpose of listing.</li>
                    <li>All information intimated by the subscriber / recruiter and displayed by Indiref HR becomes public knowledge and Indiref HR may at its sole discretion include the vacancy intimated by a subscriber for display on Platform of Indiref HR in any other media at agreed costs to the subscriber and Indiref HR shall not be held liable for usage/publicity of such information.</li>
                    <li>Indiref HR offers no guarantee nor warranties that there would be a satisfactory response or any at all response once the job is put on display.</li>
                    <li>Indiref HR shall in no way be held liable for any information received by the subscriber and it shall be the sole responsibility of the subscriber to check, authenticate and verify the information/response received at its own cost and expense.</li>
                    <li>Indiref HR would not be held liable for any loss of data, technical or otherwise, information, particulars supplied by the subscriber, due the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond Indiref HR's reasonable control including but not limited to strike, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, war and natural calamities.</li>
                    <li>Indiref HR will commence providing services only upon receipt of amount/charges upfront either from the subscriber or from a third party on behalf of the subscriber.</li>
                    <li>The subscriber/Recruiter shall be deemed to give an undertaking to Indiref HR that the jobs sought to be advertised on the section of Indiref HR are in existence, are genuine and that the subscriber / recruiter has the authority to advertise for such jobs.</li>
                    <li>The subscriber/Recruiter must give an undertaking to Indiref HR that there will be no fee charged from any person who responds to jobs advertised on the Section of Indiref HR or processing of applications / responses from such person.</li>
                    <li>Indiref HR reserves its right to change the look, feel, design, prominence, depiction, classification of the classified section of Indiref HR at any time without assigning any reason and without giving any notice.</li>
                    <li>The subscriber shall be assigned password(s) by Indiref HR to enable the subscriber to post vacancies on the site in agreed upon section(s), but the sole responsibility of the safe custody of the password shall be that of the subscriber and Indiref HR shall not be responsible for data loss/theft of data/corruption of data or the wrong usage/misuse of the password and any damage or leak of information and its consequential usage by a third party. Indiref HR undertakes to take all reasonable precautions at its end to ensure that there is no leakage/misuse of the password granted to the subscriber.</li>
                    <li>The User of these services does not claim any copyright or other Intellectual Property Right over the data uploaded by him/her on the website</li>
                    <li>All Disputes arising out of the transactions between a user / recruiter and Indiref HR will be subject to the jurisdiction of Courts situated in Ahmedabad alone.</li>
                    <li>All disputes arising out of the transactions between a user and Indiref HR will be resolved in accordance with the laws of India as applicable.</li>
                </ul>
                <br>
                <h3><strong>For Referral Partner</strong></h3>
                <p>By participating in the Referral Program in any way, you agree to be bound by these Referral Terms. If you do not agree to all of the terms and conditions of these Referral Terms, you may not participate in the Referral Program. We may revise these Referral Terms from time to time in our sole discretion, subject to applicable law. When we revise these Referral Terms, we will post the revised version on the Website. You are free to decide whether or not to accept a revised version of these Referral Terms, but accepting these Referral Terms, as revised, is required for you to continue participating in the Referral Program. If you do not agree to these Referral Terms or any revised version of these Referral Terms, your sole recourse is to terminate your participation in the Referral Program. Except as otherwise expressly stated by us, your participation in the Referral Program is subject to, and constitutes your acceptance of, the version of these Referral Terms in act at the time of your participation in the Referral Program.</p>
                <ul class="list-gapping">
                    <li>
                        <p>Indiref HR Account Holder can ...</p>
                        <ul class="list-gapping">
                            <li>Refer multiple friends i.e. there’s no limit. Referred friends must be completely new to Indiref HR.</li>
                            <li>They must not have at any instance have account on Indiref HR Platform and One person cannot refer to himself for the activities at Indiref HR Platform.</li>
                            <li>Post the unique referral link on personal social media accounts, excluding any site that is contributed to or is owned by someone else. Note: Search Engine Marketing (e.g. Ad words, Yahoo, or Bing) or the words ‘coupon’, ‘code’, ‘promo code’, ‘discount code’, ‘voucher code’ or ‘voucher’ must not be used to promote posts.</li>
                        </ul>
                    </li>
                    <li>
                        <p>Referred Friends / Colleagues / Relatives can …</p>
                        <ul class="list-gapping">
                            <li>Join the Indiref HR platform using the link provided by the Referral Partner and access the vacancy details using the Indiref HR Platform.</li>
                            <li>Can after joining the Indiref HR Platform also become an Referral Partner and refer another friends using the Indiref HR Platform</li>
                        </ul>
                    </li>
                    <li>
                        <p>Terms for Rewards of Referring a Friends / Colleagues / Relatives :</p>
                        <ul class="list-gapping">
                            <li>Rewards will be decided by the Indiref HR private limited from time to time in the cash or Coupons as it deems fit to Organization.</li>
                            <li>Rewards will be paid to the referral Partner or Successful completion of Hiring Period or any other conditions for the job by the referred person using Indiref HR Platform.</li>
                            <li>No referral payments will be made by Indiref HR Private limited on Part Completion of hiring period or Conditions on the job or mere referral of a partner to the Referral Partner.</li>
                            <li>Payment will be made by Indiref HR in cash or coupons for cash payments will be made in Bank Account of Referral Partner on request by the partners Subject to any provisions of rules and regulations Attributable on it for the purpose of such payment Indiref HR can call any Documents which it may deems fit to them for the payment to referral partner.</li>
                            <li>Any Taxes and Duties payable on such payment shall be paid by the Referral Partner, there will be no liability of Indiref HR Private Limited for such payment.</li>
                            <li>No payments will be made if once referral partner has unsubscribed or left the portal any time before completion of hiring period or before completion any conditions for the job. </li>
                            <li>No payment will be applicable on self-applied jobs .</li>
                        </ul>
                    </li>
                    <li>Indiref HR may, in our sole discretion, suspend, limit, or terminate the Referral Program and terminate these Referral Terms and Conditions for any reason at any time by providing notice to you (including notice via email at the email address we have for you in our records). Termination of the Referral Program and these Referral Terms will not automatically result in the termination of our Terms of Use or your Account, unless otherwise specified by us. However, termination of our Terms of Use or closure of your Account will result in the automatic termination of your participation in the Referral Program and termination of these Referral Terms. Upon termination of these Referral Terms, you must immediately cease all use of Referral Links, and Referral Rewards earned but unpaid as of the date of termination will remain payable, unless we terminate these Referral Terms for your breach of these Referral Terms or our Terms of Use. Provisions of these Referral Terms that, by their nature, should survive termination of these Referral Terms will survive termination of these Referral Terms.</li>
                    <li>Indiref HR May Access your Contacts, including mail id and phone numbers for the purpose of referral by prior approval of referral partner Indiref HR Maintains Confidentiality of contacts and data security of such shared contacts but Indiref HR would not be held liable for any loss of data, technical or otherwise, information, particulars supplied by the subscriber, due the reasons beyond its control like corruption of data or delay or failure to perform as a result of any causes or conditions that are beyond Indiref HR's reasonable control including but not limited to strike, riots, civil unrest, Govt. policies, tampering of data by unauthorized persons like hackers, war and natural calamities</li>
                    <li>The Referral Partner on agreeing terms gives an undertaking to Indiref HR that there will be no fee charged from any person who responds to Referrals done by referral partner on the Section of Indiref HR Platform.</li>
                    <li>Indiref HR reserves its right to change / remove the look, feel, design, prominence, depiction, classification or entire referral part of Indiref HR at any time without assigning any reason and without giving any notice.</li>
                    <li>The subscriber shall be assigned password(s) by Indiref HR to enable the subscriber to post vacancies on the site in agreed upon section(s), but the sole responsibility of the safe custody of the password shall be that of the subscriber and Indiref HR shall not be responsible for data loss/theft of data/corruption of data or the wrong usage/misuse of the password and any damage or leak of information and its consequential usage by a third party. Indiref HR undertakes to take all reasonable precautions at its end to ensure that there is no leakage/misuse of the password granted to the subscriber.</li>
                    <li>The User of these services does not claim any copyright or other Intellectual Property Right over the data uploaded by him/her on the website</li>
                    <li>All Disputes arising out of the transactions between a user / recruiter and Indiref HR will be subject to the jurisdiction of Courts situated in Ahmedabad alone.</li>
                    <li>All disputes arising out of the transactions between a user and Indiref HR will be resolved in accordance with the laws of India as applicable.</li>
                </ul>
            </div>
        </div>
    </div> <!-- End Page Section -->

</div>