﻿@model Traderdock.Entity.ViewModel.UserPasswordModel

<div class="main-container" style="min-height: 203px;">
    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="inner-xs-container log-process-form">
                <div class="section-title text-center">
                    <h3 class="heading">Change Password</h3>
                </div>
                @using (Html.BeginForm("UserPassword", "Account", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
                {
                    @*<div class="login-logo">
                        <img src="~/Images/logo.png" width="100" height="100" />
                    </div>*@
                    @*<h2 class="form-signin-heading">Reset Password</h2>*@
                    <div class="login-wrap">
                        @Html.HiddenFor(m => m.email)
                        @if (TempData["ErrorUserMsg"] != null)
                        {
                        <span class="color-red"> @TempData["ErrorUserMsg"] </span>
                        }


                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">vpn_key</span>
                            @Html.PasswordFor(m => m.new_password, new { @class = "form-control", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.new_password, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">vpn_key</span>
                            @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control", @placeholder = "Retype Password" })
                            @Html.ValidationMessageFor(m => m.confirm_password, "", new { @style = "color:red" })
                        </div>
                        <div class="form-action">
                            <button class="btn btn-lg btn-login btn-block" type="submit">Save Password</button>
                        </div>
                        
                    </div>
                }
            </div>
        </div> <!-- End Page Section -->
    </div>





