﻿@model List<Traderdock.Entity.ViewModel.BannerModel>
@{
    ViewBag.Title = "Banner List";
    ViewBag.SubMenu = "Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string PageLimit = "10";/*Session["PageLimit"].ToString();*/
}
<section class="content-header">
    <h1>
        Banner
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Banner</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <section>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h2 class="box-title">Banner List</h2>
                    <div class="box-tools">
                        <a href="~/admin/banner/savebanner" class="addlink btn btn-primary pull-right margin-r-5">
                            <i class="btn-icon fa fa-plus"></i> Add Banner
                        </a>
                        <div class="pull-right filter-bottom-margin">

                            <form id="changelist-search">
                                <div class="input-group" style="width: 250px;">
                                    <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by banner name" autofocus />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form>
                        <div class="clearfix"></div>
                        <div id="grid" class="display table table-bordered table-striped k-content">
                        </div>
                        @Html.Hidden("statusFilter")
                        @Html.Hidden("checkedData")
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </section>
    </div>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
@*<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@
<script type="text/javascript">
    var pageLimit = '@PageLimit';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "Banner", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //for CheckedAll
    function SelectAll() {
        //alert(1);
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    }

    //Checked Record Deleted
    //bind click event to the checkbox
    function RemoveAllSelectedRows(id) {
        AsyncConfirmForDeleteSelected(
            "Delete confirmation.",
            "Are you sure you want to Delete this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function AsyncConfirmForDeleteSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "Banner", new { area = "admin" })',
                data: {
                    sID: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    }

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id
         );
    }

    function refreshGrid() {
        $.ajax({
            type: "Post",
            url: "@Html.Raw(Url.Action("Banner_Read", "Banner"))",
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });
        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model))
        //Bind with initial data
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                // selectable: "row",//""multiple row"",
                filterable: true,
                //, dataSource: { data: modelData, pageSize: 10 }
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("Banner_Read", "Banner"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    pageSize: pageLimit,
                    serverPaging: true,
                    serverFiltering: true,
                    //Filterable:true,
                },
                columns:
                 [
                    { field: "banner_name", title: "Banner Name", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px; font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                    { field: "banner_id", title: "Actions", width: 100, template: '# if(banner_id) {# <a href="@StrPath/admin/Banner/SaveBanner/#=banner_id#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp;<a onclick="RemoveSelectedRow(#=banner_id#)" class="btn btn-default btn-sm btn-icon-only fa fa-trash"></a> #} else {# <a onclick="changeStatus(#=banner_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center; font-size:14px;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;" }, filterable: false }
                 ]
            });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>