﻿@model Traderdock.Entity.ViewModel.BannerModel

@{
    ViewBag.Title = "Save Banner";
    ViewBag.SubMenu = "Banner";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}


<section class="content-header">
    <h1>
        Banner
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Banner</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"> Banner</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->

            @using (Html.BeginForm("SaveBanner", "Banner", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(m => m.banner_id)
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="form-group">
                        @Html.LabelFor(m => m.banner_type_id, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.banner_type_id, Model.BannerTypeList, "Select Banner Type", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.banner_type_id, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.banner_type_id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.banner_name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.banner_name, new { @class = "form-control", @placeholder = "Please enter banner name"})
                            @Html.ValidationMessageFor(model => model.banner_name, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.banner_image_url, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="fileinput fileinput-new">
                                <div class="fileinput-preview ">
                                    @if (!string.IsNullOrEmpty(@Model.banner_image_url))
                                            {
                                            <img height="120" src="@Model.banner_image_url" onclick="document.getElementById('file1').click(); return false;" width="120" id="profileimage" class="fileinput-preview " style="width: 200px; height: 150px; line-height: 150px;" />
                                            }
                                            else
                                            {
                                            <img height="120" onclick="document.getElementById('file1').click(); return false;" width="120" id="profileimage" class="fileinput-preview " style="width: 200px; height: 150px; line-height: 150px;" />
                                            }
                                    <br />
                                    &nbsp;
                                    <br />
                                    <span class="btn bg-black btn-file">
                                        <input type="file" class="btn btn-primary btn-block" name="file1" id="file1" vale="" style=" height:250px; width:250px;">
                                        <span class="fileinput-new" onclick="document.getElementById('file1').click(); return false;"><i class="btn-icon fa fa-paperclip"></i>Change Image</span>
                                    </span>
                                    @*<span class="btn bg-black btn-file">
                                        <span class="fileinput-new" onclick="btnCancel(); return false;"><i class="btn-icon fa fa-times"></i>Cancel</span>
                                    </span>*@
                                </div>
                                @Html.HiddenFor(model => model.banner_image_name)
                                @Html.HiddenFor(model => model.banner_image_url)
                                @Html.HiddenFor(model => model.banner_image_old_name)
                            </div>
                            @Html.ValidationMessageFor(model => model.banner_image_url, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- /.box-footer -->
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $("document").ready(function () {

        $("#filenm").hide();
        if ('@Model.banner_image_url' == null || '@Model.banner_image_url' == "") {
             
            // $("#profileimage").css("display", "none");
            $("#profileimage").attr("src", '@Model.banner_image_url');
        }
        else {
             

        }
        $("#file1").on('change', function (e) {
             
            var files = e.target.files;
            if (files.length > 0) {
                var uploadedfile = document.getElementById('file1');
                var ext = uploadedfile.files[0].type.split("/")[1];
                var fileExtension = ['jpeg', 'jpg', 'gif', 'png'];
                if (fileExtension.indexOf(ext) == -1) {
                    document.getElementById('file1').value = "";
                    //alertify.alert("Only jpeg, jpg, gif, png can be uploaded");
                    alert("Only jpeg, jpg, gif, png can be uploaded.");
                }
                else {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                         
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        var url = window.location.href.toString();
                        var index = url.toUpperCase().indexOf('ADMIN');
                        var siteurl = url.substring(0, index) + 'Admin/Banner/UploadImage';

                        $.ajax({
                            type: "POST",
                            url: siteurl,
                            contentType: false,
                            processData: false,
                            data: data,
                            success: function (result) {
                                $("#profileimage").text(result.Data);
                                $("#banner_image_name").val(result.Data);
                                if (result.Data != null || result.Data != "") {
                                    $("#profileimage").show();
                                    $("#profileimage").attr("src", "@MvcApplication.ImageFileLocation/" + result.Data);
                                    $("#banner_image_url").val("@MvcApplication.ImageFileLocation/" + result.Data);
                                    //document.getElementById("btnSaveImage").disabled = false;
                                }
                                else {
                                    $("#profileimage").hide();
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                alert("error");
                            }
                        });
                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            }
        });
        if ($.trim($("#profileimage").attr("src")) != "")// check image has src
        {
            $("#btmremove").show();
        }
        else {
            $("#btmremove").hide();
        }

        if ($("#Message").val() != '') {
            toastr.success($("#Message").val());
        }
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
    });
    function fnCancel() {
        window.location.href = '@Url.Action("index", "banner")';
    }

</script>
