﻿<html>
<head>
    <title>Traderdock | Dashboard</title>
    @{
        string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
        int NotificationCount = Convert.ToInt32(Session["NotificationCount"]);
    }
    <meta charset="utf-8">
    <title>Trader Dock | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">  
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/kendocss")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/others")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/kendojs")
    <link href="https://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/media/js/jquery.js" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.805/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.805/styles/kendo.default.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.805/styles/kendo.dataviz.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.805/styles/kendo.dataviz.default.min.css">
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2015.2.805/styles/kendo.mobile.all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    
    <style>
        .k-grid {
            font-size: 10px;
        }
        .k-grid td {
            line-height: 2em;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="~/admin/dashboard/dashboard" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>T</b>D</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Traderdock </b> Admin</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="@Session["ProfileImage"]" class="user-image" alt="User Image">
                                @*<img src="~/Content/img/user2-160x160.jpg" class="user-image" alt="User Image">*@
                                <span class="hidden-xs">@Session["UserEmail"]</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="@Session["ProfileImage"]" class="img-circle" alt="User Image">
                                    <p>
                                        @Session["UserName"]
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="~/admin/profile/view?userId=@Session["UserID"]&&callfor=p" class="btn btn-default btn-flat">My Profile</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="~/admin/profile/changePassword" class="btn btn-default btn-flat">Password</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="~/admin/login/logout" class="btn btn-default btn-flat">Log out</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" id="Noti_click" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">@NotificationCount</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have @NotificationCount notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu" id="Noti_data"></ul>
                                </li>
                                <li class="footer"><a onclick="return Notification_ALL_Readed()">View all</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="@Session["ProfileImage"]" class="img-circle" alt="User Image">
                        @*<img src="~/Content/img/user2-160x160.jpg" class="img-circle" alt="User Image">*@
                    </div>
                    <div class="pull-left info">
                        <p>@Session["User"]</p>
                        @*<a href="#"><i class="fa fa-circle text-success"></i> Online</a>*@
                    </div>
                </div>
                <!-- search form -->
                <ul class="sidebar-menu">
                    <li class="header">PEERBITS SOLUTION PVT. LTD.</li>
                    <li id="submenu_dashboard">
                        <a href="~/admin/dashboard/dashboard">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                        </a>
                    </li>
                    <li id="submenu_user">
                        <a href="#">
                            <i class="fa fa-user-plus"></i>
                            <span>User</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" >
                            <li><a target="_blank" href="~/admin/user/index"><i class="fa fa-user"></i>User List</a></li>
                            <li><a href="~/admin/user/errorregisteredusers"><i class="fa fa-user"></i>Registrations With Error</a></li>
                        </ul>
                    </li>
                    <li class="treeview menu">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>TT Setup</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="~/admin/tt/readcsv"><i class="fa fa-circle-o"></i>Manual Upload</a></li>
                            <li><a href="~/admin/tt/update"><i class="fa fa-circle-o"></i> Manual Edit</a></li>
                            <li><a href="~/admin/user/overallreport"><i class="fa fa-circle-o"></i>Trader Performance Report</a></li>
                            <li><a href="~/admin/user/report"><i class="fa fa-circle-o"></i>Transaction Report</a></li>
                            <li><a href="~/admin/tt/productindex"><i class="fa fa-circle-o"></i> Products</a></li>
                            <li><a href="~/admin/ttsettings/index"><i class="fa fa-circle-o"></i> Setting</a></li>
                            <li><a href="~/admin/user/apilogreport"><i class="fa fa-circle-o"></i>API Log Report</a></li>
                            <li><a href="~/admin/tt/viewhistory"><i class="fa fa-circle-o"></i> History</a></li>
                        </ul>
                    </li>
                    <li class="treeview menu">
                        <a href="#">
                            <i class="fa fa-pie-chart"></i>
                            <span>FAQ </span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" >
                            <li><a href="~/admin/faqcategory/index"><i class="fa fa-tags"></i> FAQ Category </a></li>
                            <li><a href="~/admin/faqsubcategory/index"><i class="fa fa-tags"></i> FAQ Sub Category </a></li>
                            <li><a href="~/admin/faqmaster/index"><i class="fa fa-question-circle"></i> FAQ</a></li>
                            <li><a href="~/admin/faqmaster/arrangementindex"><i class="fa fa-question-circle"></i> FAQ Ordering </a></li>
                        </ul>
                    </li>
                    <li id="submenu_subscription">
                        <a href="~/admin/subscription/index">
                            <i class="fa fa-calendar-plus-o"></i> <span>Subscriptions</span>
                        </a>
                    </li>
                    <li id="submenu_Revenue">
                        <a href="~/admin/Revenue/index">
                            <i class="fa fa-money"></i> <span>Revenue</span>
                        </a>
                    </li>
                    <li id="submenu_testimonial">
                        <a href="~/admin/testimonial/index">
                            <i class="fa fa-comments"></i> <span>Testimonials</span>
                        </a>
                    </li>
                    <li id="submenu_globalteam">
                        <a href="~/admin/globalteam/index">
                            <i class="fa fa-group"></i> <span>Global Teams</span>
                        </a>
                    </li>
                    @*<li class="treeview">
                        <a href="#">
                            <i class="fa fa-gears"></i>
                            <span>Dashboard Setup</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu" style="display: block;">
                            <li><a href="~/admin/profilesettings/index"><i class="fa fa-circle-o"></i>Profile Target</a></li>
                        </ul>
                    </li>*@
                    <li id="submenu_cmsmaster">
                        <a href="~/admin/cms/index">
                            <i class="fa fa-edit"></i> <span>CMS</span>
                        </a>
                    </li>
                    <li id="submenu_cmsmaster">
                        <a href="~/admin/country/index">
                            <i class="fa fa-flag"></i> <span>Country</span>
                        </a>
                    </li>
                    <li id="submenu_Banner">
                        <a href="~/admin/banner/index">
                            <i class="fa fa-image"></i> <span>Banner Images</span>
                        </a>
                    </li>
                    <li id="submenu_rule">
                        <a href="~/admin/rule/addeditrule">
                            <i class="fa fa-edit"></i> <span>Rule</span>
                        </a>
                    </li>
                  
                    <li id="submenu_email">
                        <a href="~/admin/emailtemplate/Index">
                            <i class="fa  fa-book"></i> <span>Email Template</span>
                        </a>
                    </li>
                    <li id="submenu_notification">
                        <a href="~/admin/notification/index">
                            <i class="fa fa-bell"></i> <span>Notification</span>
                        </a>
                    </li>
                    <li id="submenu_Reset">
                        <a href="~/admin/reset/index">
                            <i class="fa fa-retweet"></i> <span>Reset Request</span>
                        </a>
                    </li>
                    <li id="submenu_Enquiry">
                        <a href="~/admin/promocode/index">
                            <i class="fa fa-film"></i> <span>Promo Code</span>
                        </a>
                    </li>
                    <li id="submenu_Enquiry">
                        <a href="~/admin/enquiry/index">
                            <i class="fa fa-bell"></i> <span>Enquiry</span>
                        </a>
                    </li>
                    <li id="submenu_contactus">
                        <a href="~/admin/contactus/index">
                            <i class="fa fa-weixin"></i> <span>Contact Us</span>
                        </a>
                    </li>
                    <li id="submenu_settings">
                        <a href="~/admin/Settings/Index">
                            <i class="fa fa-gears"></i> <span>Settings</span>
                        </a>
                    </li>
                    <li><a href="~/Admin/Login/Logout"><i class="fa fa-circle-o text-red"></i> <span>Log out</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 997px;">
            @RenderBody()
            @RenderSection("scripts", required: false)
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2011-2017 <a href="https://www.peerbits.com/">Peerbits Solution</a>.</strong> All rights reserved.
        </footer>
        <div class="full-loarder">
            <div class="three-bounce">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <script src="~/Content/plugins/morris/morris.js"></script>
    <script src="~/Content/plugins/morris/morris.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/plugins/daterangepicker/moment.js"></script>
    <!-- Page Common Validation Custom Validation-->
    <script src="~/Scripts/common.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var selectedSubmenu = 'submenu_' + '@ViewBag.SubMenu';
            $('.sidebar-menu li.active').removeClass('active');
            $("#" + selectedSubmenu).addClass('active');
            //$('.sidebar-menu').on('click', 'li', function () {
            //    $('.sidebar-menu li.active').removeClass('active');
            //    $(this).addClass('active');
            //});
        });
    </script>
    <script type="text/javascript">
        function refreshNotification() {
            $.ajax({
                type: "Get",
                url: '@StrPath/admin/dashboard/Notification_Read/',
                //data: {
                //    filter: $('#category').val()
                //},
                success: function (result) {
                    if (result.success == true) {
                        $("#Noti_data").html(result.Notification_data);
                    }
                    else {
                        $("#Noti_data").html(result.Notification_data);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        //
        function Notification_ALL_Readed(ID) {
            $.ajax({
                type: "POST",
                url: '@StrPath/admin/dashboard/Notification_ALL_Readed/',
                success: function (result) {
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        function NotificationReaded(ID) {
            $.ajax({
                type: "POST",
                url: '@StrPath/admin/dashboard/Notification_Mark_Read/',
                data: {
                    NotificationID: ID
                },
                success: function (result) {
                    location.reload();
                    //if (result.success == true) {
                    //    $("#Noti_data").html(result.Notification_data);
                    //}
                    //else {
                    //    $("#Noti_data").html(result.Notification_data);
                    //}
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        $(document).ready(function () {
            var selectedSubmenu = 'submenu_' + '@ViewBag.SubMenu';
            $('.sidebar-menu li.active').removeClass('active');
            $("#" + selectedSubmenu).addClass('active');
        });
        $("#Noti_click").on("click", function () {
            refreshNotification();
        });
    </script>
</body>
</html> 