﻿@model Traderdock.Entity.MemberModel.ContactUsModel

@{
    ViewBag.Title = "AddEditSubscription";
    ViewBag.SubMenu = "contactus";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}

<section class="content-header">
    <h1>
        Subscription
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Subscription</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <!-- Horizontal Form -->
        <div class="box box-primary">
            <div class="box-header with-border">
                @if (Model.subscription_id > 0)
                {
                    <h3 class="box-title">Edit Subscription</h3>
                }
                else
                {
                    <h3 class="box-title">Add Subscription</h3>
                }
            </div>
            <!-- form start -->

            @using (Html.BeginForm("AddEditSubscription", "Subscription", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>

                    <!-- Date: 30-June-2017, Description: Added new field for subscription name -->
                    <div class="form-group">
                        @Html.LabelFor(m => m.subscription_name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div>
                                @Html.TextBoxFor(m => m.subscription_name, new { @class = "form-control", @placeholder = "", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.subscription_name, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.starting_balance, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.starting_balance, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.starting_balance, "", new { @style = "color:red" })
                            @Html.HiddenFor(m => m.subscription_id)
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.max_position_size, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.max_position_size, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                                <span class="input-group-addon">lot</span>
                            </div>
                            @*@Html.TextBoxFor(m => m.max_position_size, new { @class = "form-control", @placeholder = "" })*@
                            @Html.ValidationMessageFor(model => model.max_position_size, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.daily_loss_limit, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.daily_loss_limit, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @Html.ValidationMessageFor(model => model.daily_loss_limit, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.max_drawdown, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.max_drawdown, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @*@Html.TextBoxFor(m => m.max_drawdown, new { @class = "form-control", @placeholder = "" })*@
                            @Html.ValidationMessageFor(model => model.max_drawdown, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.profite_target, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.profite_target, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @*@Html.TextBoxFor(m => m.profite_target, new { @class = "form-control", @placeholder = "" })*@
                            @Html.ValidationMessageFor(model => model.profite_target, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.price_per_month, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                @Html.TextBoxFor(m => m.price_per_month, new { @class = "form-control", @placeholder = "", onkeypress = "return isNumberKey(event)", onpaste = "return false;" })
                            </div>
                            @*@Html.TextBoxFor(m => m.price_per_month, new { @class = "form-control", @placeholder = "" })*@
                            @Html.ValidationMessageFor(model => model.price_per_month, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script type="text/javascript">
    function fnCancel() {
        window.location.href = '@Url.Action("index", "subscription")';
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
        //var charCode = (evt.which) ? evt.which : event.keyCode
        //if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
        //    return false;
        //return true;
    }
</script>