﻿@model Traderdock.Entity.ViewModel.MainFAQModel
@{
    ViewBag.Title = "FAQCategory";
    ViewBag.SubMenu = "faqs";
}
<!-- Banner -->
<div class="white-bg">
    <!-- Page Section 1 -->
    <div class="page-section-padding-lg" style="padding-bottom:0;">
        <div class="container">
            <div class="title-and-text text-center">
                @Html.Raw(Model.objFaqCMSModel.FAQSBannerText)
            </div>
        </div>
        <div class="layers-bg">
            <img src="~/Content/Front/dist/img/layers-bg2.png" />
        </div>
    </div> <!-- End Page Section 1 -->
</div>
<div class="main-container">
    <div class="page-section page-section-padding-lg-top-none">
        <div class="container">
            <div class="faq-page">
                <div class="card-deck">
                    @for (int i = 0; i < Model.objFaqCategoryModel.Count(); i++)
                    {
                        <div class="card faq-banner faq-main-box" id="@String.Format("{0}{1}","CAT", @Model.objFaqCategoryModel[i].faq_category_id)" >
                            <div class="icon-box-bg">
                                <img src="@Model.objFaqCategoryModel[i].category_image" alt="">
                            </div>
                            <h4 class="heading font-medium no-margin-top"><a href="~/faqsub/view?catid=@Model.objFaqCategoryModel[i].faq_category_id">@Model.objFaqCategoryModel[i].category_title</a></h4>
                            <p class="text-muted">@Model.objFaqCategoryModel[i].category_description</p>
                            <div class="faq-link-box clearfix">
                                @foreach (var subItem in Model.objFaqCategoryModel[i].SubCategory.Take(3))
                                {
                                    <a href="~/faq/view?subcatid=@subItem.faq_sub_category_id&&catid=@subItem.faq_category_id">@subItem.faq_category_title</a>
                                }
                            </div>
                            <a class="btn btn-success btn-block btn-sm btn-raund max-160" href='~/faqsub/view?catid=@Model.objFaqCategoryModel[i].faq_category_id'>View All</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    };
    $(document).ready(function () {
        var tech = GetURLParameter('catid');
        $("#CAT" + tech).addClass('active');
    });
</script>