﻿@model IList<Traderdock.Entity.ViewModel.FAQCategoryModel>

@{
    ViewBag.Title = "FAQCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Container -->
<div class="main-container">

    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-sm">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="heading-large">Welcome to the Help Center</h2>
            </div>
            <div class="row">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="col-sm-4">
                        <a href="~/FAQ/FAQView?id=@Model[i].faq_category_id" class="faq-banner">
                            <img src="@Model[i].category_image" alt="@Model[i].category_title" />
                            <h4 class="heading font-medium">@Model[i].category_title</h4>
                            <p class="text-muted">@Model[i].category_description</p>
                        </a>
                    </div>
                    @*<tr>
                        <td style="font-size:14px;">@Model[i].cms_title</td>
                        <td class="table-field-actions">
                            <div class="buttons-set">
                                <a href="~/admin/cms/savecms?cmsId=@Model[i].cms_id" class="fa fa-pencil btn btn-default btn-sm btn-icon-only">
                                </a>
                                <a href="~/admin/cms/viewcms?cmsId=@Model[i].cms_id" class="btn btn-default btn-sm btn-icon-only  fa fa-info">
                                    <i class=""></i>
                                </a>
                            </div>
                        </td>
                    </tr>*@
                }
                @*<div class="col-sm-4">
                    <a href="faq-view.php" class="faq-banner">
                        <img src="dist/img/faq-banner1.jpg" alt="FAQ Banner" />
                        <h4 class="heading font-medium">Account Types</h4>
                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text book.</p>
                    </a>
                </div>*@
                @*<div class="col-sm-4">
                    <a href="faq-view.php" class="faq-banner">
                        <img src="dist/img/faq-banner2.jpg" alt="FAQ Banner" />
                        <h4 class="heading font-medium">Simulation Trading</h4>
                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text book.</p>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="faq-view.php" class="faq-banner">
                        <img src="dist/img/faq-banner3.jpg" alt="FAQ Banner" />
                        <h4 class="heading font-medium">Live Trading</h4>
                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text book.</p>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="faq-view.php" class="faq-banner">
                        <img src="dist/img/faq-banner4.jpg" alt="FAQ Banner" />
                        <h4 class="heading font-medium">Trading Software</h4>
                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text book.</p>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="faq-view.php" class="faq-banner">
                        <img src="dist/img/faq-banner5.jpg" alt="FAQ Banner" />
                        <h4 class="heading font-medium">Fees and Billing</h4>
                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text book.</p>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="faq-view.php" class="faq-banner">
                        <img src="dist/img/faq-banner6.jpg" alt="FAQ Banner" />
                        <h4 class="heading font-medium">General</h4>
                        <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text book.</p>
                    </a>
                </div>*@
            </div>
        </div>
    </div> <!-- End Page Section -->

</div>
<!-- End Main Container -->