﻿@model Traderdock.Entity.MemberModel.FAQCategoryMemModel

@{
    ViewBag.Title = "FAQView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Container -->
<div class="main-container">

    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="section-title text-center">
                <h1 class="heading-large">@Model.category_title</h1>
            </div>
            <div class="inner-md-container">
                <form class="input-group has-feedback left-feed form-inline">
                    <input type="text" class="form-control" placeholder="Search"><span class="form-control-feedback material-icons">search</span>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary">Search</button>
                    </span>
                </form>
            </div>
            <br />
            <div class="static-content">
                @for (int i = 0; i < Model.FAQList.Count; i++)
                {
                    <h4><strong>@Html.Raw(@Model.FAQList[i].question)</strong></h4>
                    @Html.Raw(@Model.FAQList[i].answer)
                    if (i < (Model.FAQList.Count() - 1 ))
                    {
                        <hr>
                    }
                }
                @*@Html.Raw(@Model.faq_description)*@
                @*<h4><strong>Is there any age requirement?</strong></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into.</p>
            <hr>
            <h4><strong>How do I get started?</strong></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into.</p>
            <hr>
            <h4><strong>How do I get started?</strong></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>*@
            </div>
        </div>
    </div> <!-- End Page Section -->

</div>
<!-- End Main Container -->
