﻿@model Traderdock.Entity.MemberModel.FAQViewModel
@{
    ViewBag.Title = "FAQView";
    ViewBag.SubMenu = "faqs";
    var StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}
<!-- Banner -->
<div class="white-bg">
    <div class="page-section-padding-lg">
        <div class="container">
            <div class="title-and-text text-center">
                <ul class="title-sab-text text-light-blue breadcrumb">
                    <li><a href="@StrPath/faq/category"> Traderdock </a></li>
                    <li><a href="~/faq/category?catid=@Model.FAQCategoryModel.faq_category_id">@Model.FAQCategoryModel.category_title</a></li>
                    <li><a href="~/faqsub/view?catid=@Model.FAQCategoryModel.faq_category_id&subcatid=@Model.sub_faq_category_id">@Model.sub_category_title</a></li>
                </ul>
                <div class="inner-sm-container">
                    <div class="has-feedback new-has-feedback">
                        <div class="easy-autocomplete eac-square eac-description" style="width: 580px;cursor:pointer"><input type="text" id="inptSearch" onclick="callSearch();" class="form-control input-lg" style="cursor:pointer" placeholder="FIND ANSWERS" autocomplete="off"><div class="easy-autocomplete-container" id="eac-container-example-search"><ul></ul></div></div>
                        <span class="form-control-feedback material-icons">search</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layers-bg">
            <img src="~/content/front/dist/img/faq-bg.png">
        </div>
    </div>
</div>
<!-- Main Container -->
<div class="page-section page-section-padding-lg-top-none">
    <div class="container">
        <div class="form-main-page">
            <div class="row">
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section page-section-padding-lg-top-none">
    <div class="container">
        <div class="faq-main-page">
            @if (Model.FAQList.Count() == 0)
            {
                <div class="row card-deck">
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            <div class="tab-pane  active">
                                <div class="tab-body-custom">
                                    @Html.Raw("No Result Found")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row card-deck">
                    <div class="col-sm-3">
                        <ul class="nav nav-tabs tabs-left" id="ulFAQ">
                            @foreach (var item in Model.FAQList)
                            {
                                <li id="@String.Format("{0}{1}", "FAQLI", item.faq_id)">
                                    <a href=#@String.Format("{0}{1}", "FAQ" , item.faq_id) data-toggle="tab">@item.question</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-sm-9">
                        <div class="tab-content">
                            @foreach (var item in Model.FAQList)
                            {
                                <div class="tab-pane " id=@String.Format("{0}{1}", "FAQ" , item.faq_id)>
                                    <div class="tab-body-custom">
                                        @Html.Raw(item.answer)
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Main Container -->
@Scripts.Render("~/bundles/jquery")
<script>
    function GetURLParameter(sParam) {
        var sPageURL = window.location.search.substring(1);
        var sURLVariables = sPageURL.split('&');
        for (var i = 0; i < sURLVariables.length; i++) {
            var sParameterName = sURLVariables[i].split('=');
            if (sParameterName[0] == sParam) {
                return sParameterName[1];
            }
        }
    };
    //$(document).ready(function () {
    //    var varFAQ = $("#ulFAQ").children();
    //    var id = varFAQ[0].id;
    //    $("#" + id).addClass('active');
    //    id = id.replace('FAQLI', 'FAQ');
    //    $("#" + id).addClass('active');
    //});
    $(document).ready(function () {
        $("#inptSearch").focus();
        var tech = GetURLParameter('faqid');
        if (tech != null) {
            //from url should active
            $("#FAQLI" + tech).addClass('active');
            $("#FAQ" + tech).addClass('active');
        }
        else {
            var varFAQ = $("#ulFAQ").children();
            var id = varFAQ[0].id;
            $("#" + id).addClass('active');
            id = id.replace('FAQLI', 'FAQ');
            $("#" + id).addClass('active');
        }
    });
</script>
@*Bind search text on text box*@
<script>
    //$(document).ready(function () {
    //    var tech = GetURLParameter('search');
    //    if (tech != null) {
    //        //from url should active
    //        $("#inptSearch").val(tech);
    //    }
    //});
</script>


@*Search Functionality*@
<script>
    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            var varsubcatid = GetURLParameter('subcatid');
            var catid = GetURLParameter('catid');
            window.location = '@StrPath/faq/view?subcatid=' + varsubcatid + '&catid=' +catid+ '&search=' + $("#inptSearch").val();
        }
    });

</script>

@*Search Functionality*@
<script>
    function callSearch() {
            var varsubcatid = GetURLParameter('subcatid');
            var catid = GetURLParameter('catid');
            window.location = '@StrPath/faq/view?subcatid=' + varsubcatid + '&catid=' +catid+ '&search=' + $("#inptSearch").val();
    };
</script>


