﻿@model List<Traderdock.Entity.Model.ProfileTargetSettingsModel>
@{
    ViewBag.Title = "Settings List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string PageSize = Session["PageSize"].ToString();
    ViewBag.SubMenu = "settings";
}
<link href="~/Content/dist/css/custom.css" rel="stylesheet" />
<link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
<script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
<section class="content-header">
    <h1>
        Profile Settings
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Profile Target Settings</li>
    </ol>
</section>
<section class="content">
    <div>
        <div>
            <section>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Settings List</h2>
                        <div class="box-tools">
                            <a href="~/admin/profilesettings/addeditprofilesettings" class="addlink btn btn-primary pull-right margin-r-5">
                                <i class="btn-icon fa fa-plus"></i> Add New Settings
                            </a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form>
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script type="text/javascript">
    var pageLimit = '@PageSize';
    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }
    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model))
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                filterable: false,
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("Settings_Read", "ProfileSettings"))",
                            type: "POST",
                            dataType: "json"
                        },
                        update: {
                            url: "@Html.Raw(Url.Action("AddEditProfileSettings", "ProfileSettings"))",
                            dataType: "json"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    pageSize: @PageSize,
                    serverPaging: true,
                    serverFiltering: true,
                    //Filterable:true,
                },
                columns: [
                    { field: "default_label", filterable:false,editable:false, title: "Setting Name", format: "{0:c}"},
                    { field: "setting_value", validation: { required: true }, title:"Setting Value"},
                    { command: ["edit"], title: "Actions"}],
                editable: "inline"
            });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>
<script type="text/javascript">
    var pageLimit = '@PageSize';
    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Delete", "ProfileSettings", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {

            $confirm.modal("hide");
        });
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    //For Delete
    function RemoveSelectedRow(id) {
        AsyncConfirmYesNo(
       "Delete confirmation.",
       "Are you sure want to delete ?",
       MyYesFunction(),
       MyNoFunction(),
       id);
    }

    function refreshGrid() {
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/ProfileSettings/Settings_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });
        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }
    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }
</script>
