﻿@model Traderdock.Entity.ViewModel.FAQMasterModel
@{
    ViewBag.Title = "Add Edit FAQ Master";
    ViewBag.SubMenu = "faq";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SitePath"];
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>

<section class="content-header">
    <h1>
        FAQ
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FAQ</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <div class="box box-primary">
            <div class="box-header with-border">
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm("AddEditFAQMaster", "FAQMaster", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form" }))
            {
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                @Html.HiddenFor(m => m.faq_id)
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.faq_category_id)<em> *</em>
                                        @Html.DropDownListFor(model => model.faq_category_id, Model.FAQCategoryList, "Select FAQ Category", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.faq_category_id, "", new { @style = "color:red" })
                                        @Html.HiddenFor(m => m.faq_category_id)
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.faq_sub_category_id)<em> *</em>
                                        @Html.DropDownListFor(model => model.faq_sub_category_id, Model.FAQSubCategoryList, "Select FAQ Category", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.faq_sub_category_id, "", new { @style = "color:red" })
                                        @Html.HiddenFor(m => m.faq_sub_category_id)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.question)<em> *</em>
                                        @Html.TextBoxFor(model => model.question, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.question, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.answer)<em> *</em>
                                        @Html.TextAreaFor(m => m.answer, new { @id = "HTMLInfo", @class = "form-control ckeditor" })
                                        @Html.ValidationMessageFor(model => model.answer, "", new { @style = "color:red" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    <button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                                    <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    CKEDITOR.replace('HTMLInfo',
        {
            filebrowserImageBrowseUrl: '@StrPath/admin/FAQMaster/uploadPartial',
            filebrowserImageUploadUrl: '@StrPath/admin/FAQMaster/uploadnow'
        }
        );

    function updateValue1(id, value) {
        // this gets called from the popup window and updates the field with a new value 
        document.getElementById(id).value = value;
    }

    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value 
        var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
        jqueryObjectByClass.value = value;
    }

</script>
<script type="text/javascript">
    $("document").ready(function () {
        if ($("#Message").val() != '') {
            toastr.success($("#Message").val());
        }
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
    });
    function fnCancel() {
        window.location.href = '@Url.Action("index", "faqMaster")';
    }
</script>
@*FAQ Master and Sub Category change*@
<script>
    $(document).ready(function () {
        $("#faq_category_id").change(function () {
            $(".full-loarder").css("display", "block");
            if (parseInt($("#faq_category_id").val()) > 0) {
                $("#faq_sub_category_id").empty();
            }
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetSubCategory")',
                dataType: 'json',
                data: { id: parseInt($("#faq_category_id").val()) },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $("#faq_sub_category_id").append('<option value="' + state.Value + '">' +
                             state.Text + '</option>');
                    });
                    $(".full-loarder").css("display", "none");
                },
                error: function (ex) {
                    $(".full-loarder").css("display", "none");
                }
            });
            return false;
        })
    });
</script>