﻿
@{
    ViewBag.Title = "arrangementindex";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Sortable - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<section class="content-header">
    <h1>
        FAQ
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">FAQ</li>
    </ol>
</section>
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h2 class="box-title">Ordering FAQ Category, Sub Category and Question</h2>
            <div class="box-tools">
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-sm-4">
                    <h4>FAQ Catagory</h4>
                    <form>
                        <ul id="sortFAQCategory"></ul>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h4>FAQ Sub Catagory</h4>
                    <form>
                        <ul id="sortFAQSubCategory">
                          
                        </ul>
                    </form>
                </div>
                <div class="col-sm-4">
                    <h4>FAQ Questions</h4>
                    <form>
                        <ul id="sortFAQ">
                           
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div class="row">
                        <div class="col-sm-8">
                            <button type="button" onclick="SaveFAQOrdering();" id="btnSave" class="btn btn-primary load-button ">Submit</button>
                            <button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>

@*Sorting Jquery*@
<script>
    $(function () {
        $("#sortFAQCategory").sortable();
        $("#sortFAQSubCategory").sortable();
        $("#sortFAQ").sortable();
        $("#sortFAQCategory").disableSelection();
        $("#sortFAQSubCategory").disableSelection();
        $("#sortFAQ").disableSelection();
    });
</script>

@*Data load and cancel button*@
<script type="text/javascript">
    $("document").ready(function () {
          $.ajax({
                type: "GET",
                url: '@Url.Action("GetFAQListForOrdering", "FAQMaster", new { area = "admin" })',
                data: {
                    type: 'category'
                },
                success: function (result) {
                    if (result.result == true) {
                        toastr.success("Success");
                        $('#sortFAQCategory').empty();
                        //document.getElementById('sortFAQCategory').appendChild(ul);
                        result.Data.category.forEach(function (item) {
                            $(document.getElementById('sortFAQCategory')).append('<li class="ui-state-default ui-sortable-handle" id=' + item.category_id + ' onclick="GetSubCategory(' + item.category_id + ')" >' + item.category_title + '</li>');
                        });
                    }
                    else {
                        toastr.warning(result.Msgnew);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
    });
    function fnCancel() {
        window.location.href = '/admin/dashboard/dashboard';
    }
</script>

@*get sub category*@
<script>
    function GetSubCategory(ID) {
          $.ajax({
                type: "GET",
                url: '@Url.Action("GetFAQListForOrdering", "FAQMaster", new { area = "admin" })',
                data: {
                    type: 'subcategory',
                    id: ID
                },
                success: function (result) {
                    if (result.result == true) {
                        toastr.success("Success");
                        $('#sortFAQSubCategory').empty();
                        $('#sortFAQ').empty();
                        result.Data.subcategory.forEach(function (item) {
                            $(document.getElementById('sortFAQSubCategory')).append('<li class="ui-state-default ui-sortable-handle" id=' + item.subcategory_id + ' onclick="GetFAQ(' + item.subcategory_id + ')" >' + item.subcategory_title + '</li>');
                        });
                    }
                    else {
                        toastr.warning(result.Msgnew);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
    }
</script>

@*get FAQ*@
<script>
    function GetFAQ(ID) {
          $.ajax({
                type: "GET",
                url: '@Url.Action("GetFAQListForOrdering", "FAQMaster", new { area = "admin" })',
                data: {
                    type: 'faq',
                    id:ID
                },
                success: function (result) {
                    if (result.result == true) {
                        toastr.success("Success");
                        $('#sortFAQ').empty();
                        result.Data.faq.forEach(function (item) {
                            $(document.getElementById('sortFAQ')).append('<li class="ui-state-default ui-sortable-handle" id=' + item.faq_id + '>' + item.faq_title + '</li>');
                        });
                    }
                    else {
                        toastr.warning(result.Msgnew);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
    }
</script>

@*Save FAQ*@
<script>
    function SaveFAQOrdering() {
          $.ajax({
                type: "POST",
                url: '@Url.Action("SAVEFAQOrder", "FAQMaster", new { area = "admin" })',
                data: {
                    catArray: $("#sortFAQCategory").sortable("toArray"),
                    SubCatArray: $("#sortFAQSubCategory").sortable("toArray"),
                    FAQArray: $("#sortFAQ").sortable("toArray"),
                },
                success: function (result) {
                    if (result.result == true) {
                        toastr.success(result.Msgnew);
                    }
                    else {
                        toastr.warning(result.Msgnew);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
    }
</script>

