﻿@model IEnumerable<Traderdock.Entity.ViewModel.imagesviewmodel>

@{
    Layout = null;
}

<html>
<head>
    <title>Traderdock | Dashboard</title>
    @{
        string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
        int NotificationCount = Convert.ToInt32(Session["NotificationCount"]);
    }
    <meta charset="utf-8">
    <title>Trader Dock | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
</head>
<body>
    @foreach (var image in Model)
    {
        <a href="#" class="returnImage" data-url="@Request.Url.GetLeftPart(UriPartial.Authority)@image.Url">
            <img src="@image.Url" alt="Hejsan" id="#image" data-source="@image.Url" width="200" height="200" />
        </a>
    }
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".returnImage").click("click", function (e) {
                var urlImage = $(this).attr("data-url");
                window.opener.updateValue("cke_dialog_ui_input_text", urlImage);
                //$(".cke_dialog_ui_input_text").val(urlImage);
                window.close();
            });
        });
    </script>
</body>
</html>