﻿@model List<Traderdock.Model.TTModel.TTProduct>
@{
    ViewBag.Title = "Product List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "user";
    string PageSize = Session["PageSize"].ToString();
}

<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        Trading Allowable Product
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Product</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <div>
            <section>
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="pull-right filter-bottom-margin">
                            <form id="changelist-search">
                                <div class="input-group" style="width: 250px;">
                                    <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by symbol" autofocus />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form>
                            @*<div id="RptDropDown" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                                    <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Export <b class="caret margin-l-5"></b>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                                        <li>
                                            <a href="@StrPath/admin/user/ExportToPDF">PDF</a>
                                        </li>
                                        <li>
                                            <a href="@StrPath/admin/user/ExportToExcel">Excel</a>
                                        </li>
                                    </ul>
                                </div>*@
                            <div id="changelist-filter" class="pull-right margin-r-10 dropdown filter-bottom-margin">
                                <button id="changelist-filter-dd" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Filters <b class="caret margin-l-5"></b>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="changelist-filter-dd">
                                    <li class="dropdown-header"> Status </li>
                                    <li><a onclick="OnFilter('All');">All</a></li>
                                    <li><a onclick="OnFilter('Yes');">Active</a></li>
                                    <li><a onclick="OnFilter('No');">Inactive</a></li>
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                        </form>
                    </div>
                    <!-- /.box-body -->
                    <div id="CustomLoder" class="overlay" style="display:none">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script src="~/Content/plugins/Kendo/jszip.min.js"></script>
<script src="~/Content/plugins/Kendo/kendo.all.min.js"></script>
<style>
    .page-template {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

        .page-template .header {
            position: absolute;
            top: 30px;
            left: 30px;
            right: 30px;
            border-bottom: 1px solid #888;
            text-align: center;
            font-size: 18px;
        }

        .page-template .footer {
            position: absolute;
            bottom: 30px;
            left: 30px;
            right: 30px;
        }

    .k-grid {
        font-family: "DejaVu Sans", "Arial", sans-serif;
    }

    /* Hide the Grid header and pager during export */
    .k-pdf-export .k-grid-toolbar,
    .k-pdf-export .k-pager-wrap {
        display: none;
    }
</style>
<script type="text/javascript">
    var pageLimit = '@PageSize';
    function InActiveChecked(value) {
        $.ajax({
            type: "GET",
            url: "@StrPath/admin/tt/InActiveCheckedProduct/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function ActiveChecked(value) {
        $.ajax({
            type: "GET",
            url: "@StrPath/admin/tt/ActiveCheckedProduct/",
            data: {
                ID: value // < note use of 'this' here
            },
            success: function (result) {
                if (result.success == true) {
                    toastr.success(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
                else {
                    toastr.warning(result.Msgnew);
                    $("#grid").data("kendoGrid").dataSource.read();
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }

    function refreshGrid() {

        $.ajax({
            type: "Post",
            url: '@StrPath/admin/tt/Product_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('success');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });

        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    function OnFilter(values) {
        $("#statusFilter").val(values);
        $("#grid").data("kendoGrid").dataSource.read();
    }

    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model));
        //Bind with initial data
        var grid =  $('#grid').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Product_Read", "tt"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
                //Filterable:true,
            },
            columns:
             [
             { field: "symbol", title: "Symbol", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:14%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:14%; " } },
             { field: "productTypeId", title: "Product Type Id", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:15%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:15%;" } },
             { field: "id", title: "Product Id", width: 190, filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:8%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:8%;" } },
             { field: "name", title: "Name", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px;" } },
             { field: "Actions", title: "Actions", width: 100, template: '# if(is_selected) {# <a onclick="InActiveChecked(#=tt_primary_product_id#)" class="label label-success">Active</a> #} else {# <a onclick="ActiveChecked(#=tt_primary_product_id#)" class="label label-danger">Inactive</a> #} #', headerAttributes: { style: "text-align:center;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;width:12%;" }, filterable: false },
             ],
            pdfExport: function (e) {
                var grid = $("#grid").data("kendoGrid");
                grid.hideColumn(0);
                grid.hideColumn(7);
                e.promise
                .done(function() {
                    grid.showColumn(0);
                    grid.showColumn(7);
                });
            }
        }).data("kendoGrid");
        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });
</script>
