﻿@model Traderdock.Model.TTModel.TTFileModel
@using System.Data;
@{
    @Html.Hidden("RecordJSON")
    @Html.Hidden("fstartdate");
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    @Html.Hidden("fenddate");
    string PageSize = Session["PageSize"].ToString();
}
<head>
    <link href="http://www.jqueryscript.net/demo/DataTables-Jquery-Table-Plugin/media/js/jquery.js" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" rel="stylesheet" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.common.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.rtl.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.default.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.dataviz.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.dataviz.default.min.css">
    <link rel="stylesheet" href="http://kendo.cdn.telerik.com/2015.2.805/styles/kendo.mobile.all.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>
    <script src="http://kendo.cdn.telerik.com/2018.3.911/js/kendo.all.min.js"></script>
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
    <script src="~/Content/plugins/Kendo/jszip.min.js"></script>
    <script src="~/Content/plugins/Kendo/kendo.all.min.js"></script>
</head>
<section class="content-header">
    <h1>
        Review CSV file
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Review CSV file</li>
    </ol>
</section>
<style>
    .k-grid {
        font-size: 10px;
    }
    .k-grid td {
        line-height: 2em;
    }
</style>
<section class="content">
    <div class="box box-primary" style="overflow-x:auto">
        <div class="box-header with-border">
            <h3 class="box-title"> Please select date and user for delete operation</h3>
        </div>
        <div class="box-body">
            <h6 style="color:red;display:none;" id="errormsg"></h6>
            <div class="row">
                <div class="col-md-10"> 
                    <div class="row col-md-4">
                        <div class="input-group" style="width: 250px; padding-left:15px;">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="sub_date" placeholder="Search by subscription date">
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-4">
                        <div class="input-group" style="width: 250px;">
                            @Html.DropDownListFor(m => m.account, new SelectList(Model.lstaccount, "Value", "Text"), "Select All Account", new { @class = "form-control select2", @id = "ddlaccount" })
                        </div>
                    </div>
                    <div class="row  col-md-4">
                        <div class="input-group" style="width: 300px; ">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" id="btn_sub_Search" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions pull-left filter-bottom-margin">
            <div class="form-inline">
                <div class="input-group " style="padding-left: 30px">
                    <select class="form-control" id="dropDownId" name="action" required>
                        <option value="not_selected" selected="selected">--Select Any Action--</option>
                        <option value="delete_selected">Delete selected users</option>
                    </select>
                    <input class="select-across form-control" name="select_across" type="hidden" value="0" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" title="Run the selected action" onclick="AppendCheckLists()">Go</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="grid"></div>
        @Html.Hidden("Message", @TempData["Msg"])
        @Html.Hidden("checkedData")
    </div>
    <div id="success-alert" class="toast-top-right" style="position:absolute;top:80px;right:0; height:100px;display:block; width:270px;" aria-live="polite" role="alert">
        <div class="toast toast-success">
            <button class="toast-close-button" role="button">×</button>
            <div class="toast-title"></div>
            <div class="toast-message">
                <p class="text"></p>
            </div>
        </div>
    </div>
    <div id="modalConfirmYesNo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
@*Select 2 JS*@
<script>
    $(document).ready(function () {
        $('#ddlaccount').select2();
    });
</script>
@*Save to Database*@
<script>
    $('#UploadData').click(function () {
        if (window.FormData !== undefined) {
            var MultiFormData = new FormData();
            MultiFormData.append('RecordJSON', $("#RecordJSON").val());
            $.ajax({
                url: '/TT/SaveProcessing',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: MultiFormData,
                success: function (result) {
                    if (result.success == true) {
                        location.reload(true);
                    }
                    else {
                        alert('Please try again!');
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });
</script>
@*Select All checkbox*@
<script>
    function SelectAll() {
        $("#chkSelectAll").change(function () {
            if (this.checked) {
                $(".checkbox").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkbox").each(function () {
                    this.checked = false;
                })
            }
        });
    }
</script>
@*Date Range picker*@
<script>
    $('#sub_date').daterangepicker({
        format: 'dd-MMM-yyyy',
        useCurrent: false
    });
    $('#sub_date').val('');
</script>
@*Fill Read*@
<script>
    var pageLimit = '@PageSize';
    $(document).ready(function () {
        //Bind with initial data
        var grid = $('#grid').kendoGrid({
            scrollable: true,
            sortable: true,
            pageable: true,
            filterable: true,
            dataSource: {
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("Fill_read", "TT"))",
                        type: "POST",
                        dataType: "json",
                        group: [
                               { field: "Account" },
                        ],
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total"
                },
                pageSize: pageLimit,
                serverPaging: true,
                serverFiltering: true,
            },
            columns:
             [
                { title: "<input type='checkbox' id='chkSelectAll' onclick='SelectAll();'/>", width: 30, template: "<input type='checkbox' class='checkbox'   id='#=fillid#' ", attributes: { style: "font-size:14px;width:2%; " } },
                { field: "Date_str", title: "Date", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:25%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:25%; " } },
                //{ field: "Account", title: "Account", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:25%; font-weight: bold;" }, attributes: { style: "font-size:14px;width:25%; " } },
                { field: "Exchange", title: "Exchange ", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
                { field: "Contract", title: "Contract", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
                { field: "BS", title: "BS", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:5%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:5%;" } },
                { field: "FillQty", title: "FillQty", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:10%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:10%;" } },
                { field: "Price", title: "Price", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
                { field: "BuyPrice", title: "Buy Price", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:14%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:14%;" } },
                { field: "SellPrice", title: "Sell Price", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:13%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:13%;" } },
                { field: "AverageBuyPrice", title: "Average Buy Price", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:16%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:16%;" } },
                { field: "AverageSellPrice", title: "Average Sell Price", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:14%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:14%;" } },
                { field: "realised_pnl_tick", title: "Realised P&L Tick", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
                { field: "realised_pnl_usd_without_commision", title: "Realised P&L $ Without Commision", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
                { field: "commission", title: "Commission", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
                { field: "realised_pnl_usd_with_commision", title: "Realised P&L $ with Commision", filterable: false, headerAttributes: { style: "text-align:left;font-size:14px; width:12%; font-weight: bold;" }, attributes: { style: "font-size:14px; width:12%;" } },
             ]
        }).data("kendoGrid");

        $('#btn_sub_Search').on("click", function (e) {
            var grid_sub_history = $('#grid').data('kendoGrid');
            grid_sub_history.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                sAccount: $('#ddlaccount :selected').text(),
                sFromDate: $('#sub_date').val().split(' - ')[0],
                sToDate: $('#sub_date').val().split(' - ')[1]
            };
            return data;
        }
    });
</script>
@*Delete Checked record*@
<script>
    function AppendCheckLists() {
        var notChecked = [], checked = [];
        $(":checkbox").map(function () {
            this.checked ? checked.push(this.id) : notChecked.push(this.id);
        });
        $("#checkedData").val(checked);
        if (checked.length == 0 || checked.length == "") {
            toastr.warning('please select at least one record');
            return false;
        }
        else {
            if ($("#dropDownId option:selected").val() == "delete_selected") {
                var b = RemoveAllSelectedRows($("#checkedData").val());
            }

            else {
                $('#dropDownId').css('border-bottom', 'solid 1px red');
                return false;
            }
        }
    };
    function RemoveAllSelectedRows(id) {
        AsyncConfirmForDeleteSelected(
            "Delete confirmation.",
            "Are you sure you want to Delete this Record?",
            MyYesFunction(),
            MyNoFunction(),
            id
        );
    }

    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }
    function AsyncConfirmForDeleteSelected(title, msg, yesFn, noFn, id) {
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            $.ajax({
                type: "GET",
                url: '@Url.Action("DeleteCheckedFill", "TT", new { area = "admin" })',
                data: {
                    sID: $("#checkedData").val() // < note use of 'this' here
                },
                success: function (result) {
                    if (result.success == true) {
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            $confirm.modal("hide");
            //return true;
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
            //return false;
        });
        //return false;
    };
</script>
@*Set Requested Account*@
<script>
    $("#ddlaccount option:contains(@Model.account)").attr('selected', 'selected');
</script>