﻿@model Traderdock.Entity.Model.LoginModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TraderDock COME TRADE OUR MONEY</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/front/dist/img/favicon.ico">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/ie10-viewport-bug-workaround.css">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.transitions.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/plugins/FontAwesome/css/FontAwesome.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/dist/css/style.css">
    <link rel="stylesheet" href="~/Content/front/dist/css/responsive.css">
    <script src="~/Content/front/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/front/bootstrap/js/ie-emulation-modes-warning.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Content/front/dist/img/footer-logo.png" alt="Logo" />
                </a>
            </div>
        </div>
    </nav>
    <div class="main-container">
        <div class="page-section page-section-padding-lg-small-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-offset-6">
                        <div class="log-process-form box-top-margin">
                            <div class="section-title">
                                <h3 class="heading"> Page Not Found</h3>
                            </div>
                            <p>
                                If you entered a web address please check it was correct or not.
                                <br />
                                You can also return back to home page click below button
                            </p>
                            <div class="form-action">
                                <a href="http:\\www.traderdock.com" target="_self" class="btn btn-primary btn-block"> Redirect to Website</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        @section Scripts{
        @Scripts.Render("~/bundles/jquery")
        }
    </script>
</body>
</html>
