﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no">
    <title>TraderDock COME TRADE OUR MONEY</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/front/dist/img/favicon.ico">

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/ie10-viewport-bug-workaround.css">

    <!-- Owl Carousel -->
    <link href="~/Content/front/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.transitions.css" rel="stylesheet">

    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/datepicker/datepicker3.css">

    <!-- Time Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.css">

    <!-- Bootstrap file Input -->
    <link rel="stylesheet" href="~/Content/front/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/front/plugins/select2/css/select2.css">

    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/plugins/FontAwesome/css/FontAwesome.css">

    <!-- Theme fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/front/dist/css/style.css">
    <link rel="stylesheet" href="~/Content/front/dist/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/front/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="wrapper">

        <!-- Header -->

        <nav class="navbar">
            <div class="container">


                <ul class="navbar-right nav navbar-nav nav-custom-right pull-right">
                    <li class="highlight"><a href="login.php">Login</a></li>
                </ul>

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.php">
                        <img src="~/Content/front/dist/img/logo.png" alt="Logo" />
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-sm-right">
                        <li><a href="step1.php">Learn How</a></li>
                        <li><a href="javascript:;">Blog</a></li>
                        <li><a href="faq.php">FAQs</a></li>
                        <li><a href="contact-us.php">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- End Header -->
        <!-- Banner -->
        <!--<div class="banner">
            <div class="banner-slider">
                <div class="item">
                    <div class="item-image" style="background-image: url(/Content/front/dist/img/slider1.jpg);background-position: center center;"></div>
                    <div class="banner-caption">
                        <div class="container">
                            <h1 class="heading">Come trade our money</h1>
                            <p>Show you excel and we will back you all the way.</p>
                            <button type="button" class="btn btn-orange btn-block max-220">Try TraderDock Free</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!-- End Banner -->
        <!-- Main Container -->
        <div class="main-container">
            @RenderBody()
        </div> <!-- End Main Container -->
        <!-- Footer -->

        <footer class="footer">
            <div class="footer-top-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="block">
                                <div class="logo">
                                    <img src="~/Content/front/dist/img/logo-footer.png" alt="Logo">
                                </div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type.</p>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="block">
                                <div class="block-title">
                                    <h4 class="heading">Useful links</h4>
                                </div>
                                <div class="block-content">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <ul class="list-unstyled list-gapping">
                                                <li><a href="index.php">Home</a></li>
                                                <li><a href="about-us.php">About Us</a></li>
                                                <li><a href="contact-us.php">Contact Us</a></li>
                                                <li><a href="javascript:void(0)">Blog</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-4">
                                            <ul class="list-unstyled list-gapping">
                                                <li><a href="login.php">Login</a></li>
                                                <li><a href="register.php">Sign Up</a></li>
                                                <li><a href="step1.php">Learn How</a></li>
                                                <li><a href="faq.php">FAQs</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-4">
                                            <ul class="list-unstyled list-gapping">
                                                <li><a href="satisfaction-policy.php">Satisfaction Policy</a></li>
                                                <li><a href="privacy-policy.php">Privacy Policy</a></li>
                                                <li><a href="terms-and-conditions.php">Terms & Conditions</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="block">
                                <div class="block-title">
                                    <h4 class="heading">Social links</h4>
                                </div>
                                <div class="block-content">
                                    <ul class="list-unstyled list-icon list-gapping">
                                        <li><a href="javascript:void(0)"><i class="icon fa fa-facebook-square"></i>Facebook</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon fa fa-twitter-square"></i>Twitter</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon fa fa-google-plus-square"></i>Google plus</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon fa fa-linkedin-square"></i>LinkedIn</a></li>
                                        <li><a href="javascript:void(0)"><i class="icon fa fa-youtube-play"></i>Youtube</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-container">
                <div class="container">
                    &copy; 2016-2017 TraderDock | All rights reserved. Website Designed by <a href="https://www.peerbits.com/" target="_blank" class="text-underline">Peerbits</a>
                </div>
            </div>
        </footer>

        <div class="full-loarder">
            <div class="three-bounce">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- jQuery 1.12.4 -->
        <script src="~/Content/front/plugins/jQuery/jquery-1.12.4.min.js"></script>

        <!-- Bootstrap 3.3.7 -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/Content/front/bootstrap/js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="~/Content/front/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

        <!-- Owl Carousel -->
        <script src="~/Content/front/plugins/owl-carousel/js/owl.carousel.min.js"></script>

        <!-- Date Picker -->
        <script src="~/Content/front/plugins/datepicker/bootstrap-datepicker.js"></script>

        <!-- Time Picker -->
        <script src="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.js"></script>

        <!-- Select2 -->
        <script src="~/Content/front/plugins/select2/js/select2.min.js"></script>
        <script src="~/Content/front/plugins/select2/js/select2.full.min.js"></script>

        <!-- bootstrap file input -->
        <script src="~/Content/front/plugins/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>

        <!-- Fixed Header -->
        <script src="~/Content/front/plugins/scrolltofixed/js/jquery-scrolltofixed.js"></script>

        <!-- Theme App -->
        <script src="~/Content/front/dist/js/app.js"></script>

        <!-- End Footer -->

        <script type="text/javascript">

            // Banner Slider
            $(document).ready(function () {
                $(".banner-slider").owlCarousel({
                    navigation: true,
                    pagination: false,
                    singleItem: true,
                    navigationText: ["<i class='fa fa-long-arrow-left'></i>", "<i class='fa fa-long-arrow-right'></i>"],
                    lazyLoad: true
                });
            });

        </script>

    </div>
    <!-- Start of LiveChat (www.livechatinc.com) code -->
    <script type="text/javascript">
window.__lc = window.__lc || {};
window.__lc.license = 9072915;
(function() {
  var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
  lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
    </script>
    <!-- End of LiveChat code -->
</body>

</html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121848980-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121848980-1');
</script>
