﻿@{
    var strUrl = Request.Url.AbsoluteUri.ToLower();
    var strDivClass = "new-design";
    var AcceptPrivacyPolicy = Request.Cookies["AcceptPrivacyPolicyTraderdock"];
    string StrImagePath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string StrPayPalMurchantID = System.Web.Configuration.WebConfigurationManager.AppSettings["PayPal:UserID"];
    string StrPayPalEnvirement = System.Web.Configuration.WebConfigurationManager.AppSettings["PayPal:environment"];
    @Html.Hidden("sBalance", "")
    @Html.Hidden("sMonthLimit", "")
    @Html.Hidden("hdnRegisterMemberID", 0)
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="max-age=200" />
    <title>TraderDock - Come Trade Our Capital</title>
    <meta name="description" content="Trade our capital from anywhere. No deposit to trading account. Simply reach the profit target in our trading Challenge and we will back you to trade from anywhere with no personal downside risk!">
    <meta name="keywords" content="Online trading, futures trading, s&p500, oil trading, gold trading, learn to trade, risk management, direct market access, stock market, become a trader, professional trading, trade for a living, trading career, capital to trade, trader capital, trader backing, spreadbetting, trading challenge, funded trader, trader funding, scalping, market Wizards, Forex, Forex trader, FX trader">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/front/dist/img/favicon.ico">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/ie10-viewport-bug-workaround.css">
    <!-- Owl Carousel -->
    <link href="~/Content/front/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.transitions.css" rel="stylesheet">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/datepicker/datepicker3.css">
    <!-- Time Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Bootstrap file Input -->
    <link rel="stylesheet" href="~/Content/front/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/front/plugins/select2/css/select2.css">
    <!-- Animation Css -->
    <link href="~/Content/front/dist/css/animation/animate.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/plugins/FontAwesome/css/FontAwesome.css">
    <!-- Theme fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">-->
    <link href="~/Content/front/dist/font-avenir/stylesheet.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/front/dist/css/style.css">
    <link rel="stylesheet" href="~/Content/front/dist/css/responsive.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/front/bootstrap/js/ie-emulation-modes-warning.js"></script>
    @*@if (strUrl.Contains("contactus") || strUrl.Contains("aboutus") || strUrl.Contains("faq")
        || strUrl.Contains("login") || strUrl.Contains("register") || strUrl.Contains("dashboard")
        || strUrl.Contains("satisfactionpolicy") || strUrl.Contains("privacypolicy") || strUrl.Contains("terms"))*@


</head>
<body>
    <!-- Header -->
    @if (strUrl.Contains("contactus") || strUrl.Contains("aboutus") || strUrl.Contains("faq")
                                                                    || strUrl.Contains("login") || strUrl.Contains("register") || strUrl.Contains("dashboard")
                                                                    || strUrl.Contains("satisfactionpolicy") || strUrl.Contains("privacypolicy") || strUrl.Contains("terms") || strUrl.Contains("userpassword"))
    {
        strDivClass = "new-design-white";
    }
    else
    {
        strDivClass = "new-design";
    }
    <div class="wrapper @strDivClass">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">
                        @if (strUrl.Contains("index") || strUrl.Contains("step1") || strUrl.Contains("step2") || strUrl.Contains("step3") ||
                            strUrl.Contains("blog") || strUrl.Contains("learnhow"))
                        {
                            <img src="~/content/front/dist/img/traderdock-logo-green.png" alt="Logo" class="hidden-lg hidden-sm hidden-md">
                            <img src="~/content/front/dist/img/traderdock-logo-white.png" alt="Logo" class="hidden-xs">
                        }
                        else
                        {
                            <img src="~/Content/front/dist/img/traderdock-logo-green.png" alt="Logo">
                            strDivClass = "new-design";
                        }
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-sm-right">
                        @*<li id="submenu_home"><a href="~/home/index">Home</a></li>*@
                        <li id="submenu_home"><a href="@StrImagePath">Home</a></li>
                        <li id="submenu_learnhow"><a href="@StrImagePath/home/learnhow">Challenge</a></li>
                        @*<li id="submenu_learnhow"><a href="~/home/step1">Learn How</a></li>*@
                        @*<li id="submenu_blog"><a href="https://www.blog.traderdock.com/">Blog</a></li>*@
                        <li id="submenu_faqs"><a href="@StrImagePath/faq/category">FAQs</a></li>
                        <li><a href="http://blog.traderdock.com/">TraderDock Academy</a></li>
                        <li id="submenu_contactus"><a href="@StrImagePath/home/contactus">Contact Us</a></li>
                        <li><a href="@StrImagePath/account/register">Sign Up</a></li>
                        <li><a href="@StrImagePath/account/login">Trader Login</a></li>
                    </ul>
                </div>
                @*SideBar*@
                <div class="helpHeader hidden-xs helpHeaderHome">
                    <a href="javascript:;" class="helpHeader-toggle">
                        START<br>TRADING
                    </a>
                    <div class="helpHeader-content">
                        <ul class="list-unstyled list-gapping">
                            <li class="text-center">
                                <a href="@StrImagePath/account/register">
                                    <span class="icons">
                                        <img src="~/Content/front/dist/img/free-trial-icon.png" alt="Homepage Icon">
                                    </span>Start 14 Day Trial
                                </a>
                            </li>
                            <li class="text-center">
                                <a href="#" onclick="GetUserSignUpPopup()">
                                    <span class="icons">
                                        <img src="~/Content/front/dist/img/big-trading-icon.png" alt="Homepage Icon">
                                    </span>Start Challenge
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Header -->
        @RenderBody()
        <!-- Footer -->
        <footer class="footer margin-bottom100">
            <div class="footer-top-container page-section-padding-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="logo">
                                    <img src="~/Content/front/dist/img/footer-logo.png" alt="Logo">
                                </div>
                                @Html.Raw(ViewBag.LayoutFooterText)
                                @*<p>I have related the substance of several conversations I had with my master during the greatest part of the time I had the honour to be in his.</p>*@
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <div class="block">
                                <div class="block-content">
                                    <ul class="list-unstyled list-gapping">
                                        @*<li><a href="~/home/index">Home</a></li>*@
                                        <li><a href="@StrImagePath">Home</a></li>
                                        <li><a href="@StrImagePath/home/contactus">Contact Us</a></li>
                                        @*<li><a href="~/home/aboutus">About Us</a></li>*@
                                        <li><a href="http://blog.traderdock.com">Blog</a></li>
                                        <li><a href="@StrImagePath/faq/category">FAQ’S</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="block">
                                <div class="block-content">
                                    <ul class="list-unstyled list-gapping">
                                        <li><a href="@StrImagePath/account/register">SIGN UP</a></li>
                                        <li><a href="@StrImagePath/account/login">TRADER LOGIN</a></li>
                                        <li><a href="@StrImagePath/home/learnhow">LEARN HOW</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-container">
                <div class="container page-section-padding-sm">
                    <div class="row">
                        <div class="col-sm-8">
                            @*<a href="~/home/satisfactionpolicy" class="footer-link">SATISFACTION POLICY</a>*@
                            <a href="@StrImagePath/home/privacypolicy" class="footer-link">PRIVACY POLICY</a>
                            <a href="@StrImagePath/home/terms" class="footer-link">TERMS AND CONDITIONS</a>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="made-with">
                                <p class="text-uppercase">  © 2016-2017 TraderDock | All rights reserved. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (AcceptPrivacyPolicy == null)
            {
                <div class="footer-bg-fix" id="divAcceptPrivacyPolicy">
                    <div class="container page-section-padding-sm" style="padding-top:10px;padding-bottom:10px;">
                        <a class="btn btn-success btn-raund btn-sm pull-right" onclick="onAcceptPrivacyCookies();" type="button">I accept</a>
                        <p>TraderDock uses cookies in order to provide you with a better experience. To find out more about cookies, please see our <a style="color:#000;" href="/home/privacypolicy">Privacy Policy</a>. </p>
                    </div>
                </div>
            }
            else
            {
                var obj = AcceptPrivacyPolicy.Value.ToString();
                if (!string.IsNullOrEmpty(obj) && obj != "true")
                {
                    <div class="footer-bg-fix" id="divAcceptPrivacyPolicy">
                        <div class="container page-section-padding-sm" style="padding-top:10px;padding-bottom:10px;">
                            <a class="btn btn-success btn-raund btn-sm pull-right" onclick="onAcceptPrivacyCookies();" type="button">I accept</a>
                            <p>TraderDock uses cookies in order to provide you with a better experience. To find out more about cookies, please see our <a style="color:#000;" href="/home/privacypolicy">Privacy Policy</a>. </p>
                        </div>
                    </div>
                }
            }
        </footer>
        <div class="full-loarder">
            <div class="three-bounce">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript
    ==========================================================
    -->
    <!-- jQuery 1.12.4 -->
    @* bundling comment due to conflict old and new version js *@
    @RenderSection("Scripts", required: false)
    <script src="~/Content/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- jQuery 1.12.4 -->
    @*<script src="~/Content/front/plugins/jQuery/jquery-1.12.4.min.js"></script>*@
    <!-- Bootstrap 3.3.7 -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/front/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/front/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/front/plugins/owl-carousel/js/owl.carousel.min.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/front/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Time Picker -->
    <script src="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/front/plugins/select2/js/select2.min.js"></script>
    <script src="~/Content/front/plugins/select2/js/select2.full.min.js"></script>
    <!-- bootstrap file input -->
    <script src="~/Content/front/plugins/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>
    <!-- Wow js -->
    <script src="~/Content/front/dist/js/animation/wow.min.js"></script>
    <script src="~/Content/front/dist/js/animation/wow.init.js"></script>
    <!-- Fixed Header -->
    <script src="~/Content/front/plugins/scrolltofixed/js/jquery-scrolltofixed.js"></script>
    <!-- Theme App -->
    <script src="~/Content/front/dist/js/app.js"></script>
    <!-- Page Common Validation Custom Validation-->
    <script src="~/Scripts/common.js"></script>
    <!-- End Footer -->
    <script type="text/javascript">

        // Banner Slider
        $(document).ready(function () {

            var selectedSubmenu = 'submenu_' + '@ViewBag.SubMenu';
            $('.navbar-nav li.active').removeClass('active');
            $("#" + selectedSubmenu).addClass('active');
            $(".banner-slider").owlCarousel({
                navigation: true,
                pagination: false,
                singleItem: true,
                navigationText: ["<i class='fa fa-long-arrow-left'></i>", "<i class='fa fa-long-arrow-right'></i>"],
                lazyLoad: true
            });

            var FootersessionData = '@Session["IsFooterData"]';
            if (FootersessionData == 'True') {
                //Show popup
            }
            else {
                GetFooterCMSData();
            }

            //Set the carousel options
            $('#carousel-example-generic').carousel({
                pause: true,
                interval: 3000,
            });

            //Home page Top Slider
            $('#myCarousel').carousel({
                interval: 4000
            });

            var clickEvent = false;
            $('#myCarousel').on('click', '.nav-pills a', function () {
                clickEvent = true;
                $('.nav-pills li').removeClass('active');
                $(this).parent().addClass('active');
            }).on('slid.bs.carousel', function (e) {
                if (!clickEvent) {
                    var count = $('.nav-pills').children().length - 1;
                    var current = $('.nav-pills li.active');
                    current.removeClass('active').next().addClass('active');
                    var id = parseInt(current.data('slide-to'));
                    if (count == id) {
                        $('.nav-pills li').first().addClass('active');
                    }
                }
                clickEvent = false;
            });
        });
        function GetFooterCMSData() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Footer", "Home")',
                success: function (result) {
                    if (result.success == true) {
                        $("#FooterDataID").html(result.Footer_data);
                    }
                    else {
                        //$("#Noti_data").html(result.Notification_data);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
    </script>

    @section Scripts{
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: true)
    }

    @*Accepting privacy policy for cookies*@
    <script>
        function onAcceptPrivacyCookies() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("AcceptPrivacyPolicyCookies", "Home")',
                success: function (result) {
                    if (result.success == true) {
                        $("#divAcceptPrivacyPolicy").css("display", "none");
                    }
                    else {
                        $("#divAcceptPrivacyPolicy").css("display", "block");
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
    </script>
</body>
</html>
<!-- model popup when user is not logged in -->
<div class="modal fade" id="createProfileModal" tabindex="-1" role="dialog" aria-labelledby="createProfileModalLabel" style="display: none;">
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121848980-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-121848980-1');
</script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4774304.js"></script>
<!-- End of HubSpot Embed Code -->
@*Start of Zoho chat*@
<script type="text/javascript">
    var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "1a34018bca57d91ebcbe8420701185e44017ae09e4c9baf998125a22985426e7", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
</script>
<script>
    function GetUserSignUpPopup() {
        var MemberID = '@Session["MemberID"]';
        var id = '@Session["front_subscription_id"]';
        var sBalance = '@Session["front_starting_balance"]';
        var sMonthLimit = '@Session["front_price_per_month"]';
        if (MemberID != '' || MemberID != "") {
            if (MemberID > 0) {
                $('#ReviewPlanSubscriptionLimit').text(sBalance + " Challenge  ");
                $("#Review_subscription_id").val(id);
                $("#currentSubscriptionId").val(id);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $('#ReviewPlanSubscriptionRate').text("$" + sMonthLimit + "/ month");
                //$("#reviewSubscriptionModal").modal();
                callRevSubscriptionModel(id);
                $("#sBalance").val(sBalance);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $("#sMonthLimit").val(sMonthLimit);
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("GetProfileAddress", "Account")',
                    data: {},
                    success: function (result) {
                        if (result.success == true) {
                            result.Data.address;
                            result.Data.state_name;
                            result.Data.city_name;
                            result.Data.country_id;
                            result.Data.postal_code;
                            $("#Address1").val(result.Data.address);
                            $("select option:contains(" + result.Data.country_name + ")").attr('selected', 'true');
                            $("#administrative_area_level_11").val(result.Data.state_name);
                            $("#locality1").val(result.Data.city_name);
                            $("#postal_code1").val(result.Data.postal_code);
                        }
                        else {
                            alert("Something went wrong!");
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
                $("#DateYear").datepicker({
                    format: "mm/yyyy",
                    viewMode: "months",
                    minViewMode: "months",
                    autoclose: true,
                });
            }
        }
        else {
            $('#PlanSubscriptionLimit').text(sBalance + " Challenge  ");
            $("#subscription_id").val(id);
            $('#PlanSubscriptionRate').text("$" + sMonthLimit + "/month");
            callProfileModel(parseInt(id));
            $("#sBalance").val(sBalance);
            $("#sMonthLimit").val(sMonthLimit);
            $("#DateYear").datepicker({
                format: "mm/yyyy",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
            });
        }
    }
</script>
@*call Profile Model*@
<script>
    function callProfileModel(id) {
        $(".full-loarder").css("display", "none");
        $('#createProfileModal').load('@Url.Action("CallProfile", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            }).load(
             // jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete'),
              callPaypal()
            );
        });
    }
</script>
<script>
    function callPaypal() {
        var script = document.createElement('script');
        script.onload = function () {
            //do stuff with the script
        };
        script.src = "//www.paypalobjects.com/api/checkout.js";
        document.head.appendChild(script); //or something of the likes
        //alert(200);
    }
    window.paypalCheckoutReady = function () {
        paypal.checkout.setup("@StrPayPalMurchantID", {
            environment: '@StrPayPalEnvirement',
            click: function (event) {
                event.preventDefault();
                //in case new subscription when already logged in - by shoaib (21mar2018)
                var MemberID = '@Session["MemberID"]';
                if (MemberID != '' || MemberID != "") {
                    if (MemberID > 0) {
                        if ($('#mdlProfileForm').valid()) {
                            paypal.checkout.initXO();
                            //$("#addPaymentModal").hide();
                            $.support.cors = true;
                            $(".full-loarder").css("display", "block");

                            var bFirstNameValidated = false;
                            var bCheckBoxValidated = false;
                            var vaddress = $("#Address1").val();
                            var vcountryid = $('#country1 option:selected').val();
                            var vstatename = $("#administrative_area_level_11").val();
                            var vcityname = $("#locality1").val();
                            var vpostcode = $("#postal_code1").val();
                            var vcheckbox = $("#ReviewCheckBox").val();
                            var vsubscriptionid = $("#Review_subscription_id").val();
                            var vpromo_code_id = $("#promo_code_id").val();
                            var model = {
                                subscription_id: vsubscriptionid,
                                AcceptsTerms: bCheckBoxValidated,
                                country_id: vcountryid,
                                state_name: vstatename,
                                city_name: vcityname,
                                address: vaddress,
                                postal_code: vpostcode,
                                promo_code_id: vpromo_code_id
                            };

                            $.ajax({
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                url: '@Url.Action("EditProfileAddress", "Account")',
                                data: JSON.stringify(model),
                                success: function (result) {
                                    if (result) {
                                        $("#reviewSubscriptionModal").modal('hide');
                                        $(".full-loarder").css("display", "none");
                                        $('#hdnRegisterMemberID').val(result.id);
                                        $("#DateYear").val("");
                                        $("#CVV").val("");
                                        //CallPaymentModel(result.id, vsubscriptionid,vpromo_code_id);

                                        $.ajax({
                                            url: '@Html.Raw(Url.Action("PayWithPaypal", "Pay"))',
                                            type: "GET",
                                            async: true,
                                            crossDomain: true,
                                            data: {
                                                PaymentType: "ppal",
                                                user_id: $('#hdnRegisterMemberID').val(),
                                                subscription_id: vsubscriptionid,
                                                promo_code_id: ($("#promo_code_id").val()),
                                                platform_id: $('input[name=rbPlatform]:checked').val()
                                            },
                                            //Load the minibrowser with the redirection url in the success handler
                                            success: function (token) {
                                                var url = paypal.checkout.urlPrefix + token;
                                                //Loading Mini browser with redirect url, true for async AJAX calls
                                                paypal.checkout.startFlow(url);
                                                $(".full-loarder").css("display", "none");
                                            },
                                            error: function (responseData, textStatus, errorThrown) {
                                                alert("Due to a period of inactivity, we are unable to process this transaction");
                                                //Gracefully Close the minibrowser in case of AJAX errors
                                                paypal.checkout.closeFlow();
                                                $(".full-loarder").css("display", "none");
                                            }
                                        });
                                    }
                                    else {
                                        alert("Something went wrong!");
                                    }
                                },
                                error: function (result) {
                                    alert('error');
                                }
                            });
                            return false;
                        }
                    }
                }
                else {
                    //in case new subscription when already logged in - by shoaib (21mar2018)

                    //for signup - by shoaib 19mar2018
                    if ($('#mdlProfileForm').valid()) {
                        paypal.checkout.initXO();
                        //$("#addPaymentModal").hide();
                        $.support.cors = true;
                        $(".full-loarder").css("display", "block");
                        var vfn = $("#popup_first_name").val();
                        var vln = $("#popup_last_name").val();
                        var vemail = $("#popup_user_email").val();
                        var vpassword = $("#popup_password").val();
                        var vsubscriptionid = $("#subscription_id").val();
                        var vcountryid = $("#popup_country").val();
                        var vstateid = $("#popup_state_name").val();
                        var vcity = $("#popup_city_name").val();
                        var vaddress = $("#popup_address").val();
                        var vpostcode = $("#popup_postal_code").val();
                        var vcontact = $("#popup_contact_number").val();
                        var vPromoCode = $("#promo_code_id").val();
                        var vPlatform = $('input[name=rbPlatform]:checked').val();
                        var bCheckBoxValidated = false;
                        if ($('#AcceptsTerms').is(":checked") != true) {
                            bCheckBoxValidated = false;
                        }
                        else {
                            bCheckBoxValidated = true;
                        }

                        var model = {
                            first_name: vfn,
                            last_name: vln,
                            user_email: vemail,
                            password: vpassword,
                            confirm_password: vpassword,
                            subscription_id: vsubscriptionid,
                            country_id: vcountryid,
                            city_name: vcity,
                            state_name: vstateid,
                            AcceptsTerms: bCheckBoxValidated,
                            address: vaddress,
                            contact_number: vcontact,
                            postal_code: vpostcode,
                            rbPlatform: vPlatform
                        };
                        //$("#createProfileModal").hide();
                        $(".full-loarder").css("display", "block");
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@StrImagePath/Account/Register',
                            data: JSON.stringify(model),
                            success: function (result) {
                                if (result.success) {
                                    $("#createProfileModal").modal('hide');
                                    $(".full-loarder").css("display", "none");
                                    $('#hdnRegisterMemberID').val(result.id);
                                    $("#DateYear").val("");
                                    $("#CVV").val("");
                                    //alert(300);
                                    $.ajax({
                                        url: '@Html.Raw(Url.Action("PayWithPaypal", "Pay"))',
                                        type: "GET",
                                        async: true,
                                        crossDomain: true,
                                        data: {
                                            PaymentType: "ppal",
                                            user_id: $('#hdnRegisterMemberID').val(),
                                            subscription_id: $("#subscription_id").val(),
                                            promo_code_id: $("#promo_code_id").val(),
                                            platform_id: $('input[name=rbPlatform]:checked').val()
                                        },
                                        //Load the minibrowser with the redirection url in the success handler
                                        success: function (token) {
                                            var url = paypal.checkout.urlPrefix + token;
                                            //Loading Mini browser with redirect url, true for async AJAX calls
                                            paypal.checkout.startFlow(url);
                                            $(".full-loarder").css("display", "none");
                                        },
                                        error: function (responseData, textStatus, errorThrown) {
                                            alert("Due to a period of inactivity, we are unable to process this transaction");
                                            //Gracefully Close the minibrowser in case of AJAX errors
                                            paypal.checkout.closeFlow();
                                            $(".full-loarder").css("display", "none");
                                        }
                                    });
                                    //callPaypal();//added by shoaib - for paypal payment directly as we have now only one option Paypal Checkout - 19mar2018
                                    //CallPaymentModel(result.id, vsubscriptionid,vPromoCode); //commented by shoaib - 19mar2018
                                    //$("#addPaymentModal").modal();
                                }
                                else {
                                    alert("Something went wrong!");
                                }
                            },
                            error: function (result) {
                                alert(result);
                            }
                        });
                    }
                    //for signup - by shoaib 19mar2018
                }
                //old code here - now moved up
            },
            button: ['btPaypal']
        })
    };
</script>
<script type="text/javascript">
    function ChangeUserEmail() {
        $(".full-loarder").css("display", "block");
        $.ajax({
            type: "POST",
            url: '@StrImagePath/Account/CheckUserEmailExists',
            data: { email: $("#user_email").val() },
            success: function (result) {
                $(".full-loarder").css("display", "none");
                if (result.success == true) {
                    $('#spanEmail').text("Email id already exist.");
                    $("#btnProfileSubmit").attr("disabled", true);
                    $("#btPaypal").attr("disabled", true);
                    $("#btAW").attr("disabled", true);
                    $("#emailerrormsg").text("Email id already exist.");
                    $("#emailerrormsg").css("display", "block");
                    $("#btnSave").attr("disabled", true);
                }
                else {
                    $('#spanEmail').text('');
                    $("#btnProfileSubmit").attr("disabled", false);
                    $("#btPaypal").attr("disabled", false);
                    $("#btAW").attr("disabled", false);
                    $("#emailerrormsg").css("display", "none");
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                //alert("error");
                $(".full-loarder").css("display", "none");
            }
        });
    }
    function ChangeUserEmailPopup() {
        $(".full-loarder").css("display", "block");
        $.ajax({
            type: "POST",
            url: '@StrImagePath/Account/CheckUserEmailExists',
            data: { email: $("#popup_user_email").val() },
            success: function (result) {
                $(".full-loarder").css("display", "none");
                if (result.success == true) {
                    $('#spanEmail').text("Email id already exist.");
                    $("#btnProfileSubmit").attr("disabled", true);
                    $("#btPaypal").attr("disabled", true);
                    $("#btAW").attr("disabled", true);
                    $("#btnSave").attr("disabled", true);
                }
                else {
                    $('#spanEmail').text('');
                    $("#btnProfileSubmit").attr("disabled", false);
                    $("#btPaypal").attr("disabled", false);
                    $("#btAW").attr("disabled", false);
                    $("#btnSave").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                //alert("error");
                $(".full-loarder").css("display", "none");
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>