﻿@{
    var strUrl = Request.Url.AbsoluteUri.ToLower();
    var strDivClass = "new-design";
    var StrImagePath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string StrPayPalMurchantID = System.Web.Configuration.WebConfigurationManager.AppSettings["PayPal:UserID"];
    string StrPayPalEnvirement = System.Web.Configuration.WebConfigurationManager.AppSettings["PayPal:environment"];
    @Html.Hidden("sBalance", "")
    @Html.Hidden("hdnRegisterMemberID", 0)
    @Html.Hidden("currentSubscriptionId")
    @Html.Hidden("sMonthLimit", "")
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="max-age=200" />
    <meta name="format-detection" content="telephone=no">
    <title>TraderDock - Come Trade Our Capital</title>
    <meta name="description" content="Trade our capital from anywhere. No deposit to trading account. Simply reach the profit target in our trading Challenge and we will back you to trade from anywhere with no personal downside risk!">
    <meta name="keywords" content="Online trading, futures trading, s&p500, oil trading, gold trading, learn to trade, risk management, direct market access, stock market, become a trader, professional trading, trade for a living, trading career, capital to trade, trader capital, trader backing, spreadbetting, trading challenge, funded trader, trader funding, scalping, market Wizards, Forex, Forex trader, FX trader">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/front/dist/img/favicon.ico">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/ie10-viewport-bug-workaround.css">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.transitions.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/plugins/datepicker/datepicker3.css">
    @*<script src="~/Scripts/jquery-2.2.3.min.js"></script>*@
    <script src="~/Content/front/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <!-- Time Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Bootstrap file Input -->
    <link rel="stylesheet" href="~/Content/front/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/front/plugins/select2/css/select2.css">
    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/plugins/FontAwesome/css/FontAwesome.css">
    <!-- Theme fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="~/Content/front/dist/font-avenir/stylesheet.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/front/dist/css/style.css">
    <link rel="stylesheet" href="~/Content/front/dist/css/responsive.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet" />
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/front/bootstrap/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @if (strUrl.Contains("contactus") || strUrl.Contains("aboutus") || strUrl.Contains("faq")
                                      || strUrl.Contains("login") || strUrl.Contains("register") || strUrl.Contains("myprofile")
                                      || strUrl.Contains("dashboard") || strUrl.Contains("satisfactionpolicy") || strUrl.Contains("privacypolicy")
                                      || strUrl.Contains("terms") || strUrl.Contains("changepassword") || strUrl.Contains("completeprofile"))
    {
        strDivClass = "new-design-white";
    }
    else
    {
        strDivClass = "new-design";
    }
    <div class="wrapper @strDivClass">
        <!-- Header -->
        <nav class="navbar">
            <div class="container">
                <ul class="navbar-right nav navbar-nav nav-custom-right pull-right">
                    <li class="dropdown notificationMenu">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="UserNotification(@Session["UserIDForNotification"])">
                            <i class="material-icons" id="ddl">notifications <span id="spnNotifCount" class="count"> 0</span></i>
                        </a>
                        <div class="dropdown-menu dd-arrow pull-right" aria-labelledby="notificationMenu" id="ddl">
                            @*<ul>
                                <li>
                                    <div class="user-content clearfix" onclick="return NotificationReaded(1)">
                                        <span>Notification Context goes here</span>
                                        <div class="notificaton-time">
                                            <span class="text-muted">07/03, 06:00pm</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>*@
                            <ul class="list-unstyled notification-body" id="parentul"></ul>
                        </div>
                    </li>
                    <li class="dropdown userMenu">
                        <a href="javascript:;" class="dropdown-toggle text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="img-circle" src="@Session["MemberImage"]" width="34px" height="34px">
                            <span class="username hidden-xs">@Session["MemberName"] </span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dd-arrow pull-right list-icon" aria-labelledby="userMenu">
                            <li class="no-padding">
                                <div class="box-title">
                                    <img class="img-circle pull-left" src="@Session["MemberImage"]" width="45px" height="45px">@**@
                                    <div class="box-title-content">
                                        <h4 class="heading no-margin"><strong>@Session["MemberName"]</strong></h4>
                                        <span class="text-muted">@Session["MemberEmail"]</span>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider no-margin"></li>
                            <li><a href="@StrImagePath/home/dashboard"><span class="icon fa fa-dashboard"></span>My Dashboard</a></li>
                            <li role="separator" class="divider no-margin"></li>
                            <li><a href="@StrImagePath/account/myprofile"><span class="icon material-icons">persone</span>My Profile</a></li>
                            <li role="separator" class="divider no-margin"></li>
                            <li><a href="@StrImagePath/account/changepassword"><span class="icon material-icons">vpn_key</span>Change Password</a></li>
                            <li role="separator" class="divider no-margin"></li>
                            <li><a href="@StrImagePath/account/logoff"><span class="icon material-icons">exit_to_app</span>Sign out</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="~/">
                        @if (strUrl.Contains("index") || strUrl.Contains("step1") || strUrl.Contains("step2") || strUrl.Contains("step3") ||
                             strUrl.Contains("blog"))
                        {
                            <img src="~/content/front/dist/img/traderdock-logo-green.png" alt="Logo" class="hidden-lg hidden-sm hidden-md">
                            <img src="~/content/front/dist/img/traderdock-logo-white.png" alt="Logo" class="hidden-xs">
                        }
                        else
                        {
                            <img src="~/Content/front/dist/img/traderdock-logo-green.png" alt="Logo">
                            strDivClass = "new-design";
                        }
                    </a>
                </div>
                <!-- Show After Login -->
                <ul class="nav navbar-nav">
                    <!--Commented as per client feedback - 22Feb2018 - Shoaib Mijaki -->
                    @*<li class="highlight"><a href="~/home/step1" class="text-center">Start Trading Challenge</a></li>*@
                    <li class="highlight"><a href="#" onclick="GetUserSignUpPopup()" class="text-center">Start Trading Challenge</a></li>
                </ul>
                <!-- End After Login -->
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-sm-right">
                        @*<li id="submenu_dashboard"><a href="~/home/dashboard">Dashboard</a></li>*@
                        <!--Commented as per client feedback - 22Feb2018 - Shoaib Mijaki -->
                        @*<li id="submenu_learnhow"><a href="~/home/step1">Learn How</a></li>*@
                        <li id="submenu_learnhow"><a href="@StrImagePath/home/learnhow">Challenge</a></li>
                        @*<li id="submenu_blog"><a href="javascript:;">Blog</a></li>*@
                        <li><a href="http://blog.traderdock.com/">Blog</a></li>
                        <li id="submenu_faqs"><a href="@StrImagePath/faq/category">FAQs</a></li>
                        <li id="submenu_contactus"><a href="@StrImagePath/home/contactus">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Header -->
        @RenderBody()
        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top-container page-section-padding-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="block">
                                <div class="logo">
                                    <img src="~/Content/front/dist/img/footer-logo.png" alt="Logo">
                                </div>
                                @*<p>I have related the substance of several conversations I had with my master during the greatest part of the time I had the honour to be in his.</p>*@
                                @*@Html.Raw(ViewBag.LayoutFooterText)*@
                                <p><span style="font-size:9px;">CFTC Rules 4.41 - Hypothetical or Simulated performance results have certain limitations. Unlike an actual performance record, simulated results do not represent actual trading. Also, because the trades have not actually been executed, the results may have under-or-over compensated for the impact, if any, of certain market factors, such as lack of liquidity. Simulated trading programs in general are also subject to the fact that they are designed with the benefit of hindsight. No representation is being made that any account will or is likely to achieve profit or losses similar to those shown.</span></p>
                                <p><span style="font-size:9px;">Full Risk Disclosure: Futures and forex trading contains substantial risk and is not for every investor. An investor could potentially lose all or more than the initial investment. Risk capital is money that can be lost without jeopardizing ones’ financial security or life style. Only risk capital should be used for trading and only those with sufficient risk capital should consider trading. Past performance is not necessarily indicative of future results.</span></p>
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <div class="block">
                                <div class="block-content">
                                    <ul class="list-unstyled list-gapping">
                                        @*<li><a href="~/home/index">Home</a></li>*@
                                        <li><a href="@StrImagePath">Home</a></li>
                                        <li><a href="@StrImagePath/home/contactus">Contact Us</a></li>
                                        <li><a href="@StrImagePath/home/aboutus">About Us</a></li>
                                        <li><a href="http://blog.traderdock.com">Blog</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="block">
                                <div class="block-content">
                                    <ul class="list-unstyled list-gapping">
                                        <li><a href="@StrImagePath/account/register">SIGN UP</a></li>
                                        <li><a href="@StrImagePath/account/login">SIGN IN</a></li>
                                        <li><a href="@StrImagePath/home/learnhow">LEARN HOW</a></li>
                                        <li><a href="@StrImagePath/faq/category">FAQ’S</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom-container">
                <div class="container page-section-padding-sm">
                    <div class="row">
                        <div class="col-sm-8">
                            @*<a href="~/home/satisfactionpolicy" class="footer-link">SATISFACTION POLICY</a>*@
                            <a href="@StrImagePath/home/privacypolicy" class="footer-link">PRIVACY POLICY</a>
                            <a href="@StrImagePath/home/terms" class="footer-link">TERMS AND CONDITIONS</a>
                        </div>
                        <div class="col-sm-4 text-right">
                            <div class="made-with">
                                <p class="text-uppercase">  © 2016-2017 TraderDock | All rights reserved. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <div class="full-loarder">
            <div class="three-bounce">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
    </div>
    <!-- jQuery 1.12.4 -->
    @*<script src="~/Content/front/plugins/jQuery/jquery-1.12.4.min.js"></script>*@
    @RenderSection("Scripts", required: false)

    <!-- Bootstrap 3.3.7 -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/front/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/front/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Owl Carousel -->
    <script src="~/Content/front/plugins/owl-carousel/js/owl.carousel.min.js"></script>
    <!-- Date Picker -->
    <script src="~/Content/front/plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- Time Picker -->
    <script src="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/Content/front/plugins/select2/js/select2.min.js"></script>
    <script src="~/Content/front/plugins/select2/js/select2.full.min.js"></script>
    <!-- bootstrap file input -->
    <script src="~/Content/front/plugins/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>
    <!-- Fixed Header -->
    <script src="~/Content/front/plugins/scrolltofixed/js/jquery-scrolltofixed.js"></script>
    <!-- Theme App -->
    <script src="~/Content/front/dist/js/app.js"></script>

    <!-- Morris Chart -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <!-- Float Chart -->
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/excanvas.min.js"></script><![endif]-->
    @*<script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.js"></script>
        <script language="javascript" type="text/javascript" src="http://www.flotcharts.org/flot/jquery.flot.pie.js"></script>*@
    <script src="~/Content/front/plugins/flot-piechart/jquery.flot.js"></script>
    <script src="~/Content/front/plugins/flot-piechart/jquery.flot.pie.js"></script>
    <!-- Page Common Validation Custom Validation-->
    <script src="~/Scripts/common.js"></script>

    <script type="text/javascript">
        function labelFormatter(label, series) {
            return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
        }
    </script>

    <script type="text/javascript">
        function UserNotification(values) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("UserNotification", "Home")',
                data: {
                    userID: values,

                },
                dataType: "json",
                success: function (result) {
                    if (result.length > 0) {

                        var Htmlstr = '';
                        @*var DateFormat = '@Session["DateFormat"].ToString()';*@
                        for (var i = 0; i < result.length; i++) {

                            Htmlstr += '<li>'
                            Htmlstr += '<div class="user-content clearfix" onclick="return NotificationReaded(' + result[i].user_notification_id + ')">'
                            Htmlstr += '<span>' + result[i].notification_message + '</span>'
                            Htmlstr += '<div class="notificaton-time">'
                            Htmlstr += '<span class="text-muted">' + result[i].sent_date_string + '</span>'
                            Htmlstr += '</div>'
                            Htmlstr += '</div>'
                            Htmlstr += '</li>'
                        }

                        $("#ddl #parentul").html(Htmlstr);
                        var Htmlstr = '';
                        return false;
                    }
                    else {
                        var Htmlstr = '';

                        Htmlstr += '<li>'
                        Htmlstr += '<div class="user-content clearfix">'
                        Htmlstr += '<span>No notification to display.</span>'
                        Htmlstr += '<div class="notificaton-time">'
                        Htmlstr += '<span class="text-muted"></span>'
                        Htmlstr += '</div>'
                        Htmlstr += '</div>'
                        Htmlstr += '</li>'

                        $("#ddl #parentul").html(Htmlstr);
                    }
                },
                error: function (result) {
                    //alert('error');
                }
            });
        }

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Notification_count", "Home")',
                success: function (result) {
                    if (result.success == true) {
                        //$("#FooterDataID").html(result.Footer_data);
                        $("#spnNotifCount").html(result.notificationCount);
                    }
                    else {
                        //$("#Noti_data").html(result.Notification_data);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });

            var selectedSubmenu = 'submenu_' + '@ViewBag.SubMenu';
            $('.navbar-nav li.active').removeClass('active');
            $("#" + selectedSubmenu).addClass('active');

            $(".banner-slider").owlCarousel({
                navigation: true,
                pagination: false,
                singleItem: true,
                navigationText: ["<i class='fa fa-long-arrow-left'></i>", "<i class='fa fa-long-arrow-right'></i>"],
                lazyLoad: true
            });

            var FootersessionData = '@Session["IsFooterData"]';
            if (FootersessionData == 'true') {
                //Show popup
            }
            else {
                GetFooterCMSData();
            }
        });

        function GetFooterCMSData() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Footer", "Home")',
                success: function (result) {
                    if (result.success == true) {
                        $("#FooterDataID").html(result.Footer_data);
                    }
                    else {
                        //$("#Noti_data").html(result.Notification_data);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }

        function refreshNotification() {
            $.ajax({
                type: "Get",
                url: '@Url.Action("Notification_Read", "Home")',
                success: function (result) {
                    if (result.success == true) {
                        $("#Noti_click").html(result.Notification_data);
                    }
                    else {
                        $("#Noti_click").html(result.Notification_data);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        //
        function Notification_ALL_Readed(ID) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Notification_ALL_Readed", "Home")',
                success: function (result) {
                },
                error: function (result) {
                    alert('error');
                }
            });
        }

        function NotificationReaded(ID) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("Notification_Mark_Read", "Home")',
                data: {
                    NotificationID: ID
                },
                success: function (result) {
                    if (result.success == true) {
                        //location.reload();
                        $("#spnNotifCount").html(result.notificationCount);
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        $(document).ready(function () {
            var selectedSubmenu = 'submenu_' + '@ViewBag.SubMenu';
            $('.sidebar-menu li.active').removeClass('active');
            $("#" + selectedSubmenu).addClass('active');
        });
        $("#Noti_click").on("click", function () {
            refreshNotification();
        });
    </script>
</body>
</html>

<!-- model popup when user is logged in -->
<div class="modal fade" id="reviewPaymentModal" tabindex="-1" role="dialog" aria-labelledby="reviewPaymentModalLabel" style="display: none;">
</div>
<!-- model popup when user is logged in -->
<div class="modal fade" id="reviewSubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="reviewSubscriptionLabel" style="display: none;">
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121848980-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-121848980-1');
</script>

<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4774304.js"></script>
<!-- End of HubSpot Embed Code -->
@*Start of Zoho chat*@
<script type="text/javascript">
    var $zoho = $zoho || {}; $zoho.salesiq = $zoho.salesiq || { widgetcode: "1a34018bca57d91ebcbe8420701185e44017ae09e4c9baf998125a22985426e7", values: {}, ready: function () { } }; var d = document; s = d.createElement("script"); s.type = "text/javascript"; s.id = "zsiqscript"; s.defer = true; s.src = "https://salesiq.zoho.com/widget"; t = d.getElementsByTagName("script")[0]; t.parentNode.insertBefore(s, t); d.write("<div id='zsiqwidget'></div>");
</script>
@*Script for payment popup*@
<script>
    function GetUserSignUpPopup() {
        var MemberID = '@Session["MemberID"]';
        var id = '@Session["front_subscription_id"]';
        var sBalance = '@Session["front_starting_balance"]';
        var sMonthLimit = '@Session["front_price_per_month"]';
        if (MemberID != '' || MemberID != "") {
            if (MemberID > 0) {
                $('#ReviewPlanSubscriptionLimit').text(sBalance + " Challenge  ");
                $("#Review_subscription_id").val(id);
                $("#currentSubscriptionId").val(id);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $('#ReviewPlanSubscriptionRate').text("$" + sMonthLimit + "/ month");
                //$("#reviewSubscriptionModal").modal();
                callRevSubscriptionModel(id);
                $("#sBalance").val(sBalance);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $("#sMonthLimit").val(sMonthLimit);
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("GetProfileAddress", "Account")',
                    data: {},
                    success: function (result) {
                        if (result.success == true) {
                            result.Data.address;
                            result.Data.state_name;
                            result.Data.city_name;
                            result.Data.country_id;
                            result.Data.postal_code;
                            $("#Address1").val(result.Data.address);
                            //$("select option:contains(" + result.Data.country_name + ")").attr('selected', 'true');
                            $('#country1 [value=' + result.Data.country_id + ']').attr('selected', 'true');
                            $("#administrative_area_level_11").val(result.Data.state_name);
                            $("#locality1").val(result.Data.city_name);
                            $("#postal_code1").val(result.Data.postal_code);
                        }
                        else {
                            alert("Something went wrong!");
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
                $("#DateYear").datepicker({
                    format: "mm/yyyy",
                    viewMode: "months",
                    minViewMode: "months",
                    autoclose: true,
                });
            }
        }
        else {
            $('#PlanSubscriptionLimit').text(sBalance + " Challenge  ");
            $("#subscription_id").val(id);
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $('#PlanSubscriptionRate').text(sMonthLimit + "/ month");
            //$("#createProfileModal").modal({ show: true });
            //
            callProfileModel(id);
            $("#sBalance").val(sBalance);
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $("#sMonthLimit").val(sMonthLimit);
            //$("#createProfileModal").modal({
            //    show: true
            //}).load(
            //jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete')
            //);
            $("#DateYear").datepicker({
                format: "mm/yyyy",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
            });
        }
    }
</script>
@*call Review Subscription Model*@
<script>
    function callPaymentRevSubscriptionModel(id) {
        $(".full-loarder").css("display", "none");
        $('#reviewPaymentModal').load('@Url.Action("CallPaymentReviewModel", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            }).load(
            //  jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete'),
              callPaypal()
            );
        });
    }
    function callRevSubscriptionModel(id) {
        $(".full-loarder").css("display", "none");
        $('#reviewSubscriptionModal').load('@Url.Action("CallReviewModel", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            }).load(
          //    jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete1'),
              callPaypal()
            );
        });
    }
    function callPaypal() {
        var script = document.createElement('script');
        script.onload = function () {
            //do stuff with the script
        };
        script.src = "//www.paypalobjects.com/api/checkout.js";
        document.head.appendChild(script); //or something of the likes
        //alert(200);
    }
    window.paypalCheckoutReady = function () {
        paypal.checkout.setup("@StrPayPalMurchantID", {
            environment: '@StrPayPalEnvirement',
            click: function (event) {
                event.preventDefault();

                //in case new subscription when already logged in - by shoaib (21mar2018)
                var MemberID = '@Session["MemberID"]';
                if (MemberID != '' || MemberID != "") {
                    if (MemberID > 0) {
                        if ($('#mdlProfileForm').valid()) {
                            paypal.checkout.initXO();
                            //$("#addPaymentModal").hide();
                            $.support.cors = true;
                            $(".full-loarder").css("display", "block");
                            var bFirstNameValidated = false;
                            var bCheckBoxValidated = false;
                            var vaddress = $("#popup_address").val();
                            var vcountryid = $('#popup_country option:selected').val();
                            var vstatename = $("#popup_state_name").val();
                            var vcityname = $("#popup_city_name").val();
                            var vpostcode = $("#popup_postal_code").val();
                            var vcheckbox = $("#ReviewCheckBox").val();
                            var vsubscriptionid = $("#Review_subscription_id").val();
                            var vpromo_code_id = $("#promo_code_id").val();
                            var model = {
                                subscription_id: vsubscriptionid,
                                AcceptsTerms: bCheckBoxValidated,
                                country_id: vcountryid,
                                state_name: vstatename,
                                city_name: vcityname,
                                address: vaddress,
                                postal_code: vpostcode,
                                promo_code_id: vpromo_code_id
                            };

                            $.ajax({
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                url: '@Url.Action("EditProfileAddress", "Account")',
                                data: JSON.stringify(model),
                                success: function (result) {
                                    if (result) {
                                        $("#reviewSubscriptionModal").modal('hide');
                                        $(".full-loarder").css("display", "none");
                                        $('#hdnRegisterMemberID').val(result.id);
                                        $("#DateYear").val("");
                                        $("#CVV").val("");
                                        //CallPaymentModel(result.id, vsubscriptionid,vpromo_code_id);

                                        $.ajax({
                                            url: '@Html.Raw(Url.Action("PayWithPaypal", "Pay"))',
                                            type: "GET",
                                            async: true,
                                            crossDomain: true,
                                            data: {
                                                PaymentType: "ppal",
                                                user_id: $('#hdnRegisterMemberID').val(),
                                                subscription_id: vsubscriptionid,
                                                promo_code_id: ($("#promo_code_id").val()),
                                                platform_id: $('input[name=rbPlatform]:checked').val()
                                            },
                                            //Load the minibrowser with the redirection url in the success handler
                                            success: function (token) {
                                                var url = paypal.checkout.urlPrefix + token;
                                                //Loading Mini browser with redirect url, true for async AJAX calls
                                                paypal.checkout.startFlow(url);
                                                $(".full-loarder").css("display", "none");
                                            },
                                            error: function (responseData, textStatus, errorThrown) {
                                                alert("Due to a period of inactivity, we are unable to process this transaction");
                                                //Gracefully Close the minibrowser in case of AJAX errors
                                                paypal.checkout.closeFlow();
                                                $(".full-loarder").css("display", "none");
                                            }
                                        });
                                    }
                                    else {
                                        alert("Something went wrong!");
                                    }
                                },
                                error: function (result) {
                                    alert('error');
                                }
                            });
                            return false;
                        }
                    }
                }
                else {
                    //in case new subscription when already logged in - by shoaib (21mar2018)

                    //for signup - by shoaib 19mar2018
                    if ($('form').valid()) {
                        paypal.checkout.initXO();
                        //$("#addPaymentModal").hide();
                        $.support.cors = true;
                        $(".full-loarder").css("display", "block");
                        var vfn = $("#first_name").val();
                        var vln = $("#last_name").val();
                        var vemail = $("#user_email").val();
                        var vpassword = $("#password").val();
                        var vsubscriptionid = $("#subscription_id").val();
                        var vcountryid = $("#country").val();
                        var vstateid = $("#administrative_area_level_1").val();
                        var vcity = $("#locality").val();
                        var vaddress = $("#address").val();
                        var vpostcode = $("#postal_code").val();
                        var vcontact = $("#contact_number").val();
                        var vPromoCode = $("#promo_code_id").val();
                        var vPlatform = $('input[name=rbPlatform]:checked').val();
                        var bCheckBoxValidated = false;
                        if ($('#AcceptsTerms').is(":checked") != true) {
                            bCheckBoxValidated = false;
                        }
                        else {
                            bCheckBoxValidated = true;
                        }

                        var model = {
                            first_name: vfn,
                            last_name: vln,
                            user_email: vemail,
                            password: vpassword,
                            confirm_password: vpassword,
                            subscription_id: vsubscriptionid,
                            country_id: vcountryid,
                            city_name: vcity,
                            state_name: vstateid,
                            AcceptsTerms: bCheckBoxValidated,
                            address: vaddress,
                            contact_number: vcontact,
                            postal_code: vpostcode,
                            rbPlatform: vPlatform
                        };

                        //$("#createProfileModal").hide();
                        $(".full-loarder").css("display", "block");
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@StrImagePath/Account/Register',
                            data: JSON.stringify(model),
                            success: function (result) {
                                if (result.success) {
                                    $("#createProfileModal").modal('hide');
                                    $(".full-loarder").css("display", "none");
                                    $('#hdnRegisterMemberID').val(result.id);
                                    $("#DateYear").val("");
                                    $("#CVV").val("");

                                    //alert(300);
                                    $.ajax({
                                        url: '@Html.Raw(Url.Action("PayWithPaypal", "Pay"))',
                                        type: "GET",
                                        async: true,
                                        crossDomain: true,
                                        data: {
                                            PaymentType: "ppal",
                                            user_id: $('#hdnRegisterMemberID').val(),
                                            subscription_id: $("#subscription_id").val(),
                                            promo_code_id: ($("#promo_code_id").val()),
                                            platform_id: $('input[name=rbPlatform]:checked').val()
                                        },
                                        //Load the minibrowser with the redirection url in the success handler
                                        success: function (token) {
                                            var url = paypal.checkout.urlPrefix + token;
                                            //Loading Mini browser with redirect url, true for async AJAX calls
                                            paypal.checkout.startFlow(url);
                                            $(".full-loarder").css("display", "none");
                                        },
                                        error: function (responseData, textStatus, errorThrown) {
                                            alert("Due to a period of inactivity, we are unable to process this transaction");
                                            //Gracefully Close the minibrowser in case of AJAX errors
                                            paypal.checkout.closeFlow();
                                            $(".full-loarder").css("display", "none");
                                        }
                                    });
                                    //callPaypal();//added by shoaib - for paypal payment directly as we have now only one option Paypal Checkout - 19mar2018
                                    //CallPaymentModel(result.id, vsubscriptionid,vPromoCode); //commented by shoaib - 19mar2018
                                    //$("#addPaymentModal").modal();
                                }
                                else {
                                    alert("Something went wrong!");
                                }
                            },
                            error: function (result) {
                                alert(result);
                            }
                        });
                    }
                    //for signup - by shoaib 19mar2018
                }
                //old code here - now moved up
            },
            button: ['btPaypal']
        })
    };
</script>
@*Script for failed payment popup*@
<script>
    function GetUserSignUpPopupPaymentFailed(id, sBalance, sMonthLimit) {
        var MemberID = '@Session["MemberID"]';
        if (MemberID != '' || MemberID != "") {
            if (MemberID > 0) {
                $('#ReviewPlanSubscriptionLimit').text(sBalance + " Challenge  ");
                $("#Review_subscription_id").val(id);
                $("#currentSubscriptionId").val(id);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $('#ReviewPlanSubscriptionRate').text(sMonthLimit + "/ month");
                //$("#reviewSubscriptionModal").modal();
                callPaymentRevSubscriptionModel(id);
                $("#sBalance").val(sBalance);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $("#sMonthLimit").val(sMonthLimit);
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("GetProfileAddress", "Account")',
                    data: {},
                    success: function (result) {
                        if (result.success == true) {
                            result.Data.address;
                            result.Data.state_name;
                            result.Data.city_name;
                            result.Data.country_id;
                            result.Data.postal_code;
                            $("#popup_address").val(result.Data.address);
                            $("select option:contains(" + result.Data.country_name + ")").attr('selected', 'true');
                            $("#administrative_area_level_11").val(result.Data.state_name);
                            $("#locality1").val(result.Data.city_name);
                            $("#postal_code1").val(result.Data.postal_code);
                        }
                        else {
                            alert("Something went wrong!");
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
                $("#DateYear").datepicker({
                    format: "mm/yyyy",
                    viewMode: "months",
                    minViewMode: "months",
                    autoclose: true,
                });
            }
        }
        else {
            $('#PlanSubscriptionLimit').text(sBalance + " Challenge  ");
            $("#subscription_id").val(id);
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $('#PlanSubscriptionRate').text(sMonthLimit + "/ month");
            //$("#createProfileModal").modal({ show: true });
            //
            callProfileModel(id);
            $("#sBalance").val(sBalance);
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $("#sMonthLimit").val(sMonthLimit);
            //$("#createProfileModal").modal({
            //    show: true
            //}).load(
            //jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete')
            //);
            $("#DateYear").datepicker({
                format: "mm/yyyy",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
            });
        }
    }
</script>
@*Google Map*@
<script>
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        popup_postal_code: 'long_name',
        popup_city_name: 'long_name',
        popup_state_name: 'long_name',
        popup_country: 'long_name',
        popup_postal_code: 'short_name'

    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
           (document.getElementById('popup_address')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //for (var component in componentForm) {
        //    if (!postal_code || !country) {
        //        document.getElementById(component).value = '';
        //        document.getElementById(component).disabled = false;
        //    }
        //}
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            //
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                //
                document.getElementById(addressType).value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
            }
        }
    }
</script>