﻿@model Traderdock.Entity.MemberModel.PaypalModel
@*<script src="~/Scripts/checkout.js"></script>*@
@*<script src="//www.paypalobjects.com/api/checkout.js" async></script>*@
@{
    string UserID = System.Web.Configuration.WebConfigurationManager.AppSettings["UserID"];
    string environment = System.Web.Configuration.WebConfigurationManager.AppSettings["environment"];
}
<div class="modal-dialog" role="document">
    <form id="mdlPaymentModal" class="modal-content">
        <div class="modal-header section-title">
            <button type="button" class="close" data-dismiss="modal" onclick="location.reload();" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h3 class="modal-title" id="addPaymentModalLabel">Select Payment Mode</h3>
        </div>
        <div class="modal-body">
            <span class="field-validation-error" style="color:red" id="spanPayError"></span>
            <ul class="list-unstyled radio-list no-margin text-center">
                <li>
                    <label class="radio-set">
                        @Html.RadioButtonFor(m => m.PaymentType, "card", new { @class = "form-control", @name = "payment" }) Credit/Debit Card
                        <span></span>
                    </label>
                </li>
                <li>
                    <label class="radio-set">
                        @Html.RadioButtonFor(m => m.PaymentType, "ppal", new { @class = "form-control", @name = "payment" }) Paypal Account
                        <span></span>
                    </label>
                </li>
            </ul>

            @Html.HiddenFor(m => m.subscription_id)
            @Html.HiddenFor(m=>m.promo_code_id)
            <div id="divcard" class="divcard" style="display:none;">
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                            @Html.TextBoxFor(m => m.card_name, new { @class = "form-control", @placeholder = "Name" })
                            @Html.ValidationMessageFor(m => m.card_name, "", new { style = "color:red" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">credit_card</span>
                            @Html.TextBoxFor(m => m.card_number, new { @class = "form-control", @placeholder = "Card Number" })
                            @Html.ValidationMessageFor(m => m.card_number, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">date_range</span>
                            @Html.TextBoxFor(m => m.card_expiry, new { @class = "form-control", id = "DateYear", @placeholder = "MM/YYYY", @readonly = "readonly" })
                            @Html.ValidationMessageFor(m => m.card_expiry, "", new { style = "color:red" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">vpn_key</span>
                            @Html.PasswordFor(m => m.card_cvv, new { @class = "form-control", @placeholder = "CVV" })
                            @Html.ValidationMessageFor(m => m.card_cvv, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <span class="field-validation-error" style="color:red" id="spanError"> </span>
                <div class="form-group form-meta">
                    <label class="checkbox-set">
                        @Html.CheckBoxFor(m => m.issave, new { @text = "adsadad" })
                        Save Card
                        <span></span>
                    </label>
                    <br />
                    <div>
                        @Html.ValidationMessageFor(m => m.issave, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-action">
                    <button type="submit" onclick="return SubmitUserPayment(this)" class="btn btn-primary btn-block">Make Payment</button>
                </div>
            </div>
            <div id="divpaypal" class="divcard margin" style="display:none;">
                <button class="btn btn-success btn-raund btn-block" name="btPaypal" id="btPaypal" data-dismiss="modal" type="button">PayPal</button>
            </div>
        </div>
    </form>
    @*}*@
</div>

@*<script src="https://www.paypalobjects.com/api/checkout.js" async></script>*@
<script type="text/javascript">
    function callPaypal() {

        var script = document.createElement('script');
        script.onload = function () {
            //do stuff with the script
        };
        script.src = "//www.paypalobjects.com/api/checkout.js";
        document.head.appendChild(script); //or something of the likes
        //alert(200);
    }
    window.paypalCheckoutReady = function () {
      paypal.checkout.setup("@Model.PayPalMurchantID", {
            environment: '@Model.PayPalEnvirement',
        click: function (event) {
           
                event.preventDefault();
                paypal.checkout.initXO();
                //alert(100)
                //$("#addPaymentModal").hide();
                $.support.cors = true;
                $(".full-loarder").css("display", "block");
                $.ajax({
                    url: '@Html.Raw(Url.Action("PayWithPaypal", "Pay"))',
                    type: "GET",
                    async: true,
                    crossDomain: true,
                    data: {
                        PaymentType: "ppal",
                        user_id: $('#hdnRegisterMemberID').val(),
                        subscription_id: $("#subscription_id").val(),
                        promo_code_id: ($("#promo_code_id").val()),
                        platform_id: $('input[name=rbPlatform]:checked').val()
                    },
                    //Load the minibrowser with the redirection url in the success handler
                    success: function (token) {
                        var url = paypal.checkout.urlPrefix + token;
                        //Loading Mini browser with redirect url, true for async AJAX calls
                        paypal.checkout.startFlow(url);
                        $(".full-loarder").css("display", "none");
                    },
                    error: function (responseData, textStatus, errorThrown) {
                        alert("Something going wrong ");
                        //Gracefully Close the minibrowser in case of AJAX errors
                        paypal.checkout.closeFlow();
                        $(".full-loarder").css("display", "none");
                    }
                });
            },
            button: ['btPaypal']
            // });
        });
    };
    //}
    @*window.paypalCheckoutReady = function () {
        //$("#btPaypal").click(function () {
         
        paypal.checkout.setup("dhaval.karia_march@peerbits.com", {
            environment: 'sandbox',
            click: function (event) {
                event.preventDefault();
                paypal.checkout.initXO();
                $.support.cors = true;
                $.ajax({
                    url: '@Html.Raw(Url.Action("PayToPaypal", "Pay"))',
                    type: "GET",
                    async: true,
                    crossDomain: true,
                    //Load the minibrowser with the redirection url in the success handler
                    success: function (token) {
                        var url = paypal.checkout.urlPrefix + token;
                        //Loading Mini browser with redirect url, true for async AJAX calls
                        paypal.checkout.startFlow(url);
                    },
                    error: function (responseData, textStatus, errorThrown) {
                        alert("Something going wrong ");
                        //Gracefully Close the minibrowser in case of AJAX errors
                        paypal.checkout.closeFlow();
                    }
                });
            },
            button: ['btPaypal']
            // });
        });
    };*@
    $(document).ready(function () {
        $("#DateYear").datepicker({
            format: "mm/yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
        });

        $('input[type=radio][name=PaymentType]').on('change', function () {
            // alert();
            switch ($(this).val()) {
                case 'card':
                    $("#divpaypal").hide();
                    $("#divcard").show();
                    break;
                case 'ppal':
                    $("#divcard").hide();
                    $("#divpaypal").show();

                    callPaypal();


                    break;
            }
        });

        @*$("#btPaypal").click(function () {
             
            window.paypalCheckoutReady = function () {

                 
                paypal.checkout.setup("dhaval.karia_march@peerbits.com", {
                    environment: 'sandbox',
                    click: function (event) {
                        event.preventDefault();
                        paypal.checkout.initXO();
                        $.support.cors = true;
                        $.ajax({
                            url: '@Html.Raw(Url.Action("PayToPaypal", "Pay"))',
                            type: "GET",
                            async: true,
                            crossDomain: true,
                            //Load the minibrowser with the redirection url in the success handler
                            success: function (token) {
                                var url = paypal.checkout.urlPrefix + token;
                                //Loading Mini browser with redirect url, true for async AJAX calls
                                paypal.checkout.startFlow(url);
                            },
                            error: function (responseData, textStatus, errorThrown) {
                                alert("Something going wrong ");
                                //Gracefully Close the minibrowser in case of AJAX errors
                                paypal.checkout.closeFlow();
                            }
                        });
                    },
                    button: ['btPaypal']
                });

            };
        });*@

    });

</script>