﻿@model Traderdock.Entity.MemberModel.MemberModel
@{
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}
<div class="modal-dialog" role="document">
    @{
        string GooglePlaceAPIKey = System.Web.Configuration.WebConfigurationManager.AppSettings["GooglePlaceAPIKey"];
        @Html.Hidden("GooglePlaceAPIKey", GooglePlaceAPIKey);
    }
    @*@using (Html.BeginForm("", "Home", FormMethod.Post, new { @class = "modal-content", @id = "mdlProfileForm" }))
    {*@
    <form id="mdlProfileForm" class="modal-content">
        <fieldset>
            <div class="modal-header section-title">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="CallResetConfirmationModel">Reset Confirmation</h3>
            </div>
            <div class="modal-body">
                <div class="form-action">
                    <p>TraderDock will reset the Rules and the Account Balance of your account. Once Reset you will be eligible for graduation from the TraderDock Challenge. Your subscription payment dates will not be affected. Your account reset may take up to 24hours.</p>
                    <div class="form-group form-inline text-dark remove-responsive-margin">
                        <label class="font-medium" id="PlanSubscriptionLimit">Reset Fee</label>                        
                        <label class="font-medium">:&nbsp;</label>
                        <label class="font-medium" id="PlanSubscriptionRate">$@Convert.ToString(Session["ResetAmount"])</label>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">                            
                            <button type="button" style="width:150px" id="btnProfileSubmit" onclick="return CallResetPaymentModel(@Model.user_id);" class="btn btn-success btn-raund btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false">OK</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" style="width:150px" data-dismiss="modal" class="btn btn-success btn-raund btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>