﻿@model Traderdock.Entity.MemberModel.MemberModel
@{
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    @Html.Hidden("prome_id", 0)
}
<style>
    @@media screen and (max-width: 400px) {
        #paypal-button-container {
            width: 100%;
        }
    }

    @@media screen and (min-width: 400px) {
        #paypal-button-container {
            /*width: 250px;*/
            margin: 0 auto;
            text-align: center;
        }
    }

    .inline-middle {
        display: inline-block;
        vertical-align: middle;
    }

    .pay-by-card-btn {
        border-radius: 5px;
        width: 152px;
        height: 40px;
        font-size: 24px;
        background-color: darkblue;
        font-style: italic;
        color: white;
    }

    .paypal-btn {
        border: 1px solid gray;
        border-radius: 5px;
    }
</style>

<div class="modal-dialog" role="document">
    @{
        string GooglePlaceAPIKey = System.Web.Configuration.WebConfigurationManager.AppSettings["GooglePlaceAPIKey"];
        @Html.Hidden("GooglePlaceAPIKey", GooglePlaceAPIKey);
    }
    <form id="mdlProfileForm" class="modal-content" style="padding-top:3%">
        <fieldset>
            <div class="modal-header section-title">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h3 class="modal-title" id="createProfileModalLabel">Create Profile</h3>
            </div>
            <div class="modal-body">
                <p>Already have an account? <a href="~/Account/Login" class="text-underline">Sign In</a></p>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <input id="IsTrial" type="hidden" name="IsTrial" value="false" />
                        @*@Html.HiddenFor(x => x.subscription_id)*@
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                            @Html.TextBoxFor(m => m.first_name, new { @id = "popup_first_name", @class = "form-control", @placeholder = "First Name" })
                            @Html.ValidationMessageFor(m => m.first_name, "", new { style = "color:red" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                            @Html.TextBoxFor(m => m.last_name, new { @id = "popup_last_name", @class = "form-control", @placeholder = "Last Name" })
                            @Html.ValidationMessageFor(m => m.last_name, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">email</span>
                            @Html.TextBoxFor(m => m.user_email, new { @id = "popup_user_email", @class = "form-control", @placeholder = "Email", @onchange = "return ChangeUserEmailPopup();" })
                            @Html.ValidationMessageFor(m => m.user_email, "", new { style = "color:red" })
                            <span class="field-validation-error" style="color:red" id="spanEmail">  </span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                            @Html.TextBoxFor(m => m.contact_number, new { @id = "popup_contact_number", @class = "form-control", @placeholder = "Phone Number", @onKeyPress = "return isNumberKey(event);", @maxlength = "15", @onpaste = "return false;" })
                            @Html.ValidationMessageFor(m => m.contact_number, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="form-group has-feedback left-feed">
                    <div id="locationField">
                        <span class="form-control-feedback material-icons">place</span>
                        @Html.TextBoxFor(m => m.address, new { @id = "popup_address", @class = "form-control ", @placeholder = "Address" })
                        @Html.ValidationMessageFor(m => m.address, "", new { style = "color:red" })
                    </div>
                </div>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">location_city</span>
                            @Html.TextBoxFor(m => m.city_name, new { @id = "popup_city_name", @class = "form-control", @placeholder = "City " })
                            @Html.ValidationMessageFor(m => m.city_name, "", new { style = "color:red" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">looks_one</span>
                            @Html.TextBoxFor(m => m.postal_code, new { @id = "popup_postal_code", @class = "form-control", @placeholder = "Postal Code " })
                            @Html.ValidationMessageFor(m => m.postal_code, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">public</span>
                            @Html.DropDownListFor(model => model.country_id, Model.CountryList, "Select Country", new { @class = "form-control", @id = "popup_country" })
                            @Html.ValidationMessageFor(m => m.country_id, "", new { style = "color:red" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons" style="text-indent: 13px;">location_city</span>
                            @Html.TextBoxFor(m => m.state_name, new { @class = "form-control", @placeholder = "State ", id = "popup_state_name" })
                            @Html.ValidationMessageFor(m => m.state_name, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">vpn_key</span>
                            @Html.PasswordFor(m => m.password, new { @id = "popup_password", @class = "form-control", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">vpn_key</span>
                            @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control", @placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.confirm_password, "", new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="section-title">
                    <h3 class="heading">Review Subscription Details</h3>
                </div>
                <p>The Monthly cost of the Trading Challenge® is set to recur every 30 days from the sign up date, until the objective is met or the account is cancelled.</p>
                <div class="form-group form-inline text-dark remove-responsive-margin">
                    <label class="font-medium" id="PlanSubscriptionLimit"></label>
                    <input type="hidden" id="subscription_id" name="subscription_id" value="@Model.SubscriptionPlanList.FirstOrDefault().Value" />
                    <label class="font-medium">:&nbsp;</label>
                    <label class="font-medium" id="PlanSubscriptionRate"></label>
                </div>
                <p>While active with TraderDock, you will get FREE access to R Trader Platform.</p>
                <div class="form-group form-inline text-dark remove-responsive-margin">
                    <b> Add a Promo Code</b>
                    @Html.TextBoxFor(m => m.promo_text)
                    @Html.HiddenFor(m => m.promo_code_id)
                    <button id="btnPromoCode" type="button" class="">Apply</button>
                    <div style="text-align: center">
                        <div id="lblPromoError" style="color:red"></div>
                        <div id="lblPromoDiscount" style="color:black"></div>
                        <div id="lblPromoAmount" style="color:black"></div>
                    </div>
                    <a onclick="removepromo()" id="lnkpromoremove" style="display: none; cursor: pointer; float: right; padding-right: 130px;">Remove Promo</a>
                </div>
                <div class="clearfix"></div>
                <div class="section-title" style="margin-bottom: 20px;">
                    <h3 class="heading">Platform</h3>
                </div>
                <div class="form-group">
                    <div class="row">
                        @*<div class="col-md-6">
                            <div class="form-meta">
                                <label class="checkbox-set">
                                    @Html.RadioButtonFor(m => m.rbPlatform, "1", new { @id = "rbPopupPlatform" })<img style="width: 203px;" src="../content/front/dist/img/trader-logo.png">
                                    <span></span>
                                </label>
                            </div>
                        </div>*@
                        <div class="col-md-6">
                            <div class="form-meta">
                                <label class="checkbox-set">
                                    @Html.RadioButtonFor(m => m.rbPlatform, "2", new { @id = "rbPopupPlatform" })<img src="../content/front/dist/img/ttlogo1.png">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(x => x.rbPlatform, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="section-title" style="margin-bottom: 20px;">
                    <h3 class="heading">Payment</h3>
                </div>
                <div class="form-group form-meta">
                    <label class="checkbox-set">
                        @Html.CheckBoxFor(m => m.AcceptsTerms, new { @text = "adsadad" })
                        @*I have read and agree to the Trading Challenge&nbsp;<a href="~/home/satisfactionpolicy" target="_blank" class="pull-right text-underline">Satisfaction Policy</a>*@
                        I have read and agree to the TraderDock Challenge Rules and the TraderDock <a href="http://traderdock.com/home/terms" target="_blank" class="text-underline">Terms and Conditions</a>.
                        <span></span>
                    </label>
                    <br />
                    <div>
                        @Html.ValidationMessageFor(m => m.AcceptsTerms, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-action">
                    @*<button  type="submit" id="btnProfileSubmit" onclick="return SubmitUserSignUp(this);" class="btn btn-success btn-raund btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false">Continue Payment</button>*@
                    @*<button  name="btPaypal" id="btPaypal" type="button" class="btn btn-success btn-raund btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false">Continue Payment</button>*@
                </div>

                <div style="padding-bottom: 50px;text-align: center;">
                    <div class="inline-middle" style="height: 110px;">
                        <div style="height: 100%" class="inline-middle"></div>
                        <label>
                            <input type="radio" name="payment" value="AlliedWallet" checked class="inline-middle">
                            <img src="../AWcards.png" width="120" alt="" lt="Payment Gateway | Allied Wallet" class="inline-middle">
                        </label>
                        <div>
                            <b style="color: black">PAY BY CARD</b>
                        </div>
                    </div>
                    <div class="inline-middle" style="padding-left: 20px; padding-right: 20px; height: 110px;">
                        <div style="height: 100%" class="inline-middle"></div>
                        <b>OR</b>
                    </div>
                    <div class="inline-middle" style="height: 110px;">
                        <div style="height: 100%" class="inline-middle"></div>
                        <label>
                            <input type="radio" name="payment" value="PayPal" class="inline-middle">
                            <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png" alt="" lt="Payment Gateway | PayPal" class="inline-middle paypal-btn">
                        </label>
                        <div>
                            <b style="color: black">PAY WITH PAYPAL ACCOUNT</b>
                        </div>
                    </div>
                </div>

                <div id="paypal-button-container"></div>
                @*<div class="form-action" style="margin:0 auto;text-align:center;margin-top:5px;">
                        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
                    </div>*@
                <div id="paypalSubmit" style="display: none;">
                    <button type="button" name="btPaypal" id="btPaypal" class="btn btn-success btn-block btn-raund max-250">Proceed With Subscription</button>
                </div>
                <div id="awSubmit">
                    <button type="button" name="btAW" id="btAW" class="btn btn-success btn-block btn-raund max-250">Proceed With Subscription</button>
                </div>

                @*<div id="paypalSubmit" class="form-action" style="margin:0 auto;text-align:center;margin-top:5px; display: none;">
                        <input name="btPaypal" id="btPaypal" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </div>
                    <div id="awSubmit" class="form-action" style="margin: 0 auto; text-align: center; margin-top: 5px; cursor: pointer;">
                        <div name="btAW" id="btAW">
                            <img src="../AWcards.png" border="0" height="80" alt="Allied Wallet - The safer, easier way to pay online!" />
                        </div>
                        @*<div class="form-action" style="margin:0 auto;text-align:center;margin-top:5px;">
                            <input name="btPaypal" id="btPaypal" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                        </div>*@

                <!-- By shoaib - 17Apr2018 -->
                <!--<div id="paypal-button-container"></div>
                <div class="form-action" style="margin:0 auto;text-align:center;margin-top:5px;">
                  <img src="ttps://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
                </div>-->
            </div>
        </fieldset>
    </form>
    <form name="awForm" method="post" action="">
        <input name="QuickPayToken" type="hidden" value="" />
        <input name="MerchantID" type="hidden" value="">
        <input name="SiteID" type="hidden" value="">
        <input name="SubscriptionPlanId" type="hidden" value="">
        @*<input name="AmountTotal" type="hidden" value="">*@
        <input name="CurrencyID" type="hidden" value="">
        <input name="AmountShipping" type="hidden" value="">
        <input name="ShippingRequired" type="hidden" value="">
        <input name="MembershipRequired" type="hidden" value="">
        <input name="ItemName[0]" type="hidden" value="">
        <input name="ItemQuantity[0]" type="hidden" value="">
        @*<input name="ItemAmount[0]" type="hidden" value="">*@
        <input name="ItemDesc[0]" type="hidden" value="">
        <input name="FirstName" type="hidden" value="" />
        <input name="ApprovedURL" type="hidden" value="">
        <input name="ConfirmURL" type="hidden" value="">
        <input name="DeclinedURL" type="hidden" value="">
        <input name="LastName" type="hidden" value="">
        <input name="Address" type="hidden" value="">
        <input name="City" type="hidden" value="">
        <input name="State" type="hidden" value="">
        <input name="Phone" type="hidden" value="">
        <input name="Email" type="hidden" value="">
        <input name="PostalCode" type="hidden" value="">
    </form>
</div>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('input[type="radio"][name="payment"]').click(function () {
            if ($(this).is(':checked')) {
                var value = $(this).val();
                if (value === 'AlliedWallet') {
                    $('#paypalSubmit').hide();
                    $('#awSubmit').show();
                } else {
                    $('#awSubmit').hide();
                    $('#paypalSubmit').show();
                }
            }
        });

        $('#btAW').click(function () {
            //for signup - by shoaib 19mar2018
            if ($('#mdlProfileForm').valid()) {
                $.support.cors = true;
                $(".full-loarder").css("display", "block");
                var vfn = $("#popup_first_name").val();
                var vln = $("#popup_last_name").val();
                var vemail = $("#popup_user_email").val();
                var vpassword = $("#popup_password").val();
                var vsubscriptionid = $("#subscription_id").val();
                var vcountryid = $("#popup_country").val();
                var vstateid = $("#popup_state_name").val();
                var vcity = $("#popup_city_name").val();
                var vaddress = $("#popup_address").val();
                var vpostcode = $("#popup_postal_code").val();
                var vcontact = $("#popup_contact_number").val();
                var vPromoCode = $("#promo_code_id").val();
                var vPlatform = $('#rbPlatform:checked').val();
                var bCheckBoxValidated = false;
                if ($('#AcceptsTerms').is(":checked") != true) {
                    bCheckBoxValidated = false;
                }
                else {
                    bCheckBoxValidated = true;
                }
                var model = {
                    first_name: vfn,
                    last_name: vln,
                    user_email: vemail,
                    password: vpassword,
                    confirm_password: vpassword,
                    subscription_id: vsubscriptionid,
                    country_id: vcountryid,
                    city_name: vcity,
                    state_name: vstateid,
                    AcceptsTerms: bCheckBoxValidated,
                    address: vaddress,
                    contact_number: vcontact,
                    postal_code: vpostcode,
                    rbPlatform: vPlatform
                };

                $(".full-loarder").css("display", "block");
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    url: '@StrPath/Account/Register',
                    data: JSON.stringify(model),
                    success: function (result) {
                        if (result.success) {
                            $("#createProfileModal").modal('hide');
                            $(".full-loarder").css("display", "none");
                            $('#hdnRegisterMemberID').val(result.id);
                            $("#DateYear").val("");
                            $("#CVV").val("");
                            $.ajax({
                                url: '@Html.Raw(Url.Action("PayWithAW", "Pay"))',
                                type: "GET",
                                async: true,
                                crossDomain: true,
                                data: {
                                    userId: $('#hdnRegisterMemberID').val(),
                                    promoCodeId: ($("#promo_code_id").val()),
                                    subscriptionId: vsubscriptionid
                                },
                                //Load the minibrowser with the redirection url in the success handler
                                success: function (result) {
                                    if (result) {
                                        $('form[name="awForm"]').attr('action', result.ApiUrl);
                                        $('form[name="awForm"]').find('input[name="QuickPayToken"]').val(result.QuickPayToken);
                                        $('form[name="awForm"]').find('input[name="MerchantID"]').val(result.MerchantID);
                                        $('form[name="awForm"]').find('input[name="SiteID"]').val(result.SiteID);
                                        $('form[name="awForm"]').find('input[name="SubscriptionPlanId"]').val(result.SubscriptionPlanId);
                                        //$('form[name="awForm"]').find('input[name="AmountTotal"]').val(result.AmountTotal);
                                        $('form[name="awForm"]').find('input[name="CurrencyID"]').val(result.CurrencyID);
                                        $('form[name="awForm"]').find('input[name="AmountShipping"]').val(result.AmountShipping);
                                        $('form[name="awForm"]').find('input[name="ShippingRequired"]').val(result.ShippingRequired);
                                        $('form[name="awForm"]').find('input[name="MembershipRequired"]').val(result.MembershipRequired);
                                        $('form[name="awForm"]').find('input[name="ItemName[0]"]').val(result.ItemName);
                                        $('form[name="awForm"]').find('input[name="ItemQuantity[0]"]').val(result.ItemQuantity);
                                        //$('form[name="awForm"]').find('input[name="ItemAmount[0]"]').val(result.ItemAmount);
                                        $('form[name="awForm"]').find('input[name="ItemDesc[0]"]').val(result.ItemDesc);
                                        $('form[name="awForm"]').find('input[name="FirstName"]').val(result.FirstName);
                                        $('form[name="awForm"]').find('input[name="LastName"]').val(result.LastName);
                                        $('form[name="awForm"]').find('input[name="Phone"]').val(result.Phone);
                                        $('form[name="awForm"]').find('input[name="State"]').val(result.State);
                                        $('form[name="awForm"]').find('input[name="City"]').val(result.City);
                                        $('form[name="awForm"]').find('input[name="PostalCode"]').val(result.PostalCode);
                                        $('form[name="awForm"]').find('input[name="Email"]').val(result.Email);
                                        $('form[name="awForm"]').find('input[name="ApprovedURL"]').val(result.ApprovedURL);
                                        $('form[name="awForm"]').find('input[name="ConfirmURL"]').val(result.ConfirmURL);
                                        $('form[name="awForm"]').find('input[name="DeclinedURL"]').val(result.DeclinedURL);

                                        $('form[name="awForm"]').submit();
                                    }
                                },
                                error: function (responseData, textStatus, errorThrown) {
                                    alert("Something going wrong ");
                                    $(".full-loarder").css("display", "none");
                                }
                            });
                        }
                        else {
                            alert("Something went wrong!");
                        }
                    },
                    error: function (result) {
                        alert(result);
                    }
                });
            }
        });

        $('#spanError').text('');
        //$('#PlanSubscriptionLimit').text($("#sBalance").val() + " Challenge  ");
        $('#PlanSubscriptionLimit').text("TraderDock Challenge");
        //$("#subscription_id").val(id);
        //$('select>option:eq(' + id + ')').attr('selected', true);
        $('#PlanSubscriptionRate').text("$" + $("#sMonthLimit").val() + "/month");
    });
</script>
<script>
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }
</script>
@*Promo Code*@
<script>
    $("#btnPromoCode").click(function () {
        $.ajax({
            type: "GET",
            url: '@StrPath/Admin/Login/GetPromoCode',
            data: { sPromoText: $("#promo_text").val() },
            success: function (result) {
                $(".full-loarder").css("display", "none");
                if (result.success) {
                    var amount = $("#sMonthLimit").val().match(/\d+/);
                    var discount = result.amount;
                    amount -= discount;
                    $("#promo_code_id").val(result.id);
                    $("#lblPromoError").html('');
                    $("#promo_text").attr('readonly', 'true');
                    $('#promo_text').addClass('input-disabled');
                    $("#lblPromoDiscount").html("Discount Applied:&nbsp;&nbsp;&nbsp;$" + discount);
                    $("#lblPromoAmount").html("<b>Subscription Amount:&nbsp;&nbsp;&nbsp;$" + amount + "/month</b>");
                    $('#lnkpromoremove').show();
                }
                else {
                    $('#lnkpromoremove').hide();
                    $("#lblPromoDiscount").html('');
                    $("#lblPromoAmount").html('');
                    $("#lblPromoError").html("Promo does not exist!");
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    });

    function removepromo() {
        $("#PrmomCode").val('');
        $("#lblPromoError").html('');
        $("#promo_text").removeAttr('readonly', 'true');
        $('#promo_text').removeClass('input-disabled');
        $("#lblPromoDiscount").html('');
        $("#lblPromoAmount").html('');
        $('#lnkpromoremove').hide();
    };
</script>