﻿@model Traderdock.Entity.MemberModel.PaypalModel
@{
    string environment = System.Web.Configuration.WebConfigurationManager.AppSettings["environment"];
}
<div class="modal-dialog" role="document">
  <form id="mdlPaymentModal" class="modal-content">
    <div class="modal-header section-title">
      <button type="button" class="close" data-dismiss="modal" onclick="location.reload();" aria-label="Close"><span aria-hidden="true">×</span></button>
      @*<h3 class="modal-title" id="resetPaymentModalLabel">Select Payment Mode for Reset Data</h3>*@
      <h3 class="modal-title" id="resetPaymentModalLabel">Pay to Reset Account</h3>
    </div>
    <div class="modal-body">
      <span class="field-validation-error" style="color:red" id="spanPayError"></span>
      @*<ul class="list-unstyled radio-list no-margin text-center">
            <li>
                <label class="radio-set">
                    @Html.RadioButtonFor(m => m.PaymentType, "card", new { @class = "form-control", @name = "payment" }) Credit/Debit Card
                    <span></span>
                </label>
            </li>
            <li>
                <label class="radio-set">
                    @Html.RadioButtonFor(m => m.PaymentType, "ppal", new { @class = "form-control", @name = "payment" }) Paypal Account
                    <span></span>
                </label>
            </li>
      </ul>*@
      @Html.HiddenFor(m => m.subscription_id)
      @*Commented by shoaib - for one payment option (paypal) instead of two - 21mar2018*@
      @*<div id="divcard" class="divcard" style="display:none;">
            <div class="row small-row-gapping">
                <div class="col-sm-6">
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons" style="text-indent: 13px;">persone</span>
                        @Html.TextBoxFor(m => m.card_name, new { @class = "form-control", @placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.card_name, "", new { style = "color:red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons">credit_card</span>
                        @Html.TextBoxFor(m => m.card_number, new { @class = "form-control", @placeholder = "Card Number" })
                        @Html.ValidationMessageFor(m => m.card_number, "", new { style = "color:red" })
                    </div>
                </div>
            </div>
            <div class="row small-row-gapping">
                <div class="col-sm-6">
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons">date_range</span>
                        @Html.TextBoxFor(m => m.card_expiry, new { @class = "form-control", id = "DateYear", @placeholder = "MM/YYYY", @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.card_expiry, "", new { style = "color:red" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-feedback left-feed">
                        <span class="form-control-feedback material-icons">vpn_key</span>
                        @Html.PasswordFor(m => m.card_cvv, new { @class = "form-control", @placeholder = "CVV" })
                        @Html.ValidationMessageFor(m => m.card_cvv, "", new { style = "color:red" })
                    </div>
                </div>
            </div>
            <span class="field-validation-error" style="color:red" id="spanError"> </span>
            <div class="form-group form-meta">
                <label class="checkbox-set">
                    @Html.CheckBoxFor(m => m.issave, new { @text = "adsadad" })
                    Save Card
                    <span></span>
                </label>
                <br />
                <div>
                    @Html.ValidationMessageFor(m => m.issave, "", new { @style = "color:red" })
                </div>
            </div>
            <div class="form-action">
                <button type="submit" onclick="return SubmitUserPayment(this)" class="btn btn-primary btn-block">Make Payment</button>
            </div>
        </div>
        <div id="divpaypal" class="divcard margin" style="display:none;">
            <button class="btn btn-success btn-raund btn-block" name="btPaypal" id="btPaypal" data-dismiss="modal" type="button">PayPal</button>
        </div>*@
      @*Added for one payment option (Paypal) - by shoaib (21mar2018)*@
      <style>
        @@media screen and (max-width: 400px) {
          #paypal-button-container {
            width: 100%;
          }
        }

        @@media screen and (min-width: 400px) {
          #paypal-button-container {
            /*width: 250px;*/
            margin: 0 auto;
            text-align: center;
          }
        }
      </style>

      <!-- added 2May2018 on David suggestion-->
      <div class="form-group form-inline text-dark remove-responsive-margin">
        <label class="font-medium" id="PlanSubscriptionLimit">Reset Fee</label>
        <label class="font-medium">:&nbsp;</label>
        <label class="font-medium" id="PlanSubscriptionRate">$@Convert.ToString(Session["ResetAmount"])</label>
      </div>
      <!-- added 2May2018 on David suggestion-->
      <div style="padding-bottom: 20px;text-align: center;">
        @*<label class="inline-middle">
          <input type="radio" name="payment" value="AlliedWallet" checked class="inline-middle">
          <span class="inline-middle pay-by-card-btn">Pay by card</span>
        </label>
        <div class="inline-middle" style="padding-left: 20px; padding-right: 20px;">
          <b>OR</b>
        </div>*@
        <label class="inline-middle">
          <input type="radio" name="payment" value="PayPal" checked class="inline-middle">
          <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png" alt="" lt="Payment Gateway | PayPal" class="inline-middle paypal-btn">
        </label>
      </div>

      <div id="paypal-button-container"></div>

        @*<div id="paypalSubmit" style="display: none;">
            <button type="button" name="btPaypal" id="btPaypal" class="btn btn-success btn-block btn-raund max-250">Proceed With Subscription</button>
        </div>
        <div id="awSubmit">
            <button type="button" name="btAW" id="btAW" class="btn btn-success btn-block btn-raund max-250">Proceed With Subscription</button>
        </div>*@

      <div id="paypalSubmit" class="form-action" style="margin:0 auto;text-align:center;margin-top:5px; ">
        <input name="btPaypal" id="btPaypal" type="image" src="https://www.paypalobjects.com/webstatic/en_AU/i/buttons/btn_paywith_primary_l.png" border="0" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </div>
      @*<div id="awSubmit" class="form-action" style="margin: 0 auto; text-align: center; margin-top: 5px; cursor: pointer;">
        <div name="btAW" id="btAW">
          <img src="../AWcards.png" border="0" height="80" alt="Allied Wallet - The safer, easier way to pay online!" />
        </div>
      </div>*@
    </div>
  </form>
  <form name="awForm" method="post" action="">
    <input name="QuickPayToken" type="hidden" value="" />
    <input name="MerchantID" type="hidden" value="">
    <input name="SiteID" type="hidden" value="">
    <input name="AmountTotal" type="hidden" value="">
    <input name="CurrencyID" type="hidden" value="">
    <input name="AmountShipping" type="hidden" value="">
    <input name="ShippingRequired" type="hidden" value="">
    <input name="MembershipRequired" type="hidden" value="">
    <input name="ItemName[0]" type="hidden" value="">
    <input name="ItemQuantity[0]" type="hidden" value="">
    <input name="ItemAmount[0]" type="hidden" value="">
    <input name="ItemDesc[0]" type="hidden" value="">
    <input name="FirstName" type="hidden" value="" />
    <input name="ApprovedURL" type="hidden" value="">
    <input name="ConfirmURL" type="hidden" value="">
    <input name="DeclinedURL" type="hidden" value="">
    <input name="LastName" type="hidden" value="">
    <input name="Address" type="hidden" value="">
    <input name="City" type="hidden" value="">
    <input name="State" type="hidden" value="">
    <input name="Phone" type="hidden" value="">
    <input name="Email" type="hidden" value="">
    <input name="PostalCode" type="hidden" value="">
  </form>
</div>

<style>
  .inline-middle {
    display: inline-block;
    vertical-align: middle;
  }

  .pay-by-card-btn {
    border-radius: 5px;
    width: 152px;
    height: 40px;
    font-size: 24px;
    background-color: darkblue;
    font-style: italic;
    color: white;
  }

  .paypal-btn {
    border: 1px solid gray;
    border-radius: 5px;
  }
</style>

@*<script src="https://www.paypalobjects.com/api/checkout.js" async></script>*@
<script type="text/javascript">
  function callPaypal() {
    // 
    var script = document.createElement('script');
    script.onload = function () {
      //do stuff with the script
    };
    script.src = "//www.paypalobjects.com/api/checkout.js";
    document.head.appendChild(script); //or something of the likes
  }
  window.paypalCheckoutReady = function () {
    paypal.checkout.setup("@Model.PayPalMurchantID", {
      environment: '@Model.PayPalEnvirement',
      buttons: [
          {
            container: 'paypal-button-container',
            type: 'checkout',
            color: 'gold',
            size: 'large',
            shape: 'pill'
          }
      ],
      click: function (event) {
        event.preventDefault();
        paypal.checkout.initXO();
        //$("#addPaymentModal").hide();
        $.support.cors = true;
        $(".full-loarder").css("display", "block");
        //    alert($('#hdnRegisterMemberID').val());
        $.ajax({
          url: '@Html.Raw(Url.Action("ResetPayWithPaypal", "Pay"))',
          type: "GET",
          async: true,
          crossDomain: true,
          data: {
            PaymentType: "ppal",
            user_id: '@Session["MemberID"]'
          },
          //Load the minibrowser with the redirection url in the success handler
          success: function(token) {
            var url = paypal.checkout.urlPrefix + token;
            //Loading Mini browser with redirect url, true for async AJAX calls
            paypal.checkout.startFlow(url);
            $(".full-loarder").css("display", "none");
            //$('#msgs').html("<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert'>&times;</a>Your payment was successfully done.</div>");
          },
          error: function(responseData, textStatus, errorThrown) {
            alert("Something went wrong.");
            //Gracefully Close the minibrowser in case of AJAX errors
            paypal.checkout.closeFlow();
            $(".full-loarder").css("display", "none");
          }
        });
      },
      button: ['btPaypal']
    });
  };
  $(document).ready(function() {
    $("#DateYear").datepicker({
      format: "mm/yyyy",
      viewMode: "months",
      minViewMode: "months",
      autoclose: true,
    });

    $('#btAW').click(function() {
      $.support.cors = true;
      $(".full-loarder").css("display", "block");
      $.ajax({
        url: '@Html.Raw(Url.Action("ResetPayWithAW", "Pay"))',
        type: "GET",
        async: true,
        crossDomain: true,
        data: {
          userId: '@Session["MemberID"]'
        },
        success: function (result) {
          $(".full-loarder").css("display", "none");
          if (result) {
            $('form[name="awForm"]').attr('action', result.ApiUrl);
            $('form[name="awForm"]').find('input[name="QuickPayToken"]').val(result.QuickPayToken);
            $('form[name="awForm"]').find('input[name="MerchantID"]').val(result.MerchantID);
            $('form[name="awForm"]').find('input[name="SiteID"]').val(result.SiteID);
            $('form[name="awForm"]').find('input[name="AmountTotal"]').val(result.AmountTotal);
            $('form[name="awForm"]').find('input[name="CurrencyID"]').val(result.CurrencyID);
            $('form[name="awForm"]').find('input[name="AmountShipping"]').val(result.AmountShipping);
            $('form[name="awForm"]').find('input[name="ShippingRequired"]').val(result.ShippingRequired);
            $('form[name="awForm"]').find('input[name="MembershipRequired"]').val(result.MembershipRequired);
            $('form[name="awForm"]').find('input[name="ItemName[0]"]').val(result.ItemName);
            $('form[name="awForm"]').find('input[name="ItemQuantity[0]"]').val(result.ItemQuantity);
            $('form[name="awForm"]').find('input[name="ItemAmount[0]"]').val(result.ItemAmount);
            $('form[name="awForm"]').find('input[name="ItemDesc[0]"]').val(result.ItemDesc);
            $('form[name="awForm"]').find('input[name="FirstName"]').val(result.FirstName);
            $('form[name="awForm"]').find('input[name="LastName"]').val(result.LastName);
            $('form[name="awForm"]').find('input[name="Phone"]').val(result.Phone);
            $('form[name="awForm"]').find('input[name="State"]').val(result.State);
            $('form[name="awForm"]').find('input[name="City"]').val(result.City);
            $('form[name="awForm"]').find('input[name="PostalCode"]').val(result.PostalCode);
            $('form[name="awForm"]').find('input[name="Email"]').val(result.Email);
            $('form[name="awForm"]').find('input[name="ApprovedURL"]').val(result.ApprovedURL);
            $('form[name="awForm"]').find('input[name="ConfirmURL"]').val(result.ConfirmURL);
            $('form[name="awForm"]').find('input[name="DeclinedURL"]').val(result.DeclinedURL);

            $('form[name="awForm"]').submit();

            $(".full-loarder").css("display", "none");
          }
        },
        error: function (responseData, textStatus, errorThrown) {
          alert("Something went wrong.");
          //Gracefully Close the minibrowser in case of AJAX errors
          paypal.checkout.closeFlow();
          $(".full-loarder").css("display", "none");
        }
      });
    });

    $('input[type="radio"][name="payment"]').click(function () {
      if ($(this).is(':checked')) {
        var value = $(this).val();
        if (value === 'AlliedWallet') {
          $('#paypalSubmit').hide();
          $('#awSubmit').show();
        } else {
          $('#awSubmit').hide();
          $('#paypalSubmit').show();
        }
      }
    });

    $('input[type=radio][name=PaymentType]').on('change', function () {
      switch ($(this).val()) {
        case 'card':
          $("#divpaypal").hide();
          $("#divcard").show();
          break;
        case 'ppal':
          $("#divcard").hide();
          $("#divpaypal").show();
          callPaypal();
          break;
      }
    });
  });

</script>