﻿@model Traderdock.Entity.MemberModel.MemberModel
@{
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    @Html.Hidden("promo_code_id", 0)
}

<style>
    @@media screen and (max-width: 400px) {
        #paypal-button-container {
            width: 100%;
        }
    }
    @@media screen and (min-width: 400px) {
        #paypal-button-container {
            /*width: 250px;*/
            margin: 0 auto;
            text-align: center;
        }
    }
    .inline-middle {
        display: inline-block;
        vertical-align: middle;
    }
    .pay-by-card-btn {
        border-radius: 5px;
        width: 152px;
        height: 40px;
        font-size: 24px;
        background-color: darkblue;
        font-style: italic;
        color: white;
    }
    .paypal-btn {
        border: 1px solid gray;
        border-radius: 5px;
    }
</style>
<div class="modal-dialog" role="document">
    @{
        string GooglePlaceAPIKey = System.Web.Configuration.WebConfigurationManager.AppSettings["GooglePlaceAPIKey"];
        @Html.Hidden("GooglePlaceAPIKey", GooglePlaceAPIKey);
    }
    <form class="modal-content" id="mdlProfileForm" >
        <fieldset>
            <div class="modal-body">
                <div class="section-title">
                    <h3 class="heading">Update Profile Details</h3>
                </div>
                <div class="form-group has-feedback left-feed">
                    <div id="locationField">
                        <span class="form-control-feedback material-icons">place</span>
                        @Html.TextBoxFor(m => m.address, new { @class = "form-control", @id = "popup_address", @placeholder = "Address" })
                        @Html.ValidationMessageFor(m => m.address, "", new { style = "color:red" })
                    </div>
                </div>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">location_city</span>
                            @Html.TextBoxFor(m => m.city_name, new { @class = "form-control", @id = "popup_city_name", @placeholder = "City" })
                            @Html.ValidationMessageFor(m => m.city_name, "", new { style = "color:red" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">looks_one</span>
                            @Html.TextBoxFor(m => m.postal_code, new { @class = "form-control", @id = "popup_postal_code", @placeholder = "Postal Code" })
                            @Html.ValidationMessageFor(m => m.postal_code, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="row small-row-gapping">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons">public</span>
                            @Html.DropDownListFor(model => model.country_id, Model.CountryList, "Select Country", new { @class = "form-control", @id = "popup_country" })
                            @Html.ValidationMessageFor(model => model.country_id, "", new { @style = "color:red" })
                            <span class="field-validation-error" style="color:red" id="spancountry1"></span>
                            <label id="spancountry11"></label>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group has-feedback left-feed">
                            <span class="form-control-feedback material-icons" style="text-indent: 13px;">location_city</span>
                            @Html.TextBoxFor(m => m.state_name, new { @class = "form-control", @id = "popup_state_name", @placeholder = "State" })
                            @Html.ValidationMessageFor(m => m.state_name, "", new { style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="section-title">
                    <h3 class="heading">Review Subscription Details</h3>
                </div>
                <p>The Monthly cost of the Trading Challenge® is set to recur every 30 days from the sign up date, until the objective is met or the account is cancelled.</p>
                <div class="form-group form-inline text-dark remove-responsive-margin">
                    <label class="font-medium" id="ReviewPlanSubscriptionLimit"></label>
                    <input type="hidden" id="Review_subscription_id" name="subscription_id" value="@Model.SubscriptionPlanList.FirstOrDefault().Value" />
                    <label class="font-medium">:&nbsp;</label>
                    <label class="font-medium" id="ReviewPlanSubscriptionRate"></label>
                </div>
                <p>While active with TraderDock, you will get FREE access to R Trader Platform.</p>
                <div class="form-group form-inline text-dark remove-responsive-margin">
                    <b> Add a Promo Code</b>
                    @Html.TextBoxFor(m => m.promo_text)
                    @Html.HiddenFor(m => m.promo_code_id)
                    <button id="btnPromoCode" type="button" class="">Apply</button>
                    <div style="text-align: center">
                        <div id="lblPromoError" style="color:red"></div>
                        <div id="lblPromoDiscount" style="color:black"></div>
                        <div id="lblPromoAmount" style="color:black"></div>
                    </div>
                    <a onclick="removepromo()" id="lnkpromoremove" style="display: none; cursor: pointer; float: right; padding-right: 130px;">Remove Promo</a>
                </div>
                <div class="clearfix"></div>
                <div class="section-title" style="margin-bottom: 20px;">
                    <h3 class="heading">Platform</h3>
                </div>
                <div class="form-group">
                    <div class="row">
                        @*<div class="col-md-6">
                            <div class="form-meta">
                                <label class="checkbox-set">
                                    @Html.RadioButtonFor(m => m.rbPlatform, "1")<img style="width: 203px;" src="../content/front/dist/img/trader-logo.png">
                                    <span></span>
                                </label>
                            </div>
                        </div>*@
                        <div class="col-md-6">
                            <div class="form-meta">
                                <label class="checkbox-set">
                                    @Html.RadioButtonFor(m => m.rbPlatform, "2")<img src="../content/front/dist/img/ttlogo1.png">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(x => x.rbPlatform, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="section-title" style="margin-bottom: 20px;">
                    <h3 class="heading">Payment</h3>
                </div>
                <div class="form-group form-meta">
                    <label class="checkbox-set">
                        @Html.CheckBoxFor(m => m.AcceptsTerms, new { @text = "adsadad" })
                        @*I have read and agree to the Trading Challenge&nbsp;<a href="~/home/satisfactionpolicy" target="_blank" class="pull-right text-underline">Satisfaction Policy</a>*@
                        I have read and agree to the TraderDock Challenge Rules and the TraderDock <a href="http://traderdock.com/home/terms" target="_blank" class="text-underline">Terms and Conditions</a>.
                        <span></span>
                    </label>
                    <br />
                    <div>
                        @Html.ValidationMessageFor(m => m.AcceptsTerms, "", new { @style = "color:red" })
                    </div>
                </div>
                <div class="form-action">
                    @*<button type="button" id="btnReviewSubscription" onclick="reviewSubscription();" class="btn btn-success btn-raund btn-block" data-toggle="modal" data-backdrop="static" data-keyboard="false">Continue Payment</button>*@
                </div>

                <style>
                    @@media screen and (max-width: 400px) {
                        #paypal-button-container {
                            width: 100%;
                        }
                    }

                    @@media screen and (min-width: 400px) {
                        #paypal-button-container {
                            /*width: 250px;*/
                            margin: 0 auto;
                            text-align: center;
                        }
                    }
                </style>
                @*<div style="padding-bottom: 20px;text-align: center;">
                    <label class="inline-middle">
                    <input type="radio" name="payment" value="AlliedWallet" checked class="inline-middle">
                    <span class="inline-middle pay-by-card-btn">Pay by card</span>
                    </label>
                    <div class="inline-middle" style="padding-left: 20px; padding-right: 20px;">
                    <b>OR</b>
                      </div>
                      <label class="inline-middle">
                        <input type="radio" name="payment" value="PayPal" class="inline-middle">
                        <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png" alt="" lt="Payment Gateway | PayPal" class="inline-middle paypal-btn">
                      </label>
                    </div>*@
                <div id="paypal-button-container"></div>
                @*<div class="form-action" style="margin:0 auto;text-align:center;margin-top:5px;">
                        <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
                    </div>*@
                <div style="padding-bottom: 50px;text-align: center;">
                    <div class="inline-middle" style="height: 110px;">
                        <div style="height: 100%" class="inline-middle"></div>
                        <label>
                            <input type="radio" name="payment" value="AlliedWallet" checked class="inline-middle">
                            <img src="../AWcards.png" width="120" alt="" lt="Payment Gateway | Allied Wallet" class="inline-middle">
                        </label>
                        <div>
                            <b style="color: black">PAY BY CARD</b>
                        </div>
                    </div>
                    <div class="inline-middle" style="padding-left: 20px; padding-right: 20px; height: 110px;">
                        <div style="height: 100%" class="inline-middle"></div>
                        <b>OR</b>
                    </div>
                    <div class="inline-middle" style="height: 110px;">
                        <div style="height: 100%" class="inline-middle"></div>
                        <label>
                            <input type="radio" name="payment" value="PayPal" class="inline-middle">
                            <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-150px.png" alt="" lt="Payment Gateway | PayPal" class="inline-middle paypal-btn">
                        </label>
                        <div>
                            <b style="color: black">PAY WITH PAYPAL ACCOUNT</b>
                        </div>
                    </div>
                </div>
                <div id="paypalSubmit" style="display: none;">
                    <button type="button" name="btPaypal" id="btPaypal" class="btn btn-success btn-block btn-raund max-250">Proceed With Subscription</button>
                </div>
                <div id="awSubmit">
                    <button type="button" name="btAW" id="btAW" class="btn btn-success btn-block btn-raund max-250">Proceed With Subscription</button>
                </div>

                @*<div id="paypalSubmit" class="form-action" style="margin:0 auto;text-align:center;margin-top:5px; display: none;">
                      <input name="btPaypal" id="btPaypal" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" alt="PayPal - The safer, easier way to pay online!">
                      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </div>
                    <div id="awSubmit" class="form-action" style="margin: 0 auto; text-align: center; margin-top: 5px; cursor: pointer;">
                      <div name="btAW" id="btAW">
                        <img src="../AWcards.png" border="0" height="80" alt="Allied Wallet - The safer, easier way to pay online!"/>
                      </div>
                    </div>*@
            </div>
        </fieldset>
    </form>
    <form name="awForm" method="post" action="">
        <input name="QuickPayToken" type="hidden" value="" />
        <input name="MerchantID" type="hidden" value="">
        <input name="SiteID" type="hidden" value="">
        <input name="SubscriptionPlanId" type="hidden" value="">
        @*<input name="AmountTotal" type="hidden" value="">*@
        <input name="CurrencyID" type="hidden" value="">
        <input name="AmountShipping" type="hidden" value="">
        <input name="ShippingRequired" type="hidden" value="">
        <input name="MembershipRequired" type="hidden" value="">
        <input name="ItemName[0]" type="hidden" value="">
        <input name="ItemQuantity[0]" type="hidden" value="">
        @*<input name="ItemAmount[0]" type="hidden" value="">*@
        <input name="ItemDesc[0]" type="hidden" value="">
        <input name="FirstName" type="hidden" value="" />
        <input name="ApprovedURL" type="hidden" value="">
        <input name="ConfirmURL" type="hidden" value="">
        <input name="DeclinedURL" type="hidden" value="">
        <input name="LastName" type="hidden" value="">
        <input name="Address" type="hidden" value="">
        <input name="City" type="hidden" value="">
        <input name="State" type="hidden" value="">
        <input name="Phone" type="hidden" value="">
        <input name="Email" type="hidden" value="">
        <input name="PostalCode" type="hidden" value="">
    </form>
</div>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('input[type="radio"][name="payment"]').click(function () {
            if ($(this).is(':checked')) {
                var value = $(this).val();
                if (value === 'AlliedWallet') {
                    $('#paypalSubmit').hide();
                    $('#awSubmit').show();
                } else {
                    $('#awSubmit').hide();
                    $('#paypalSubmit').show();
                }
            }
        });

        $('#btAW').click(function () {
            //in case new subscription when already logged in - by shoaib (21mar2018)
            var MemberID = '@Session["MemberID"]';
            if (MemberID != '' || MemberID != "") {
                if (MemberID > 0) {
                    if ($('#mdlProfileForm').valid()) {
                        $.support.cors = true;
                        $(".full-loarder").css("display", "block");
                        var bFirstNameValidated = false;
                        var bCheckBoxValidated = false;
                        var vaddress = $("#popup_address").val();
                        var vcountryid = $('#popup_country option:selected').val();
                        var vstatename = $("#popup_state_name").val();
                        var vcityname = $("#popup_city_name").val();
                        var vpostcode = $("#popup_postal_code").val();
                        var vcheckbox = $("#ReviewCheckBox").val();
                        var vsubscriptionid = $("#currentSubscriptionId").val();
                        var vpromo_code_id = $("#promo_code_id").val();
                        var model = {
                            subscription_id: vsubscriptionid,
                            AcceptsTerms: bCheckBoxValidated,
                            country_id: vcountryid,
                            state_name: vstatename,
                            city_name: vcityname,
                            address: vaddress,
                            postal_code: vpostcode,
                            promo_code_id: vpromo_code_id
                        };

                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@Url.Action("EditProfileAddress", "Account")',
                            data: JSON.stringify(model),
                            success: function (result) {
                                if (result) {
                                    $("#reviewSubscriptionModal").modal('hide');
                                    $(".full-loarder").css("display", "none");
                                    $('#hdnRegisterMemberID').val(result.id);
                                    $("#DateYear").val("");
                                    $("#CVV").val("");
                                    $.ajax({
                                        url: '@Html.Raw(Url.Action("PayWithAW", "Pay"))',
                                        type: "GET",
                                        async: true,
                                        crossDomain: true,
                                        data: {
                                            userId: $('#hdnRegisterMemberID').val(),
                                            subscriptionId: vsubscriptionid,
                                            promoCodeId: ($("#promo_code_id").val())
                                        },
                                        //Load the minibrowser with the redirection url in the success handler
                                        success: function (result) {
                                            if (result) {
                                                $('form[name="awForm"]').attr('action', result.ApiUrl);
                                                $('form[name="awForm"]').find('input[name="QuickPayToken"]').val(result.QuickPayToken);
                                                $('form[name="awForm"]').find('input[name="MerchantID"]').val(result.MerchantID);
                                                $('form[name="awForm"]').find('input[name="SiteID"]').val(result.SiteID);
                                                $('form[name="awForm"]').find('input[name="SubscriptionPlanId"]').val(result.SubscriptionPlanId);
                                                $('form[name="awForm"]').find('input[name="AmountTotal"]').val(result.AmountTotal);
                                                $('form[name="awForm"]').find('input[name="CurrencyID"]').val(result.CurrencyID);
                                                $('form[name="awForm"]').find('input[name="AmountShipping"]').val(result.AmountShipping);
                                                $('form[name="awForm"]').find('input[name="ShippingRequired"]').val(result.ShippingRequired);
                                                $('form[name="awForm"]').find('input[name="MembershipRequired"]').val(result.MembershipRequired);
                                                $('form[name="awForm"]').find('input[name="ItemName[0]"]').val(result.ItemName);
                                                $('form[name="awForm"]').find('input[name="ItemQuantity[0]"]').val(result.ItemQuantity);
                                                $('form[name="awForm"]').find('input[name="ItemAmount[0]"]').val(result.ItemAmount);
                                                $('form[name="awForm"]').find('input[name="ItemDesc[0]"]').val(result.ItemDesc);
                                                $('form[name="awForm"]').find('input[name="FirstName"]').val(result.FirstName);
                                                $('form[name="awForm"]').find('input[name="LastName"]').val(result.LastName);
                                                $('form[name="awForm"]').find('input[name="Phone"]').val(result.Phone);
                                                $('form[name="awForm"]').find('input[name="State"]').val(result.State);
                                                $('form[name="awForm"]').find('input[name="City"]').val(result.City);
                                                $('form[name="awForm"]').find('input[name="PostalCode"]').val(result.PostalCode);
                                                $('form[name="awForm"]').find('input[name="Email"]').val(result.Email);
                                                $('form[name="awForm"]').find('input[name="ApprovedURL"]').val(result.ApprovedURL);
                                                $('form[name="awForm"]').find('input[name="ConfirmURL"]').val(result.ConfirmURL);
                                                $('form[name="awForm"]').find('input[name="DeclinedURL"]').val(result.DeclinedURL);
                                                $('form[name="awForm"]').submit();
                                                $(".full-loarder").css("display", "none");
                                            }
                                        },
                                        error: function (responseData, textStatus, errorThrown) {
                                            alert("Something going wrong ");
                                            $(".full-loarder").css("display", "none");
                                        }
                                    });
                                }
                                else {
                                    alert("Something went wrong!");
                                }
                            },
                            error: function (result) {
                                alert('error');
                            }
                        });
                        return false;
                    }
                }
            } else {

            }

            if ($('#mdlProfileForm').valid()) {
                $.ajax({
                    url: '@Html.Raw(Url.Action("GetAWPaymentInfo", "Pay"))',
                    type: "GET",
                    async: true,
                    crossDomain: true,
                    data: {
                        userId: $('#hdnRegisterMemberID').val(),
                        promoCodeId: ($("#promo_code_id").val())
                    },
                    //Load the minibrowser with the redirection url in the success handler
                    success: function (result) {
                        if (result) {
                            $('form[name="awForm"]').attr('action', result.ApiUrl);
                            $('form[name="awForm"]').find('input[name="QuickPayToken"]').val(result.QuickPayToken);
                            $('form[name="awForm"]').find('input[name="MerchantID"]').val(result.MerchantID);
                            $('form[name="awForm"]').find('input[name="SiteID"]').val(result.SiteID);
                            $('form[name="awForm"]').find('input[name="SubscriptionPlanId"]').val(result.SubscriptionPlanId);
                            //$('form[name="awForm"]').find('input[name="AmountTotal"]').val(result.AmountTotal);
                            $('form[name="awForm"]').find('input[name="CurrencyID"]').val(result.CurrencyID);
                            $('form[name="awForm"]').find('input[name="AmountShipping"]').val(result.AmountShipping);
                            $('form[name="awForm"]').find('input[name="ShippingRequired"]').val(result.ShippingRequired);
                            $('form[name="awForm"]').find('input[name="MembershipRequired"]').val(result.MembershipRequired);
                            $('form[name="awForm"]').find('input[name="ItemName[0]"]').val(result.ItemName);
                            $('form[name="awForm"]').find('input[name="ItemQuantity[0]"]').val(result.ItemQuantity);
                            //$('form[name="awForm"]').find('input[name="ItemAmount[0]"]').val(result.ItemAmount);
                            $('form[name="awForm"]').find('input[name="ItemDesc[0]"]').val(result.ItemDesc);
                            $('form[name="awForm"]').find('input[name="FirstName"]').val(result.FirstName);
                            $('form[name="awForm"]').find('input[name="LastName"]').val(result.LastName);
                            $('form[name="awForm"]').find('input[name="Phone"]').val(result.Phone);
                            $('form[name="awForm"]').find('input[name="State"]').val(result.State);
                            $('form[name="awForm"]').find('input[name="City"]').val(result.City);
                            $('form[name="awForm"]').find('input[name="PostalCode"]').val(result.PostalCode);
                            $('form[name="awForm"]').find('input[name="Email"]').val(result.Email);
                            $('form[name="awForm"]').find('input[name="ApprovedURL"]').val(result.ApprovedURL);
                            $('form[name="awForm"]').find('input[name="ConfirmURL"]').val(result.ConfirmURL);
                            $('form[name="awForm"]').find('input[name="DeclinedURL"]').val(result.DeclinedURL);
                            $('form[name="awForm"]').submit();
                        }
                    },
                    error: function (responseData, textStatus, errorThrown) {
                        alert("Something going wrong ");
                        $(".full-loarder").css("display", "none");
                    }
                });
            }
        });
        $('#spanError').text('');
        //Commented on David demand for only displaying "Traderdock Challenge" - 16mar2018
        //$('#ReviewPlanSubscriptionLimit').text($("#sBalance").val() + " Challenge  ");
        $('#ReviewPlanSubscriptionLimit').text("Traderdock Challenge  ");
        //$("#subscription_id").val(id);
        //$('select>option:eq(' + id + ')').attr('selected', true);
        $('#ReviewPlanSubscriptionRate').text("$" + $("#sMonthLimit").val() + "/month");
    });
</script>
<script>
    var defaultRangeValidator = $.validator.methods.range;
    $.validator.methods.range = function (value, element, param) {
        if (element.type === 'checkbox') {
            // if it's a checkbox return true if it is checked
            return element.checked;
        } else {
            // otherwise run the default validation function
            return defaultRangeValidator.call(this, value, element, param);
        }
    }
</script>
<script type="text/javascript">
    function ChangeUserEmail() {
        $(".full-loarder").css("display", "block");
        $.ajax({
            type: "POST",
            url: '@StrPath/Account/CheckUserEmailExists',
            data: { email: $("#user_email").val() },
            success: function (result) {
                $(".full-loarder").css("display", "none");
                if (result.success) {
                    $('#spanEmail').text("Email id already exist.");
                    $("#btnProfileSubmit").attr("disabled", true);
                }
                else {
                    $('#spanEmail').text('');
                    $("#btnProfileSubmit").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                //alert("error");
                $(".full-loarder").css("display", "none");
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 40 && charCode != 41 && charCode != 43 && charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>
@*Promo Code*@
<script>
    $("#btnPromoCode").click(function () {
        $.ajax({
            type: "GET",
            url: '@StrPath/Admin/Login/GetPromoCode',
            data: { sPromoText: $("#promo_text").val() },
            success: function (result) {
                $(".full-loarder").css("display", "none");
                if (result.success) {
                    var amount = $("#sMonthLimit").val().match(/\d+/);
                    var discount = result.amount;
                    amount -= discount;
                    $("#promo_code_id").val(result.id);
                    $("#lblPromoError").html('');
                    $("#promo_text").attr('readonly', 'true');
                    $('#promo_text').addClass('input-disabled');
                    $("#lblPromoDiscount").html("Discount Applied:&nbsp;&nbsp;&nbsp;$" + discount);
                    $("#lblPromoAmount").html("<b>Subscription Amount:&nbsp;&nbsp;&nbsp;$" + amount + "/month</b>");
                    $('#lnkpromoremove').show();
                }
                else {
                    $('#lnkpromoremove').hide();
                    $("#lblPromoDiscount").html('');
                    $("#lblPromoAmount").html('');
                    $("#lblPromoError").html("Promo does not exist!");
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    });
    function removepromo() {
        $("#PrmomCode").val('');
        $("#lblPromoError").html('');
        $("#promo_text").removeAttr('readonly', 'true');
        $('#promo_text').removeClass('input-disabled');
        $("#lblPromoDiscount").html('');
        $("#lblPromoAmount").html('');
        $('#lnkpromoremove').hide();
    };

    $('input[type=radio][name=PaymentType]').on('change', function () {
        switch ($(this).val()) {
            case 'card':
                $("#divpaypal").hide();
                $("#divcard").show();
                break;
            case 'ppal':
                $("#divcard").hide();
                $("#divpaypal").show();
                callPaypal();
                break;
        }
    });
</script>
