﻿@model List<Traderdock.Entity.ViewModel.EmailTemplateModel>
@{
    ViewBag.Title = "Email Template";
    ViewBag.SubMenu = "email";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string PageLimit = Session["PageSize"].ToString();
}

<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        Email Template
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Email Template</li>
    </ol>
</section>
<!-- Main content -->
<body>
    <div>
        <div>
            <section class="content">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title">Email Template Listing</h2>
                        <div class="box-tools">
                            <div class="pull-right filter-bottom-margin">
                                <form id="changelist-search">
                                    <div class="input-group" style="width: 250px;">
                                        <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by name" autofocus />
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <form>
                            <div class="clearfix"></div>
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                            @*<div class="table-responsive">
                                    <table class="table table-bordered table-striped" id="example1">
                                        <thead>
                                            <tr>
                                                <th style="text-align:left; font-size:14px;  font-weight: bold;">Template Name</th>
                                                <th style="text-align:left; font-size:14px;  font-weight: bold;">Subject </th>
                                                <th style="text-align:left; font-size:14px;  font-weight: bold;" class="table-field-actions">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Count; i++)
                                            {
                                                <tr>
                                                    <td style="font-size:14px;">@Model[i].Name</td>
                                                    <td style="font-size:14px;">@Model[i].Subject</td>
                                                    <td class="table-field-actions">
                                                        <div class="buttons-set">
                                                            <a href="~/admin/EmailTemplate/SaveEmailTemplate?id=@Model[i].EmailTemplateID" class="btn btn-default btn-sm btn-icon-only">
                                                                <i class="fa fa-pencil"></i>
                                                            </a>
                                                            <a href="~/admin/EmailTemplate/ViewEmailTemplate?id=@Model[i].EmailTemplateID" class="btn btn-default btn-sm btn-icon-only">
                                                                <i class="fa fa-info"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>*@
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
</body>
<script type="text/javascript">
    var pageLimit = '@PageLimit';

    function refreshGrid() {
         
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/Subscription/Subscription_Read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });

        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }

    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model))
        //Bind with initial data
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                // selectable: "row",//""multiple row"",
                filterable: true,
                //, dataSource: { data: modelData, pageSize: 10 }
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("EmailTemplate_Read", "EmailTemplate"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    pageSize: pageLimit,
                    serverPaging: true,
                    serverFiltering: true,
                    //Filterable:true,
                },
                columns:
                 [
                 { field: "Name", title: "Name", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " }, },
                 { field: "Subject", title: "Subject", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px; font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                 {
                     field: "EmailTemplateID", title: "Actions", width: 150,
                     //template: '# if(EmailTemplateID) {# <a href="@StrPath/admin/EmailTemplate/SaveEmailTemplate/#=EmailTemplateID#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp; <a href="@StrPath/admin/EmailTemplate/ViewEmailTemplate/#=EmailTemplateID#"  class="btn btn-default btn-sm btn-icon-only fa fa-info"></a> &nbsp; <a href="@StrPath/admin/EmailTemplate/SendEmailTemplate?sBodyPart=#=BodyPart#"  class="btn btn-default btn-sm btn-icon-only fa fa-send"></a>#}#', headerAttributes: { style: "text-align:center; font-size:14px;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;" }, filterable: false
                     template: '# if(EmailTemplateID) {# <a href="@StrPath/admin/EmailTemplate/SaveEmailTemplate/#=EmailTemplateID#"  class="btn btn-default btn-sm btn-icon-only fa fa-pencil"></a>&nbsp; <a href="@StrPath/admin/EmailTemplate/ViewEmailTemplate/#=EmailTemplateID#"  class="btn btn-default btn-sm btn-icon-only fa fa-info"></a>#}#', headerAttributes: { style: "text-align:center; font-size:14px;  font-weight: bold;" }, attributes: { style: "text-align:center;font-size:14px;" }, filterable: false
                 }
                 ]
            });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchFirstName: $('#category').val(),
                statusFilter: $('#statusFilter').val()
            };
            return data;
        }
        // $("#success-alert").hide();

    });
</script>
