﻿@model Traderdock.Entity.ViewModel.EmailTemplateModel

@{
    ViewBag.Title = "SaveEmailTemplate";
    ViewBag.SubMenu = "email";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SitePath"];
}

<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">
    $('#infoHTML').show();
    $(function () {
        $('#HTMLInfo').ckeditor();
    });
</script>
<section class="content-header">
    <h1>
        Email Template
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Email Template</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.content -->
    <div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Name Email</h3>
            </div>
            @using (Html.BeginForm("SaveEmailTemplate", "EmailTemplate", FormMethod.Post, new { role = "form", id = "saveForm", @class = "form-horizontal" }))
            {
                @Html.HiddenFor(model => model.EmailTemplateID)
                <div class="box-body">
                    <h6 style="color:red;display:none;" id="errormsg"> </h6>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red" })
                            </div>
                        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Subject, new { @class = "col-sm-1 control-label" })
                        <div class="col-sm-11">
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Subject, "", new { @style = "color:red" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            @Html.LabelFor(m => m.notes, new { @class = "col-sm-2 control-label align-left", @style = "text-align:left" })
                        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.Body, new { @class = "col-sm-1 control-label" })
                        <div class="col-sm-11">
                            @Html.TextAreaFor(m => m.Body, new { @id = "HTMLInfo", @class = "form-control ckeditor" })
                            @Html.ValidationMessageFor(m => m.Body, "", new { @style = "color:red" })
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-sm-12">
                                @Html.TextAreaFor(m => m.Body, new { @id = "HTMLInfo", @class = "form-control ckeditor" })
                                @Html.ValidationMessageFor(m => m.Body)
                            </div>
                        </div>*@
                </div>
                @*</div>*@
            <!-- /.box-body -->
                <div class="box-footer">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <div class="row">
                                <div class="col-sm-8">
                                    @*<button type="submit" id="btnSave" class="btn btn-primary load-button ">Submit</button>*@
                                    @*<button type="button" class="btn btn-default" onclick="fnCancel();">Cancel</button>*@
                                    <button type="submit" class="btn btn-primary margin-left">Save</button>
                                    <a href="~/admin/EmailTemplate/Index" class="btn btn-default">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /.box-footer -->
            }
            @*@Html.Hidden("Message", @TempData["Msg"])*@
        </div>
    </div>
</section>

<script type="text/javascript">
    CKEDITOR.replace('HTMLInfo',
        {
            filebrowserImageBrowseUrl: '@StrPath/admin/EmailTemplate/uploadPartial',
            filebrowserImageUploadUrl: '@StrPath/admin/EmailTemplate/uploadnow'
        }
        );

    function updateValue1(id, value) {
        // this gets called from the popup window and updates the field with a new value
        document.getElementById(id).value = value;
    }

    function updateValue(id, value) {
        // this gets called from the popup window and updates the field with a new value
        var jqueryObjectByClass = $(".cke_dialog_ui_input_text")[1];
        jqueryObjectByClass.value = value;
    }

</script>
<script type="text/javascript">
    //$("body").on('submit', '#saveForm', function (e) {
    //    e.preventDefault();
    //    SaveEmail();
    //});
    function SaveEmail() {
         
        var emailTemplate = {
            EmailTemplateID: $('#EmailTemplateID').val(),
            Subject: $('#Subject').val(),
            Body: $('#HTMLInfo').val()
        };

        var errorurl = '../EmailTemplate/Index';
        if (emailTemplate.notes != "") {
             
            var url, redirectto;
            url = '../EmailTemplate/SaveEmailTemplate';
            redirectto = '../EmailTemplate/Index';
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SaveEmailTemplate", "EmailTemplate", new { area = "admin" })',
                data: { objEmailModel: emailTemplate },
                cache: false,
                // dataType: 'json',
                success: function (data) {
                    if (data.status) {
                        window.location.href = '@Url.Action("Index", "EmailTemplate", new { area = "admin" })';
                    }
                    else {
                        window.location.href = url + "?id=" + $('#EmailTemplateID').val();
                    }
                    @*if (data.status) {
                        window.location.href = @Url.Action("Index", "EmailTemplate", new { area = "admin" });
                    }
                    else {
                        window.location.href = url + "?id=" + $('#EmailTemplateID').val();
                    }*@
                },
                error: function () {
                    $('#msg').html('<div class="failed">Error! Please try again.</div>');
                }
            });
        }
        else {
            $('#errormsg').css("display", "block");
        }
    }
</script>
