﻿@model Traderdock.Entity.ViewModel.EmailTemplateModel

@{
    ViewBag.Title = "SaveEmailTemplate";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.SubMenu = "email";
}
<script type="text/javascript">
    $('#infoHTML').show();
    $(function () {
        $('#HTMLInfo').ckeditor();
    });
</script>
<section class="content-header">
    <h1>
        Email Template
        @*<small>Admin panel</small>*@
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Email Template</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- /.content -->
    <div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Model.Name Email</h3>
            </div>
            @Html.HiddenFor(model => model.EmailTemplateID)
            <div class="box-body">
                <h6 style="color:red;display:none;" id="errormsg"> </h6>
                <table class="table">
                    <tr>
                        <td>@Html.LabelFor(m => m.Subject, new { @class = "col-sm-1 control-label" })</td>
                        <td>@Html.DisplayFor(m => m.Subject, new { @class = "col-sm-11 control-label" })</td>
                    </tr>
                    <tr valign="top">
                        <td style="text-align">@Html.LabelFor(m => m.Body, new { @class = "col-sm-1 control-label" })</td>
                        <td>@Html.Raw(Model.Body)</td>
                    </tr>
                </table>
                @*<div class="form-group">
                        @Html.LabelFor(m => m.Subject, new { @class = "col-sm-1 control-label" })
                        <div>
                            @Html.DisplayFor(m => m.Subject, new { @class = "col-sm-11 control-label" })
                            @Html.ValidationMessageFor(m => m.Subject, "", new { @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Body, new { @class = "col-sm-1 control-label" })
                        <div>
                            @Html.Raw(Model.Body)
                        </div>
                    </div>*@
            </div>
            @*</div>*@
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="~/admin/EmailTemplate/Index" class="btn btn-default">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
            @Html.Hidden("Message", @TempData["Msg"])
        </div>
    </div>
</section>