﻿@model Traderdock.Entity.MemberModel.CMSDataModel
@{
    ViewBag.Title = "AboutUs";
    string strImagePath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}
<!-- Banner -->
<div class="banner innerPageBanner">
    <div class="item">
        <div class="item-image" style="background-image: url(@strImagePath/Content/front/dist/img/banner-about.jpg);background-position: center center;"></div>
    </div>
</div> 
<!-- End Banner -->
<!-- Main Container -->
<div class="main-container">
    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-sm">
        <div class="container">
            <div class="section-title">
                <h2 class="heading-large">About Us</h2>
            </div>
            @Html.Raw(@Model.cms_about_us)
        </div>
    </div>
    <!-- Page Section 2 -->
    <div class="page-secition page-section-padding-lg-top-none">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="box-top-margin image-box">
                        <img src="~/Content/front/dist/img/about-block-banner1.jpg" alt="About Block Banner">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box-top-margin image-box-content">
                        <div class="section-title">
                            <h3>Our Mission</h3>
                        </div>
                        @Html.Raw(@Model.cms_about_us_mission)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Section 3 -->
    <div class="page-secition page-section-padding-lg-top-none">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pull-md-right">
                    <div class="boxGapping image-box">
                        <img src="~/Content/front/dist/img/about-block-banner2.jpg" alt="About Block Banner">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="boxGapping image-box-content">
                        <div class="section-title">
                            <h3>Our Vision</h3>
                        </div>
                        @Html.Raw(@Model.cms_about_us_vision)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Container -->

