﻿<!DOCTYPE html>
@model Traderdock.Entity.MemberModel.WEBDashboardModel
@{
    ViewBag.Title = "DashBoard";
    ViewBag.SubMenu = "dashboard";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string TextNegative = "text-red";     // for single field
    string TDNegative = "color:red;";     // for td negative
    string StrActInAct = "text-green";
    if (Model.objAccountInfoModel.is_expired == true)
    { StrActInAct = "text-red"; }
    bool IsAccountInActive = Model.objAccountInfoModel.is_expired;
    int UserTrnCount = Convert.ToInt32(ViewBag.UserTrnCount);
    Int64 lUserId = Convert.ToInt64(Session["MemberID"]);
    int IsShow = 0;
    string sFloatingProperty = string.Empty;
}
<style>
    .pac-container {
        background-color: #FFF;
        z-index: 20;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal {
        z-index: 20;
    }

    .modal-backdrop {
        z-index: 10;
    }
</style>
<div class="main-container bg-dashboard">
    <div class="page-section page-section-padding-sm">
        <div class="container">
            <div id="msgs"></div>
            @Html.HiddenFor(x => x.objUserMasterModel.trading_platform, new { @id = "TradingPlatform" })
            <div class="dash-boxSuperAdmin text-nowrap">
                <div class="section-title">
                    <h4 class="no-margin-top font-medium">A/C Number</h4>
                </div>
                <div class="row">
                    @Html.DropDownListFor(model => model.objAccountInfoModel.account_number, Model.account_number_lst, "Select Account Number", new { @class = "form-control select2", @id = "ddlAccountNumber" })
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dash-box text-nowrap">
                                <div class="section-title">
                                    <div class="pull-right">
                                        @if (Model.objAccountInfoModel.is_expired == false)
                                        {
                                            <label class="label label-success" id="status">@Model.objAccountInfoModel.status</label>
                                        }
                                        else
                                        {
                                            <label class="label label-danger" id="status">@Model.objAccountInfoModel.status</label>
                                        }
                                    </div>
                                    <h4 class="no-margin-top font-medium"><i class="fa fa-circle @StrActInAct" style="font-size:14px;" id="redgreen">&nbsp;&nbsp;</i><span></span><span style="font:medium;font-weight:600;" id="AICurrentBalance">@Model.ObjHomeModel.CurrentBalance</span></h4>
                                </div>
                                @if (Model.account_number_lst != null)
                                {
                                    <ul class="list-unstyled no-margin">
                                        <li>
                                            @*A/c Number : <span class="text-dark" id="AccountNumber">@Html.DropDownListFor(model => model.account_number_lst, Model.account_number_lst, "Select Account Number", new { @class = "form-control", @id = "ddlAccountNumber" }) </span>*@
                                            @*<button type="button" class="btn btn-success btn-sm btn-raund pull-right " style="font-size:20px;" onclick="callResetUserConfirmation(@lUserId);" data-id="1" data-dismiss="modal">Reset</button>*@
                                        </li>
                                        <li><span id="SubscriptionName">@Model.objAccountInfoModel.subscription_name</span></li>
                                        <li>
                                            Platform:
                                            <span class="text-dark">@Model.objAccountInfoModel.broker_name</span>
                                        </li>
                                    </ul>
                                }
                                @if (string.IsNullOrEmpty(Model.objAccountInfoModel.status))
                                {
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium" id="SubStartDate">@Model.objAccountInfoModel.substartdate</h4>
                                            <span class="font-light">Last Payment</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium" id="SubEndDate">@Model.objAccountInfoModel.subenddate</h4>
                                            <span class="font-light">Next Payment</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium" id="CompletedDays">@Model.objAccountInfoModel.challengestartdate</h4>
                                            <span class="font-light">Started Challenge</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <button type="button" class="btn btn-success btn-sm btn-raund pull-right " style="font-size:20px;" onclick="callResetUserConfirmation(@lUserId);" data-id="1" data-dismiss="modal">Reset</button>
                                        </div>
                                    </div>
                                }
                                else if (Model.objAccountInfoModel.status.Contains("DEMO"))
                                {
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium">--</h4>
                                            <span class="font-light">Last Payment</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium">--</h4>
                                            <span class="font-light">Next Payment</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium" id="CompletedDays">@Model.objAccountInfoModel.challengestartdate</h4>
                                            <span class="font-light">Started Demo</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <button type="button" class="btn btn-success btn-sm btn-raund pull-right " style="font-size:20px;" onclick="callResetUserConfirmation(@lUserId);" data-id="1" data-dismiss="modal">Reset</button>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium" id="SubStartDate">@Model.objAccountInfoModel.substartdate</h4>
                                            <span class="font-light">Last Payment</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium" id="SubEndDate">@Model.objAccountInfoModel.subenddate</h4>
                                            <span class="font-light">Next Payment</span>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <h4 class="no-margin font-medium" id="CompletedDays">@Model.objAccountInfoModel.challengestartdate</h4>
                                            <span class="font-light">Started Challenge</span>
                                        </div>
                                        <div class="col-xs-6">
                                            <button type="button" class="btn btn-success btn-sm btn-raund pull-right " style="font-size:20px;" onclick="callResetUserConfirmation(@lUserId);" data-id="1" data-dismiss="modal">Reset</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="dash-box text-nowrap">
                                <div class="section-title">
                                    <h4 class="no-margin-top font-medium">Balance</h4>
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <h4 class="no-margin font-medium @(Model.ObjHomeModel.HighBalanceOld < 0 ? TextNegative : "")" id="HighBalance"><span></span>@Model.ObjHomeModel.HighBalance </h4>
                                        <span class="font-light">High</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4 class="no-margin font-medium @(Model.ObjHomeModel.CurrentBalanceOld < 0 ? TextNegative : "")" id="CurrentBalance"><span></span>@Model.ObjHomeModel.CurrentBalance</h4>
                                        <span class="font-light">Current</span>
                                    </div>
                                    <div class="col-xs-4">
                                        <h4 class="no-margin font-medium @(Model.ObjHomeModel.LowBalanceOld < 0 ? TextNegative : "")" id="LowBalance"><span></span>@Model.ObjHomeModel.LowBalance</h4>
                                        <span class="font-light">Low</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <h4 class="no-margin font-medium @(Model.ObjHomeModel.AvgWinningDayOld < 0 ? TextNegative : "")" id="AvgWinningDay"><span></span>@Model.ObjHomeModel.AvgWinningDay</h4>
                                        <span class="font-light">Avg. Winning Day</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4 class="no-margin font-medium @(Model.ObjHomeModel.BestDayOld < 0 ? TextNegative : "")" id="BestDay"><span></span>@Model.ObjHomeModel.BestDay</h4>
                                        <span class="font-light">Best Day</span>
                                    </div>
                                </div>
                                <hr>
                                <div class="row text-center">
                                    <div class="col-xs-6">
                                        <h4 class="no-margin font-medium @(Model.ObjHomeModel.AvgLosingDayOld < 0 ? TextNegative : "")" id="AvgLosingD"><span></span>@Model.ObjHomeModel.AvgLosingDay</h4>
                                        <span class="font-light">Avg. Losing Day</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <h4 class="no-margin font-medium @(Model.ObjHomeModel.WorstDayOld < 0 ? TextNegative : "")" id="WorstD"><span></span>@Model.ObjHomeModel.WorstDay</h4>
                                        <span class="font-light">Worst Day</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="dash-box no-padding">
                        <div class="table-responsive no-margin">
                            <table class="table no-margin">
                                <thead>
                                    <tr>
                                        <th style="padding-bottom:25px;padding-top:25px;">Rules</th>
                                        <th class="text-center">Required</th>
                                        <th class="text-center">@Session["MemberName"]</th>
                                        <th class="text-center">Achieved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Profit Target</td>
                                        <td align="center"><span></span>@Model.ObjRuleModel.ruleprofit_target</td>
                                        <td align="center" id="ProfitTarget"><span></span>@Model.ObjRuleModel.ProfitTarget</td>
                                        @if (Model.ObjRuleModel.profit_targetachievestatus == "check_circle")
                                        {
                                        <td align="center"><i class="material-icons text-green" id="profit_targetachievestatus">@Model.ObjRuleModel.profit_targetachievestatus</i></td>
                                        }
                                        else if ((Model.ObjRuleModel.profit_targetachievestatus == "cancel"))
                                        {
                                        <td align="center"><i class="material-icons text-red" id="profit_targetachievestatus">@Model.ObjRuleModel.profit_targetachievestatus</i></td>
                                        }
                                        else
                                        {
                                        <td align="center"><i class="material-icons text-black" id="profit_targetachievestatus">@Model.ObjRuleModel.profit_targetachievestatus</i></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Daily Loss Limit</td>
                                        <td align="center"><span></span>@Model.ObjRuleModel.ruledaily_loss_limit</td>
                                        <td align="center" id="DailyLossLimit"><span></span>@Model.ObjRuleModel.DailyLossLimit</td>
                                        @if (Model.ObjRuleModel.daily_loss_limitachievestatus == "check_circle")
                                        {
                                        <td align="center"><i class="material-icons text-green" id="daily_loss_limitachievestatus">@Model.ObjRuleModel.daily_loss_limitachievestatus</i></td>
                                        }
                                        else if (Model.ObjRuleModel.daily_loss_limitachievestatus == "cancel")
                                        {
                                        <td align="center"><i class="material-icons text-red" id="daily_loss_limitachievestatus">@Model.ObjRuleModel.daily_loss_limitachievestatus</i></td>
                                        }
                                        else
                                        {
                                        <td align="center"><i class="material-icons text-black" id="daily_loss_limitachievestatus">@Model.ObjRuleModel.daily_loss_limitachievestatus</i></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Max Drawndown</td>
                                        <td align="center"><span></span>@Model.ObjRuleModel.rulemax_drowdown </td>
                                        <td align="center" id="MaxDrowdown"><span></span>@Model.ObjRuleModel.MaxDrowdown</td>
                                        @if (Model.ObjRuleModel.max_drowdownachievestatus == "check_circle")
                                        {
                                        <td align="center"><i class="material-icons text-green" id="max_drowdownachievestatus">@Model.ObjRuleModel.max_drowdownachievestatus</i></td>
                                        }
                                        else if (Model.ObjRuleModel.max_drowdownachievestatus == "cancel")
                                        {
                                        <td align="center"><i class="material-icons text-red" id="max_drowdownachievestatus">@Model.ObjRuleModel.max_drowdownachievestatus</i></td>
                                        }
                                        else
                                        {
                                        <td align="center"><i class="material-icons text-black" id="max_drowdownachievestatus">@Model.ObjRuleModel.max_drowdownachievestatus</i></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Days with Trades</td>
                                        <td align="center">@Model.ObjRuleModel.ruletrade_required_no_of_days</td>
                                        <td align="center" id="TradeRequiredNoOfDays">@Model.ObjRuleModel.TradeRequiredNoOfDays</td>
                                        @if (Model.ObjRuleModel.trade_required_no_of_daysachievestatus == "check_circle")
                                        {
                                        <td align="center"><i class="material-icons text-green" id="trade_required_no_of_daysachievestatus">@Model.ObjRuleModel.trade_required_no_of_daysachievestatus</i></td>
                                        }
                                        else if (Model.ObjRuleModel.trade_required_no_of_daysachievestatus == "cancel")
                                        {
                                        <td align="center"><i class="material-icons text-red" id="trade_required_no_of_daysachievestatus">@Model.ObjRuleModel.trade_required_no_of_daysachievestatus</i></td>
                                        }
                                        else
                                        {
                                        <td align="center"><i class="material-icons text-black" id="trade_required_no_of_daysachievestatus">@Model.ObjRuleModel.trade_required_no_of_daysachievestatus</i></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Trade Permitted times</td>
                                        <td colspan="3" style="padding-left: 30px;"><span class="text-primary text-underline">7am to 9pm Dublin\London,<br /> Monday to Friday,<br /> excluding trading holidays</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Hidden("usersubscriptionid", 0)
            <div class="dash-box">
                <div class="section-title">
                    <h4 class="no-margin-top font-medium">Balance</h4>
                </div>
                <div class="form-group" id="divCurrentBalance" style="display: none;text-align: center;">
                    <div class="three-bounce">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- LINE CHART -->
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title"></h3>
                            </div>
                            <div class="box-body chart-responsive">
                                <div class="chart" id="line-chart-payment" style="height: 300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Hidden("netusersubscriptionid", 0)
            <div class="row">
                <div class="col-md-6">
                    <div class="dash-box">
                        <div class="section-title">
                            <h4 class="no-margin-top font-medium">NET P&amp;L By Market</h4>
                            @*<input type="button" id="PrevButton" onclick="NetPL('Prev')" value="Previous" />
                              <input type="button" id="NextButton" onclick="NetPL('Next')" value="Next" />*@
                        </div>
                        <div class="form-group" id="divNetpNl" style="display: none;text-align: center;">
                            <div class="three-bounce">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-">
                                <!-- column chart -->
                                <div class="box">
                                    <div class="box-header with-border">
                                        <h3 class="box-title"></h3>
                                    </div>
                                    <div class="box-body chart-responsive">
                                        <div class="chart" id="columnchart" style="height: auto; "></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("wlusersubscriptionid", 0)
                <div class="col-md-6">
                    <div class="dash-box">
                        <div class="section-title">
                            <h4 class="no-margin-top font-medium">Winners Vs Losers</h4>
                            @*<input type="button" id="PrevButton" onclick="TotalTrades('Prev')" value="Previous" />
                                <input type="button" id="NextButton" onclick="TotalTrades('Next')" value="Next" />*@
                        </div>
                        <div class="form-group" id="divTotalTrades" style="display: none;text-align: center;">
                            <div class="three-bounce">
                                <div class="one"></div>
                                <div class="two"></div>
                                <div class="three"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-">
                                <!-- column chart -->
                                <div class="box">
                                    <div class="box-body chart-responsive">
                                        <div id="piechart" style="width:auto;height: 315px;margin-top: 40px;margin-bottom: 10px;"></div>
                                        @*<div id="piechart" style="width:auto;height: 300px;margin-top: 40px;margin-bottom: 10px;"></div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Hidden("statisticsusersubscriptionid", 0)
            <div class="dash-box">
                <!--Changed on client request (by shoaib - 7Sep2017)-->
                <div class="section-title">
                    <div class="row">
                        @*<div class="col-xs-2 pull-right">
                                @Html.DropDownList("SelectedItem", (IEnumerable<SelectListItem>)ViewBag.ddlExchange, "All Markets", new { @class = "form-control input-sm", style = "max-width: 200px;" })
                            </div>*@
                        <div class="col-xs-10 pull-left">
                            <h4 class="no-margin-top font-medium">Trade Statistics</h4>
                            @*<input type="button" id="PrevButton" onclick="usertransaction('Prev')" value="Previous" />
                                <input type="button" id="NextButton" onclick="usertransaction('Next')" value="Next" />*@
                        </div>
                    </div>
                </div>

                @*<div class="form-group">
                        @Html.DropDownList("SelectedItem", (IEnumerable<SelectListItem>)TempData["ddlExchange"], new { @class = "form-control input-sm", style = "max-width: 200px;" })
                    </div>*@
                <div class="form-group" id="divUserTransaction" style="display: none;text-align: center;">
                    <div class="three-bounce">
                        <div class="one"></div>
                        <div class="two"></div>
                        <div class="three"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th style="text-align: center;width: 12%;">Date</th>
                                <th style="text-align: center;width: 6%;">Fills</th>
                                <th style="text-align: center;width: 6%;"> Trades</th>
                                <th style="text-align: center;width: 7%;"> Gross P&L</th>
                                <th style="text-align: center;width: 7%;"> Fees</th>
                                <th style="text-align: center;width: 7%;">Net P&amp;L</th>
                                <th style="text-align: center;width: 7%;">Balance</th>
                                <th style="text-align: center;width: 7%;"> High</th>
                                <th style="text-align: center;width: 7%;"> Low</th>
                                <th style="text-align: center;width: 7%;">Avg Win</th>
                                <th style="text-align: center;width: 7%;">Avg Loss</th>
                                <th style="text-align: center;width: 7%;">Win % </th>
                                <th style="text-align: center;width: 7%;">Win:Loss </th>
                                <th style="text-align: center;width: 8%;">Avg Time </th>
                            </tr>
                        </thead>
                        <tbody id="usertrasaction"></tbody>
                    </table>
                </div>
                @*<p class="text-center no-margin">Trade reports will be posted by 4 PM CT.</p>*@
                <p class="text-center no-margin">Trade reports will be posted 1 hour after US market close.</p>
            </div>

        </div>
    </div>
</div>

@Html.Hidden("U_sub_ID", Model.objAccountInfoModel.user_subscription_id)

@Html.Hidden("Rule_sub_ID", Model.ObjRuleModel.user_subscription_id)

@Html.Hidden("A_sub_ID", Model.ObjHomeModel.UserSubscriptionID)
<div class="modal fade" id="completeprofilepopupModal" tabindex="-1" role="dialog" aria-labelledby="completeprofilepopupModalLabel">
    <div class="modal-dialog" role="document">
        <form class="modal-content">
            <div class="modal-header section-title">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="forgotPasswordModalLabel">@TempData["ModelTitle"]</h3>
            </div>
            <div class="modal-body">
                <p>@TempData["ModelText"]</p>
                <div class="clearfix">
                    <button class="btn btn-success btn-raund btn-signup btn-block" type="button" onclick="closeTrialMessageBox();">Ok</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="callResetConfirmationModel" tabindex="-1" role="dialog" aria-labelledby="callResetConfirmationModel" style="display: none;">
</div>

<div class="modal fade" id="resetPaymentModel" tabindex="-1" role="dialog" aria-labelledby="resetPaymentModel" style="display: none;">
</div>

<div class="modal fade" id="PaymentSucessModal" tabindex="-1" role="dialog" aria-labelledby="addPaymentModalLabel">
    <div class="modal-dialog modal-content" role="document">
        <div class="modal-header section-title">
            @if (TempData["ReturnMessage"] != null)
            {
                <h3 class="modal-title" id="addPaymentModalLabel">@TempData["ReturnMessage"]</h3>
            }
            else
            {
                <h3 class="modal-title" id="addPaymentModalLabel">Payment</h3>
            }
        </div>
        <div class="modal-body">
            <div class="row small-row-gapping">
                <div class="col-sm-12">
                    <div class="form-group has-feedback left-feed">
                        <h5>
                            @ViewBag.Message
                        </h5>
                    </div>
                </div>
            </div>
            <div class="form-action">
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-block">OK</button>
            </div>
        </div>
    </div>
</div>

@*Script Added*@
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

@*Select 2 JS*@
<script>
    $(document).ready(function () {
        $('#ddlAccountNumber').select2();
    });
</script>

<script type="text/javascript">
    $("document").ready(function () {
        CurrentBal(); //this calls it on load
            NetPL(); //this calls it on load
            TotalTrades();  //this calls it on load
            usertransaction();//this calls it on load
            $('#year').on('change', function () {
                $('#month option[value="0"]').prop('selected', true);
                $('#week option[value="0"]').prop('selected', true);
                CurrentBal();
            })
            $('#month').on('change', function () {
                $('#week option[value="0"]').prop('selected', true);
                CurrentBal();
            })
            $('#netyear').on('change', function () {
                $('#netmonth option[value="0"]').prop('selected', true);
                $('#netweek option[value="0"]').prop('selected', true);
                NetPL();
            })
        $('#netmonth').on('change', function () {
            $('#netweek option[value="0"]').prop('selected', true);
            NetPL();
        })
        $('#ttyear').on('change', function () {
            $('#ttmonth option[value="0"]').prop('selected', true);
            $('#ttweek option[value="0"]').prop('selected', true);
            TotalTrades();
        })
        $('#ttmonth').on('change', function () {
            $('#ttweek option[value="0"]').prop('selected', true);
            TotalTrades();
        })
        $("#week").change(CurrentBal);
        $("#netweek").change(NetPL);
        $("#ttweek").change(TotalTrades);
        $("#SelectedItem").change(onSelectChange);
    });

    var onSelectChange = function() {
        usertransaction();
        CurrentBal();
        NetPL();
        TotalTrades();
    }

    function CurrentBal(Value) {
        $("#divCurrentBalance").css("display", "block");
        $("#line-chart-payment").empty();
        var MonthList = new Array(12);
        MonthList[0] = "Jan";
        MonthList[1] = "Feb";
        MonthList[2] = "Mar";
        MonthList[3] = "Apr";
        MonthList[4] = "May";
        MonthList[5] = "Jun";
        MonthList[6] = "Jul";
        MonthList[7] = "Aug";
        MonthList[8] = "Sept";
        MonthList[9] = "Oct";
        MonthList[10] = "Nov";
        MonthList[11] = "Dec";
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCurrentBalList", "Home")',
            data: {
                Exchange: $("#SelectedItem option:selected").val(),  // Added by bharat for Exchangewise
                Sequence: Value,
                SubscriptionID: $("#usersubscriptionid").val(),
                Platform: $("#TradingPlatform").val(),
                saccountallias: $("#ddlAccountNumber").val()
            },
            dataType: "json",
            success: function (data) {
                //
                $("#divCurrentBalance").css("display", "none");
                var temp = [];
                var chartType = null;
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        $('#usersubscriptionid').val(data[i].user_subscription_id);
                        var model = {};
                        var date = data[i].x;
                        var d = new Date(date.split("/").reverse().join("-"));
                        var dd = d.getDate();
                        var mm = d.getMonth() + 1;
                        var yy = d.getFullYear();
                        var newdate = yy + "-" + mm + "-" + dd; //mm + "-" + dd;
                        model = { period: newdate, park1: data[i].y }
                        temp.push(model);
                    }
                    var line = new Morris.Line({
                        element: 'line-chart-payment',
                        resize: true,
                        data: temp,
                        xkey: 'period',
                        ykeys: ['park1'],
                        labels: ['Value'],
                        lineColors: ['#1b1b1c'],
                        hideHover: 'auto',
                        xLabels: 'day',
                        xLabelAngle: 45,
                        xLabelFormat: function (d) {
                            return d.getDate() + ' ' +
                            (MonthList[d.getMonth()]);
                        },
                    });
                }
                else {
                    $("#divCurrentBalance").css("display", "none");
                    var model = {};
                    model = { period: new Date().toJSON().slice(0, 10).replace(/-/g, '/'), park1: 0 }
                    temp.push(model);
                    var line = new Morris.Line({
                        element: 'line-chart-payment',
                        resize: true,
                        data: temp,
                        xkey: 'period',
                        ykeys: ['park1'],
                        labels: ['Value'],
                        lineColors: ['#3c8dbc'],
                        hideHover: 'always'
                    });
                }
            },
            error: function (result) {
                $("#divCurrentBalance").css("display", "none");
            }
        });
    }

    function NetPL(Value) {
        $("#divNetpNl").css("display", "block");
        $("#columnchart").empty();
        $.ajax({
            type: "POST",
            async: false,              //for waiting sometime
            url: '@Url.Action("GetNetPLList", "Home")',
            data: {
                Exchange: $("#SelectedItem option:selected").val(),  // Added by bharat for Exchangewise
                Sequence: Value,
                SubscriptionID: $("#netusersubscriptionid").val(),
                Platform: $("#TradingPlatform").val(),
                saccountallias: $("#ddlAccountNumber").val(),
            },
            dataType: "json",
            success: function (data) {
                $("#divNetpNl").css("display", "none");
                var temp = [];
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        $('#netusersubscriptionid').val(data[i].user_subscription_id);
                        var model = {};
                        model = { x: data[i].Script, item1: data[i].net_profit_loss }
                        temp.push(model);
                    }
                    var Bar = new Morris.Bar({
                        element: 'columnchart',
                        resize: true,
                        barSizeRatio:0.3,
                        data: temp,
                        xkey: 'x',
                        ykeys: ['item1'],
                        labels: ['Series A'],
                        hideHover: 'auto',
                        barColors: function (row, series, type) {
                            if (series.key == 'item1') {
                                if (row.y < 0)
                                    return "#cb2c11";
                                else
                                    return "#60CB11";
                            }
                            else {
                                return "#cb2c11";
                            }
                        }
                    });
                }
                else {
                    $("#divNetpNl").css("display", "none");
                    var model = {};
                    model = { period: new Date().toJSON().slice(0, 10).replace(/-/g, '/'), park1: 0 }
                    temp.push(model);
                    var line = new Morris.Line({
                        element: 'columnchart',
                        resize: true,
                        data: temp,
                        xkey: 'y',
                        ykeys: ['item1'],
                        labels: ['Value'],
                        lineColors: ['#3c8dbc'],
                        hideHover: 'always'
                    });
                }
            },
            error: function (result) {
                $("#divNetpNl").css("display", "none");
            }
        });
    }

    function TotalTrades(Value) {
        $("#divTotalTrades").css("display", "block");
        $("#piechart").empty();
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTotalTradesList", "Home")',
            data: {
                Exchange: $("#SelectedItem option:selected").val(),  // Added by bharat for Exchangewise
                Sequence: Value,
                SubscriptionID: $("#wlusersubscriptionid").val(),
                Platform: $("#TradingPlatform").val(),
                saccountallias: $("#ddlAccountNumber").val(),
            },
            dataType: "json",
            success: function (data) {
                $(".full-loarder").css("display", "none");
                $("#divTotalTrades").css("display", "none");
                var datapie = [];
                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        $('#wlusersubscriptionid').val(data[i].user_subscription_id);
                        var model = {};
                        datapie = [
                            { label: 'Winning Trades:' + data[i].NoofwiningTrade, data: parseInt(data[i].NoofwiningTrade), color: '#6cbc35' },
                            { label: 'Losing Trades:' + data[i].NooflosingTrade, data: parseInt(data[i].NooflosingTrade), color: '#fe0000' },
                            { label: 'Scratch Trades:' + data[i].NoofsketchTrade, data: parseInt(data[i].NoofsketchTrade), color: '#bab2b2' }
                        ]
                    }
                    var options = {
                        series: {
                            pie: {
                                show: true,
                                label: {
                                    show: true,
                                    formatter: function (label, point) {
                                        return (point.percent.toFixed(2) + '%');
                                    },
                                }
                            }
                        },
                        legend: { show: true }
                    };
                    options.series.pie.label.radius = 120;
                    $.plot($("#piechart"), datapie, options);
                }
            },
            error: function (result) {
                $("#divTotalTrades").css("display", "none");
            }
        });
    }
    //for Transaction
    function usertransaction(Value) {
        $("#divUserTransaction").css("display", "block");
        $.ajax({
            type: "POST",
            url: '@Url.Action("UserTransaction", "Home")',
            data: {
                Exchange: $("#SelectedItem option:selected").val(),
                Sequence: Value,
                SubscriptionID: $("#statisticsusersubscriptionid").val(),
                Platform: $("#TradingPlatform").val(),
                saccountallias: $("#ddlAccountNumber").val(),
            },
            dataType: "json",
            success: function (result) {
                $(".full-loarder").css("display", "none");
                $("#divUserTransaction").css("display", "none");
                $('#statisticsusersubscriptionid').val(result.user_sub_id);
                if (result.List.length > 0) {
                    var Htmlstr = '';
                    var strNegativeClass = '';
                    var negValue = 'color:red;';
                    for (var i = 0; i < result.List.length; i++) {
                        if(result.List[i].TransactionDateString == "Daily Average")
                        {
                            Htmlstr += '<tr style="background-color: #e5e6e8;">';
                        }
                        else
                        {
                            Htmlstr += '<tr>';
                        }

                        Htmlstr += '<td style="text-align: center;width: 12%;">' + result.List[i].TransactionDateString + '</td>'

                        strNegativeClass = (result.List[i].TotalContracts < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 6%;' + strNegativeClass + '">' + result.List[i].TotalContracts + '</td>'

                        strNegativeClass = (result.List[i].TotalTrades < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 6%;' + strNegativeClass + '">' + result.List[i].TotalTrades + '</td>'

                        strNegativeClass = (result.List[i].GrossProfitLossOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].GrossProfitLoss + '</td>'

                        strNegativeClass = (result.List[i].TotalCommisionsOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].TotalCommisions + '</td>'

                        strNegativeClass = (result.List[i].NetProfitLossOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].NetProfitLoss + '</td>'

                        strNegativeClass = (result.List[i].CurrentBalanceOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].CurrentBalance + '</td>'

                        strNegativeClass = (result.List[i].HighProfitLossOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].HighProfitLoss + '</td>'

                        strNegativeClass = (result.List[i].LowProfitLossOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].LowProfitLoss + '</td>'

                        strNegativeClass = (result.List[i].AvgWinningTradeOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].AvgWinningTrade + '</td>'

                        strNegativeClass = (result.List[i].AvgLosingTradeOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '"><span></span>' + result.List[i].AvgLosingTrade + '</td>'

                        strNegativeClass = (result.List[i].WinningTradePerOld < 0 ? negValue : '');
                        Htmlstr += '<td style="text-align: center;width: 7%;' + strNegativeClass + '">' + result.List[i].WinningTradePer + '</td>'
                        Htmlstr += '<td style="text-align: center;width: 7%;">' + result.List[i].MaxConsWin + ":" + result.List[i].MaxConsLoss + '</td>'
                        Htmlstr += '<td style="text-align: center;width: 8%;"class="label-full">'
                        if (result.List[i].AvgWinningDayOld > result.List[i].AvgLosingDayOld ) {
                            Htmlstr += '<div class="label label-success">'
                        }
                        else if (result.List[i].AvgWinningDayOld  <= result.List[i].AvgLosingDayOld ) {
                            Htmlstr += '<div class="label label-danger">'
                        }
                        else {
                            Htmlstr += '<div class="">'
                        }
                        Htmlstr += result.List[i].AvgWinningDay_str + '<br>' + result.List[i].AvgLosingDay_str + '</div></td>'
                        Htmlstr += '</tr>'
                    }
                    $("#usertrasaction").html(Htmlstr);
                    var Htmlstr = '';
                    return false;
                }
                else {
                    var Htmlstr = '';
                    Htmlstr += '<tr>'
                    Htmlstr += '<td rowspan="1" colspan="3"> No items to display.</td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '<td style="text-align: center;width: 6%;"></td>'
                    Htmlstr += '</tr>'
                    $("#usertrasaction").html(Htmlstr);
                }
            },
            error: function (result) {
                $(".full-loarder").css("display", "none");
                $("#divUserTransaction").css("display", "none");
            }
        });
    }

    //for Account Balance
    function AccountBalance(Value) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AccountBalance", "Home")',
            data: {
                Sequence: Value,
                SubscriptionID: $("#A_sub_ID").val(),
            },
            dataType: "json",
            success: function (result) {

                $('#A_sub_ID').val(result.AccountBal_.UserSubscriptionID);

                if(result.AccountBal_.HighBalanceOld < 0)
                {
                    $('#HighBalance').removeClass('no-margin font-medium').addClass('no-margin font-medium text-red');
                    $('#HighBalance').html(result.AccountBal_.HighBalance);
                }
                else
                {
                    $('#HighBalance').html(result.AccountBal_.HighBalance);
                }

                if(result.AccountBal_.CurrentBalanceOld < 0)
                {
                    $('#CurrentBalance').removeClass('no-margin font-medium').addClass('no-margin font-medium text-red');
                    $('#CurrentBalance').html(result.AccountBal_.CurrentBalance);
                    $('#AICurrentBalance').text(result.AccountBal_.CurrentBalance);
                }
                else if(result.AccountBal_.CurrentBalanceOld == null)
                {
                    $('#AICurrentBalance').text("0");
                }
                else
                {
                    $('#CurrentBalance').html(result.AccountBal_.CurrentBalance);
                    $('#AICurrentBalance').text(result.AccountBal_.CurrentBalance);
                }

                if (result.AccountBal_.LowBalanceOld < 0)
                {
                    $('#LowBalance').removeClass('no-margin font-medium').addClass('no-margin font-medium text-red');
                    $('#LowBalance').html(result.AccountBal_.LowBalance);
                }
                else
                {
                    $('#LowBalance').html(result.AccountBal_.LowBalance);
                }

                if (result.AccountBal_.AvgWinningDayOld < 0)
                {
                    $('#AvgWinningDay').removeClass('no-margin font-medium').addClass('no-margin font-medium text-red');
                    $('#AvgWinningDay').html(result.AccountBal_.AvgWinningDay);
                }
                else
                {
                    $('#AvgWinningDay').html(result.AccountBal_.AvgWinningDay);
                }

                if(result.AccountBal_.BestDayOld < 0)
                {
                    $('#BestDay').removeClass('no-margin font-medium').addClass('no-margin font-medium text-red');
                    $('#BestDay').html(result.AccountBal_.BestDay);
                }
                else
                {
                    $('#BestDay').html(result.AccountBal_.BestDay);
                }

                if(result.AccountBal_.AvgLosingDayOld < 0)
                {
                    $('#AvgLosingD').removeClass('no-margin font-medium').addClass('no-margin font-medium text-red');
                    $('#AvgLosingD').html(result.AccountBal_.AvgLosingDay);
                }
                else
                {
                    $('#AvgLosingD').html(result.AccountBal_.AvgLosingDay);
                }

                if(result.AccountBal_.WorstDayOld < 0)
                {
                    $('#WorstD').removeClass('no-margin font-medium').addClass('no-margin font-medium text-red');
                    $('#WorstD').html(result.AccountBal_.WorstDay);
                }
                else
                {
                    $('#WorstD').html(result.AccountBal_.WorstDay);
                }
            },
            error: function (result) {
                return false;
                $(".full-loarder").css("display", "none");
            }
        });
    }

    //for AccountInfo
    function AccountInfo(Value) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AccountInfo", "Home")',
            data: {
                Sequence: Value,
                SubscriptionID: $("#U_sub_ID").val(),
            },
            dataType: "json",
            success: function (result) {

                @Model.objAccountInfoModel.is_expired = result.AccountInfo_.is_expired;
                if(result.AccountInfo_.status == "ACTIVE - TRIAL" || result.AccountInfo_.status == "ACTIVE - LIVE")
                {
                    $('#status').removeClass('label label-danger').addClass('label label-success');
                    $('#status').html(result.AccountInfo_.status);
                    $('#redgreen').removeClass('fa fa-circle text-red').addClass('fa fa-circle text-green');
                    $('#redgreen').removeClass('fa fa-circle').addClass('fa fa-circle text-green');
                }
                else
                {
                    $('#status').removeClass('label label-success').addClass('label label-danger');
                    $('#status').html(result.AccountInfo_.status);
                    $('#redgreen').removeClass('fa fa-circle text-green').addClass('fa fa-circle text-red');
                    $('#redgreen').removeClass('fa fa-circle').addClass('fa fa-circle text-red');
                }

                $('#AccountNumber').html(result.AccountInfo_.account_number);
                $('#SubscriptionName').html(result.AccountInfo_.subscription_name);
                $('#SubStartDate').html(result.AccountInfo_.substartdate);
                $('#SubEndDate').html(result.AccountInfo_.subenddate);
                $('#CompletedDays').html(result.AccountInfo_.completeddays);
                $('#WinningDayPer').html(result.AccountInfo_.WinnigDayPer);
                $('#U_sub_ID').val(result.AccountInfo_.user_subscription_id);
            },
            error: function (result) {
                return false;
            }
        });
    }
    //for AccountRule
    function AccountRule(Value) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AccountRule", "Home")',
            data: {
                Sequence: Value,
                SubscriptionID: $("#Rule_sub_ID").val(),
            },
            dataType: "json",
            success: function (result) {


                $('#Rule_sub_ID').val(result.AccountRule_.user_subscription_id);

                $('#ProfitTarget').html(result.AccountRule_.ProfitTarget);

                if(result.AccountRule_.profit_targetachievestatus == "check_circle")
                {
                    $('#profit_targetachievestatus').removeClass('material-icons text-red').addClass('material-icons text-green');
                    $('#profit_targetachievestatus').removeClass('material-icons text-black').addClass('material-icons text-green');
                    $('#profit_targetachievestatus').html(result.AccountRule_.profit_targetachievestatus);
                }
                else if(result.AccountRule_.profit_targetachievestatus == "cancel")
                {
                    $('#profit_targetachievestatus').removeClass('material-icons text-green').addClass('material-icons text-red');
                    $('#profit_targetachievestatus').removeClass('material-icons text-black').addClass('material-icons text-red');
                    $('#profit_targetachievestatus').html(result.AccountRule_.profit_targetachievestatus);
                }
                else
                {
                    $('#profit_targetachievestatus').removeClass('material-icons text-red').addClass('material-icons text-black');
                    $('#profit_targetachievestatus').removeClass('material-icons text-green').addClass('material-icons text-black');
                    $('#profit_targetachievestatus').html(result.AccountRule_.profit_targetachievestatus);
                }


                $('#DailyLossLimit').html(result.AccountRule_.DailyLossLimit);

                if(result.AccountRule_.daily_loss_limitachievestatus == "check_circle")
                {
                    $('#daily_loss_limitachievestatus').removeClass('material-icons text-red').addClass('material-icons text-green');
                    $('#daily_loss_limitachievestatus').removeClass('material-icons text-black').addClass('material-icons text-green');
                    $('#daily_loss_limitachievestatus').html(result.AccountRule_.daily_loss_limitachievestatus);
                }
                else if(result.AccountRule_.daily_loss_limitachievestatus == "cancel")
                {
                    $('#daily_loss_limitachievestatus').removeClass('material-icons text-green').addClass('material-icons text-red');
                    $('#daily_loss_limitachievestatus').removeClass('material-icons text-black').addClass('material-icons text-red');
                    $('#daily_loss_limitachievestatus').html(result.AccountRule_.daily_loss_limitachievestatus);
                }
                else
                {
                    $('#daily_loss_limitachievestatus').removeClass('material-icons text-red').addClass('material-icons text-black');
                    $('#daily_loss_limitachievestatus').removeClass('material-icons text-green').addClass('material-icons text-black');
                    $('#daily_loss_limitachievestatus').html(result.AccountRule_.daily_loss_limitachievestatus);
                }

                $('#MaxDrowdown').html(result.AccountRule_.MaxDrowdown);

                if(result.AccountRule_.max_drowdownachievestatus == "check_circle")
                {
                    $('#max_drowdownachievestatus').removeClass('material-icons text-red').addClass('material-icons text-green');
                    $('#max_drowdownachievestatus').removeClass('material-icons text-black').addClass('material-icons text-green');
                    $('#max_drowdownachievestatus').html(result.AccountRule_.max_drowdownachievestatus);
                }
                else if(result.AccountRule_.max_drowdownachievestatus == "cancel")
                {
                    $('#max_drowdownachievestatus').removeClass('material-icons text-green').addClass('material-icons text-red');
                    $('#max_drowdownachievestatus').removeClass('material-icons text-black').addClass('material-icons text-red');
                    $('#max_drowdownachievestatus').html(result.AccountRule_.max_drowdownachievestatus);
                }
                else
                {
                    $('#max_drowdownachievestatus').removeClass('material-icons text-red').addClass('material-icons text-black');
                    $('#max_drowdownachievestatus').removeClass('material-icons text-green').addClass('material-icons text-black');
                    $('#max_drowdownachievestatus').html(result.AccountRule_.max_drowdownachievestatus);
                }


                $('#TradeRequiredNoOfDays').html(result.AccountRule_.TradeRequiredNoOfDays);

                if(result.AccountRule_.trade_required_no_of_daysachievestatus == "check_circle")
                {
                    $('#trade_required_no_of_daysachievestatus').removeClass('material-icons text-red').addClass('material-icons text-green');

                    $('#trade_required_no_of_daysachievestatus').removeClass('material-icons text-black').addClass('material-icons text-green');
                    $('#trade_required_no_of_daysachievestatus').html(result.AccountRule_.trade_required_no_of_daysachievestatus);
                }
                else if(result.AccountRule_.trade_required_no_of_daysachievestatus == "cancel")
                {
                    $('#trade_required_no_of_daysachievestatus').removeClass('material-icons text-green').addClass('material-icons text-red');
                    $('#trade_required_no_of_daysachievestatus').removeClass('material-icons text-black').addClass('material-icons text-red');
                    $('#trade_required_no_of_daysachievestatus').html(result.AccountRule_.trade_required_no_of_daysachievestatus);
                }
                else
                {
                    $('#trade_required_no_of_daysachievestatus').removeClass('material-icons text-red').addClass('material-icons text-black');
                    $('#trade_required_no_of_daysachievestatus').removeClass('material-icons text-green').addClass('material-icons text-black');
                    $('#trade_required_no_of_daysachievestatus').html(result.AccountRule_.trade_required_no_of_daysachievestatus);
                }


            },
            error: function (result) {
                //$(".full-loarder").css("display", "none");
                return false;
            }
        });
    }
    function closeTrialMessageBox() {
        $('#completeprofilepopupModal').modal('hide');
    }
</script>
<script>
    function callResetUserConfirmation(id) {
        $(".full-loarder").css("display", "none");
        $('#callResetConfirmationModel').load('@Url.Action("CallResetUserData", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    }
    function CallResetPaymentModel(id) {
        $("#callResetConfirmationModel").modal('hide');
        $('#resetPaymentModel').load('@Url.Action("CallResetPayment", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            }).load(
                callPaypal()
            );;
        });
    }

    function SubmitUserPayment(e) {
        $('#spanPayError').text('');
        if ($('#mdlPaymentModal').valid()) {
            var bNameValidated = false;
            var bCardNumberValidated = false;
            var bDateYearValidated = false;
            var bCVVValidated = false;
            var vName = $("#card_name").val();
            var vCardNumber = $("#card_number").val();
            var vDateYear = $("#DateYear").val();
            var vCVV = $("#card_cvv").val();
            var vIsSave;
            if ($('#issave').is(":checked") == true) {
                vIsSave = true;
            }
            else {
                vIsSave = false;
            }
            var Amount;
            var MemberID = '@Session["MemberID"]';
            var UserID;
            if (MemberID != '' || MemberID != "") {
                if (MemberID > 0) {
                    SubscriptionID = $("#Review_subscription_id").val();
                    UserID = MemberID;
                }
            }
            else {
                SubscriptionID = $("#subscription_id").val();
                UserID = $('#hdnRegisterMemberID').val();
            }
            var model = {
                user_id: parseInt(UserID),
                subscription_id: SubscriptionID,
                card_name: vName,
                card_number: vCardNumber,
                card_expiry: vDateYear,
                card_cvv: vCVV,
                issave: vIsSave
            };
            $(".full-loarder").css("display", "block");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("ResetPayToPaypal", "Pay")',
                data: { objPaypalModel: model },
                success: function (result) {
                    $(".full-loarder").css("display", "none");
                    $('#resetPaymentModel').modal('hide');
                    $('#PaymentSucessModal').modal({
                        backdrop: 'static',   // This disable for click outside event
                        keyboard: false        // This for keyboard event
                    });
                },
                error: function (result) {
                }
            });
        }
        return false;
    };

    $(document).ready(function () {
        var isShow = @IsShow;
        if(@IsShow > 0)
        {
            $('#PaymentSucessModal').modal({
                backdrop: 'static',   // This disable for click outside event
                keyboard: false        // This for keyboard event
            });
        }
    });
</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({ trigger: 'manual' }).tooltip('show');
    });
</script>
<script>
    $(function () {
        $("#ddlAccountNumber").change(function (val) {
            window.location = '@StrPath/home/admindashboard?saccountallias=' + $("#ddlAccountNumber").val();
        });
    });
</script>
