﻿@model Traderdock.Entity.MemberModel.ContactUsModel
@{
    ViewBag.Title = "ContactUs";
    ViewBag.SubMenu = "contactus";
}
<div class="white-bg no-banner-img-bg">
    <!-- Page Section 1 -->
    <div class="container">
        <div class="title-and-text">
            @Html.Raw(@Model.BannerTextContactUs)
            @*<p class="text-light-blue text-uppercase">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                <h2 class="heading-large text-white">We are Waiting to Assist You</h2>
                <p class="text-light-blue title-sab-text0">Your Live Trading Account will have the same Daily Loss Limit and Aggregate Loss Limit as the TraderDock Challenge you decide to dominate.</p>*@
        </div>
    </div>
    <!-- End Page Section 1 -->
</div> <!-- End Banner -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<!-- Main Container -->
<div class="main-container">
    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-sm-bottom-none" style="position: relative">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 position-I">
                    <div class="contact-map-img contact-map-img">
                        <img src="~/Content/front/dist/img/contact-map-img.png" alt="">
                    </div>
                </div>
                <div class="col-sm-5 col-sm-offset-1 box-top-margin">
                    @using (Html.BeginForm("ContactUs", "Home", FormMethod.Post))
                    {
                        if (TempData["ContactUsErrorMsg"] != null)
                        {
                            <span class="field-validation-error" style="color:red"> @TempData["ContactUsErrorMsg"] </span>
                        }
                        if (TempData["ContactUsSuccessMsg"] != null)
                        {
                            <span class="field-validation-error" style="color:green"> @TempData["ContactUsSuccessMsg"] </span>
                        }
                        <div class="form-group">
                            <label for="">Your Email</label>
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.email, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <label for="">Your Name</label>
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.name, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <label for="">Your Message</label>
                            @Html.TextAreaFor(m => m.message, new { @class = "form-control", @rows = "4", @style = "padding-top: 10px;" })
                            @Html.ValidationMessageFor(m => m.message, "", new { @style = "color:red" })
                        </div>
                        <div class="form-group">
                            <div class="g-recaptcha" data-sitekey="6LfH2pgUAAAAAOsH1P449EjMILhY-qqDGwjn_K6C"></div>
                            <span class="field-validation-error" id="spanReCaptcha" data-valmsg-replace="true" style="color:red"></span>
                        </div>
                        if (TempData["ErrorUserMsg"] != null)
                        {
                            <span class="field-validation-error" style="color:red"> @TempData["ErrorUserMsg"] </span>
                        }
                        <div class="form-action  btn-block-group text-right">
                            <button type="submit"  onclick="sendAjaxRequest()" class="btn btn-success btn-block btn-raund max-200">SUBMIT &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="content-text clearfix">
                @Html.Raw(@Model.cms_contact_us)
            </div>
        </div>
    </div>
</div>
<!-- End Main Container -->
@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
@*Google Recaptcha*@
<script type="text/javascript">
    var onloadCallback = function () { };
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
<script>
    function sendAjaxRequest() {
        debugger;
        if (grecaptcha === undefined) {
            return;
        }
        var response = grecaptcha.getResponse();
        if (!response) {
            $("#spanReCaptcha").text('Please resolve captcha');
            return;
        }
        else
        {
            $("#spanReCaptcha").text('');
        }
    }
</script>