﻿@model Traderdock.Entity.Model.LoginModel
@{
    ViewBag.Title = "User List";
    Layout = "";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "user";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TraderDock COME TRADE OUR MONEY</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/front/dist/img/favicon.ico">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/ie10-viewport-bug-workaround.css">
    <!-- Owl Carousel -->
    <link href="~/Content/front/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.transitions.css" rel="stylesheet">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/datepicker/datepicker3.css">
    <!-- Time Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Bootstrap file Input -->
    <link rel="stylesheet" href="~/Content/front/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/front/plugins/select2/css/select2.css">
    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/plugins/FontAwesome/css/FontAwesome.css">

    <!-- Theme fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">

    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/front/dist/css/style.css">
    <link rel="stylesheet" href="~/Content/front/dist/css/responsive.css">
    <script src="~/Content/front/plugins/jQuery/jquery-1.12.4.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/front/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Header -->
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="~/Content/front/dist/img/logo.png" alt="Logo" />
                </a>
            </div>           
        </div>
    </nav>
    <!-- End Header -->
    
    <!-- main body -->
    
    <div class="main-container">
        <!-- Page Section -->
        <div class="page-section page-section-padding-lg-small-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-offset-3">
                        <div class="log-process-form box-top-margin">
                            <div class="section-title">
                                <h3 class="heading">Welcome back</h3>
                            </div>
                            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                
                            if (TempData["SuccessMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:green"> @TempData["SuccessMsg"] </span>
                            }
                            if (TempData["ForgetPasswordCSuccessMsg"] != null)
                            {
                                <span class="field-validation-error" style="color:green"> @TempData["ForgetPasswordCSuccessMsg"] </span>
                                }
                                if (TempData["CngPwdSMsg"] != null)
                                {
                                    <span class="field-validation-error" style="color:green"> @TempData["CngPwdSMsg"] </span>
                                }
                                if (TempData["PasswordResetMessage"] != null)
                                {
                                    <span class="field-validation-error" style="color:green"> @TempData["PasswordResetMessage"] </span>
                                }
                                <div class="form-group has-feedback left-feed">
                                    <span class="form-control-feedback material-icons">email</span>
                                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group has-feedback left-feed">
                                    <span class="form-control-feedback material-icons">vpn_key</span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @value = Model.Password })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group form-meta">
                                    <label class="checkbox-set">
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @name = "Remember" })
                                        Stay Logged in?
                                        <span></span>
                                        @Html.HiddenFor(m => m.RememberMe)
                                    </label>
                                    <a href="#forgotPasswordModal" class="text-underline pull-right" data-toggle="modal" data-dismiss="modal" data-backdrop="static" data-keyboard="false">Forgot Password?</a>
                                </div>
                                if (TempData["ErrorUserMsg"] != null)
                                {
                                    <span class="field-validation-error" style="color:red"> @TempData["ErrorUserMsg"] </span>
                                }
                                if (TempData["ForgetPasswordCErrorMsg"] != null)
                                {
                                    <span class="field-validation-error" style="color:red"> @TempData["ForgetPasswordCErrorMsg"] </span>
                                }
                                if (TempData["CngPwdEMsg"] != null)
                                {
                                    <span class="field-validation-error" style="color:red"> @TempData["CngPwdEMsg"] </span>
                                }


                                <div class="form-action">
                                    <input type="submit" value="Login" class="btn btn-primary btn-block" />
                                </div>
                                <p class="text-center">Don’t have an account? <a href="~/Account/Register" class="text-underline">Sign Up!</a></p>
                            }
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!-- End Page Section -->        
    </div>

   
    <!-- main body -->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- jQuery 1.12.4 -->

    <!-- Bootstrap 3.3.7 -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/front/bootstrap/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/front/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

    <!-- Owl Carousel -->
    <script src="~/Content/front/plugins/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Date Picker -->
    <script src="~/Content/front/plugins/datepicker/bootstrap-datepicker.js"></script>

    <!-- Time Picker -->
    <script src="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.js"></script>

    <!-- Select2 -->
    <script src="~/Content/front/plugins/select2/js/select2.min.js"></script>
    <script src="~/Content/front/plugins/select2/js/select2.full.min.js"></script>

    <!-- bootstrap file input -->
    <script src="~/Content/front/plugins/bootstrap-fileinput/js/bootstrap-fileinput.js"></script>

    <!-- Fixed Header -->
    <script src="~/Content/front/plugins/scrolltofixed/js/jquery-scrolltofixed.js"></script>

    <!-- Theme App -->
    <script src="~/Content/front/dist/js/app.js"></script>

    <!-- Page Common Validation Custom Validation-->
    <script src="~/Scripts/common.js"></script>

    <!-- End Footer -->
    <script type="text/javascript">
        @section Scripts{
         @Scripts.Render("~/bundles/jquery")       
        }
    </script>
</body>
</html>






