﻿@model Traderdock.Entity.MemberModel.HomePageModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.StrImagePath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string ImgPath = System.Web.Configuration.WebConfigurationManager.AppSettings["ImageBaseURL"];
    var objUserId = "";
    if (HttpContext.Current.Session["MemberID"] != null)
    {
        objUserId = HttpContext.Current.Session["MemberID"].ToString();
    }
}
<!-- Banner -->
<div class="blue-gb">
    <!-- Page Section 1 -->
    <div class="page-section">
        <div class="text-container">
            <div class="container">
                @Html.Raw(@Model.Bannertext)
            </div>
        </div>
        <div class="layers-bg home-custom-bg">
            <img src="~/content/front/dist/img/layers-bg.png" />
        </div>
    </div> <!-- End Page Section 1 -->
</div> <!-- End Banner -->
<!-- Main Container -->
<div class="main-container">
    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-lg">
        <div class="container how-to-trade">
            <div class="section-title-new text-center">
                @Html.Raw(@Model.HowtotradewithTraderdock)
                @*<h2 class="heading-large">How to trade with <strong>TraderDock?</strong></h2>*@
            </div>
            <div class="row">
                <a href="@ViewBag.StrImagePath/home/learnhow">
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay=".25s">
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/content/front/dist/img/new-homepage-icon1.png" alt="" />
                            </div>
                            @Html.Raw(@Model.Takethetraderdockchallenge)
                            @*<h4 class="heading">Take the TradeDock Challenge</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>*@
                        </div>
                    </div>
                </a>
                <a href="@ViewBag.StrImagePath/home/learnhow">
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay=".25s">
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/Content/front/dist/img/new-homepage-icon2.png" alt="" />
                            </div>
                            @Html.Raw(@Model.Showusyouexcel)
                            @*<h4 class="heading">Show Us You Excel</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>*@
                        </div>
                    </div>
                </a>
                <a href="@ViewBag.StrImagePath/home/learnhow">
                    <div class="col-sm-4 wow fadeInLeft" data-wow-delay=".25s">
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/Content/front/dist/img/new-homepage-icon3.png" alt="" />
                            </div>
                            @Html.Raw(@Model.Beginlivetrading)
                            @*<h4 class="heading">Begin Live Trading with TraderDock Cash</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,</p>*@
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- End Page Section 1 -->
    <!-- Page Section 2 -->
    <div class="blue-section page-section page-section-padding-lg bg-default">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInLeft" data-wow-delay=".25s">
                    <div class="section-title-new">
                        @Html.Raw(@Model.WhyTraderdock)
                        @*<h2 class="heading-large">
                                Why <strong>TraderDock?</strong>
                          </h2>
                          <p class="text-light-blue text-uppercase">Hit Profit and Loss Targets over just 20 tranding Days and…</p>*@
                    </div>
                    <div class="why-trader-dock">
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/Content/front/dist/img/new-homepage-icon1.png" alt="" />
                            </div>
                            @Html.Raw(@Model.WhyTraderDock1)
                        </div>
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/Content/front/dist/img/new-homepage-icon2.png" alt="" />
                            </div>
                            @Html.Raw(@Model.WhyTraderDock2)
                        </div>
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/Content/front/dist/img/new-homepage-icon3.png" alt="" />
                            </div>
                            @Html.Raw(@Model.WhyTraderDock3)
                        </div>
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/Content/front/dist/img/new-homepage-icon3.png" alt="" />
                            </div>
                            @Html.Raw(@Model.WhyTraderDock4)
                        </div>
                        <div class="new-homepage-blocks">
                            <div class="icon-box-bg">
                                <img src="~/Content/front/dist/img/new-homepage-icon3.png" alt="" />
                            </div>
                            @Html.Raw(@Model.WhyTraderDock5)
                        </div>
                    </div>
                    <div class="layers-bg">
                        <img src="~/content/front/dist/img/why-section-bg.png" alt="" />
                    </div>
                </div>
                <div class="col-sm-6 position-I">
                    <div class="why-traderdock-img">
                        <img src="~/Content/front/dist/img/why-traderdock.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Section 2 -->
    <!-- Page Section 3 -->
    <div class="page-section page-section-padding-lg">
        <div class="container testimonial wow fadeIn" data-wow-delay=".50s">
            <div class="section-title-new text-center">
                <h2 class="heading-large">
                    What People <strong>Say?</strong>
                </h2>
            </div>
            <div class="container content">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.TestimonialList.Count; i++)
                        {
                            if (i == 0)
                            {
                                <div class="item active">
                                    <div class="thumbnail adjust1">
                                        <div class="caption">
                                            <p class="text-light-blue">@Model.TestimonialList[i].description</p>
                                        </div>
                                        <h6 class="heading no-top-margin text-uppercase">@Model.TestimonialList[i].user_name</h6>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <div class="thumbnail adjust1">
                                        <div class="caption">
                                            <p class="text-light-blue">@Model.TestimonialList[i].description</p>
                                        </div>
                                        <h6 class="heading no-top-margin text-uppercase">@Model.TestimonialList[i].user_name</h6>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span><i class="fa fa-long-arrow-left"></i></span> </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span><i class="fa fa-long-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Section 4 -->
    <div>
        @Html.Raw(@Model.GlobalTeam)
    </div>
    @*<div class="blue-section page-section page-section-padding-lg bg-default">
            <div class="container">
                <div id="myCarousel" class="carousel slide row" data-ride="carousel">
                    <div class="col-sm-6 wow fadeInLeft" data-wow-delay=".50s">
                        <div class="section-title-new">
                            @Html.Raw(@Model.GlobalTeam)
                        </div>
                        @*<div class="deep-experience">
                                <ul class="nav-pills nav-justified">
                                    @{
                                        string StrActiveClass = "";
                                        string StrDivStyle = "display:none;";
                                    }
                                    @for (int i = 0; i < Model.GlobalTeamList.Count; i++)
                                    {
                                        StrActiveClass = "";

                                        if (i == 0)
                                        {
                                            StrActiveClass = "active";
                                        }

                                        <li data-target="#myCarousel" data-slide-to="@i" class="@StrActiveClass">
                                            <a class="home-blog" onclick="changeTeamData('@i');" href="javascript:;"><img src="@ImgPath/@Model.GlobalTeamList[i].user_image_url_sm" alt="" /></a>
                                        </li>
                                    }
                                </ul>
                            </div>

                        <div class="wow fadeInRight">
                            <div class="carousel-inner sc-banner" data-wow-delay=".75s">
                                @{
                                    string StrDivStyle = "display:none;";
                                }

                                @for (int i = 0; i < Model.GlobalTeamList.Count; i++)
                                {
                                    StrDivStyle = "display:none;";
                                    if (i == 0)
                                    {
                                        StrDivStyle = "display:block;";
                                    }

                                    if (i == 0)
                                    {
                                        <div class="item active">
                                            <div class="">
                                                <p id="lblUserName" class="text-white no-margin text-uppercase">@Model.GlobalTeamList[i].user_name</p>
                                                <p class="text-light-blue">@Model.GlobalTeamList[i].designation</p>
                                            </div>
                                            <div class="margin-top40">
                                                <p class="text-light-blue">@Model.GlobalTeamList[i].description</p>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="item">
                                            <div class="">
                                                <p id="lblUserName" class="text-white no-margin text-uppercase">@Model.GlobalTeamList[i].user_name</p>
                                                <p class="text-light-blue">@Model.GlobalTeamList[i].designation</p>
                                            </div>
                                            <div class="margin-top40">
                                                <p class="text-light-blue">@Model.GlobalTeamList[i].description</p>
                                            </div>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 wow fadeInRight">
                        <div class="carousel-inner sc-banner" id="divImageSlider" data-wow-delay=".75s">
                            @for (int i = 0; i < Model.GlobalTeamList.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <div id="divTemp_@i" class="item active home-blog-big testclass">
                                        <img src="@ImgPath/@Model.GlobalTeamList[i].user_image_url_lg" alt="" />
                                    </div>
                                }
                                else
                                {
                                    <div id="divTemp_@i" class="item testclass">
                                        <img src="@ImgPath/@Model.GlobalTeamList[i].user_image_url_lg" alt="" />
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="layers-bg">
                <img src="~/Content/front/dist/img/deep-experience-bg.png" />
            </div>
        </div>*@
    <!-- End Page Section 4 -->
</div>
<!-- End Main Container -->
<script type="text/javascript">
    function changeTeamData(a) {
        /*var divName = "div_" + a;
        $("#" + divName).css("display", "block");

        var cnt = 0;
        $("div[id^=div_]").each(function (index) {
            if (divName != $(this).attr("id")) {
                $(this).css("display", "none");
            }
            cnt++;
        });*/

        setTimeout(function () {
            var k = 0;
            var divName1 = "divTemp_" + a;
            //$(".testclass").each(function (index) {
            $("div[id^=divTemp_]").each(function (index) {
                if (divName1 == $(this).attr("id")) {
                    $(this).addClass("active");
                }
                k++;
            });
        }, 700);

        //



        //

    }
    function redirectToRegister() {
        var registerURL = '@Url.Action("register","account")';
        var loggedInUser = '@objUserId';

        if (loggedInUser == '') {
            location.href = registerURL;
        }
        else {
            registerURL = '@Url.Action("step1","home")';
            location.href = registerURL;
        }
    }
</script>

