﻿@model Traderdock.Entity.MemberModel.HomePageModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.StrImagePath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    var objUserId = "";
    if (HttpContext.Current.Session["MemberID"] != null)
    {
        objUserId = HttpContext.Current.Session["MemberID"].ToString();
    }
}

<!-- Banner -->
<div class="banner">
    <div class="banner-slider">
        @for (int i = 0; i < @Model.BannerImages.Count(); i++)
        {
            <div class="item">
                <div class="item-image" style="background-image: url(@Model.BannerImages[i]);background-position: center center;"></div>
                <div class="banner-caption">
                    <div class="container">
                        @Html.Raw(@Model.Bannertext)
                        @*<h1 class="heading">Come trade our money</h1>
                            <p>Show you excel and we will back you all the way.</p>*@
                        <button type="button" class="btn btn-orange btn-block max-220" onclick="redirectToRegister();">Try TraderDock Free</button>
                    </div>
                </div>
            </div>
        }
        @*<div class="item">
                <div class="item-image" style="background-image: url(@ViewBag.StrImagePath/Content/front/dist/img/slider1.jpg);background-position: center center;"></div>
                <div class="banner-caption">
                    <div class="container">
                        @Html.Raw(@Model.Bannertext)
                        <button type="button" class="btn btn-orange btn-block max-220" onclick="redirectToRegister();">Try TraderDock Free</button>
                    </div>
                </div>
            </div>*@
    </div>
</div>
<!-- End Banner -->
<!-- Main Container -->
@if (string.IsNullOrEmpty(objUserId))
{
    <div class="helpHeader hidden-xs helpHeaderHome">
        <a href="javascript:;" class="helpHeader-toggle">
            <span class="icons"><img src="~/content/dist/img/start-trading-icon.png" alt="Homepage Icon"></span>
            Start Trading
        </a>
        <div class="helpHeader-content">
            <ul class="list-unstyled list-gapping">
                <li class="text-center">
                    <a href="~/account/register">
                        <span class="icons"><img src="~/content/dist/img/free-trial-icon.png" alt="Homepage Icon"></span>
                        Start 14 Days Trial
                    </a>
                </li>
                <li class="text-center">
                    <a href="~/home/step1">
                        <span class="icons"><img src="~/content/dist/img/big-trading-icon.png" alt="Homepage Icon"></span>
                        Start Trading
                    </a>
                </li>
            </ul>
        </div>
    </div>
}

<div class="main-container" style="min-height: 125px;">

    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-sm bg-default">
        <div class="container">
            <div class="section-title text-center">
                @*<h2 class="heading-large">How to trade with TraderDock?</h2>*@
                <h2 class="heading-large">3 Steps to Trading Our Money</h2>
            </div>
            <!--<div class="page-section-padding-sm-bottom-none">-->

            <div class="row">
                <a href="~/home/step1">
                    <div class="col-sm-4">
                        <div class="homepage-blocks steps-block step1">
                            <h3 class="heading font-medium">Step 1</h3>
                            <p>Take the TradeDock Challenge</p>
                        </div>
                    </div>
                </a>
                <div class="col-sm-4">
                    <a href="~/home/step2">
                        <div class="homepage-blocks steps-block step2">
                            <h3 class="heading font-medium">Step 2</h3>
                            <p>Show Us You<br>Excel</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="~/home/step3">
                        <div class="homepage-blocks steps-block step3">
                            <h3 class="heading font-medium">Step 3</h3>
                            <p>Begin Live Trading with TraderDock Cash</p>
                        </div>
                    </a>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
    <!-- End Page Section 1 -->
    @*@using (Html.BeginForm("Enquiry", "Home", FormMethod.Post))
    { <div class="container">
          @if (TempData["EnquiryErrorMsg"] != null)
          {
          <span class="field-validation-error" style="color:red"> @TempData["EnquiryErrorMsg"] </span>
          }
          @if (TempData["EnquirySuccessMsg"] != null)
          {
          <span class="field-validation-error" style="color:green"> @TempData["EnquirySuccessMsg"] </span>
          }
        <div class="row">
            <div class="col-sm-4">
                @Html.TextBoxFor(M => M.EnquiryEmail,new  { @class="form-action col-sm-12",@placeholder="Email for Enquiry..!!"})
            </div>
            <div class="col-sm-6">
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
            </div>
        </div>

    </div>
    }*@
    <!-- Page Section 2 -->
    <div class="page-section page-section-padding-sm">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="heading-large">Why TraderDock?</h2>
            </div>
            <!--<div class="page-section-padding-sm-bottom-none">-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="homepage-blocks">
                        <img src="~/Content/front/dist/img/homepage-icon1.png" alt="Homepage Icon">
                        @Html.Raw(@Model.WhyTraderDock1)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="homepage-blocks">
                        <img src="~/Content/front/dist/img/homepage-icon2.png" alt="Homepage Icon">
                        @Html.Raw(@Model.WhyTraderDock2)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="homepage-blocks">
                        <img src="~/Content/front/dist/img/homepage-icon3.png" alt="Homepage Icon">
                        @Html.Raw(@Model.WhyTraderDock3)
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="homepage-blocks">
                        <img src="~/Content/front/dist/img/homepage-icon4.png" alt="Homepage Icon">
                        @Html.Raw(@Model.WhyTraderDock4)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="homepage-blocks">
                        <img src="~/Content/front/dist/img/homepage-icon5.png" alt="Homepage Icon">
                        @Html.Raw(@Model.WhyTraderDock5)
                    </div>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>

    <!-- End Page Section 2 -->

</div>
<!-- End Main Container -->
<script type="text/javascript">
    function redirectToRegister() {
        var registerURL = '@Url.Action("register","account")';
        var loggedInUser = '@objUserId';

        if (loggedInUser == '') {
            location.href = registerURL;
        }
        else {
            registerURL = '@Url.Action("step1","home")';
            location.href = registerURL;
        }
    }
</script>