﻿@model Traderdock.Entity.MemberModel.LearnHowModel
@{
    ViewBag.Title = "Step1";
    ViewBag.SubMenu = "learnhow";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    string objUserId = null;
    string sFirstPriceBox = "price-box active box-top-margin";
    string StrPayPalMurchantID = System.Web.Configuration.WebConfigurationManager.AppSettings["PayPal:UserID"];
    string StrPayPalEnvirement = System.Web.Configuration.WebConfigurationManager.AppSettings["PayPal:environment"];
}
@*Google place api holder css*@
<style>
    .pac-container {
        background-color: #FFF;
        z-index: 20;
        position: fixed;
        display: inline-block;
        float: left;
    }
    .modal {
        z-index: 20;
    }
    .modal-backdrop {
        z-index: 10;
    }
</style>
<link href="~/Content/front/plugins/colorlib-wizard-1/colorlib-wizard-1/css/style.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<!-- Banner -->
<div class="blue-gb cust-learn-how">
    <div class="main-container">
        <!-- Page Section 1 -->
        <div class="page-section">
            <div class="text-container">
                <div class="container">
                    <div class="title-and-text text-center">
                        @Html.Raw(@Model.LearnBannerText)
                        <button type="button" class="btn btn-success btn-block btn-raund max-200" onclick="GetUserSignUpPopup(@Model.Subscription_List[0].subscription_id, '@Model.Subscription_List[0].starting_balance', '@Model.Subscription_List[0].price_per_month');" data-id="@Model.subscription_id">Get Started &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                    </div>
                </div>
            </div>
        </div> <!-- End Page Section 1 -->
    </div> <!-- End Main Container -->
</div> <!-- End Banner -->
<!-- End Banner -->
<!-- Main Container -->
<div class="main-container">
    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-lg" id="ChooseChallenge">
        <div class="container learn-step">
            @*<div class="container learn-step" style="min-height:1100px">*@
            <div id="msgs"></div>
            <h2 class="heading-large;" style="text-align:center;">The TraderDock Challenge</h2>
            <form action="" id="LearnHowWizard">
                <!-- SECTION 1 -->
                <h3>CONTROL</h3>
                <h5 class="wizard-sub-title">TraderDock Challenge</h5>
                <section>
                    <div class="inner">
                        <div class="form-content">
                            @Html.Raw(Model.Step1Slider)
                            <br />
                            <button type="button" style="padding:12px; !important;" class="btn btn-success btn-block btn-raund max-200" onclick="GetUserSignUpPopup(3, '$0K', '$200');" data-id="0">Get Started &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                </section>
                <!-- SECTION 2 -->
                <h3>CONSISTENCY</h3>
                <section>
                    <div class="inner">
                        <div class="form-content">
                            @Html.Raw(Model.Step2Slider)
                            <br />
                            <button type="button" style="padding:12px; !important;" class="btn btn-success btn-block btn-raund max-200" onclick="GetUserSignUpPopup(3, '$0K', '$200');" data-id="0">Get Started &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                </section>
                <!-- SECTION 3 -->
                <h3>CONFIDENCE</h3>
                <h5 class="wizard-sub-title-last">Live Trading</h5>
                <section>
                    <div class="inner"  style="text-align:center">
                        <div class="form-content">
                            @Html.Raw(Model.Step3Slider)
                            <button type="button" style="padding:12px; !important;" class="btn btn-success btn-block btn-raund max-200" onclick="GetUserSignUpPopup(3, '$0K', '$200');" data-id="0">Get Started &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>
<div class="blue-section page-section page-section-padding-lg bg-default">
    @Html.Raw(@Model.Trading_ObjectivesAndParameters)
</div>
<div class="page-section page-section-padding-lg">
    @Html.Raw(@Model.Step1_Platform)
</div>
<hr style="margin-bottom: 0px;">
<!-- End Page Section 1 -->
<!-- Create Payment Modal -->
<div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="addPaymentModalLabel">
</div>
<!-- Payment Modal Success Unsuccess msg -->
<div class="modal fade" id="PaymentSucessModal" tabindex="-1" role="dialog" aria-labelledby="addPaymentModalLabel">
    <div class="modal-dialog modal-content" role="document">
        <div class="modal-header section-title">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h3 class="modal-title" id="addPaymentModalLabel">Payment</h3>
        </div>
        <div class="modal-body">
            <div class="row small-row-gapping">
                <div class="col-sm-12">
                    <div class="form-group has-feedback left-feed">
                        <h3>
                            @Model.PaymentIsSuccess
                        </h3>
                        @{
                            if (string.IsNullOrEmpty(Model.transaction_id))
                            {
                            }
                            else
                            {
                                <h4>
                                    Transation ID-@Model.transaction_id
                                </h4>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-action">
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-block">OK</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  @{
        int IsShow = 0;
        int IsTra_idShow = 0;
        if (!string.IsNullOrEmpty(Model.PaymentIsSuccess))
        {
            IsShow = 1;
        }
        if (!string.IsNullOrEmpty(Model.transaction_id))
        {
            IsTra_idShow = 1;
        }
    }
    $(document).ready(function () {
        if(@IsShow>0)
        {
            $('#PaymentSucessModal').modal({
                backdrop: 'static',   // This disable for click outside event
                keyboard: false        // This for keyboard event
            });
        }
    });

    function functionDropDownChange(e) {
        var firstDropVal = e.value;
        $('#subscription_id').val(firstDropVal);
        var MemberID = '@Session["MemberID"]';
        if (MemberID != '' || MemberID != "") {
            if (MemberID > 0) {
                firstDropVal = $('#Review_subscription_id').val();
            }
        }
        $.ajax({
            type: "Get",
            url: '@StrPath/Home/GetPlanDetails/',
            data: {
                id: firstDropVal
            },
            success: function (result) {
                if (result.success == true) {
                    if (MemberID > 0) {
                        $('#ReviewPlanSubscriptionLimit').text("$" + parseInt(result.SubscriptionPlan.starting_balance) / 1000 + "K Challenge  ");
                        $('#ReviewPlanSubscriptionRate').text("$" + result.SubscriptionPlan.price_per_month + "/ month");
                    }
                    else {
                        $('#PlanSubscriptionLimit').text("$" + parseInt(result.SubscriptionPlan.starting_balance) / 1000 + "K Challenge  ");
                        $('#PlanSubscriptionRate').text("$" + result.SubscriptionPlan.price_per_month + "/ month");
                    }
                }
                else {
                    alert("Something went wrong!");
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }
    //function SubmitUserSignUp(e) {
    function SubmitUserSignUp() {
        if ($('form').valid()) {
            var vfn = $("#first_name").val();
            var vln = $("#last_name").val();
            var vemail = $("#user_email").val();
            var vpassword = $("#password").val();
            var vsubscriptionid = $("#subscription_id").val();
            var vcountryid = $("#country").val();
            var vstateid = $("#administrative_area_level_1").val();
            var vcity = $("#locality").val();
            var vaddress = $("#address").val();
            var vpostcode = $("#postal_code").val();
            var vcontact = $("#contact_number").val();
            var vPromoCode=$("#promo_code_id").val();
            var bCheckBoxValidated = false;
            if ($('#AcceptsTerms').is(":checked") != true) {
                bCheckBoxValidated = false;
            }
            else {
                bCheckBoxValidated = true;
            }
            var model = {
                first_name: vfn,
                last_name: vln,
                user_email: vemail,
                password: vpassword,
                confirm_password: vpassword,
                subscription_id: vsubscriptionid,
                country_id: vcountryid,
                city_name: vcity,
                state_name: vstateid,
                AcceptsTerms: bCheckBoxValidated,
                address: vaddress,
                contact_number: vcontact,
                postal_code: vpostcode
            };
            //$("#createProfileModal").hide();
            $(".full-loarder").css("display", "block");
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@StrPath/Account/Register',
                data: JSON.stringify(model),
                success: function (result) {
                    if (result.success) {
                        $("#createProfileModal").modal('hide');
                        $(".full-loarder").css("display", "none");
                        $('#hdnRegisterMemberID').val(result.id);
                        $("#DateYear").val("");
                        $("#CVV").val("");
                        return true;
                        //callPaypal();//added by shoaib - for paypal payment directly as we have now only one option Paypal Checkout - 19mar2018
                        //CallPaymentModel(result.id, vsubscriptionid,vPromoCode); //commented by shoaib - 19mar2018
                        //$("#addPaymentModal").modal();
                    }
                    else {
                        alert("Something went wrong!");
                        return false;
                    }
                },
                error: function (result) {
                    return false;
                }
            });

        }
        return false;
    };

    //function reviewSubscription(e) {
    function reviewSubscription() {
        if ($('#mdlProfileForm').valid()) {
            var bFirstNameValidated = false;
            var bCheckBoxValidated = false;
            var vaddress = $("#Address1").val();
            var vcountryid = $('#country1 option:selected').val();
            var vstatename = $("#administrative_area_level_11").val();
            var vcityname = $("#locality1").val();
            var vpostcode = $("#postal_code1").val();
            var vcheckbox = $("#ReviewCheckBox").val();
            var vsubscriptionid = $("#Review_subscription_id").val();
            var vpromo_code_id = $("#promo_code_id").val();
            var model = {
                subscription_id: vsubscriptionid,
                AcceptsTerms: bCheckBoxValidated,
                country_id: vcountryid,
                state_name: vstatename,
                city_name: vcityname,
                address: vaddress,
                postal_code: vpostcode,
                promo_code_id:vpromo_code_id
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("EditProfileAddress", "Account")',
                data: JSON.stringify(model),
                success: function (result) {
                    if (result) {
                        $("#reviewSubscriptionModal").modal('hide');
                        $(".full-loarder").css("display", "none");
                        $('#hdnRegisterMemberID').val(result.id);
                        $("#DateYear").val("");
                        $("#CVV").val("");
                        CallPaymentModel(result.id, vsubscriptionid,vpromo_code_id);
                    }
                    else {
                        alert("Something went wrong!");
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            return false;
        }
    };

    function SubmitUserPayment(e) {
        $('#spanPayError').text('');
        if ($('#mdlPaymentModal').valid()) {
            var bNameValidated = false;
            var bCardNumberValidated = false;
            var bDateYearValidated = false;
            var bCVVValidated = false;
            var vName = $("#card_name").val();
            var vCardNumber = $("#card_number").val();
            var vDateYear = $("#DateYear").val();
            var vCVV = $("#card_cvv").val();
            var vIsSave;
            if ($('#issave').is(":checked") == true) {
                vIsSave = true;
            }
            else {
                vIsSave = false;
            }
            var SubscriptionID;
            var MemberID = '@Session["MemberID"]';
            var UserID;
            var promo_code_id;
            if (MemberID != '' || MemberID != "") {
                if (MemberID > 0) {
                    SubscriptionID = $("#Review_subscription_id").val();
                    UserID = MemberID;
                    promo_code_id=$('#promo_code_id').val();
                }
            }
            else {
                SubscriptionID = $("#subscription_id").val();
                UserID = $('#hdnRegisterMemberID').val();
                promo_code_id=$('#promo_code_id').val();
            }
            var model = {
                user_id: parseInt(UserID),
                subscription_id: SubscriptionID,
                promo_code_id:promo_code_id,
                card_name: vName,
                card_number: vCardNumber,
                card_expiry: vDateYear,
                card_cvv: vCVV,
                issave: vIsSave
            };
            $(".full-loarder").css("display", "block");
            $.ajax({
                type: "POST",
                dataType: "json",//'',
                url: '@Url.Action("PayToPaypal", "Pay")',
                data: { objPaypalModel: model },
                success: function (result) {
                    if (result) {
                        if (result.success == true) {
                            if ($('#hdnRegisterMemberID').val() > 0) {
                                PaymentEntry($('#hdnRegisterMemberID').val(), true);
                            }
                            else {
                                PaymentEntry('@Session["MemberID"]', false);
                            }
                        }
                        else {
                            $(".full-loarder").css("display", "none");
                            var res = result.Msg.split(":");
                            $("#addPaymentModal").modal();
                            $('#spanPayError').text(res[0]);
                        }
                    }
                    else {
                        alert(result.Msg);
                        alert("Something went wrong!");
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        return false;
    };


    //for CSV Payment Entry
    function PaymentEntry(values, bIsLoginRedirected) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadCSVData", "Home")',
            data: {
                userID: values,
                IsLoginRedirected: bIsLoginRedirected
            },
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    $(".full-loarder").css("display", "none");
                    $('#msgs').html("<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert'>&times;</a>Your payment was successfully done.</div>");
                    location.href = '@Url.Action("dashboard","home")';
                }
                //return false;
            }
        });
    }

    function RedirecttoLogin(Email, Password) {
        var model = {
            Email: Email,
            Password: Password
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("Login", "Account")',
            data: {
                objLoginModel: model, returnUrl: null
            },
            dataType: "json",
            success: function (result) {
            }
        });
    }

    function validatePhoneNumber(vcontact) {
        var pattern = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        return pattern.test(vcontact);
    }
    function validateEmail(vemail) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(vemail);
    }
</script>
<script type="text/javascript">
    function ChangeUserEmail() {
        $(".full-loarder").css("display", "block");
        $.ajax({
            type: "POST",
            url: '@StrPath/Account/CheckUserEmailExists',
            data: { email: $("#Email").val() },
            success: function (result) {
                $(".full-loarder").css("display", "none");
                if (result.success) {
                    $('#spanEmail').text("Email id already exist.");
                    $("#btnProfileSubmit").attr("disabled", true);
                }
                else {
                    $('#spanEmail').text('');
                    $("#btnProfileSubmit").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                $(".full-loarder").css("display", "none");
                //alert("error");
            }
        });
    }
</script>

<!-- Replace the value of the key parameter with your own API key. -->
<script>
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name'
    };
    var componentForm1 = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code1: 'long_name',
        administrative_area_level_11: 'long_name',
        locality1: 'long_name',
        country1: 'long_name'
    };
    function initAutocomplete() {
        var a = document.getElementById('address');
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('address')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }
    function initAutocomplete1() {
        var a = document.getElementById('Address1');
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('Address1')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress1);
    }

    function fillInAddress1() {
        var place = autocomplete.getPlace();
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm1["locality1"]];
                document.getElementById("locality1").value = val;
                $('#span' + addressType).text('');
            }
            if (componentForm1[addressType + "1"]) {
                var val = place.address_components[i][componentForm1[addressType + "1"]];
                document.getElementById(addressType + "1").value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
                $('#span' + addressType + '1').text('');

            }
            if (addressType == "country") {
                if (componentForm1[addressType]) {
                    var val = place.address_components[i][componentForm1[addressType]];
                    document.getElementById(addressType).value = val;
                    if (addressType == "country") {
                        if (val == "United States") {
                            $("select option:contains(USA)").attr('selected', 'true');
                        }
                        else {
                            $("select option:contains(" + val + ")").attr('selected', 'true');
                        }
                    }
                }
                $('#span' + addressType).text('');
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm1[addressType + "1"]) {
                var val = place.address_components[i][componentForm1[addressType + "1"]];

                document.getElementById(locality + "1").value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
                $('#span' + addressType).text('');
            }
        }
        $("#country").click();
    }
    function fillInAddress() {
        var place = autocomplete.getPlace();
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];

            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];

                document.getElementById(addressType).value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
            }
        }
        $("#country").click();
    }
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

</script>

@*call Profile Model*@
<script>
    function callProfileModel(id) {
        $(".full-loarder").css("display", "none");
        $('#createProfileModal').load('@Url.Action("CallProfile", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            }).load(
              jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete'),
              callPaypal()
            );
        });
    }
</script>

@* Call Payment Model *@
<script>
    function CallPaymentModel(id, sid,pid) {
        $('#addPaymentModal').load('@Url.Action("CallPayment", "Home")/?id=' + id + '&sid=' + sid+'&pid=' + pid, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    }
</script>

@* Date Picker CSS *@
<script>
    $(document).ready(function () {
        $("#card_expiry").datepicker({
            format: "mm/yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
        });
    });
</script>

@*Call Paypal*@
<script type="text/javascript">
    function callPaypal() {
        var script = document.createElement('script');
        script.onload = function () {
            //do stuff with the script
        };
        script.src = "//www.paypalobjects.com/api/checkout.js";
        document.head.appendChild(script); //or something of the likes
    }
    window.paypalCheckoutReady = function () {
        paypal.checkout.setup("@StrPayPalMurchantID", {
            environment: '@StrPayPalEnvirement',
            click: function (event) {
                event.preventDefault();
                var MemberID = '@Session["MemberID"]';
                if (MemberID != '' || MemberID != "") {
                    if (MemberID > 0) {
                        if ($('#mdlProfileForm').valid()) {
                            paypal.checkout.initXO();
                            //$("#addPaymentModal").hide();
                            $.support.cors = true;
                            $(".full-loarder").css("display", "block");
                            var bFirstNameValidated = false;
                            var bCheckBoxValidated = false;
                            var vaddress = $("#Address1").val();
                            var vcountryid = $('#country1 option:selected').val();
                            var vstatename = $("#administrative_area_level_11").val();
                            var vcityname = $("#locality1").val();
                            var vpostcode = $("#postal_code1").val();
                            var vcheckbox = $("#ReviewCheckBox").val();
                            var vsubscriptionid = $("#Review_subscription_id").val();
                            var vpromo_code_id = $("#promo_code_id").val();
                            var vPlatform = $('input[name=rbPlatform]:checked').val();
                            var model = {
                                subscription_id: vsubscriptionid,
                                AcceptsTerms: bCheckBoxValidated,
                                country_id: vcountryid,
                                state_name: vstatename,
                                city_name: vcityname,
                                address: vaddress,
                                postal_code: vpostcode,
                                promo_code_id:vpromo_code_id
                            };

                            $.ajax({
                                type: "POST",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                url: '@Url.Action("EditProfileAddress", "Account")',
                                data: JSON.stringify(model),
                                success: function (result) {
                                    if (result) {
                                        $("#reviewSubscriptionModal").modal('hide');
                                        $(".full-loarder").css("display", "none");
                                        $('#hdnRegisterMemberID').val(result.id);
                                        $("#DateYear").val("");
                                        $("#CVV").val("");
                                        //CallPaymentModel(result.id, vsubscriptionid,vpromo_code_id);
                                        $.ajax({
                                            url: '@Html.Raw(Url.Action("PayWithPaypal", "Pay"))',
                                            type: "GET",
                                            async: true,
                                            crossDomain: true,
                                            data: {
                                                PaymentType: "ppal",
                                                user_id: $('#hdnRegisterMemberID').val(),
                                                subscription_id: vsubscriptionid,
                                                promo_code_id: ($("#promo_code_id").val()),
                                                platform_id :$('input[name=rbPlatform]:checked').val()
                                            },
                                            //Load the minibrowser with the redirection url in the success handler
                                            success: function (token) {
                                                var url = paypal.checkout.urlPrefix + token;
                                                //Loading Mini browser with redirect url, true for async AJAX calls
                                                paypal.checkout.startFlow(url);
                                                $(".full-loarder").css("display", "none");
                                            },
                                            error: function (responseData, textStatus, errorThrown) {
                                                alert("Due to a period of inactivity, we are unable to process this transaction");
                                                //Gracefully Close the minibrowser in case of AJAX errors
                                                paypal.checkout.closeFlow();
                                                $(".full-loarder").css("display", "none");
                                            }
                                        });
                                    }
                                    else {
                                        alert("Something went wrong!");
                                    }
                                },
                                error: function (result) {
                                    alert('error');
                                }
                            });
                            return false;
                        }
                    }
                }
                else {
                    //for signup - by shoaib 19mar2018
                    if ($('form').valid()) {
                        paypal.checkout.initXO();
                        $.support.cors = true;
                        $(".full-loarder").css("display", "block");
                        var vfn = $("#first_name").val();
                        var vln = $("#last_name").val();
                        var vemail = $("#user_email").val();
                        var vpassword = $("#password").val();
                        var vsubscriptionid = $("#subscription_id").val();
                        var vcountryid = $("#country").val();
                        var vstateid = $("#administrative_area_level_1").val();
                        var vcity = $("#locality").val();
                        var vaddress = $("#address").val();
                        var vpostcode = $("#postal_code").val();
                        var vcontact = $("#contact_number").val();
                        var vPromoCode=$("#promo_code_id").val();
                        var vPlatform = $('input[name=rbPlatform]:checked').val();
                        var bCheckBoxValidated = false;
                        if ($('#AcceptsTerms').is(":checked") != true) {
                            bCheckBoxValidated = false;
                        }
                        else {
                            bCheckBoxValidated = true;
                        }

                        var model = {
                            first_name: vfn,
                            last_name: vln,
                            user_email: vemail,
                            password: vpassword,
                            confirm_password: vpassword,
                            subscription_id: vsubscriptionid,
                            country_id: vcountryid,
                            city_name: vcity,
                            state_name: vstateid,
                            AcceptsTerms: bCheckBoxValidated,
                            address: vaddress,
                            contact_number: vcontact,
                            postal_code: vpostcode,
                            rbPlatform: vPlatform
                        };

                        //$("#createProfileModal").hide();
                        $(".full-loarder").css("display", "block");
                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            url: '@StrPath/Account/Register',
                            data: JSON.stringify(model),
                            success: function (result) {
                                if (result.success) {
                                    $("#createProfileModal").modal('hide');
                                    $(".full-loarder").css("display", "none");
                                    $('#hdnRegisterMemberID').val(result.id);
                                    $("#DateYear").val("");
                                    $("#CVV").val("");

                                    $.ajax({
                                        url: '@Html.Raw(Url.Action("PayWithPaypal", "Pay"))',
                                        type: "GET",
                                        async: true,
                                        crossDomain: true,
                                        data: {
                                            PaymentType: "ppal",
                                            user_id: $('#hdnRegisterMemberID').val(),
                                            subscription_id: $("#subscription_id").val(),
                                            promo_code_id: ($("#promo_code_id").val()),
                                            platform_id :$('input[name=rbPlatform]:checked').val()
                                        },
                                        //Load the minibrowser with the redirection url in the success handler
                                        success: function (token) {
                                            var url = paypal.checkout.urlPrefix + token;
                                            //Loading Mini browser with redirect url, true for async AJAX calls
                                            paypal.checkout.startFlow(url);
                                            $(".full-loarder").css("display", "none");
                                        },
                                        error: function (responseData, textStatus, errorThrown) {
                                            alert("Due to a period of inactivity, we are unable to process this transaction");
                                            //Gracefully Close the minibrowser in case of AJAX errors
                                            paypal.checkout.closeFlow();
                                            $(".full-loarder").css("display", "none");
                                        }
                                    });
                                    //callPaypal();//added by shoaib - for paypal payment directly as we have now only one option Paypal Checkout - 19mar2018
                                    //CallPaymentModel(result.id, vsubscriptionid,vPromoCode); //commented by shoaib - 19mar2018
                                    //$("#addPaymentModal").modal();
                                }
                                else {
                                    alert("Something went wrong!");
                                }
                            },
                            error: function (result) {
                                alert(result);
                            }
                        });
                    }
                    //for signup - by shoaib 19mar2018
                }
                //old code here - now moved up
            },
            button: ['btPaypal']
            // });
        });
    };
</script>
<script src="~/Content/front/plugins/colorlib-wizard-1/colorlib-wizard-1/js/jquery.steps.js"></script>
@*Step jQuery*@
<script>
    $("#LearnHowWizard").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "fade",
        enableAllSteps: true,
        transitionEffectSpeed: 500,
        labels: {
            finish: "Submit",
            next: "Next",
            previous: "Previous"
        }
    });
    $('.wizard > .steps li a').click(function () {
        $(this).parent().addClass('checked');
        $(this).parent().prevAll().addClass('checked');
        $(this).parent().nextAll().removeClass('checked');
    });
</script>