﻿@model Traderdock.Entity.MemberModel.CMSDataModel

@{
    ViewBag.Title = "PrivacyPolicy";
}

 <!-- Main Container -->
<div class="main-container">

    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="section-title">
                <h1 class="heading-large">Privacy Policy</h1>
            </div>
            <div class="static-content">
                @Html.Raw(@Model.cms_privacy_policy)
            </div>
        </div>
    </div> <!-- End Page Section -->

</div> <!-- End Main Container -->

