﻿@model Traderdock.Entity.MemberModel.CMSDataModel

@{
    ViewBag.Title = "SatisfactionPolicy";
}
<!-- Main Container -->
<div class="main-container">
    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="section-title">
                <h1 class="heading-large">Satisfaction Policy</h1>
            </div>
            @Html.Raw(@Model.cms_satisfaction_policy)
        </div>
    </div> <!-- End Page Section -->
</div> <!-- End Main Container -->
