﻿@model Traderdock.Entity.MemberModel.LearnHowModel

@{
    ViewBag.Title = "Step3";
    ViewBag.SubMenu = "learnhow";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/dist/css/style.css" rel="stylesheet" />*@
<!-- Main Container -->
<div class="blue-gb">
    <div class="main-container">
        <!-- Page Section 1 -->
        <div class="page-section page-section-padding-lg-bottom-none0">
            <div>
                <div class="text-container">
                    <div class="container">
                        <div class="title-and-text text-center">
                            @Html.Raw(@Model.BannerTextStep3)
                            @*<p class="text-light-blue text-uppercase">Take the TradeDock Challenge</p>
                            <h2 class="heading-large">Simply choose Starter or Ultimate.</h2>
                            <p class="text-light-blue title-sab-text">Your Live Trading Account will have the same Daily Loss Limit and Aggregate Loss Limit as the TraderDock Challenge you decide to dominate.</p>
                            <a href="#ChooseChallenge" class="smoothScroll btn btn-success btn-block btn-raund max-250">Choose Challenge &nbsp; <i class="fa fa-long-arrow-right"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="layers-bg">
                <img src="~/Content/front/dist/img/layers-bg.png" />
            </div>
        </div> <!-- End Page Section 1 -->
    </div> <!-- End Main Container -->
</div>

<!-- Main Container -->
<div class="main-container">
    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-lg" id="ChooseChallenge">
        <div class="container learn-step">
            <div class="learn-step-title">
                <div class="row">
                    <a href="~/home/step1">
                        <div class="col-sm-4 step cursor">
                            @*<span class="digit123">01</span>
                            <h3 class="heading">STEP 1</h3>*@
                            @Html.Raw(@Model.LearnStep1Text)
                            @*<p class="text-light-blue">Take the TraderDock Challenge</p>*@
                        </div>
                    </a>
                    <a href="~/home/step2">
                        <div class="col-sm-4 step cursor ">
                            @*<span class="digit123">02</span>
                            <h3 class="heading">STEP 2</h3>*@
                            @Html.Raw(@Model.LearnStep2Text)
                            @*<p class="text-light-blue">Exercise Parience and Manage risks</p>*@
                        </div>
                    </a>
                    <div class="col-sm-4 step cursor active">
                        @*<span class="digit123">03</span>
                        <h3 class="heading">STEP 3</h3>*@
                        @Html.Raw(@Model.LearnStep3Text)
                        @*<p class="text-light-blue">Begin Live Trading with TraderDock cash</p>*@
                    </div>
                </div>
            </div>
            <div class="section-title-new text-center step-title-big">
                @*<h2 class="heading-large"><strong class="text-success">Step 3</strong> - Begin Live Trading with TraderDock Cash</h2>
                <p class="text-light-blue text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>
                <p><a class="btn btn-success btn-block btn-raund max-200" href="/account/login" type="button">LEARN HOW &nbsp; <i class="fa fa-long-arrow-right"></i></a></p>*@
                @Html.Raw(@Model.Step3_TraderDockCash)
                
                <div class="clearfix">&nbsp;</div>
            </div>
        </div>
    </div>
    <!-- End Page Section 1 -->
    <!--  Page Section 2 -->
    <div class="blue-section page-section page-section-padding-lg bg-default">
        @Html.Raw(@Model.Trading_ObjectivesAndParameters)
    </div>
    <!-- End Page Section 2 -->
    <!--  Page Section 3 -->
    <div class="page-section page-section-padding-lg">
        @Html.Raw(@Model.Step1_Platform)
    </div>
    <hr style="margin-bottom: 0px;">
    <!--  End Page Section 3 -->
</div>
<!-- End Main Container -->
