﻿@model Traderdock.Entity.MemberModel.LearnHowModel
@{
    ViewBag.Title = "Step1";
    ViewBag.SubMenu = "learnhow";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    @Html.Hidden("hdnRegisterMemberID", 0)
    @Html.Hidden("sBalance", "")
    @Html.Hidden("sMonthLimit", "")
    string objUserId = null;
    string sFirstPriceBox = "price-box active box-top-margin";
}
@*Google place api holder css*@
<style>
    .pac-container {
        background-color: #FFF;
        z-index: 20;
        position: fixed;
        display: inline-block;
        float: left;
    }

    .modal {
        z-index: 20;
    }

    .modal-backdrop {
        z-index: 10;
    }
</style>

@* Date Picker CSS *@
<link rel="stylesheet" href="~/Content/front/plugins/datepicker/datepicker3.css">
<script language="JavaScript" type="text/javascript" src="~/Scripts/JQuery/jquery-1.10.2.js"></script>
<script src="~/Content/front/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="~/Scripts/jquery-1.12.4.js"></script>
@*<script src="~/Scripts/checkout.js"></script>*@
@*<script src="//www.paypalobjects.com/api/checkout.js" async></script>*@
<!-- Banner -->
<div class="blue-gb">
    <div class="main-container">
        <!-- Page Section 1 -->
        <div class="page-section">
            <div>
                <div class="text-container">
                    <div class="container">
                        <div class="title-and-text text-center">
                            @Html.Raw(@Model.LearnBannerText)
                            @*<p class="text-light-blue text-uppercase">Take the TradeDock Challenge</p>
                                <h2 class="heading-large">Simply choose Starter or Ultimate.</h2>
                                <p class="text-light-blue title-sab-text">Your Live Trading Account will have the same Daily Loss Limit and Aggregate Loss Limit as the TraderDock Challenge you decide to dominate.</p>
                                <a href="#ChooseChallenge" class="smoothScroll btn btn-success btn-block btn-raund max-250">Choose Challenge &nbsp; <i class="fa fa-long-arrow-right"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="layers-bg">
                <img src="~/content/front/dist/img/layers-bg.png" />
            </div>
        </div> <!-- End Page Section 1 -->
    </div> <!-- End Main Container -->
</div> <!-- End Banner -->
<!-- End Banner -->
<!-- Main Container -->
<div class="main-container">
    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-lg" id="ChooseChallenge">
        <div class="container learn-step">
            <div id="msgs"></div>
            <div class="learn-step-title">
                <div class="row">
                    <div class="col-sm-4 step cursor active">
                        @*<span class="digit123">01</span>
                            <h3 class="heading">STEP 1</h3>
                            <p class="text-light-blue">Take the TraderDock Challenge</p>*@
                        @Html.Raw(@Model.LearnStep1Text)
                    </div>
                    <a href="~/home/step2">
                        <div class="col-sm-4 step cursor">
                            @*<span class="digit123">02</span>
                                <h3 class="heading">STEP 2</h3>
                                <p class="text-light-blue">Exercise Parience and Manage risks</p>*@
                            @Html.Raw(@Model.LearnStep2Text)
                        </div>
                    </a>
                    <a href="~/home/step3">
                        <div class="col-sm-4 step cursor">
                            @*<span class="digit123">03</span>
                                <h3 class="heading">STEP 3</h3>
                                <p class="text-light-blue">Begin Live Trading with TraderDock cash</p>*@
                            @Html.Raw(@Model.LearnStep3Text)
                        </div>
                    </a>
                </div>
            </div>
            <div class="section-title-new text-center step-title-big">
                @*<p class="text-light-blue text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>*@
                @Html.Raw(@Model.Step1_Challenge)
            </div>
            <div class="new-price-table">
                <div class="row layout-row layout-wrap">
                    <div class="col-md-2">
                        <div class="price-box first box-top-margin">
                            @*<div class="price-header">
                                    <h4 class="font-medium heading text-uppercase  text-left">Buying Power</h4>
                                </div>*@
                            <div class="price-body">
                                <span class="price hidden-xs">&nbsp;</span>
                                <h5 class="font-medium text-uppercase  text-left">Buying Power</h5>
                                <h5 class="text-light-blue">Profit Target</h5>
                                <h5 class="text-light-blue">Daily Loss Limit</h5>
                                <h5 class="text-light-blue">Max Drawdown</h5>
                                <h5 class="text-light-blue">Virtual Starting Balance</h5>
                                <h5 class="text-light-blue">Buying Power When Live</h5>
                                <h5 class="text-success">Price Per Month</h5>
                            </div>
                            <div class="price-footer">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-xs-12 pricehover">
                        <div class="row layout-row layout-wrap">
                            @for (int i = 0; i < Model.Subscription_List.Count; i++)
                            {
                                <div class="col-sm-6 col-md-3 col-xs-12">
                                    @{
                                        if (i == 0)
                                        {
                                            sFirstPriceBox = "price-box active box-top-margin";
                                        }
                                        else
                                        {
                                            sFirstPriceBox = "price-box box-top-margin";
                                        }
                                    }
                                    <div class='@sFirstPriceBox'>
                                        @*<div class="price-header">
                                                <h4 class="font-medium heading text-uppercase">@Model.Subscription_List[i].subscription_name</h4>
                                            </div>*@
                                        <div class="price-body">
                                            <h4 class="font-medium text-uppercase">@Model.Subscription_List[i].subscription_name</h4>
                                            <span class="price">@Model.Subscription_List[i].max_position_size <small>LOTS</small></span>
                                            <h5 class="font-medium"> @Model.Subscription_List[i].profite_target</h5>
                                            <h5 class="font-medium"> @Model.Subscription_List[i].daily_loss_limit</h5>
                                            <h5 class="font-medium"> @Model.Subscription_List[i].max_drawdown</h5>
                                            <h5 class="font-medium"> @Model.Subscription_List[i].starting_balance</h5>
                                            <h5 class="font-medium"> @Model.Subscription_List[i].max_position_size Lots</h5>
                                            <h5 class="font-medium text-success"> @Model.Subscription_List[i].price_per_month</h5>
                                        </div>
                                        <div class="price-footer">
                                            <button type="button" class="btn btn-success btn-block btn-raund max-200" onclick="GetUserSignUpPopup(@Model.Subscription_List[i].subscription_id,'@Model.Subscription_List[i].starting_balance','@Model.Subscription_List[i].price_per_month');" data-id="@Model.subscription_id">Get Started &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                        }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blue-section page-section page-section-padding-lg bg-default">
        @Html.Raw(@Model.Trading_ObjectivesAndParameters)
    </div>

    <div class="page-section page-section-padding-lg">
        @Html.Raw(@Model.Step1_Platform)
    </div>
    <hr style="margin-bottom: 0px;">
</div>

<!-- End Page Section 1 -->
<!-- Create Profile Modal -->
<!-- model popup when user is not logged in -->
<div class="modal fade" id="createProfileModal" tabindex="-1" role="dialog" aria-labelledby="createProfileModalLabel" style="display: none;">
</div>

<!-- model popup when user is logged in -->
<div class="modal fade" id="reviewSubscriptionModal" tabindex="-1" role="dialog" aria-labelledby="reviewSubscriptionLabel" style="display: none;">
</div>

<!-- Create Payment Modal -->
<div class="modal fade" id="addPaymentModal" tabindex="-1" role="dialog" aria-labelledby="addPaymentModalLabel">
</div>
<!-- Payment Modal Success Unsuccess msg -->
<div class="modal fade" id="PaymentSucessModal" tabindex="-1" role="dialog" aria-labelledby="addPaymentModalLabel">
    <div class="modal-dialog modal-content" role="document">
        <div class="modal-header section-title">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h3 class="modal-title" id="addPaymentModalLabel">Payment</h3>
        </div>
        <div class="modal-body">
            <div class="row small-row-gapping">
                <div class="col-sm-12">
                    <div class="form-group has-feedback left-feed">
                        <h3>
                            @Model.PaymentIsSuccess
                        </h3>
                        @{
                            if (string.IsNullOrEmpty(Model.transaction_id))
                            {
                            }
                            else
                            {
                                <h4>
                                    Transation ID-@Model.transaction_id
                                </h4>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="form-action">
                <button type="button" data-dismiss="modal" class="btn btn-primary btn-block">OK</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @{
        int IsShow = 0;
        int IsTra_idShow = 0;
        if (!string.IsNullOrEmpty(Model.PaymentIsSuccess))
        {
            IsShow = 1;
        }
        if (!string.IsNullOrEmpty(Model.transaction_id))
        {
            IsTra_idShow = 1;
        }
                }
    $(document).ready(function () {
        if(@IsShow>0)
        {
            $('#PaymentSucessModal').modal({
                backdrop: 'static',   // This disable for click outside event
                keyboard: false        // This for keyboard event
            });
        }
    });
    function GetUserSignUpPopup(id, sBalance, sMonthLimit) {
         
        var MemberID = '@Session["MemberID"]';
        if (MemberID != '' || MemberID != "") {
            if (MemberID > 0) {
                 
                $('#ReviewPlanSubscriptionLimit').text(sBalance + " Challenge  ");
                $("#Review_subscription_id").val(id);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $('#ReviewPlanSubscriptionRate').text("$"+sMonthLimit + "/ month");
                //$("#reviewSubscriptionModal").modal();
                callRevSubscriptionModel(id);
                $("#sBalance").val(sBalance);
                //$('select>option:eq(' + id + ')').attr('selected', true);
                $("#sMonthLimit").val(sMonthLimit);
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("GetProfileAddress", "Account")',
                    data: {},
                    success: function (result) {

                        if (result.success == true) {
                            result.Data.address;
                            result.Data.state_name;
                            result.Data.city_name;
                            result.Data.country_id;
                            result.Data.postal_code;
                            $("#Address1").val(result.Data.address);
                            $("select option:contains(" + result.Data.country_name + ")").attr('selected', 'true');
                            $("#administrative_area_level_11").val(result.Data.state_name);
                            $("#locality1").val(result.Data.city_name);
                            $("#postal_code1").val(result.Data.postal_code);
                        }
                        else {
                            alert("Something went wrong!");
                        }
                    },
                    error: function (result) {
                        alert('error');
                    }
                });
                //$("#reviewSubscriptionModal").modal({
                //    show: true
                //}).load(
                //jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete1')
                //);
                $("#DateYear").datepicker({
                    format: "mm/yyyy",
                    viewMode: "months",
                    minViewMode: "months",
                    autoclose: true,
                });
            }
        }
        else {
            $('#PlanSubscriptionLimit').text(sBalance + " Challenge  ");
            $("#subscription_id").val(id);
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $('#PlanSubscriptionRate').text(sMonthLimit + "/ month");
            //$("#createProfileModal").modal({ show: true });
             
            callProfileModel(id);
            $("#sBalance").val(sBalance);
            //$('select>option:eq(' + id + ')').attr('selected', true);
            $("#sMonthLimit").val(sMonthLimit);
            //$("#createProfileModal").modal({
            //    show: true
            //}).load(
            //jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete')
            //);
            $("#DateYear").datepicker({
                format: "mm/yyyy",
                viewMode: "months",
                minViewMode: "months",
                autoclose: true,
            });
        }
    }
    function functionDropDownChange(e) {
        var firstDropVal = e.value;
        $('#subscription_id').val(firstDropVal);
        var MemberID = '@Session["MemberID"]';
        if (MemberID != '' || MemberID != "") {
            if (MemberID > 0) {
                firstDropVal = $('#Review_subscription_id').val();
            }
        }
        $.ajax({
            type: "Get",
            url: '@StrPath/Home/GetPlanDetails/',
            data: {
                id: firstDropVal
            },
            success: function (result) {
                if (result.success == true) {
                    if (MemberID > 0) {
                        $('#ReviewPlanSubscriptionLimit').text("$" + parseInt(result.SubscriptionPlan.starting_balance) / 1000 + "K Challenge  ");
                        $('#ReviewPlanSubscriptionRate').text("$" + result.SubscriptionPlan.price_per_month + "/ month");
                    }
                    else {
                        $('#PlanSubscriptionLimit').text("$" + parseInt(result.SubscriptionPlan.starting_balance) / 1000 + "K Challenge  ");
                        $('#PlanSubscriptionRate').text("$" + result.SubscriptionPlan.price_per_month + "/ month");
                    }
                }
                else {
                    alert("Something went wrong!");
                }
            },
            error: function (result) {
                alert('error');
            }
        });
    }
    function SubmitUserSignUp(e) {
        if ($('form').valid()) {
            var vfn = $("#first_name").val();
            var vln = $("#last_name").val();
            var vemail = $("#user_email").val();
            var vpassword = $("#password").val();
            var vsubscriptionid = $("#subscription_id").val();
            var vcountryid = $("#country").val();
            var vstateid = $("#administrative_area_level_1").val();
            var vcity = $("#locality").val();
            var vaddress = $("#address").val();
            var vpostcode = $("#postal_code").val();
            var vcontact = $("#contact_number").val();
            var vPromoCode=$("#prome_code_id").val();
            var bCheckBoxValidated = false;

            if ($('#AcceptsTerms').is(":checked") != true) {
                bCheckBoxValidated = false;
            }
            else {
                bCheckBoxValidated = true;
            }

            var model = {
                first_name: vfn,
                last_name: vln,
                user_email: vemail,
                password: vpassword,
                confirm_password: vpassword,
                subscription_id: vsubscriptionid,
                country_id: vcountryid,
                city_name: vcity,
                state_name: vstateid,
                AcceptsTerms: bCheckBoxValidated,
                address: vaddress,
                contact_number: vcontact,
                postal_code: vpostcode
            };
            //$("#createProfileModal").hide();
            $(".full-loarder").css("display", "block");
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@StrPath/Account/Register',
                data: JSON.stringify(model),
                success: function (result) {
                    if (result.success) {
                        $("#createProfileModal").modal('hide');
                        $(".full-loarder").css("display", "none");
                        $('#hdnRegisterMemberID').val(result.id);
                        $("#DateYear").val("");
                        $("#CVV").val("");
                        CallPaymentModel(result.id, vsubscriptionid,vPromoCode);
                        //$("#addPaymentModal").modal();
                    }
                    else {
                        alert("Something went wrong!");
                    }
                },
                error: function (result) {
                    alert(result);
                }
            });

        }
        return false;
    };

    function reviewSubscription(e) {
        if ($('#mdlProfileForm').valid()) {
            var bFirstNameValidated = false;
            var bCheckBoxValidated = false;
            var vaddress = $("#Address1").val();
            var vcountryid = $('#country1 option:selected').val();
            var vstatename = $("#administrative_area_level_11").val();
            var vcityname = $("#locality1").val();
            var vpostcode = $("#postal_code1").val();
            var vcheckbox = $("#ReviewCheckBox").val();
            var vsubscriptionid = $("#Review_subscription_id").val();
            var vPromoCode=$("#prome_code_id").val();
            var model = {
                subscription_id: vsubscriptionid,
                AcceptsTerms: bCheckBoxValidated,
                country_id: vcountryid,
                state_name: vstatename,
                city_name: vcityname,
                address: vaddress,
                postal_code: vpostcode
            };
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: '@Url.Action("EditProfileAddress", "Account")',
                data: JSON.stringify(model),
                success: function (result) {
                    if (result) {
                        $("#reviewSubscriptionModal").modal('hide');
                        $(".full-loarder").css("display", "none");
                        $('#hdnRegisterMemberID').val(result.id);
                        $("#DateYear").val("");
                        $("#CVV").val("");
                        CallPaymentModel(result.id, vsubscriptionid,vPromoCode);
                    }
                    else {
                        alert("Something went wrong!");
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
            return false;
        }
    };

    function SubmitUserPayment(e) {
        $('#spanPayError').text('');
        if ($('#mdlPaymentModal').valid()) {
            var bNameValidated = false;
            var bCardNumberValidated = false;
            var bDateYearValidated = false;
            var bCVVValidated = false;
            var vName = $("#card_name").val();
            var vCardNumber = $("#card_number").val();
            var vDateYear = $("#DateYear").val();
            var vCVV = $("#card_cvv").val();
            var vIsSave;
            if ($('#issave').is(":checked") == true) {
                vIsSave = true;
            }
            else {
                vIsSave = false;
            }
            var SubscriptionID;
            var MemberID = '@Session["MemberID"]';
            var UserID;
            if (MemberID != '' || MemberID != "") {
                if (MemberID > 0) {
                    SubscriptionID = $("#Review_subscription_id").val();
                    UserID = MemberID;
                }
            }
            else {
                SubscriptionID = $("#subscription_id").val();
                UserID = $('#hdnRegisterMemberID').val();
            }
            var model = {
                user_id: parseInt(UserID),
                subscription_id: SubscriptionID,
                card_name: vName,
                card_number: vCardNumber,
                card_expiry: vDateYear,
                card_cvv: vCVV,
                issave: vIsSave
            };
            $(".full-loarder").css("display", "block");
            $.ajax({
                type: "POST",
                dataType: "json",//'',
                //url: '@StrPath/Pay/PayToPaypal',
                url: '@Url.Action("PayToPaypal", "Pay")',
                //data: JSON.stringify(objPaypalModel),
                data: { objPaypalModel: model },
                success: function (result) {
                    if (result) {
                        //$("#addPaymentModal").modal('hide');
                        //$(".full-loarder").css("display", "none");
                        //$('#msgs').html("<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert'>&times;</a>Your payment was successfully done.</div>");
                        if (result.success == true) {
                            if ($('#hdnRegisterMemberID').val() > 0) {
                                PaymentEntry($('#hdnRegisterMemberID').val(), true);
                            }
                            else {
                                PaymentEntry('@Session["MemberID"]', false);
                            }
                        }
                        else {
                            $(".full-loarder").css("display", "none");
                            var res = result.Msg.split(":");
                            $("#addPaymentModal").modal();
                            $('#spanPayError').text(res[0]);
                        }
                    }
                    else {
                        alert(result.Msg);
                        alert("Something went wrong!");
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        }
        return false;
    };

    //for CSV Payment Entry
    function PaymentEntry(values, bIsLoginRedirected) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadCSVData", "Home")',
            data: {
                userID: values,
                IsLoginRedirected: bIsLoginRedirected
            },
            dataType: "json",
            success: function (result) {
                if (result.success) {
                    $(".full-loarder").css("display", "none");
                    $('#msgs').html("<div class='alert alert-success'><a href='#' class='close' data-dismiss='alert'>&times;</a>Your payment was successfully done.</div>");
                    location.href = '@Url.Action("dashboard","home")';
                }
                //return false;
            }
        });
    }

    function RedirecttoLogin(Email, Password) {
        var model = {
            Email: Email,
            Password: Password
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("Login", "Account")',
            data: {
                objLoginModel: model, returnUrl: null
            },
            dataType: "json",
            success: function (result) {
            }
        });
    }

    function validatePhoneNumber(vcontact) {
        var pattern = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
        return pattern.test(vcontact);
    }
    function validateEmail(vemail) {
        var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
        return pattern.test(vemail);
    }
</script>

<script type="text/javascript">
    function ChangeUserEmail() {
        $(".full-loarder").css("display", "block");
        $.ajax({
            type: "POST",
            url: '@StrPath/Account/CheckUserEmailExists',
            data: { email: $("#Email").val() },
            success: function (result) {

                $(".full-loarder").css("display", "none");
                if (result.success) {
                    $('#spanEmail').text("Email id already exist.");
                    $("#btnProfileSubmit").attr("disabled", true);
                }
                else {
                    $('#spanEmail').text('');
                    $("#btnProfileSubmit").attr("disabled", false);
                }
            },
            error: function (xhr, status, p3, p4) {
                alert("error");
            }
        });
    }
</script>
@*<script>
        $(document).ready(function () {
            $("#country_id").change(function () {
                $("#state_id").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetStates","Home")',
                    dataType: 'json',
                    data: { id: parseInt($("#country_id").val()) },
                    success: function (states) {
                        $.each(states, function (i, state) {
                            $("#state_id").append('<option value="' + state.Value + '">' +
                                 state.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });
    </script>*@
<!-- Replace the value of the key parameter with your own API key. -->

<script>
    var placeSearch, address;
    var componentForm = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code: 'long_name',
        administrative_area_level_1: 'long_name',
        locality: 'long_name',
        country: 'long_name'
    };
    var componentForm1 = {
        //street_number: 'short_name',
        //route: 'long_name',
        postal_code1: 'long_name',
        administrative_area_level_11: 'long_name',
        locality1: 'long_name',
        country1: 'long_name'
    };
    function initAutocomplete() {
        var a = document.getElementById('address');
        autocomplete = new google.maps.places.Autocomplete(
           (document.getElementById('address')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress);
    }
    function initAutocomplete1() {
        var a = document.getElementById('Address1');
        autocomplete = new google.maps.places.Autocomplete(
           (document.getElementById('Address1')),
            { types: ['geocode'] });
        autocomplete.addListener('place_changed', fillInAddress1);
    }

    function fillInAddress1() {
        var place = autocomplete.getPlace();
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm1["locality1"]];
                document.getElementById("locality1").value = val;
                $('#span' + addressType).text('');
            }
            if (componentForm1[addressType + "1"]) {
                var val = place.address_components[i][componentForm1[addressType + "1"]];
                document.getElementById(addressType + "1").value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
                $('#span' + addressType + '1').text('');

            }
            if (addressType == "country") {
                if (componentForm1[addressType]) {
                    var val = place.address_components[i][componentForm1[addressType]];
                    document.getElementById(addressType).value = val;
                    if (addressType == "country") {
                        if (val == "United States") {
                            $("select option:contains(USA)").attr('selected', 'true');
                        }
                        else {
                            $("select option:contains(" + val + ")").attr('selected', 'true');
                        }
                    }
                }
                $('#span' + addressType).text('');
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm1[addressType + "1"]) {
                var val = place.address_components[i][componentForm1[addressType + "1"]];

                document.getElementById(locality + "1").value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
                $('#span' + addressType).text('');
            }
        }
        $("#country").click();
    }
    function fillInAddress() {

        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        //for (var component in componentForm) {
        //    if (!postal_code || !country) {
        //        document.getElementById(component).value = '';
        //        document.getElementById(component).disabled = false;
        //    }
        //}
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];

            if (addressType == "postal_town") {
                var val = place.address_components[i][componentForm["locality"]];
                document.getElementById("locality").value = val;
            }
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
                if (addressType == "country") {
                    if (val == "United States") {
                        $("select option:contains(USA)").attr('selected', 'true');
                    }
                    else {
                        $("select option:contains(" + val + ")").attr('selected', 'true');
                    }
                }
            }
            // for second entity of address type
            var addressType = place.address_components[i].types[1];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];

                document.getElementById(addressType).value = val;
                if (val == "United States") {
                    $("select option:contains(USA)").attr('selected', 'true');
                }
                else {
                    $("select option:contains(" + val + ")").attr('selected', 'true');
                }
            }
        }
        $("#country").click();
    }
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }

</script>


@*call Profile Model*@
<script>
    function callProfileModel(id) {
        $(".full-loarder").css("display", "none");
        $('#createProfileModal').load('@Url.Action("CallProfile", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            }).load(
           // jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete')
            );
        });
    }
</script>
@*call Review Subscription Model*@
<script>
    function callRevSubscriptionModel(id) {
        $(".full-loarder").css("display", "none");
        $('#reviewSubscriptionModal').load('@Url.Action("CallReviewModel", "Home")/' + id, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            }).load(
          //  jQuery.getScript('https://maps.googleapis.com/maps/api/js?key=' + $('#GooglePlaceAPIKey').val() + '&libraries=places&callback=initAutocomplete1')
            );
        });
    }
</script>
@* Call Payment Model *@
<script>
    function CallPaymentModel(id, sid,pid) {
        $('#addPaymentModal').load('@Url.Action("CallPayment", "Home")/?id=' + id + '&sid=' + sid+'&pid='+pid, function () {
            $(this).one('show.bs.modal', function () {
                $("form").removeData("validator");
                $("form").removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse("form");
            }).modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    }
    @*//   function abc() {
    window.paypalCheckoutReady = function () {
        alert('aaaa');
        //$("#btPaypal").click(function () {
         
        paypal.checkout.setup("dhaval.karia_march@peerbits.com", {
            environment: 'sandbox',
            click: function (event) {
                event.preventDefault();
                paypal.checkout.initXO();
                $.support.cors = true;
                $.ajax({
                    url: '@Html.Raw(Url.Action("PayToPaypal_", "Pay"))',
                    type: "GET",
                    async: true,
                    crossDomain: true,
                    //data: {
                    //    PaymentType: "ppal",
                    //    user_id: $('#hdnRegisterMemberID').val(),
                    //    subscription_id: $("#subscription_id").val()

                    //},
                    //Load the minibrowser with the redirection url in the success handler
                    success: function (token) {
                        var url = paypal.checkout.urlPrefix + token;
                        //Loading Mini browser with redirect url, true for async AJAX calls
                        paypal.checkout.startFlow(url);
                    },
                    error: function (responseData, textStatus, errorThrown) {
                        alert("Something going wrong ");
                        //Gracefully Close the minibrowser in case of AJAX errors
                        paypal.checkout.closeFlow();
                    }
                });
            },
            button: ['btPaypal']
            // });
        });
    };
    //}*@
</script>
@* Date Picker CSS *@
<script>
    $(document).ready(function () {
        $("#card_expiry").datepicker({
            format: "mm/yyyy",
            viewMode: "months",
            minViewMode: "months",
            autoclose: true,
        });
    });
</script>



