﻿@model Traderdock.Entity.MemberModel.LearnHowModel

@{
    ViewBag.Title = "Step2";
    ViewBag.SubMenu = "learnhow";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/dist/css/style.css" rel="stylesheet" />*@
<div class="blue-gb">
    <div class="main-container">
        <!-- Page Section 1 -->
        <div class="page-section page-section-padding-lg-bottom-none0">
            <div>
                <div class="text-container">
                    <div class="container">
                        <div class="title-and-text text-center">
                            @Html.Raw(@Model.BannerTextStep2)
                            @*<p class="text-light-blue text-uppercase">Take the TradeDock Challenge</p>
                            <h2 class="heading-large">Simply choose Starter or Ultimate.</h2>
                            <p class="text-light-blue title-sab-text">Your Live Trading Account will have the same Daily Loss Limit and Aggregate Loss Limit as the TraderDock Challenge you decide to dominate.</p>
                            <a href="#ChooseChallenge" class="smoothScroll btn btn-success btn-block btn-raund max-250">Choose Challenge &nbsp; <i class="fa fa-long-arrow-right"></i></a>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="layers-bg">
                <img src="~/Content/front/dist/img/layers-bg.png" />
            </div>
        </div> <!-- End Page Section 1 -->
    </div> <!-- End Main Container -->
</div>
<!-- Main Container -->
<div class="main-container">
    <!-- Page Section 1 -->
    <div class="page-section page-section-padding-lg" id="ChooseChallenge">
        <div class="container learn-step">
            <div class="learn-step-title">
                <div class="row">
                    <a href="~/home/step1">
                        <div class="col-sm-4 step cursor">
                            @*<span class="digit123">01</span>
                            <h3 class="heading">STEP 1</h3>*@
                            @Html.Raw(@Model.LearnStep1Text)
                            @*<p class="text-light-blue">Take the TraderDock Challenge</p>*@
                        </div>
                    </a>
                    <div class="col-sm-4 step cursor active">
                        @*<span class="digit123">02</span>
                        <h3 class="heading">STEP 2</h3>*@
                        @Html.Raw(@Model.LearnStep2Text)
                        @*<p class="text-light-blue">Exercise Parience and Manage risks</p>*@
                    </div>
                    <a href="~/home/step3">
                        <div class="col-sm-4 step cursor">
                            @*<span class="digit123">03</span>
                            <h3 class="heading">STEP 3</h3>*@
                            @Html.Raw(@Model.LearnStep3Text)
                            @*<p class="text-light-blue">Begin Live Trading with TraderDock cash</p>*@
                        </div>
                    </a>
                </div>
            </div>
            <div class="section-title-new text-center step-title-big">
                @*<h2 class="heading-large"><strong class="text-success">Step 2</strong> - Show You Excel…Consistently</h2>
                <p class="text-light-blue text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim venia.</p>*@
                @Html.Raw(@Model.Step2_ShowExcel)
            </div>
            <div class="table-responsive box-top-margin table-bg font-medium text-uppercase">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account Successfully Completed</th>
                            <th class="text-right">Daily Loss Limit</th>
                            <th class="text-right">Weekly Loss Limit</th>
                            <th class="text-right">Max Drawdown</th>
                            <th class="text-right">Profit Target</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Starter</td>
                            <td align="center">$500</td>
                            <td align="center">None</td>
                            <td align="center">$1,500</td>
                            <td align="center">$1,500</td>
                        </tr>
                        <tr>
                            <td>Standard</td>
                            <td align="center">$1,000</td>
                            <td align="center">$1,000</td>
                            <td align="center">$2,000</td>
                            <td align="center">$3,000</td>
                        </tr>
                        <tr>
                            <td>Premium</td>
                            <td align="center">$2,000</td>
                            <td align="center">$2,000</td>
                            <td align="center">$3,000</td>
                            <td align="center">$6,000</td>
                        </tr>
                        <tr>
                            <td>Ultimate</td>
                            <td align="center">$3,000</td>
                            <td align="center">$3,000</td>
                            <td align="center">$500</td>
                            <td align="center">$9,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- End Page Section 1 -->
    <!-- Page Section 2 -->
    <div class="blue-section page-section page-section-padding-lg bg-default">
        @Html.Raw(@Model.Trading_ObjectivesAndParameters)
    </div>
    <!-- End Page Section 2 -->
    <!-- Page Section 3 -->
    <div class="page-section page-section-padding-lg">
        @Html.Raw(@Model.Step1_Platform)
    </div>
    <!-- End Page Section 3 -->
    <hr style="margin-bottom: 0px;">
</div>
<!-- End Main Container -->
