﻿@model Traderdock.Entity.MemberModel.CMSDataModel

@{
    ViewBag.Title = "Terms";
}

<!-- Main Container -->
<div class="main-container">

    <!-- Page Section -->
    <div class="page-section page-section-padding-lg-small-top">
        <div class="container">
            <div class="section-title">
                <h1 class="heading-large">Terms and Conditions</h1>
            </div>
            @Html.Raw(@Model.cms_terms)
        </div>
    </div> <!-- End Page Section -->

</div> <!-- End Main Container -->

