﻿@model Traderdock.Entity.Model.LaunchModel
@{
    ViewBag.Title = "Traderdock Lock";
    Layout = "";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
}
<!-- new design -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TraderDock COME TRADE OUR MONEY</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/front/dist/img/favicon.ico">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/front/bootstrap/css/ie10-viewport-bug-workaround.css">
    <!-- Owl Carousel -->
    <link href="~/Content/front/plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.theme.css" rel="stylesheet">
    <link href="~/Content/front/plugins/owl-carousel/css/owl.transitions.css" rel="stylesheet">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/datepicker/datepicker3.css">
    <!-- Time Picker -->
    <link rel="stylesheet" href="~/Content/front/plugins/timepicker/bootstrap-timepicker.min.css">
    <!-- Bootstrap file Input -->
    <link rel="stylesheet" href="~/Content/front/plugins/bootstrap-fileinput/css/bootstrap-fileinput.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/Content/front/plugins/select2/css/select2.css">
    <!-- Font Awesome -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/front/plugins/FontAwesome/css/FontAwesome.css">
    <!-- Theme fonts -->
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">-->
    <link href="~/Content/front/dist/font-avenir/stylesheet.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/front/dist/css/style.css">
    <link rel="stylesheet" href="~/Content/front/dist/css/responsive.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/front/bootstrap/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    <div class="wrapper blue-gb">

        <!-- Main Container -->
        <div class="main-container">
            <!-- Page Section 1 -->
            <div class="page-section page-section-padding-lg-bottom-none0">
                <div>
                    <div class="container text-center">
                        <a href="#" class="top-white-logo">
                            <img src="~/Content/front/dist/img/traderdock-logo-white.png" />
                        </a>
                    </div>
                    <div class="text-container">
                        <div class="container">
                            @using (Html.BeginForm("Enquiry", "Index", FormMethod.Post))
                            {
                                <div class="title-and-text text-center">
                                    <h2 class="heading-large">Launching soon.</h2>
                                    <p class="text-light-blue">We guide, evaluate and fund traders. Come Trade Our Money.</p>
                                </div>
                                <label class="text-light-blue">Add email address to be notified about launch.</label>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="form-group">
                                            @Html.TextBoxFor(M => M.EnquiryEmail, new { @class = "form-control", @placeholder = "YOUR E-MAIL" })
                                            @Html.ValidationMessageFor(M => M.EnquiryEmail, "", new { @style = "color:red" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-block btn-raund" data-toggle="modal" data-target="#signupModal0">GET STARTED &nbsp; <i class="fa fa-long-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                if (TempData["EnquiryErrorMsg"] != null)
                                {
                                    <span class="text-light-blue" style="color:#3ddc89"> @TempData["EnquiryErrorMsg"] </span>
                                }
                                if (TempData["EnquirySuccessMsg"] != null)
                                {
                                    <span class="text-maroon" style="color:#3ddc89"> @TempData["EnquirySuccessMsg"] </span>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="layers-bg">
                    <img src="~/Content/front/dist/img/layers-bg.png" />
                </div>
            </div> <!-- End Page Section 1 -->
        </div> <!-- End Main Container -->
        <!-- Footer -->
        @*<?php //include('footer.php'); ?>*@
        <!-- End Footer -->

    </div>

</body>

</html>
<script>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
</script>

