﻿@model List<Traderdock.Entity.ViewModel.UserMasterModel>
@{
    ViewBag.Title = "Reset List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string StrPath = System.Web.Configuration.WebConfigurationManager.AppSettings["SiteLink"];
    ViewBag.SubMenu = "Reset";
    string PageLimit = Session["PageSize"].ToString();
}
<head>
    <link href="~/Content/dist/css/custom.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/Kendo/kendo.metro.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/Kendo/kendo.web.min.js"></script>
</head>
<section class="content-header">
    <h1>
        Reset Request List
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/admin/dashboard/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Reset Request</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div>
        <div>
            <section>
                <div class="box box-primary">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="pull-right filter-bottom-margin">
                            <form id="changelist-search">
                                <div class="input-group" style="width: 250px;">
                                    <input type="search" id="category" style="width: 230px" class="form-control pull-right" placeholder="Search by name" autofocus />
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit" id="btnSearch" value="Search"><i class="fa fa-search" style="height:20px;"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <form>
                            <div class="clearfix"></div>
                            @*<div class="table-responsive">
                                <div class="box-footer pagination-table" style="margin:0px;">*@
                            <div id="grid" class="display table table-bordered table-striped k-content">
                            </div>
                            @Html.Hidden("statusFilter")
                            @Html.Hidden("checkedData")
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </section>
        </div>
    </div>
    <!-- /.Model Dailog Box Yes No -->
    <div id="modalConfirmYesNo" class="modal fade " style="z-index:3000;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="lblTitleConfirmYesNo" class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p id="lblMsgConfirmYesNo"></p>
                </div>
                <div class="modal-footer">
                    <button id="btnYesConfirmYesNo"
                            type="button" class="btn btn-primary">
                        Yes
                    </button>
                    <button id="btnNoConfirmYesNo"
                            type="button" class="btn btn-default">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="SelectAlert">
    </div>
    @Html.Hidden("mm", @TempData["Msg"])
</section>
<script type="text/javascript">
     
    var pageLimit = '@PageLimit';
    function refreshGrid() {
         
        $.ajax({
            type: "Post",
            url: '@StrPath/admin/reset/reset_read/',
            data: {
                filter: $('#category').val()
            },
            success: function (result) {
                alert('succsess');
                $("#grid").data("kendoGrid").dataSource.read();
            },
            error: function (result) {
                alert('error');
            }
        });

        grid.dataSource.filter($filter);
        grid.dataSource.read();
    }


    $(document).ready(function () {
        var modelData = @Html.Raw(Json.Encode(Model))
        //Bind with initial data
            $('#grid').kendoGrid({
                scrollable: true,
                sortable: true,
                pageable: true,
                // selectable: "row",//""multiple row"",
                filterable: true,
                //, dataSource: { data: modelData, pageSize: 10 }
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("reset_read", "reset"))",
                            type: "POST",
                            dataType: "json",
                            data: additionalData
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total"
                    },
                    pageSize: pageLimit,
                    serverPaging: true,
                    serverFiltering: true,
                    //Filterable:true,
                },
                columns:
                 [
                 { field: "user_email", title: "Email", filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                 { field: "SubscriptionModeString", title: "Subscription Name", width: 250, filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                 { field: "order_amount", title: "Order Amount", width: 110, filterable: false, headerAttributes: { style: "text-align:left; font-size:14px;  font-weight: bold;" }, attributes: { style: "font-size:14px; " } },
                 { field: "reset_status", title: "Status", width: 100, template: '# if(reset_status) {# <a onclick="" class="label label-success">Processed</a> #} else {# <a onclick="" class="label label-danger">Pending</a> #} #', headerAttributes: { style: "text-align:center; font-size:14px;  font-weight: bold;" }, attributes: { style: "text-align:center" }, filterable: false },
                 { field: "reset_request_id", title: "Actions", width: 100, template: '# if(!reset_status) {# <a onclick="askConfirmation(#=user_id#)"  class="btn btn-default btn-sm btn-icon-only fa fa-check"></a> #} else {# <a class="btn btn-default btn-sm btn-icon-only disabled fa fa-check"></a>#}#', headerAttributes: { style: "text-align:center;font-size:14px;font-weight:bold;" }, attributes: { style: "text-align:center; font-size:14px;font-weight:bold;" }, filterable: false }
                 ]
            });

        $('#btnSearch').on("click", function (e) {
            var grid = $('#grid').data('kendoGrid');
            grid.dataSource.page(1); //new search. Set page size to 1
            return false;
        });
        function additionalData() {
            var data = {
                SearchName: $('#category').val()
            };
            return data;
        }
        // $("#success-alert").hide();
        if ($('#mm').val().length != 0) {
            toastr.success($('#mm').val());
        }
    });

    //For Delete
    function askConfirmation(id) {
        AsyncConfirmYesNo(
       "Confirmation",
       "Are you sure want to reset data ?",
       MyYesFunction(),
       MyNoFunction(),
       id
         );
    }
    function MyYesFunction(id) {
        return id;
    }

    function MyNoFunction(id) {
        return id;
    }

    function AsyncConfirmYesNo(title, msg, yesFn, noFn, id) {
        $(".full-loarder").css("display", "block");
        var $confirm = $("#modalConfirmYesNo");
        $confirm.modal('show');
        $("#lblTitleConfirmYesNo").html(title);
        $("#lblMsgConfirmYesNo").html(msg);
        $("#btnYesConfirmYesNo").off('click').click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ResetRequest", "reset", new { area = "admin" })',
                data: {
                    ID: id
                },
                success: function (result) {
                    if (result.success == true) {
                        $(".full-loarder").css("display", "none");
                        $confirm.modal("hide");
                        toastr.success(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                    else {
                        $confirm.modal("hide");
                        toastr.warning(result.Msgnew);
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                },
                error: function (result) {
                    alert('error');
                }
            });
        });
        $("#btnNoConfirmYesNo").off('click').click(function () {
            $confirm.modal("hide");
        });
    }


</script>

